<p>使命（Ｍｉｓｓｉｏｎ）
	<br>培養英文語言、文學及文化、生態、英語教學等多元研究的專才。</p>

<p>
	<br>願景（Ｖｉｓｉｏｎ）</p>

<p>&nbsp;秉持英文系為國內英語教學及文學研究的優良傳統，將此傳統發揚光大，成為教學與研究並重之科系。</p>

<p>
	<br>價值（Ｖａｌｕｅ）</p>

<p>英文全方位的學習，語言與文學並重，實用與理論兼顧。</p>

<p>
	<br>策略（Ｓｔｒａｔｅｇｉｅｓ）</p>

<p>　密集訓練聽、說、讀、寫、譯五技。</p>

<p>　加強英文學習的資訊化及國際化。</p>

<p>　提昇大三出國留學計畫的質與量。</p>

<p>　實施英語能力檢測，提高學生就業競爭力。</p>

<p>&nbsp; &nbsp; 加強與國外著名大學的視訊教學。
	<br>發展英美文學、文化研究、生態文學以及英語教學研究方面的特色及學術研究國際化。</p>