<p><a class="fr-file" href="/storage/app/media/uploaded-files/433_d921f8fa.doc"> 淡江大學碩博士生出國發表論文及創作補助要點</a></p>

<p><a class="fr-file" href="/storage/app/media/uploaded-files/434_942b4fa5.doc">淡江大學碩博生出國發表論文及創作申請書</a></p>

<p><a class="fr-file" href="/storage/app/media/uploaded-files/435_c2b1d7a7.doc">淡江大學碩博生出國發表論文及創作經費補助申請書</a></p>

<p><a class="fr-file" href="/storage/app/media/uploaded-files/436_2b578e20.doc">出國行程異動申請書</a></p>

<p><a class="fr-file" href="/storage/app/media/uploaded-files/437_2c1090a4.doc">家長同意書</a></p>

<p><a class="fr-file" href="/storage/app/media/uploaded-files/438_4c77e7c1.doc">搭乘外國航空公司班機申請表</a></p>

<p><span>淡江大學碩博士班出席國際會議系統</span></p>

<p><strong><span>淡江大學&gt; 學生事務處&gt; 生輔組&gt; 獎助學金專區&gt; 碩博生出國發表論文及創作補助&gt; 登錄系統<br><br><br><br>以上更新請見學生事務處生活輔導組表格下載區</span></strong></p>