<p><span>邀請國際知名學者蒞臨本系博士班開設特約講座<span lang="EN-US">(3</span>學分<span lang="EN-US">)</span>，於暑假期間密集授課，目前已邀請多位知名學者開設相關講座如下表，歡迎本系碩博士班學生選課。&nbsp;</span>
</p>

<p><span><a class="fr-file" href="/storage/app/media/625_ba5b839b.pdf">暑期講座</a><br></span></p>