{%if contact_info%}
<div class="contact_information">
  <h2>連絡資料</h2>
  <div class="eqs4 enlarge2-s enlarge-xs">
    <div class="column">
      <div class="box">

      {%for contract in contact_info%}
      <div class="contact_item">
        <h4>{{contract.name}}</h4>
        <span>{{contract.address}}</span>
      </div>
      {%endfor%}
        <h3>地址</h3>
        <div class="address"></div>
      </div>
    </div>
    <div class="column">
      <div class="box fix_m">
          {%for contract in contact_info%}
          <div class="contact_item">
            <h4>{{contract.telephone}}</h4>
            <span>{{contract.time}}</span>
          </div>
          {%endfor%}
        <h3>電話</h3>
        <div class="phone"></div>
      </div>
    </div>
    <div class="column">
      <div class="box">
          {%for contract in contact_info%}
          <div class="contact_item">
            <h4>{{contract.fax}}</h4>
            <span>{{contract.name}}</span>
          </div>
          {%endfor%}
        <h3>傳真</h3>
        <div class="fax"></div>
      </div>
    </div>
    <div class="column">
      <div class="box last_fix">
          {%for contract in contact_email%}
          <div class="contact_item">
            <h4>{{contract.email}}</h4>
            <span>{{contract.title}}</span>
          </div>
          {%endfor%}
        <h3>E-mail</h3>
        <div class="e-mail"></div>
      </div>
    </div>
  </div>
</div>
{%endif%}
