<div class="wrap">
  <div class="float_left">
    <a href='{{homeMenu.linkHref}}' class="home_top" title="Back to「{{homeMenu.title}}」"><span></span></a>
  </div>
  <div class="float_right rel">
    <a href='{{homeMenu.linkHref}}' class="home_bottom"><span></span></a>
    <a href="#" class="search_submit"><span></span></a>
    <div class="search">
      <form action='http://www.google.com/search' rel="noopener noreferre" target="_blank" id='search' method='get'>
        <input type="hidden" name="sitesearch" value="url" />
        <input onfocus="if(this.value==this.defaultValue)this.value='';" value="Search..." type="text" id="s" onblur="if(this.value=='')this.value=this.defaultValue;" vinput="" name="q" />
        <input id="r" value="GO" title="Search" type="submit" />
        <a href="#" class="hide_txt" tabindex="0"></a>
      </form>
    </div>
  </div>
  <div class="main_menu_margin">
    <ul class="eqs">
        {% for menu in rootMenus%}
        {% if menu.enabled%}
        <li class="column-p14 main_menu">
            <a class="main_menu_pull" href="{{menu.getLinkHref}}" title="Click & Go「{{menu.title}}」" target="{{menu.link_target}}">{{menu.title}}</a>
          {% if menu.getChildrenEnabled %}
           <ul class="main_menu_sub">
           {% for submenu in current.getChildren%}
               {% if submenu.enabled%}
                <li>
                    <a href="{{submenu.getLinkHref}}">{{submenu.title}}</a>
                </li>
                {%endif%}
            {%endfor %}
            </ul>
            <img src='{{ "assets/#{style}/images/caret_down.jpg"|theme }}' alt="caret_down">
          {%endif%}
        </li>
        {%endif%}
        {%endfor%}
    </ul>
  </div>
</div>
