<div class="footer_bottom">
  <div class="wrap">
    <span>網站管理員 &nbsp; | &nbsp; <a href="mailto:{{master.email}}">{{master.name}}</a></span>
    <span class="float_right">{{ update |date("Y-d-m h:i:s")}}</span>
  </div>
</div>
