<div class="more_links">
  <a href="#" id="more_links">
    更多連結 &nbsp;
    <img src='{{ "assets/#{style}/images/drop_img_off.png"|theme }}' class="drop_off" alt="drop_off">
    <img src='{{ "assets/#{style}/images/drop_img_on_02.jpg"|theme }}' class="drop_on" alt="drop_on">
  </a>
  <ul class="links">
    {% for url in outgoing_url %}
        <li><a href="{{url.url}}" rel="noopener noreferre" target="_blank" title="Click & open new Window to「{{url.title|default('link')}}」">{{url.title|default('link')}}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="footnotes">
  <span>Copyright © {{ "now"|date("Y")}} 東吳大學 | <a href="#">連絡我們</a></span>
</div>
