<head>


  <!-- meta
  ================================================== -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ this.page.meta_description }}">
  <meta name="title" content="{{ this.page.meta_title }}">
  <meta name="author" content="qun@yi.idv.tw">



  <!-- icon
  ================================================== -->
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- <link href="ico/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed"> -->
  <!-- For first- and second-generation iPad: -->
  <!-- <link href="ico/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72"> -->
  <!-- For iPhone with high-resolution Retina display: -->
  <!-- <link href="ico/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114"> -->
  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- <link href="ico/apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144"> -->
  <!-- <link href="ico/favicon.png" rel="shortcut icon"> -->

  <!-- javascript
  ================================================== -->
  <!--[if IE]>
  <script src='http://html5shim.googlecode.com/svn/trunk/html5.js' type='text/javascript'></script>
  <![endif]-->

  <!-- style
  ================================================== -->

  <title>{{web_title}} - {{current_title|default(this.page.title)}}</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link href='{{ [
      "assets/#{style}/css/equalstyle.min.css",
      "assets/#{style}/css/screen.min.css",
      "assets/css/backtop.css"
  ]|theme }}
  ' rel="stylesheet">
  {% styles %}
</head>
