   <div class="lang">
     <div class="wrap">
       <ul>
          <li><a href="http://www.tku.edu.tw" rel="noopener noreferre" target="_blank">大學</a></li>
          {% for url in outgoing_url %}
            <li><a href="{{url.url}}" rel="noopener noreferre" target="_blank">{{url.title|default('link')}}</a></li>
          {% endfor %}
          {% for unit_site in unit_sites%}
            <li><a href="{{unit_site.rootMenu.linkHref}}" rel="noopener noreferre" target="_blank">{{unit_site.rootMenu.title|default('home')}}</a></li>
          {% endfor%}
         <li><a href="{{ 'unit_sitemap'|page({ domain: domain }) }}">網站地圖</a></li>
       </ul>
     </div>
   </div>

   <div class="header">
     <div class="header_top">
       <div class="wrap">
         <div class="eqs2 enlarge-xs enlarge-sm">
           <div class="column">
             <div class="logo">
               <a href="{{homeMenu.linkHref}}"><img  src='{{"assets/#{style}/images/logo_01.png"|theme }}' alt="logo_01"></a>
             </div>
           </div>
           <div class="column">
             <div class="drop_img">
               <a href="#" id="drop_img">
                 <img src='{{ "assets/#{style}/images/drop_img_off.png"|theme }}' class="drop_off" alt="drop_off">
                 <img src='{{ "assets/#{style}/images/drop_img_on_01.jpg"|theme }}'  class="drop_on" alt="drop_on">
               </a>
               <span><strong>{{web_title}}</strong></span>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="header_bottom">
       <img src='{{ "assets/#{style}/images/bg_01.jpg"|theme }}'  id="header_img" alt="bg_01">
     </div>
   </div>
