description = "RWD Layout"
==
      <!-- 標題區塊
       ================================================== -->
       <div id="header_block">
           {% partial layout_folder ~'/header'%}
       </div>
       <!-- 標題區塊 -->
      <!-- 主要區塊 ================================================== -->
         <div id="body_block">

           <div id="main_menu" class="main_menu_bg">
               {% partial layout_folder ~'/dropdown_menu'%}
           </div>

           <div class="clearfix"></div>
           <!-- wrap -->
           <div class="wrap">
             <div class="main_part">
               <div class="eqs9 enlarge-xs">
                 <div class="column2">
                     {% partial layout_folder ~'/side_menu' %}
                 </div>
                 <div class="column7">
                   <div class="content_top">
                       {% partial layout_folder ~'/breadcrumbs'%}
                  </div>
                   <div class="content">

                     <!-- 網站歡迎詞 -->
                     <div class='content1-container'>
                         <div class='content1-container-list5'>
                             <H2 class='title'>{{this.page.title}}
                                 <span></span>
                             </H2>
                             <div class='content-txtbox-noshade'>
                                 <DIV ID='rndbox_top'>
                                     <div id='rndtop'>
                                         <p>&nbsp;</p>
                                     </div>
                                 </DIV>
                                 <DIV ID='rndbox_body'>
                                     {% page%}
                                 </DIV>
                                 <DIV ID='rndbox_bottom'>
                                     <div id='rndbottom'>
                                         <p>&nbsp;</p>
                                     </div>
                                 </DIV>
                                 <div id="backtop" class="float-pane" data-v-w="200,300">
                                     |<i class="fa fa-arrow-up"></i>回到頁首
                                     {%if this.param.id%}
                                     |
                                     <a href={{current.getLinkHref}} style="color: rgb(255, 255, 255);"><i class="fa fa-arrow-left"></i>返回{{current.title}}</a>
                                     {%endif%}
                                     |
                                 </div>
                             </div>
                         </div>
                     </div>
                     <!-- 網站歡迎詞 -->

                     <!-- Page Banner -->
                     {% if banner%}
                       <div class="content1-pagebanner">
                         <img src="{{banner.getPath}}" border="0" title="" />
                       </div>
                     {%endif%}
                     <!-- Page Banner -->

                   </div>
                 </div>
               </div>
             </div>

           </div>
           <!-- wrap -->
         </div>
         <!-- 主要區塊 -->
      <div id="footer_block">

            {% partial layout_folder ~'/contract'%}
        <div class="wrap">
        </div>

        <div class="footer_top">
          <div class="wrap">
              {% partial layout_folder ~'/footer_link'%}
          </div>
        </div>

        {% partial layout_folder ~'/footer_bottom'%}


      </div>
