<div class="side_menu">
  <h2>{{current.title}}</h2>
  <ul class="sub_menu">
  {% if current.getChildrenEnabled %}
      {% for submenu in current.getChildren%}
          {% if submenu.enabled%}
          <li class="group">
            <a href="{{submenu.getLinkHref}}" title="{{submenu.title}}" target="{{submenu.link_target}}">{{submenu.title}}</a>
            <i class="fa fa-chevron-right"></i>
          </li>
          {%endif%}
      {%endfor %}
  {% else %}
      {%for submenu in current.getSiblings%}
          {% if submenu.enabled%}

          <li class="{{submenu.id != current.id ? 'group': 'igroup'}}">
            <a href="{{submenu.getLinkHref}}" title="{{submenu.title}}" target="{{submenu.link_target}}">{{submenu.title}}</a>
            <i class="fa fa-chevron-right"></i>
          </li>
          {%endif%}
       {%endfor%}

  {%endif%}
  </ul>

  <div class="advertisement">
  <!-- 暫時demo -->

  {%for link in picture_links%}
  <div><a href="{{link.picture_url}}" rel="noopener noreferre" target="_blank" class="enable"><img src="{{link.getPath}}" alt="點選查閱「{{link.title}}」詳細內容" border="0"></a></div>
  {%else%}
  <a href="#">
      <img src='{{ "assets/#{style}/images/Ad_01.jpg"|theme }}' alt="Ad_01">
  </a>
  <a href="#">
      <img src='{{ "assets/#{style}/images/Ad_02.jpg"|theme }}' alt="Ad_02">
  </a>
  {%endfor%}

  <!-- 暫時demo -->
  </div>
</div>
