==
<div id="index_slider" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <div class="indicators">
        <div class="indicators_layout">
            <ol class="carousel-indicators">
                {%for slider in sliders%}
                    <li data-target="#index_slider" data-slide-to="{{loop.index0}}" class="{{loop.first ? 'active':''}}"></li>
                {%endfor%}
            </ol>
            <div class="slide_line"><i class="fa fa-caret-down"></i></div>
        </div>
    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for slider in sliders%}
        <div class="item {{loop.first ? 'active':''}}" style="background-image: url('{{ slider.path}}'); background-repeat: no-repeat; background-position: center center; background-size: auto 100%;"><a href="{{slider.picture_url}}" title="{{slider.description}}">{{slider.title}}</a></div>
        {%endfor%}
    </div>
    <!-- Controls -->
    <div class="controls">
        <a class="left carousel-control" href="#index_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#index_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<div class="controller_bar">
    <h4 class="pull-left">世紀東吳，百年樹人</h4>
    <ul class="pull-right">
        <li>
            <a href="#" class="slide_bar"><i class="fa fa-arrow-up"></i></a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
