description = "連絡資料"
==
<div class="footer_contact">
    <p><span>聯絡電話：{{contact.telephone}}</span>　<span>傳真號碼：{{contact.fax}}</span></p>
    <p>電郵信箱：{{email}}</p>
    <p style="position: relative;"><span style="position:absolute; top: 0; left: 0;">學院地址：</span><span style="padding-left: 5em;">{{contact.address}}</span></p>
    <p>個資保護聯絡窗口：<a href="#">劉育惠</a> 秘書</p>
    <p>聯絡窗口電話：(02) 2621-5656 轉 2558</p>
    <p>網頁維護人員：<a href="#">葉思德</a></p>
    {% partial 'privacy' %}
</div>