description = "推薦主題"
==
<h2 class="index_title">
    <span class="title_tw">推薦主題<span class="title_en"> / Recommended Topics</span></span>
</h2>
<div class="area_layout">
    <div class="topic_slider">
        <div class="owl-carousel owl-theme">
            {% for link in links %}
                {% if loop.index%2==1 %}
                <div class="item">
                {% endif %}
                <div class="owl_img_block">
                    <a href="{{link.url}}" target="{{link.link_target}}" title="{{link.title}}">
                        <span class="owl_img">
                            <img src='{{ "storage/app/media#{link.picture}" |app}}' alt="{{link.title}}">
                        </span>
                        <span class="owl_overlay"></span>
                        <span class="owl_text">
                            <span>{{link.title}}</span>
                        </span>
                    </a>
                </div>
                {% if loop.index%2==0  or loop.last%}
                </div>
                {% endif %}
            {% endfor %}
         </div>
    </div>
</div>