<p style="text-align:center"><img src="/storage/app/media/extraordinary alumni/liu de li.jpg" style="height:389px; width:500px" /></p>

<p style="text-align:center"><span style="font-size:24px">淡江時報 第 838 期</span></p>

<p style="text-align:center"><span style="font-size:24px">西語系校友 現禮賓司司長將調任巴拉圭大使&nbsp;</span></p>

<p><span style="font-size:24px">專訪</span></p>

<p><span style="font-size:24px">【記者張莘慈專訪】知名動漫《黑執事》中的賽巴斯欽，以身著燕尾服、提供賓客周全的服務讓人印象深刻，而西語系校友現任外交部禮賓司司長劉德立，有如漫畫中主角，掌理禮賓司組織運作的運籌帷幄，並竭力解決接待外賓等各式難題。即將於12月調任駐巴拉圭大使，行前特與我們暢談2011中華民國建國百年的國慶籌畫過程，並分享求學時的校園生活。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px">西班牙語文學系系主任吳寬表示，劉德立西語課業第一名，英文也相當流利，「對西語系畢業的學生來說，能保持兩種語系的暢通是相當不容易的。」她印象深刻的是，在2010年劉德立曾臨時擔任「西班牙舞團-佛朗明哥舞蹈」表演後講座的即席翻譯，他只有1天的時間準備資料，卻能準確翻譯高難度的藝術性問題，表現出專業水準，「他的個性相當認真，並且活力十足，說起話來經常是中氣十足的。」</span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px">劉德立曾擔任輔大西班牙語文學系講師、本校西語系助教，他認為自己是個多元且喜歡變化的人，笑著說「學校工作對我來說有點枯燥。」因剛好有考試的機會，考上後就在外交部工作，而外交部是屬於經常調動、與各單位互動的工作性質，和他的個性一拍即合，因此他從薦任科員、駐西班牙代表處二等秘書、駐宏都拉斯大使館一等秘書等，一路至擢升至禮賓司司長都能游刃有餘。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px">禮賓司的工作主要是掌理接待外賓、國際典禮、接受各駐華使領館與代表機構人員之程序及其在華待遇等事項，鉅細靡遺的外交禮儀與措詞、接待規格及會議安排，隨時都在挑戰劉德立，「所以擔任禮賓司長需要兩大秘訣『溝通協調』和『保持好奇心』。」他解釋，外交工作是種與人為善且不失立場的特質，因此要想盡辦法跟每個人良性的互動，同時要發揮創意並注重安排細節，必須要時時設想及模擬各種情境，以因應各種事件發生。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px">這次建國百年國慶，不僅賓客雲集，今年來訪的總統也從去年1位增至4位、外交部長以上層級組成的國賓團也激增至15團，「從規劃開始就是很大的挑戰。」對劉德立來說，如何將每一個環節都流暢連結一起，讓國慶當天能依照計畫完全的實行，是禮賓司一大艱難的考驗。因此，他將每項主題工作都做分項規劃及安排，並呈現台灣特色讓賓主盡興而歸。他舉例，從台北賓館的酒會結束後，須帶國賓團搭乘高鐵至烏日站，所以從座位安排、往返動線規劃、轉乘交通工具、餐飲廁所、接待人員的互動等相關工作，除事先場勘並會同相關單位配合，並隨時依狀況調整。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px">「所以，每天都要不停地思考，只要一想到重點就趕快記下來。」劉德立指著自己的頭腦說，有時下班回家，雖然坐在電視機前面，腦中卻想著公事，甚至都聽不到太太跟他說話。也因為這樣的縝密的規畫，才能將這百年國慶，辦得熱鬧卻不失莊重。他開心又甜蜜地表示，光是國慶酒會Logo就下足一番苦心，剛開始是以芋頭和番薯的意義和色彩為設計理念，雖代表台灣精神，但對於百年國慶卻不夠喜氣；於是他發揮溝通專長，與設計者協調改善方案，並決定再加上LED燈，使其炫彩奪目，兼具藝術又能呈現熱鬧的氣氛，讓賓客都能感受到歡騰的喜悅。劉德立笑著說：「還蠻有意思的！」他謙虛地表示，這次的百年國慶酒會因為天氣很好，事情都能順利進行而感到很幸運，「雖然很難盡善盡美，但只要努力去做，就對了。」</span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px">在「保持好奇心」的秘訣上，他開朗地說，「就是對任何事情要感到有趣，要能從生活中找靈感。」劉德立為了讓百年國慶更具意義，在國慶酒會上，邀請百年餅店「玉珍齋」及「犁記」、鼎泰豐小籠包現場製作、烤香腸、車輪餅、滷肉飯等台灣特色美食帶入酒會，也將過去以往的冰雕改由法藍瓷公司展示相關作品，讓此次酒會能別出心裁的呈現在外賓面前。而這些籌畫力和執行力，都是在本校中積累的，「高中之前都是住在家中，當時離鄉背井到淡大，要想辦法面對寂寞、享受寂寞，所以書、朋友、社團都變成我的樂趣。」而社團的經營經驗，奠定他日後在外交部擔任禮賓司長的基礎。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px">校長室秘書黃文智因社團而和劉德立結識，他笑著說，「劉德立是校內天使社社長，不但將社團辦得有聲有色，課業也保持名列前茅。他能兼顧社團和課業，主要是因為目標明確，並運用時間管理及保持專注力。」黃文智認為，淡江社團內臥虎藏龍，能藉此拓展生活圈，並接觸不同科系領域的人，就如同他與劉德立成為無話不談的好友，彼此相知相惜。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px">劉德立表示，淡江外交人才濟濟，如西語系校友的前任駐西班牙代表黃瀧元、歷任多明尼加大使陳顯祥及蔡孟宏、現任駐葡萄牙代表周麟、現任瓜地馬拉大使孫大成及法文系校友現任海地大使劉邦治等，有時會在外交場合上碰到，除討論外交工作外，也會聊起校園生活中的回憶點滴。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px">對劉德立而言，淡江是最自由的搖籃，提供他不同的思考方式，又能接觸不同科系的人，滋養他開闊的性格。學生時代最喜歡圖書館和宮燈教室，「圖書館是個大寶庫，我常常在圖書館待一個下午，真的非常過癮！」他肯定的讚許，淡江是他的啟蒙，幫助他成長，並影響他的一生，無遠弗屆。</span></p>

<p><span style="font-size:24px">2011/10/31</span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:24px">劉德立課業名列前茅，並兼顧社團活動，最主要是他的目標明確，善用時間管理及保持專注力，因此能擔任外交要職。（攝影／張峻銓）</span></p>