<p style="text-align:center"><strong><span style="font-size:22px">淡江外語如何使你與眾不同報導系列六</span></strong></p>

<p style="text-align:center"><strong><span style="font-size:22px">(職業－戲劇文化服務業)</span></strong></p>

<p style="text-align:center"><br />
<span style="font-size:22px"><img src="/storage/app/media/extraordinary alumni/2.jpg" style="height:631px; width:500px" /><img alt="" class="fr-dii fr-fic" src="http://www.tf.tku.edu.tw/img.php?img=450_779e6f0e.png&amp;dir=archive" style="height:344.761px; width:223px" /><img alt="" class="fr-dii fr-fic" src="http://www.tf.tku.edu.tw/img.php?img=451_310f8744.png&amp;dir=archive" style="height:334.444px; width:215px" /></span></p>

<p style="text-align:center"><span style="font-size:22px"><strong>法文系校友&nbsp;桂綸美</strong></span></p>

<p><span style="font-size:22px">&nbsp;</span></p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; 去年，外語學院出版「大三那年，我不在台灣」，法文系畢業校友，藝人桂綸美肯定留學生涯，開拓她的眼界。她說：「到了法國，才知道自己的語文有多麼的不夠；到了法國，才知道自由之外，原來還伴隨著孤獨..。一下子，我必須自己去面對所有的事情，從日常生活到所有大大小小的事情。經過了一年，除了語言方面的成長、我已經可以真正獨立的生活、自己去旅行、還去看了許多舞台劇演出和獨立電影，雖然種種的一切，都夾雜了開心跟不開心，但是一切都非常地值得。也讓她開始了解去異地求學，原來是可以獲得這麼多的寶藏，未來如果有機會，繼續深造，我也希望可以再選擇一個陌生的地方，從頭再來一次。」</span></p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; 桂綸美非常感謝易智言導演給她的建議，讓她最後選擇了淡江大學法文系。當初，易智言導演說：淡江這樣的大學，文、法、商、理、工學系都有，因此聚集了來自各方的同學跟老師，校園裡面會發生各種的可能性，對於進入人生另一個階段的桂綸美，是可以多看看、多認識不同的人，這是非常有幫助的。而藉由學習另外一種語言，去認識一個國家的人文、生活以及種種，帶給她寬廣的眼界，也是前所未有的經驗。</span></p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; 演員桂綸鎂以「女朋友、男朋友」獲得2012金馬獎最佳女主角，又奪得第55屆亞太影展最佳女主角桂綸鎂的演技，除了感謝培育她的家鄉台灣，也得感謝法國。因念淡江大學法文系的她，去法國里昂第三大學當交換學生，愛上法國的文學跟哲學。且當時一個人在異鄉，所有人的情緒都得承擔，法國人又沒耐性，讓她反而學會觀察人。</span></p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; 10年過去，歲月未曾在她的臉龐留下痕跡，法國出美女，舉世知名。究其原因：美食、文化蘊涵其中，法文系亦出美女：民視新聞部經理胡婉玲、藝人崔麗心、藝人朱芯儀。其中的緣由不僅是巧合，氣質出眾亦是亮眼的原因。（編者按：除作者群－許譽曦（現任外交部國際傳播司秘書）、劉博樺（外交部國際傳播司秘書回部辦事）、李旻諭（法國在台協會文化副專員）、康鈺佩（淡江大學法文系兼任教師）、林維聖（Unique Pasta維一義大利餐廳）、林佳蓉（新北市立鶯歌陶瓷博物館研究助理），法語系傑出校友尚有：中華民國駐法代表呂慶龍、民視資深記者新聞主播許仲江、法文系教授吳錫德、李佩華二位榮獲「法國教育榮譽騎士勳位」）</span></p>