<h3><span style="color: rgb(61, 142, 185);"><a href="http://www.tf.tku.edu.tw/page2/super_pages.php?ID=page201">國際大使團隊</a>(外語傳譯社)</span>
	<a href="http://www.tf.tku.edu.tw/page2/super_pages.php?ID=page201"></a>&nbsp;/ 西文(Spanish)</h3>

<p>Establecer el puente de amistad; ampliar una visión internacional</p>

<p>Facultad de Lenguas Extranjeras</p>

<p>Convocatoria de embajadores:</p>

<p>&nbsp;</p>

<p>Todos los estudiantes de TKU, tanto nativos como extranjeros, están invitados a unirse a nuestro equipo de EMBAJADORES DE MULTILENGUAS. El trabajo consiste en realizar traducciones e interpretaciones del inglés,&nbsp;español, francés, alemán, japonés o ruso al chino. Los embajadores pueden practicar técnicas de traducción y conocer al mismo tiempo a amigos que vienen de fuera mediante la recepción de las visitas; y así, ampliar su visón global del mundo.</p>

<p>&nbsp;</p>

<p>El trabajo no estará remunerado económicamente, pero se recibirá un certificado de reconocimiento por su buen servicio. Los interesados pueden apuntarse en la página web:</p>