<h2><br />
Please click on the links to your left for more information on Outstanding Alumni!</h2>

<h1><span style="font-size:18px"><strong>------------------- Cover Story&nbsp;</strong><strong>----------------------</strong></span></h1>

<h2><span style="font-size:18px"><strong>你所不知道的盧廣仲（西語系校友）</strong></span></h2>

<p><span style="font-size:18px"><strong><img class="fr-dii fr-fic" src="http://163.13.100.122/storage/app/media/uploaded-files/1.jpg" style="height:675.874px; width:449px" /></strong></span></p>

<p><span style="font-size:18px">音樂風格獨特、自然的淡江大學西語系系友盧廣仲同學，以專輯「100種生活」勇奪第二十屆金曲獎之「最佳新人」及「最佳作曲」兩項大獎。這位頂著一頭復古髮型，大聲唱自己歌的學生，是什麼樣的生活環境造就他如此隨性樂天的個性？那就是自由校風的薰陶及開明的家庭環境。</span></p>

<p><span style="font-size:18px">&nbsp;<br />
盧廣仲笑稱自己是半調子學生。吃早餐、上課和表演，是盧廣仲的一天，和時下年輕人沒有多大不同。早睡早起的他喜歡固定作息，「早餐不吃不行啊，在陽光下吃早餐是多麼搖滾的一件事。」盧廣仲說。他的創作曲＜早安晨之美＞是淡江人耳熟能詳的歌，連續兩年的春天，在「忘春瘋」校園演唱會中，大家一起唱著「對啊，對啊」，沒有人不被他那單純的音樂感動。他曾拿下淡大第19屆金韶獎獨唱組、最佳編曲、及最佳創作3項首獎；第20屆金韶獎重唱組第二名；政大第22屆金旋獎創作組第一名、最佳作詞、及最佳人氣獎。去年暑假，他更以＜100種生活＞這首歌獲得海洋音樂祭「海洋之星」大獎。&nbsp;</span></p>

<p><br />
<span style="font-size:18px">格子襯衫、短褲，中筒襪子，以及他演出必備的擦汗毛巾，這是2006年年底「簡單生活節」舞台上的盧廣仲。大一的一場車禍，是盧廣仲人生的轉捩點，休學半年休養期間，他開始創作，也慢慢發現自己因為音樂，而建立起的那股人生價值，熱情滿滿。「當我彈出人生中的第一個C和弦，發現這東西很好玩！」大一時加入吉他社的盧廣仲，回憶起高中畢業時收到表哥送的吉他，與它的第一次驚喜接觸，開心的說「唱歌是一種分享，希望帶給大家開心。」如此而已。&nbsp;</span></p>

<p><br />
<span style="font-size:18px">熱愛音樂的他，偶像不是時下的流行歌手，而是「馬蓋先」。他笑著說，敬佩馬蓋先的冒險精神和發明才能。創作一首首膾炙人口的歌曲後，盧廣仲開心的發現，「其實某種程度上我也和馬蓋先一樣，算是個發明家呢！」的確，自2006年第一張單曲《淵明》，2007年的《早安晨之美》及《啊！大岩壁》，共三張單曲，加上集結三年來的創作於今年發行的首張專輯《100種生活》，盧廣仲發明了不少好歌，簡單美好的旋律和歌詞，令聽眾的心不自覺跟著搖滾。盧廣仲說：「其實生活處處都是創作的題材。」即使是吹口哨時不經意的一段旋律，他也會把它錄起來，成為歌曲的一部分。&nbsp;</span></p>

<p><br />
<span style="font-size:18px">音樂路上，他感謝一路陪伴的室友們，做他最忠實的聽眾。「那群死黨對我的創作影響很大，常開玩笑說寫抒情歌才會大賣。」《100種生活》新專輯，盧廣仲便寫了一首抒情歌獻給他們；家人則是另一支持的力量。家人只告訴他：「做你喜歡的事，不要變壞就好。」或許是這樣的家庭，造就他如此隨性樂天的個性。他常覺得，大家生活都太緊張，「希望自己能帶來愜意、relax的感覺，ya！」他不好意思的說：「Just for fun！是我的座右銘喔！」果然話如其人，簡單又充滿活力。他認為，「即使很嚴肅的事，也要以輕鬆的角度觀看它。」&nbsp;<br />
　　</span></p>

<p><span style="font-size:18px">隨著名聲越來越響亮，走在校園中，不時有同學拿著相機說：「廣仲，請問可以跟你合照嗎？」他在Youtube模仿俄國男星Vitas超級高音的影片，也在網路上造成轟動，點閱率逾35萬次，一次在男廁被三個男生要求簽名的經驗更讓他「嚇傻了！」儘管如此，盧廣仲仍不覺得自己是位明星，即使有過無數場演出經驗，在西語會話課時，他仍像位普通學生，支支吾吾不敢發言；即使曾在八萬個觀眾的大場面表演過，每次小場演出前，他總提醒自己：「深呼吸，待會要high一點喔！」&nbsp;<br />
　　</span></p>

<p><span style="font-size:18px">成名以後，夢想是什麼呢？他俏皮的說：「我希望能像電視裡演的一樣，賺了錢就寄一包厚厚的錢回家，給媽媽當買菜錢。」是不是盧廣仲的每一句話都是這麼令人驚喜，且永遠保有他那獨特的幽默？(編者按:本文摘至淡江時報)</span></p>