<h3><span style="color: rgb(243, 121, 52);"><span style="font-size: 18px;"><strong>村上春樹研究中心</strong></span></span>
</h3>

<p>
	<a href="http://www.harukistudy.tku.edu.tw/main.php"><img src="http://www.tf.tku.edu.tw/img.php?img=582_6023ac5b.jpg&amp;dir=archive" width="960" height="540" alt="" class="fr-fic fr-dii">
		<br>
		<br>www.harukistudy.tku.edu.tw/main.php</a>
</p>