<p><span style="color: rgb(226, 80, 65);"><span style="font-size: 18px;"><strong>組織結構</strong></span></span>
</p>

<p><img src="http://www.tf.tku.edu.tw/img.php?img=296_3e4450ba.jpg&amp;dir=archive" class="fr-fic fr-dii"></p>

<p>&nbsp;</p>

<p><strong><span style="color: rgb(226, 80, 65);"><span style="font-size: 18px;">系所簡介</span></span></strong></p>

<p>
	<br>
</p>

<p><span style="color: rgb(61, 142, 185);"><strong>英文系</strong></span></p>

<p>創立於1950年，設立已有一甲子之悠久歷史，設有學士班，碩士班以及博士班。研究所課程重英美文學與英語教學．1970年創刊之&lt;&lt;淡江評論&gt;&gt;(Tamkang Review)，被國科會收錄於「台灣人文學引文索引核心期刊」（THCI Core）資料庫．已舉辦過數屆國際生態論述會議，並協助創立ASLE-Taiwan（中華民國文學與環境學會）．</p>

<p>
	<br>
</p>

<p>電話：（０２）２６２１－５６５６轉２３４２、２３４３</p>

<p>傳真：（０２）２６２０－９９１２</p>

<p>email：tflx@oa.tku.edu.tw</p>

<p>
	<br>
</p>

<p><span style="color: rgb(61, 142, 185);"><strong>西語系</strong></span></p>

<p>
	<br>
</p>

<p>成立於1962年，下設學士班及碩士班．學術領域涵蓋文學、語言、翻譯、歷史、法律等學科．目前於政府機構服務之系友總數達一百二十餘名．未來將持續提升西班牙語檢定通過率；增加語言實習機會，推動赴西班牙語系國家擔任青年大使或至西語相關之政府機關及企業實習；並配合當前趨勢鼓勵學生取得華語教學師資資格．</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>電話：（０２）２６２１－５６５６轉２３３６、２３３７</p>

<p>傳真：（０２）２６２０－9902</p>

<p>email：<a href="mailto:spanish@mail.tku.edu.tw">spanish@mail.tku.edu.tw</a></p>

<p>
	<br>
</p>

<p><span style="color: rgb(61, 142, 185);"><strong>法文系</strong></span></p>

<p>
	<br>
</p>

<p>成立於1964年，下設學士班以及碩士班．歷來著重於法國語言暨文化教材之教學培育，培養學生深厚之人文學識基礎，造就國內翻譯、外交、文化暨學術研究及貿易方面之專才．學生畢業後投身於就業市場可從事學術研究、文化產業、</p>

<p>外交公職、商業秘書、翻譯員、教師、外貿、新聞產業等其他服務業．</p>

<p>
	<br>
</p>

<p>電話：（０２）２６２１－５６５６轉２３３８、２３３９</p>

<p>傳真：（０２）２６２０－９９１３</p>

<p>email：tffx@mail.tku.edu.tw</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p><span style="color: rgb(61, 142, 185);"><strong>德文系</strong></span></p>

<p>
	<br>
</p>

<p>成立於１９６３年，旨在培育德語能力，傳播德與語言及文化、促進與德語國家文化學術交流的人才．課程規劃包括語言、人文、跨學科與實務等４個方向．推動學生在學期間皆能至德語區國家研習，與企業訂定實習機制，讓學生能及早體驗職場之生態，裝備相關專長．</p>

<p>
	<br>
</p>

<p>電話：（０２）２６２１－５６５６轉２３３２、２３３３</p>

<p>傳真：（０２）２６２０－９９０６</p>

<p>email：ger@mail.tku.edu.tw</p>

<p>
	<br>
</p>

<p><span style="color: rgb(61, 142, 185);"><strong>日文系</strong></span></p>

<p>
	<br>
</p>

<p>成立於1966年，原名「東方語言文學系」，1985年正改為現名．設有大學部、進學班、二年制在職專班、碩士班及碩士在職專班．每年頒發系友獎學金超過新台幣１００萬元．</p>

<p>將與日本麗澤大學、長崎外國語大學、城西大學、城西國際大學等姐妹校進行雙學位交流．並透過遠距與海外大學進行交流．</p>

<p>
	<br>
</p>

<p>電話：（０２）２６２１－５６５６轉２３４０、２３５８</p>

<p>傳真：（０２）２６２０－９９１５</p>

<p>email：tfjx@mail.tku.edu.tw</p>

<p>
	<br>
</p>

<p><span style="color: rgb(61, 142, 185);"><strong>俄文系</strong></span></p>

<p>
	<br>
</p>

<p>成立於1993年，所有專任教師皆擁有俄羅斯知名大學之博士學位，在語音學、修辭學、語法、翻譯、歷史、文化、哲學、其專業素養．除培養學生基礎語言之五技能力，亦安排歷史，文化、文學課程．派遣優秀學生於暑假期間赴與俄羅斯有商務往來之廠商或政府機構實習．推動「雙學位」、交換教師制．</p>

<p>
	<br>
</p>

<p>電話：（０２）２６２１－５６５６轉２７７１、２１１６</p>

<p>傳真：（０２）２６２０－９９０７</p>

<p>email：tfux@mail.tku.edu.tw</p>

<p style="text-align: center;">
	<br>
</p>

<p><span style="color: rgb(226, 80, 65);"><strong><span style="font-size: 18px;">學生人數統計</span></strong>
	</span>
</p>

<table border="0" cellpadding="0" cellspacing="0" width="763">
	<tbody>
		<tr>
			<td width="230">
				<div style="text-align: center;">科目名稱</div>
			</td>
			<td width="92">
				<div style="text-align: center;">總計</div>
			</td>
			<td width="88">
				<div style="text-align: center;">一年級</div>
			</td>
			<td width="88">
				<div style="text-align: center;">二年級</div>
			</td>
			<td width="88">
				<div style="text-align: center;">三年級</div>
			</td>
			<td width="88">
				<div style="text-align: center;">四年級</div>
			</td>
			<td width="88">
				<div style="text-align: center;">延修生</div>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">日博士班學生小計 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <br></span></div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">54</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">5</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">8</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">9</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">0</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">32</span></p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;">英文學系博士班 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;">54</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">5</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">8</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">9</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">0</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">32</p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">日碩士班學生小計 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <br></span></div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">136</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">30</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">40</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">0</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">0</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">96</span></p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;">&nbsp; &nbsp; 法國語文學系碩士班 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;">16</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">8</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">2</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">0</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">0</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">6</p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;">&nbsp; &nbsp;日本語文學系碩士班 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;">47</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">8</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">14</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">0</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">0</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">25</p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;">英文學系碩士班 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;">51</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">9</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">8</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">0</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">0</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">3</p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;">西班牙語文學系碩士班 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;">22</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">6</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">2</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">0</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">0</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">14</p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">碩士在職專班小計 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <br></span></div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">39</span></p>
			</td>
			<td width="88">
				<div style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">&nbsp;7&nbsp;</span></div>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">9</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">0</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">0</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">23</span></p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;">&nbsp; &nbsp; 日本語文學系碩士在職專班 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;">39</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">7</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">9</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">0</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">0</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">23</p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">日間部學生小計&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br></span></div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">3466</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">789</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">834</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">837</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">791</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">206</span></p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;">&nbsp; &nbsp; 法國語文學系（日） &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;">553</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">132</p>
			</td>
			<td width="88">
				<div style="text-align: center;">&nbsp;141&nbsp;</div>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">133</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">125</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">22</p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;">&nbsp; &nbsp; 德國語文學系（日） &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;">296</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">66</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">67</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">80</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">57</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">26</p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;">&nbsp; &nbsp; 日本語文學系（日） &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;">945</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">218</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">223</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">232</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">224</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">48</p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;">英文學系（日） &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;">826</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">173&nbsp;</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">172</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">229</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">216</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">36</p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;">&nbsp; &nbsp;西班牙語文學系（日） &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;">587</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">139</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">147</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">137</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">133</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">31</p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;">&nbsp; &nbsp; 俄國語文學系（日） &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;">259</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">67</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">62</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">57</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">56</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">17</p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">進修學士班小計 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br></span></div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">530</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">113</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">149</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">116</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">110</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">42</span></p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;">日本語文學系（進學） &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;">289</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">51</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">92</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">68</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">57&nbsp;</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">21</p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;">英文學系（進學） &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;">222</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">39</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">72</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">43</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">50</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">18</p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">二年制在職專班小計 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br></span></div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">40</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">19</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">14</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">7</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">0</span></p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;"><span style="background-color: rgb(247, 218, 100);">0</span></p>
			</td>
		</tr>
		<tr>
			<td width="230">
				<div style="text-align: center;">&nbsp; &nbsp; 日本語文學系二年制在職專班&nbsp; &nbsp; &nbsp;&nbsp;</div>
			</td>
			<td width="92">

				<p align="right" style="text-align: center;">40</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">19</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">14</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">7</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">0</p>
			</td>
			<td width="88">

				<p align="right" style="text-align: center;">0</p>
			</td>
		</tr>
	</tbody>
</table>

<p><strong><span style="font-size: 18px;"><span style="color: rgb(226, 80, 65);">106學年度學生總人數：4266人</span></span></strong></p>

<p>
	<br>
</p>

<p><span style="color: rgb(226, 80, 65);"><span style="font-size: 18px;"><strong>教師人數統計</strong></span></span>
</p>

<p style="text-align: center;">
	<br>
</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="9" style="width: 99.7504%;" valign="top" width="599">
				<div style="text-align: center;"><strong>外語學院</strong></div>
			</td>
		</tr>
		<tr>
			<td style="width: 17.4955%;" valign="top" width="55">
				<div style="text-align: center;"><strong>級別</strong></div>
			</td>
			<td style="width: 7.7719%;" valign="top" width="85">
				<div style="text-align: center;"><strong>職稱</strong></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;"><strong>英文系</strong></div>
			</td>
			<td valign="top">
				<div style="text-align: center;"><strong>西語系</strong></div>
			</td>
			<td valign="top">
				<div style="text-align: center;"><strong>法文系</strong></div>
			</td>
			<td valign="top">
				<div style="text-align: center;"><strong>德文系</strong></div>
			</td>
			<td valign="top">
				<div style="text-align: center;"><strong>日文系</strong></div>
			</td>
			<td valign="top">
				<div style="text-align: center;"><strong>俄文系</strong></div>
			</td>
			<td valign="top">
				<div style="text-align: center;"><strong>小計</strong></div>
			</td>
		</tr>
		<tr>
			<td rowspan="7" style="width: 17.4955%;" valign="top" width="55">
				<div style="text-align: center;"><strong>專任教師等級別</strong></div>
			</td>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><span style="background-color: rgb(255, 255, 255);"><strong>教授</strong></span></span>
				</div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">2</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">2</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">5</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">1</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">2</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">13</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>副教授</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">18</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">7</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">8</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">17</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">4</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">54</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>助理教授</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">14</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">6</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">3</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">6</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">12</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">4</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">44</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>講師</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">5</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">1</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">3</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">8</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>外籍教師</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">11</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">5</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">9</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">2</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">16</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">4</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">50</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>其他</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(226, 80, 65);"><span style="background-color: rgb(255, 255, 255);"><strong>合計</strong></span></span><strong><br></strong></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">39</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">15</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">16</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">7</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">34</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">8</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">119</div>
			</td>
		</tr>
		<tr>
			<td rowspan="5" style="width: 17.4955%;" valign="top" width="55">
				<div style="text-align: center;"><strong>專任教師學歷別</strong></div>
			</td>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>博士</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">34</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">15</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">15</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">7</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">27</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">8</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">105</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>碩士</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">5</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">1</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">7</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">14</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>學士</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>其他</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(226, 80, 65);"><strong>合計</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">39</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">15</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">16</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">7</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">34</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">8</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">119</div>
			</td>
		</tr>
		<tr>
			<td rowspan="5" style="width: 17.4955%;" valign="top" width="55">
				<div style="text-align: center;"><strong>兼任教師等級別</strong></div>
			</td>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>教授</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">1</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">2</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">1</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">5</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>副教授</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">4</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">1</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">3</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">2</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">3</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">14</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>助理教授</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">11</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">1</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">5</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">2</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">2</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">21</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>講師</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">50</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">8</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">12</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">11</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">44</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">2</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">122</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(226, 80, 65);"><strong>合計</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">65</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">11</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">20</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">13</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">51</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">5</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">165</div>
			</td>
		</tr>
		<tr>
			<td rowspan="5" style="width: 17.4955%;" valign="top" width="55">
				<div style="text-align: center;"><strong>兼任教師學歷別</strong></div>
			</td>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>博士</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">9</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">3</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">7</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">1</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">4</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">3</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">27</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>碩士</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">56</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">8</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">12</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">12</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">45</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">2</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">133</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>學士</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">1</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">2</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">5</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>其他</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(226, 80, 65);"><strong>合計</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">65</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">11</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">19</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">13</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">51</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">5</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">165</div>
			</td>
		</tr>
		<tr>
			<td rowspan="5" style="width: 17.4955%;" valign="top" width="55">
				<div style="text-align: center;"><strong>兼任專業技術人員</strong></div>
			</td>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>教授</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>副教授</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>助理教授</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(41, 105, 176);"><strong>講師</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">2</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">1</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">3</div>
			</td>
		</tr>
		<tr>
			<td style="width: 7.7719%;" valign="top">
				<div style="text-align: center;"><span style="color: rgb(226, 80, 65);"><strong>合計</strong></span></div>
			</td>
			<td style="width: 11.2903%;" valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">2</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">1</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">0</div>
			</td>
			<td valign="top">
				<div style="text-align: center;">3</div>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>
	<br>
</p>

<p><span style="color: rgb(226, 80, 65);"><span style="font-size: 18px;"><strong>106學年度教師總人數：287人</strong></span></span>
</p>