description = "中文 layout"
==
use Morelink\Builder\Models\Unit;
use Morelink\Web\Models\SiteMenu;
use Morelink\Web\Models\UnitSite;
function onStart() {
    $page_id = $this->param('page_id');
    $domain = $this->param("domain",explode('/',$this->page->url)[1]);

    $unit = Unit::where('domain',$domain)->get()->first();
    if($page_id) {
        $currentMenu = SiteMenu::find($page_id);
        $parents = $currentMenu->getParents();
        $homeMenu = $parents->where('nest_depth',0)->first();
        $site = UnitSite::find($homeMenu->site_id);

    }else{
        $locale = input("lang",'en');
        $siteList = $unit->sites->where("locale",$locale);
        $site = $siteList->isEmpty() ? $unit->sites->first(): $siteList->first();
        $homeMenu = $site->rootMenu;
    }
    trace_log($unit->sites);
    trace_log($site);


    $this['unit_sites'] = $unit->sites->reject(function($item)use($site){
        return $item->id == $site->id;
    });


    $this['site'] = $site;
    $this['homeMenu'] = $homeMenu;

    $this['locale'] = $site->locale;
    $this['layout_folder'] = $site->style->layout;
    $this['style'] = $site->style->folder_name;
    $this['rootMenus'] = $homeMenu->getChildren();
}
==
<!doctype html>
<html lang="{{locale}}">
{% partial layout_folder ~ '/head'%}


<body>
    <div class="page-container-1">
        <!-- HEADER -->
        {% partial layout_folder ~ '/main'%}
    </div>
    <script src='{{ [
        "assets/javascript/jquery.js",
        "assets/javascript/app.js",
        "assets/javascript/Tool.min.js",
        "assets/javascript/glob.min.js",
        "assets/javascript/float-panel.js"
    ]|theme }}'></script>
    {% framework %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    {% scripts %}
</body>

</html>
