<table style="width: 100%;">
	<tbody>
		<tr>
			<td colspan="2" style="width: 99.9141%; vertical-align: middle; background-color: rgb(247, 218, 100);">
				<div data-empty="true" style="text-align: center;"><strong><span style="font-family: Georgia,serif;"><span style="font-size: 18px;">&nbsp;</span></span></strong><strong><span style="font-family: Georgia,serif;"><span style="font-size: 24px;">戲　　劇　　公　　演</span></span></strong></div>
			</td>
		</tr>
		<tr>
			<td style="width: 50.0000%;">
				<div data-empty="true" style="text-align: center;"><strong><span style="font-family: Georgia,serif;"><span style="font-size: 18px;">&nbsp;<span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/vPxKB0nSSR8" frameborder="0" allowfullscreen="" style="width: 458px; height: 255px;"></iframe></span></span></span></strong></div>
				<div style="text-align: center;"><strong><span style="font-family: Georgia,serif;"><span style="font-size: 18px;">104學年度淡江大學日文系日間部戲劇公演</span></span></strong></div>
				<div style="text-align: center;"><strong><span style="font-family: Georgia,serif;"><span style="font-size: 18px;">ミシャクジ様の囁き(白蛇神的呢喃)</span></span></strong></div>
			</td>
			<td style="width: 50.0000%;">
				<div data-empty="true">
					<br>
				</div>
			</td>
		</tr>
	</tbody>
</table>