<h1 class="oc-text-gray" style=""><span style="color: rgb(235, 107, 86);"><span style="font-size: 30px;"><span style="font-family: Impact,Charcoal,sans-serif;"><strong><img src="/storage/app/media/uploaded-files/.jpg" style="width: 146px; height: 138.862px;" class="fr-fic fr-dib" data-result="success">本系簡介</strong></span></span>&nbsp;</span>
</h1>

<p><span style="font-size: 30px;">創</span><span style="font-size: 18px;">系達50餘載的淡江大學日本語文學系，在學校大力支持及本系教授們大力革新、積極作為之下，　　</span></p>

<p><span style="font-size: 18px;">正朝向全新的方位邁進。特別是近年來在各大學積極設立日文系及應用日文系的風潮下，預期即將</span></p>

<p><span style="font-size: 18px;">面臨更多的挑戰。</span></p>

<p><span style="font-size: 30px;">因</span><span style="font-size: 18px;">應於此，淡江大學日文系正適時適地地在各方面（諸如系務、師資、教學、研究等）多所調整、</span></p>

<p><span style="font-size: 18px;">努力創新，以便在既有的基礎上保持優良的傳統，展現新的風貌，達成精質教育及培養符合國際化</span></p>

<p><span style="font-size: 18px;">時代需求之優秀日語人才的目標。</span></p>

<p><span style="font-size: 30px;">此</span><span style="font-size: 18px;">外，近年來淡江大學日文系更藉由國際學術會議的召開與留學生的派遣，大力推動國際學術交流。</span></p>

<p><span style="font-size: 18px;">一方面促進國際文化的相互理解，另一方面擴大國際視野，提昇本系的學術水準，大步邁向學術國</span></p>

<p><span style="font-size: 18px;">際化的嶄新境界。</span></p>