<p><span style="color: rgb(209, 72, 65);"><strong><span style="font-size: 30px;"><img src="/storage/app/media/uploaded-files/.jpg" style="width: 156px; height: 148.469px;" class="fr-fic fr-dii" data-result="success">本系沿革</span></strong>&nbsp;</span>
</p>

<table border="1" cellpadding="5" cellspacing="1" style="margin-right: calc(45%); width: 55%;" width="100%">
	<thead>
		<tr>
			<th bgcolor="#b2dede" style="width: 27.8583%; background-color: rgb(247, 218, 100);" width="36%"><strong><span style="font-size: 24px;">年代</span>&nbsp;</strong></th>
			<th bgcolor="#b2dede" style="width: 71.9807%; background-color: rgb(247, 218, 100);"><span style="font-size: 24px;"><strong>概況</strong></span></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td bgcolor="#FBFACE" style="width: 27.8583%; text-align: center;"><span style="font-size: 18px;">民國55年(1966年)</span></td>
			<td bgcolor="#FBFACE" style="width: 71.9807%; text-align: left;"><span style="font-size: 18px;">成立東方語文學系</span></td>
		</tr>
		<tr>
			<td bgcolor="#ccffff" style="width: 27.8583%; text-align: center;"><span style="font-size: 18px;">民國62年(1973年)</span></td>
			<td bgcolor="#ccffff" style="width: 71.9807%;"><span style="font-size: 18px;">學生人數增為兩班</span></td>
		</tr>
		<tr>
			<td bgcolor="#FBFACE" style="width: 27.8583%; text-align: center;"><span style="font-size: 18px;">民國74年(1985年)</span></td>
			<td bgcolor="#FBFACE" style="width: 71.9807%;"><span style="font-size: 18px;">更名為日本語文學系</span></td>
		</tr>
		<tr>
			<td bgcolor="#ccffff" style="width: 27.8583%; text-align: center;"><span style="font-size: 18px;">民國80年(1991年)</span></td>
			<td bgcolor="#ccffff" style="width: 71.9807%;"><span style="font-size: 18px;">學生人數增為日間部兩班、夜間部兩班</span></td>
		</tr>
		<tr>
			<td bgcolor="#FBFACE" style="width: 27.8583%; text-align: center;"><span style="font-size: 18px;">民國86年(1997年)</span></td>
			<td bgcolor="#FBFACE" style="width: 71.9807%;"><span style="font-size: 18px;">配合教育部夜間部轉型政策停招夜間部，</span>
				<br><span style="font-size: 18px;">日間部增為四班</span></td>
		</tr>
		<tr>
			<td bgcolor="#ccffff" style="width: 27.8583%; text-align: center;"><span style="font-size: 18px;">民國90年(2001年)</span></td>
			<td bgcolor="#ccffff" style="width: 71.9807%;"><span style="font-size: 18px;">增設進修教育學士班一班，日間部減為三班</span></td>
		</tr>
		<tr>
			<td bgcolor="#FBFACE" style="width: 27.8583%; text-align: center;"><span style="font-size: 18px;">民國95年(2006年)</span></td>
			<td bgcolor="#FBFACE" style="width: 71.9807%;"><span style="font-size: 18px;">成立日文系碩士班</span></td>
		</tr>
		<tr>
			<td bgcolor="#ccffff" style="width: 27.8583%; text-align: center;"><span style="font-size: 18px;">民國96年(2007年)</span></td>
			<td bgcolor="#ccffff" style="width: 71.9807%;"><span style="font-size: 18px;">與技術學院應用日文系合併，</span>
				<br><span style="font-size: 18px;">二年制在職專班改隸日文系</span></td>
		</tr>
		<tr>
			<td bgcolor="#FBFACE" style="width: 27.8583%; text-align: center;"><span style="font-size: 18px;">民國97年(2008年)</span></td>
			<td bgcolor="#FBFACE" style="width: 71.9807%;"><span style="font-size: 18px;">進修教育學士班增為二班</span></td>
		</tr>
	</tbody>
</table>