<h3 style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; color: rgb(0, 0, 0);"><img src="/storage/app/media/uploaded-files/.jpg" style="width: 160px; height: 152.809px;" class="fr-fic fr-dii" data-result="success"><span style="color: rgb(209, 72, 65);"><span style="font-size: 30px;"><strong>願景及策略</strong></span></span>
</h3>

<h4><span style="color: rgb(235, 107, 86);"><strong>一、課程</strong></span></h4>

<p>本系課程以日本語文聽、說、寫、讀、譯五種能力之培養為中軸，並輔以相關之日本歷史、社會文化、文學、語學、日本語教育、</p>

<p>日本政治、經濟、文化思想等專業領域之必選修課程，除奠定良好之語文基礎外，並加深學生對日本文學、語學、法政、經貿、社</p>

<p>會人文等之基礎學識，以期能銜接研究所教育或具豐富之學能，投入就業市場。</p>

<p>&nbsp;</p>

<h4><span style="color: rgb(235, 107, 86);"><strong>二、教學</strong></span></h4>

<p>初、中、高日等讀本課程及語法、名著、日語修辭學等必修課採原班上課，其餘會話、作文、翻譯與口譯、語練、應用文等則採小</p>

<p>班分組教學，使學生充分練習、增高學習效果，至於各領域之選修課程則依學生興趣自由選課，除加深學生對日本之認識與社會人</p>

<p>文素養外，更與其未來之研究方向產生直接連繫，奠定良好基礎。</p>

<p>&nbsp;</p>

<h4><span style="color: rgb(235, 107, 86);"><strong>三、師資</strong></span></h4>

<p>本系98學年度共專任教師28名，其中17名擁有博士學位，5名博士課程修畢，另有兼任教師52名。所有專任教師皆學有專精，專攻</p>

<p>領域涵蓋日本語學、日本文學、日本社會文化、日本思想、史學、日本語教育、日語口譯教學，以及日本法政、經貿、社會、人文</p>

<p>之區域研究。另日研所聘之專任教師並於本系開設課程，提供學生寬闊的學習領域。今後將繼續增聘學有專精之優秀教師，以加強</p>

<p>師資陣容。</p>

<p>&nbsp;</p>

<h4><strong><span style="color: rgb(235, 107, 86);">四、教育實習</span></strong></h4>

<p>支援本校師資培育中心，開設日語中等教育學程之專門課程，並積極鼓勵優秀學生報考該學程。目前已有多人完成學程與實習，並</p>

<p>取得教師資格。本系主動積極地支援大台北及新竹地區之中等學校日文第二外語師資，除進行教學外，並肩負對本校日語中等教育</p>

<p>學程實習生之專業指導，成效卓著。今後仍將一本初衷，協助拓展教育實習之校數，並積極培育修習中等學校日語教育學程者之專</p>

<p>業素養。另未來將加強非學程生之暑期實作或短期研修課程，以使學生提早獲得就業相關之實習機會。</p>

<p>&nbsp;</p>

<h4><span style="color: rgb(235, 107, 86);"><strong>五、學生</strong></span></h4>

<p>本系自87學年度起開辦申請入學，89學年度增辦推薦甄試入學，如今除大學聯考分發外，由上述多元化入學管道，入學者每年級各</p>

<p>約60人成一專班，且學習成效良好。今後仍繼續以考試分發、個人申請、學校推薦等多元方式吸收優秀學生進入本系就讀。另於90</p>

<p>學年度起轉型一班至進修教育學士班，以吸收優秀之在職人士進入本系就讀。學生在學期間，積極鼓勵並輔導學生參加相關之日語</p>

<p>能力檢定考試、大三出國留學、交換生甄試、赴日青年訪問團、青年之船活動等外，並為欲於國內外深造之同學舉行讀書會、留學</p>

<p>升學獎學金考試輔導及留學資訊服務等。大力推動國際交流之外，首創國內大三學生出國留學修讀學分制，98學年度有約75名學生</p>

<p>赴日進行一年之大三出國留學。另每年亦有日本早稻田、亞細亞、津田塾、中央學院、駒澤大學、青山學院等大學各提供數名交換</p>

<p>生員額供本校學生申請。且不定期舉辦「特別講座」，聘請國內外專家學者及企業相關人士主講，以增進學生對日本各領域之認識</p>

<p>與瞭解。</p>

<p>&nbsp;</p>

<h4><span style="color: rgb(235, 107, 86);"><strong>六、資源</strong></span></h4>

<p>結合教師、畢業系友之力量，與國內企業、日本在台企業、各大出版及社會熱心人士之贊助，為本系更新或增置教學、研究等相關</p>

<p>圖書設備、器材，未來仍積極努力爭取各項捐助，豐厚獎學基金，汰換教學設備，提供學生物心兩面之良好資源。</p>

<p>&nbsp;</p>

<h4><span style="color: rgb(235, 107, 86);"><strong>七、教育合作</strong></span></h4>

<p>除在既有基礎上加強與日文第二外語教學學校之合作關係外，並積極將觸角延伸，以期學生未來能擁有更多之實習機會選擇，並積</p>

<p>極協助本校之推廣教育教育班之教學及暑期研修團活動。</p>

<p>&nbsp;</p>

<h4><span style="color: rgb(235, 107, 86);"><strong>八、研究</strong></span></h4>

<p>繼續充實本系『淡江日本論叢』內容，提升研究水準，並朝國際期刊方向努力邁進。鼓勵教師積極發表研究論著，參與國內外之學</p>

<p>術會議，並將研究成果與其教學內容結合，達成研究教學一體化之理想目標。積極參與學者赴日短期研修、國內日語教育、日本研</p>

<p>究相關學會與國際各專門領域學會之活動，藉由該學術研究活動之參與提升研究質量。日後當積極申請相關研究獎助與研究計畫。</p>

<p>&nbsp;</p>

<h4><span style="color: rgb(235, 107, 86);"><strong>九、服務</strong></span></h4>

<p>繼續支持校內外日語推廣教育課程，並擴大參與社會服務層面。透過本系網路對畢業校友或社會人士提供各項日本最新之資訊服務。</p>

<p>積極投入社區大學中之相關教學、諮詢服務，以回饋社會。 透過企業參訪、企業說明會等，加強本系與日本在台企業間之互動聯繫，</p>

<p>除推薦優秀畢業生至日資企業工作，以滿足在台日資企業之求才需求外，並可為系友提供良好之就業、轉業之服務。</p>

<p>&nbsp;</p>

<h4><span style="color: rgb(235, 107, 86);"><strong>十、依本校國際化、資訊化、未來化政策，培育日語方面之專才</strong></span></h4>

<p>為達此一目標，除加強語文訓練，厚植學識基礎，質量並重地積極拓展大三出國留學員額外，並實施日文電腦文書處理專業課程訓練，</p>

<p>教導學生廣泛運用資訊，另本系不定時敦請外國學者前來參與國際性研討會，並邀請日本法政、經貿、社會、人文等相關領域之學者專</p>

<p>長前來作專題演講，議題上力求有助於未來發展為方針。與會內容以光碟媒體儲存並與刊載於網上，以利資訊傳輸與擷取。</p>