description = "個人資料蒐集、處理及利用告知聲明"
==
<?php
use Morelink\Web\Models\WebSetting;
function onStart(){
    $this['content'] = WebSetting::get("privacy_message");
}
?>
==
<!-- Modal -->
<div class="modal fade" id="privacy_modal" tabindex="-1" role="dialog" aria-labelledby="#privacy_title"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="privacy_title">個人資料蒐集、處理及利用告知聲明</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{content|md}}
      </div>
      <div class="text-center">
        <a class="btn btn-primary"  data-dismiss="modal" role="button">本人已閱讀並同意</a>
      </div>
    </div>
  </div>
</div>