<p><img src="/storage/app/media/Japanese/japanese department logo/logo-02.jpg" style="height:143px; width:150px" /></p>

<p><strong><span style="font-size:24px">創</span></strong>系達50餘載的淡江大學日本語文學系，在學校大力支持及本系教授們大力革新、積極作為之下，正朝向全新的方位邁進。特別是近年來在各大學積極設立日文系及應用日文系的風潮下，預期即將面臨更多的挑戰。</p>

<p><strong><span style="font-size:22px">因</span></strong>應於此，淡江大學日文系正適時適地地在各方面（諸如系務、師資、教學、研究等）多所調整、努力創新，以便在既有的基礎上保持優良的傳統，展現新的風貌，達成精質教育及培養符合國際化時代需求之優秀日語人才的目標。</p>

<p><strong><span style="font-size:22px">此</span></strong>外，近年來淡江大學日文系更藉由國際學術會議的召開與留學生的派遣，大力推動國際學術交流。一方面促進國際文化的相互理解，另一方面擴大國際視野，提昇本系的學術水準，大步邁向學術國際化的嶄新境界。</p>