<p><img src="/storage/app/media/Japanese/japanese department logo/logo-02.jpg" style="height:143px; width:150px" /><strong><span style="font-size:22px">話說淡水『淡水を旅しよう』</span></strong></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>
			<p style="text-align:center"><iframe align="middle" frameborder="0" height="189" scrolling="no" src="https://www.youtube.com/embed/As_OF5sbXhc" width="336"></iframe></p>

			<h1 style="text-align:center"><span style="font-size:14px">ch1歷史上的淡水</span></h1>

			<h1 style="text-align:center"><span style="font-size:14px">(日文版：淡水の歴史)</span></h1>
			</td>
			<td style="text-align:center">
			<p><iframe align="middle" frameborder="0" height="189" scrolling="no" src="https://www.youtube.com/embed/K-7OzwfyAiY" width="336"></iframe></p>

			<h1><span style="font-size:14px">ch2渡船頭</span></h1>

			<h1><span style="font-size:14px">(日文版：渡舟場)</span></h1>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
			<p><iframe align="middle" frameborder="0" height="189" scrolling="no" src="https://www.youtube.com/embed/X_mcRPJv0bw" width="336"></iframe></p>

			<h1><span style="font-size:14px">ch3紅毛城</span></h1>

			<h1><span style="font-size:14px">(日文版：紅毛城)</span></h1>
			</td>
			<td style="text-align:center">
			<p><iframe align="middle" frameborder="0" height="189" scrolling="no" src="https://www.youtube.com/embed/Q9wOQC9ln3Y" width="336"></iframe></p>

			<h1><span style="font-size:14px">Ch4 馬偕、教會、學校</span></h1>

			<h1><span style="font-size:14px">(日文版：マッケイ、教会、学校)</span></h1>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
			<p><iframe align="middle" frameborder="0" height="189" scrolling="no" src="https://www.youtube.com/embed/Kvjqbplv0Ro" width="336"></iframe></p>

			<h1><span style="font-size:14px">ch5觀音山</span></h1>

			<h1><span style="font-size:14px">(日文版：観音山)</span></h1>
			</td>
			<td style="text-align:center">
			<p><iframe align="middle" frameborder="0" height="189" scrolling="no" src="https://www.youtube.com/embed/h30g70il0og" width="336"></iframe></p>

			<h1><span style="font-size:14px">ch6 淡水河岸</span></h1>

			<h1><span style="font-size:14px">(日文版：淡水河岸)</span></h1>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
			<p><iframe align="middle" frameborder="0" height="189" scrolling="no" src="https://www.youtube.com/embed/gNCS_rC4B5U" width="336"></iframe></p>

			<h1><span style="font-size:14px">ch7淡水老街</span></h1>

			<h1><span style="font-size:14px">(日文版：淡水老街)</span></h1>
			</td>
			<td style="text-align:center">
			<p><iframe align="middle" frameborder="0" height="189" scrolling="no" src="https://www.youtube.com/embed/Cn4w6NdsMrk" width="336"></iframe></p>

			<h1><span style="font-size:14px">ch8殼牌倉庫</span></h1>

			<h1><span style="font-size:14px">(日文版：殼牌倉庫《シェル倉庫》)</span></h1>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
			<p><iframe align="middle" frameborder="0" height="189" scrolling="no" src="https://www.youtube.com/embed/8th4r9ZpfNQ" width="336"></iframe></p>

			<h1><span style="font-size:14px">ch9滬尾砲台</span></h1>

			<h1><span style="font-size:14px">(日文版：滬尾砲台)</span></h1>
			</td>
			<td style="text-align:center">
			<p><iframe align="middle" frameborder="0" height="189" scrolling="no" src="https://www.youtube.com/embed/pg2DOU46fwU" width="336"></iframe></p>

			<h1><span style="font-size:14px">ch10漁人碼頭</span></h1>

			<h1><span style="font-size:14px">(日文版：漁人ふ頭)</span></h1>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
			<p><iframe frameborder="0" height="189" scrolling="no" src="https://www.youtube.com/embed/6K61I3funOI" width="336"></iframe></p>

			<h1><span style="font-size:14px">ch11紅樹林</span></h1>

			<h1><span style="font-size:14px">(日文版：紅樹林)</span></h1>
			</td>
			<td style="text-align:center">
			<p><iframe align="middle" frameborder="0" height="189" scrolling="no" src="https://www.youtube.com/embed/e0a2es_qNiY" width="336"></iframe></p>

			<h1><span style="font-size:14px">ch12淡水小吃</span></h1>

			<h1><span style="font-size:14px">(日文版：淡水小吃)</span></h1>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
			<p><iframe align="middle" frameborder="0" height="189" scrolling="no" src="https://www.youtube.com/embed/3Q9RT7h1hec" width="336"></iframe></p>

			<h1><span style="font-size:14px">ch13淡水文藝</span></h1>

			<h1><span style="font-size:14px">(日文版：淡水における文化活動)</span></h1>
			</td>
			<td style="text-align:center">
			<p><iframe align="middle" frameborder="0" height="189" scrolling="no" src="https://www.youtube.com/embed/8vb2kBkAGyY" width="336"></iframe></p>

			<h1><span style="font-size:14px">ch14淡江大學</span></h1>

			<h1><span style="font-size:14px">(日文版：淡江大学)</span></h1>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
			<p><iframe align="middle" frameborder="0" height="189" scrolling="no" src="https://www.youtube.com/embed/UrVj3sNQTu0" width="336"></iframe></p>

			<p><span style="font-size:14px">ch15河岸自行車道</span></p>

			<h1><span style="font-size:14px">(日文版：河岸サイクリングロード)</span></h1>
			</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>