<p>&nbsp;</p>

<div><span style="font-size:14px"><u><strong>畢業學分相關規定</strong></u><br />
<br />
<strong>(以下為107學年度範例</strong></span><strong>)</strong></div>

<div><strong>(</strong><span style="font-size:14px"><strong>詳細規定請參見下載專區－課程資訊－各學年度入學新生必修科目表)</strong><br />
<br />
&diams;畢&nbsp;&nbsp;業&nbsp;&nbsp;學&nbsp;&nbsp;分&nbsp;&nbsp;數：128學分<br />
<br />
&diams;必&nbsp;&nbsp;修&nbsp;&nbsp;學&nbsp;&nbsp;分&nbsp;&nbsp;數：&nbsp;&nbsp;96學分<br />
<br />
&diams;本系選修課最低學分：16學分</span></div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div><strong><a id="1" name="1"></a>107學年度日間部新生入學必修科目</strong></div>

<div>&nbsp;</div>

<table border="1" cellpadding="0" cellspacing="0" style="line-height:normal; width:558px">
	<tbody>
		<tr>
			<td colspan="5" style="width:132px">
			<p>一年級</p>
			</td>
			<td colspan="5" style="width:132px">
			<p>二年級</p>
			</td>
			<td colspan="5" style="width:133px">
			<p>三年級</p>
			</td>
			<td colspan="5" style="width:133px">
			<p>四年級</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:52px">
			<p>科目名稱</p>
			</td>
			<td rowspan="2" style="width:13px">
			<p>專業組別</p>
			</td>
			<td rowspan="2" style="width:13px">
			<p>群別</p>
			</td>
			<td colspan="2" style="width:33px">
			<p>學分</p>
			</td>
			<td rowspan="2" style="width:52px">
			<p>科目名稱</p>
			</td>
			<td rowspan="2" style="width:13px">
			<p>專業組別</p>
			</td>
			<td rowspan="2" style="width:13px">
			<p>群別</p>
			</td>
			<td colspan="2" style="width:33px">
			<p>學分</p>
			</td>
			<td rowspan="2" style="width:53px">
			<p>科目名稱</p>
			</td>
			<td rowspan="2" style="width:13px">
			<p>專業組別</p>
			</td>
			<td rowspan="2" style="width:13px">
			<p>群別</p>
			</td>
			<td colspan="2" style="width:33px">
			<p>學分</p>
			</td>
			<td rowspan="2" style="width:53px">
			<p>科目名稱</p>
			</td>
			<td rowspan="2" style="width:13px">
			<p>專業組別</p>
			</td>
			<td rowspan="2" style="width:13px">
			<p>群別</p>
			</td>
			<td colspan="2" style="width:33px">
			<p>學分</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>上</p>
			</td>
			<td>
			<p>下</p>
			</td>
			<td>
			<p>上</p>
			</td>
			<td>
			<p>下</p>
			</td>
			<td>
			<p>上</p>
			</td>
			<td>
			<p>下</p>
			</td>
			<td style="width:13px">
			<p>上</p>
			</td>
			<td style="width:13px">
			<p>下</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>A0254<br />
			日語會話(一)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>A0178<br />
			日文習作(一)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>A0179<br />
			日文習作（二）</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>日語會話（四）學群</p>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>A0260<br />
			日語語言練習(一)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>1</p>
			</td>
			<td>
			<p>1</p>
			</td>
			<td>
			<p>A0255<br />
			日語會話(二)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>A0197<br />
			日本名著選讀(一)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>日本應用文學群</p>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>
			<p>2</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<p>A1376<br />
			中國語文能力表達</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>&nbsp;</td>
			<td>
			<p>A0261<br />
			日語語言練習(二)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>1</p>
			</td>
			<td>
			<p>1</p>
			</td>
			<td>
			<p>A0256<br />
			日語會話(三)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>畢業專題寫作與指導學群</p>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>
			<p>1</p>
			</td>
			<td>
			<p>1</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>F0799<br />
			初級日語讀本與語法</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>6</p>
			</td>
			<td>
			<p>6&nbsp;</p>
			</td>
			<td>
			<p>F0115<br />
			中級日語讀本</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>4</p>
			</td>
			<td>
			<p>4</p>
			</td>
			<td>
			<p>A0565<br />
			高級日語</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>商用日文習作學群</p>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>T0466<br />
			英文(一)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>F0116<br />
			中級日語語法</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>A0939<br />
			日文翻譯</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>T9607<br />
			校園與社區服務學習</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>T9812<br />
			男生體育(二)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>未來學</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>R</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>T9869<br />
			男、女生體育(一)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>T9912<br />
			女生體育(二)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>公民社會及參與</p>
			</td>
			<td>
			<p style="margin-left:-6pt">&nbsp;</p>
			</td>
			<td>
			<p>S</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>T9901<br />
			護理(一)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>X0006</p>

			<p>日語能力檢定</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>全球視野</p>
			</td>
			<td>
			<p style="margin-left:-6pt">&nbsp;</p>
			</td>
			<td>
			<p>T</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>U1002<br />
			全民國防教育軍事訓練(一)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>藝術欣賞與創作</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>M</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>哲學與宗教</p>
			</td>
			<td>
			<p style="margin-left:-6pt">&nbsp;</p>
			</td>
			<td>
			<p>V</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>X0001<br />
			英語能力檢定</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>外國語文</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>Q</p>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>課外活動與團隊發展</p>
			</td>
			<td>
			<p style="margin-left:-6pt">&nbsp;</p>
			</td>
			<td>
			<p>K</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>文學經典</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>L</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>學習與發展</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>N</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>資訊教育</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>O</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>歷史與文化</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>P</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>自然科學</p>
			</td>
			<td>
			<p style="margin-left:-6pt">&nbsp;</p>
			</td>
			<td>
			<p>U</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>社會分析</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>W</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>全球科技革命</p>
			</td>
			<td>
			<p style="margin-left:-6pt">&nbsp;</p>
			</td>
			<td>
			<p>Z</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<div><br />
【備&nbsp;&nbsp;註】<br />
1.各群（含學門）應修最低學分數：K－1、L－2、N－1、O－2、P－2、U－2、W－2、Z－2、M－2、Q－4、R－2、S－2、T－2、V－2</div>

<p>&nbsp;</p>

<p>2.通識教育課程：</p>

<p>（1）106學年度入學起必修26學分：人文（L、M、P、V）、社會（R、S、T、W）、科學（O、U、Z）各領域至少2學分，每學門至多修習2科4學分，共14學分；基本知能（K、N、Q、中國語文能力表達）共12學分。</p>

<p>（2）104～105學年度入學必修31學分：人文（L、M、P、V）、社會（R、S、T、W）、科學（O、U、Z）各領域至少2學門4學分、每學門至多修習2科4學分，共18學分；基本知能（K、N、Q、中國語文能力表達）共13學分。</p>

<div>（3）102～103學年度入學必修31學分：必修K、M、N、Q、R、T學門及中國語文能力表達；L、P、S、U、V、W學門依所屬學院6選3學門。</div>

<p>&nbsp;</p>

<div><br />
3.各年度日間部新生入學相關資料表請至<span style="font-size:24px"><a href="https://www.tfjx.tku.edu.tw/japanese/file/1068">下載區</a></span>下載

<p>&nbsp;</p>
</div>

<p>&nbsp;</p>

<p>&nbsp;</p>

<div><strong><a id="2" name="2"></a>大學部課程結構圖&nbsp; (各學年開課或有異動，以實際開課情形為準)</strong></div>

<p>&nbsp;</p>

<p><img alt="" src="http://www.tfjx.tku.edu.tw/img.php?img=106_019f258d.png&amp;dir=archive" style="border-image:none; border:0px currentColor; height:435px; width:580px" /><br />
&nbsp;</p>

<hr />
<p><img alt="" src="http://www.tfjx.tku.edu.tw/img.php?img=142_e9659d8a.png&amp;dir=archive" style="border-image:none; border:0px currentColor; height:435px; width:580px" /><br />
&nbsp;</p>

<hr />
<div><img alt="" src="http://www.tfjx.tku.edu.tw/img.php?img=143_a921dd6d.png&amp;dir=archive" style="border-image:none; border:0px currentColor; height:435px; width:580px" /></div>