<p><span style="font-size:18px"><u><strong>現階段日文系碩士班科目：</strong></u></span><br />
<br />
&diams;畢業學分：34學分（論文學分另計）<br />
<br />
&diams;必修科目：論文(0)<br />
<br />
&diams;選修科目：</p>

<p><br />
&nbsp;</p>

<p>&nbsp;</p>

<table cellpadding="5" cellspacing="0" style="width:100%">
	<thead>
		<tr>
			<th colspan="3">文學領域</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>文學研究方法導論(2)</td>
			<td>日本古典文學研究(2)</td>
			<td>日治時期文學研究(2)</td>
		</tr>
		<tr>
			<td>日本近現代小說專題(2)</td>
			<td>日本近現代小說研究(2)</td>
			<td>日本近代中之古典(2)</td>
		</tr>
		<tr>
			<td>比較文學概論 (2)</td>
			<td>日本古典文學與傳統文化(2)</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<table cellpadding="5" cellspacing="0" style="width:100%">
	<thead>
		<tr>
			<th colspan="3">語學領域</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>語學研究方法導論(2)</td>
			<td>日治時期語學研究(2)</td>
			<td>日本語言學研究(2)</td>
		</tr>
		<tr>
			<td>日語教授法研究(2)</td>
			<td>日本文章表現論(2)</td>
			<td>
			<p>第二語言習得研究(一)(二)(2)</p>
			</td>
		</tr>
		<tr>
			<td>日本語教育(2)</td>
			<td>日語相互行為研究(一)(二)(2)</td>
			<td>句法理論與日語研究方法(一)(二)(2)</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<table cellpadding="5" cellspacing="0" style="width:100%">
	<thead>
		<tr>
			<th colspan="3">文化領域</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>文化研究方法導論(2)</td>
			<td>日治時期文化研究(2)</td>
			<td>日本文化思想研究(2)</td>
		</tr>
		<tr>
			<td>臺日交流文化論(2)　</td>
			<td>日本近代化研究(2)</td>
			<td>幕末維新專題研究(2)</td>
		</tr>
		<tr>
			<td>日本近代教育史研究(2)</td>
			<td>日本近代化專書導讀(一)(二)(2)</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<table cellpadding="5" cellspacing="0" style="width:100%">
	<thead>
		<tr>
			<th colspan="3">其它</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>12年國教之台日交流學習(一)(二)(2)&nbsp; &nbsp; 　外語應用AI思維設計(一)(二)(2)</td>
			<td>翻譯理論(2)</td>
			<td>翻譯技巧論(2)</td>
		</tr>
	</tbody>
</table>

<p>　</p>

<p>&nbsp;</p>

<p><span style="font-size:18px"><strong>碩士班結構圖</strong></span></p>

<p>&nbsp;</p>

<p><img alt="109_349013d5.png" class="fr-dii fr-fic" src="http://www.tfjx.tku.edu.tw/files/archive/109_349013d5.png" style="height:592px; width:423px" /></p>

<p><br />
&nbsp;</p>

<p><span style="font-size:18px"><strong>碩士班課程地圖</strong></span></p>

<p><br />
&nbsp;<img alt="" class="fr-dii fr-fic" src="http://www.tfjx.tku.edu.tw/img.php?img=50_19497a7e.png&amp;dir=archive" style="height:798px; width:580px" /></p>