description = "學系新聞"
==
<?php
function onStart() {
    $this['newsmenu'] = $this['homeMenu']->children()->where("component_id",25)->first();
}
?>
==
<h2 class="index_title right_title">
    <span class="title_tw">校區位置</span>
    <span class="title_en">Map Location</span>
    <a href="#" class="more"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
</h2>
<div class="area_layout right_side">
    <div class="map_location">
        <img src='{{"assets/#{style}/images/location_01.png" |theme}}' alt="location_img">
        <p class="tab_more"><a href="#"><img src='{{"assets/#{style}/images/arrow_right.png" |theme}}' class="animated" alt="arrow_right">淡江大學 - 外國語文大樓</a></p>
        <p>25137  新北市淡水區英專路151號</p>
        <p>電話：(02)  2622 - 4593  劉育惠秘書</p>
        <p>傳真：(02)  2623 - 2924</p>
        <p class="tab_more"><a href="#"><img src='{{"assets/#{style}/images/arrow_right.png" |theme}}' class="animated" alt="arrow_right">地圖導航</a></p>
        <div class="map_layout">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.880075859478!2d121.44582292164823!3d25.173526878556057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aff88cdfea69%3A0x40adc63d62b9e736!2zMjUx5paw5YyX5biC5reh5rC05Y2A6Iux5bCI6LevMTUx6Jmf!5e0!3m2!1szh-TW!2stw!4v1509373639631" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>