description = "共用meta"
==
<link rel="apple-touch-icon" sizes="57x57" href="{{'assets/images/icon/apple-icon-57x57.png'|theme}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{'assets/images/icon/apple-icon-60x60.png'|theme}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{'assets/images/icon/apple-icon-72x72.png'|theme}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{'assets/images/icon/apple-icon-76x76.png'|theme}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{'assets/images/icon/apple-icon-114x114.png'|theme}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{'assets/images/icon/apple-icon-120x120.png'|theme}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{'assets/images/icon/apple-icon-152x152.png'|theme}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{'assets/images/icon/apple-icon-180x180.png'|theme}}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{'assets/images/icon/android-icon-192x192.png'|theme}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{'assets/images/icon/favicon-32x32.png'|theme}}">
<link rel="icon" type="image/png" sizes="96x96" href="{{'assets/images/icon/favicon-96x96.png'|theme}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{'assets/images/icon/favicon-16x16.png'|theme}}">
<link rel="shortcut icon" href="{{'assets/images/icon/favicon.ico'|theme}}" type="image/x-icon">
<link rel="icon" href="{{'assets/images/icon/favicon.ico'|theme}}" type="image/x-icon">
<link rel="manifest" href="{{'assets/images/icon/manifest.json'|theme}}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="{{site.default_meta_description}}">
<meta name="title" content="{{site.title}}">
<meta name="author" content="墨林設計顧問股份有限公司 MoreLink Design & Consultant Service Co., Ltd.">
<meta name='keywords' content='{{site.default_meta_keyword}}'>
<meta name='copyright' content='{{site.title}}'>
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{'assets/images/icon/ms-icon-144x144.png'|theme}}">
<meta name="theme-color" content="#ffffff">
<meta property="og:title" content="{{ title }}" />
<meta property="og:image" content="{{site.banner.path}}" />