description = "共用topbar"
==
<div class="container">
                <div class="top_contact">
                    <img src='{{"assets/#{style}/images/icon_phone.png" |theme}}' alt="icon_phone">
                    <span>電話 {{contact.telephone}}</span>
                    <span>傳真 {{contact.fax}}</span>
                </div>
                <form action="https://www.google.com/search" rel="noopener noreferre" target="_blank" id="search" method="get">
                    <div class="input-group">
                        <input type="hidden" name="sitesearch" value="url">
                        <input type="text" id="s" class="form-control" name="q" placeholder="請輸入您欲搜尋的關鍵字" onfocus="if(this.value==this.defaultValue)this.value='';" value="請輸入您欲搜尋的關鍵字" onblur="if(this.value=='')this.value=this.defaultValue;" vinput="">
                        <span class="input-group-btn">
                            <button class="btn btn-default search_btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </form>
                <a href="javascript:void(0)" class="pull_btn"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            </div>
