description = "網站導覽"
==
<?php
use Morelink\Builder\Models\Unit;
use Morelink\Web\Models\SiteMenu;
use Morelink\Web\Models\UnitSite;
function onStart() {

    $unit = Unit::where('domain','language')->get()->first();
    $locale = input("lang",'zh-tw');
    $siteList = $unit->sites->where("locale",$locale);
    $site = $siteList->isEmpty() ? $unit->sites->first(): $siteList->first();
    $homeMenu = $site->rootMenu;
    $currentMenu = $homeMenu;

    $this['unit_sites'] = $unit->sites->reject(function($item)use($site){
        return $item->id == $site->id;
    });


    $this['site'] = $site;
    $this['homeMenu'] = $homeMenu;

    $this['locale'] = $site->locale;
    $this['layout_folder'] = $site->style->layout;
    $this['style'] = $site->style->folder_name;
}
?>
==
<!doctype html>
<html lang="{{locale}}">

{% partial layout_folder ~ '/head'%}

<body>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    
    {% partial layout_folder ~ '/header'%}
    
    <section class="main_block clearfix">
        <div class="container pt_20 pb_40">
            <div class="row">
                <div class="col-md-12">
                    {% partial 'breadcrumb' parents=current.parents%}
                </div>
                <div class="col-md-3">
                    {% partial 'sidemenu' menu = homeMenu%}
                </div>
                <div id="rndbox_body" class="col-md-9">
                    {%page%}
                </div>
            </div>
        </div>
    </section>
    
    {% partial layout_folder ~ '/footer'%}
</body>
</html>