<p><strong>德文輔系修讀學分一覽表</strong></p>

<p>
	<br>
</p>

<table cellspacing="0" cellpadding="0" border="1">
	<tbody>
		<tr>
			<td valign="top" width="187">

				<p align="center">科　目　名　稱</p>
			</td>
			<td valign="top" width="114">

				<p align="center">開課年級</p>
			</td>
			<td valign="top" width="196">

				<p align="center">學分數　×　學期數</p>
			</td>
			<td valign="top" width="193">

				<p align="center">每週上課時數</p>
			</td>
		</tr>
		<tr>
			<td valign="top" width="187">德語語言練習（一）
				<br>
			</td>
			<td valign="top" width="114">

				<p align="center">德文一</p>
			</td>
			<td valign="top" width="196">

				<p align="center"><strong>2</strong>　×　2</p>
			</td>
			<td valign="top" width="193">

				<p align="center"><strong><u>4</u></strong>（包含2小時實習課）</p>
			</td>
		</tr>
		<tr>
			<td valign="top" width="187">初級德文（文法）
				<br>
			</td>
			<td valign="top" width="114">

				<p align="center">德文一</p>
			</td>
			<td valign="top" width="196">

				<p align="center">4　×　2</p>
			</td>
			<td valign="top" width="193">

				<p align="center">4</p>
			</td>
		</tr>
		<tr>
			<td valign="top" width="187">初級德文（讀本）
				<br>
			</td>
			<td valign="top" width="114">

				<p align="center">德文一</p>
			</td>
			<td valign="top" width="196">

				<p align="center">4　×　2</p>
			</td>
			<td valign="top" width="193">

				<p align="center">4</p>
			</td>
		</tr>
		<tr>
			<td valign="top" width="187">德語會話（一）
				<br>
			</td>
			<td valign="top" width="114">

				<p align="center">德文一</p>
			</td>
			<td valign="top" width="196">

				<p align="center">4　×　2</p>
			</td>
			<td valign="top" width="193">

				<p align="center">4</p>
			</td>
		</tr>
		<tr>
			<td valign="top" width="187">　學分總計
				<br>
			</td>
			<td colspan="3" valign="top" width="503">

				<p align="center"><strong>28</strong></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;&nbsp;</p>