<table align="left" border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td valign="top" width="333"><strong>Duden&nbsp;</strong>
				<br>
			</td>
			<td valign="top" width="639"><strong><a href="http://www.duden.de/"></a><a href="http://www.duden.de/">http://www.duden.de/</a></strong>
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="333"><strong>Context Reverso&nbsp;</strong><strong>語料庫字典</strong>
				<br>
			</td>
			<td valign="top" width="639">
				<a href="http://context.reverso.net/%C3%BCbersetzung/"></a><a href="http://context.reverso.net/%C3%BCbersetzung/">http://context.reverso.net/%C3%BCbersetzung/</a>
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="333"><strong>英文語料庫字典(只是好用推薦一下)</strong>
				<br>
			</td>
			<td valign="top" width="639">
				<a href="https://corpus.byu.edu/coca/"></a><a href="https://corpus.byu.edu/coca/">https://corpus.byu.edu/coca/</a>
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="333"><strong>Forvo&nbsp;</strong><strong>發音字典(單字、句型、多人發音)</strong>
				<br>
			</td>
			<td valign="top" width="639">
				<a href="https://forvo.com/languages/de/"></a><a href="https://forvo.com/languages/de/">https://forvo.com/languages/de/</a>
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="333"><strong>Deutsch-Englisch Wörterbuch</strong>
				<br>
			</td>
			<td valign="top" width="639">
				<a href="https://www.dict.cc/"></a><a href="https://www.dict.cc/">https://www.dict.cc/</a>
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="333"><strong>Wörterbuch.info (</strong><strong>德音字典、同意字字典)</strong>
				<br>
			</td>
			<td valign="top" width="639">
				<a href="http://www.woerterbuch.info/"></a><a href="http://www.woerterbuch.info/">http://www.woerterbuch.info/</a>
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="333"><strong>Wortbedeutung.info (</strong><strong>詳細而全方位的字典)</strong>
				<br>
			</td>
			<td valign="top" width="639"><a href="http://www.wortbedeutung.info/arbeiten/">http://www.wortbedeutung.info/arbeiten/</a>
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="333"><strong>open Thesaurus.de (</strong><strong>含詳細解說之同意字字典)</strong>
				<br>
			</td>
			<td valign="top" width="639">
				<a href="https://www.openthesaurus.de/synonyme/arbeiten"></a><a href="https://www.openthesaurus.de/synonyme/arbeiten">https://www.openthesaurus.de/synonyme/arbeiten</a>
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="333"><strong>Verben konjugieren&nbsp;</strong><strong>動詞變化字典</strong>
				<br>
			</td>
			<td valign="top" width="639">
				<a href="http://www.die-konjugation.de/verb/essen.php"></a><a href="http://www.die-konjugation.de/verb/essen.php">http://www.die-konjugation.de/verb/essen.php</a>
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="333"><strong>Babla&nbsp;</strong><strong>德英字典</strong><strong>(</strong><strong>例句/發音/ 綜合字典)</strong>
				<br>
			</td>
			<td valign="top" width="639">
				<a href="https://en.bab.la/"></a><a href="https://en.bab.la/">https://en.bab.la/</a>
				<br>
			</td>
		</tr>
	</tbody>
</table>