<p>
	<br>
</p>

<p style="text-align: right;"><img src="http://163.13.100.122/storage/app/media/uploaded-files/-%E7%B6%B2%E9%A0%81%E7%94%A8.png" style="width: 600px; height: 750px;" class="fr-fic fr-dib" data-result="success"></p>

<p style="text-align: right;">
	<br>
</p>