<p>2019以文淑世：人類紀中的醫療人文 春季讀書會場次表</p>

<p>
	<br>
</p>

<table align="center" border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td><span>場次</span>
				<br>
			</td>
			<td>日期
				<br>
			</td>
			<td><span>導讀人</span>
				<br>
			</td>
			<td>主持人
				<br>
			</td>
			<td><span>導讀專書</span>
				<br>
			</td>
			<td>導讀地點
				<br>
			</td>
		</tr>
		<tr>
			<td><span>1.</span>
				<br>
			</td>
			<td>3/2 (Sat.)
				<br><span>14:00-16:00</span>
				<br>
			</td>
			<td>邱大昕
				<br><span>（高雄醫學大學醫學社會學與社會工作學系教授）</span>
				<br>
			</td>
			<td>蔡振興
				<br><span>(淡江大學英文系教授)</span>
				<br>
				<br>
				<br>郭欣茹
				<br><span>(中國醫藥大學通識教育中心副教授)</span>
				<br>
			</td>
			<td>Paul K. Longmore,<em>&nbsp;Why I Burned My Book and Other Essays on Disability</em> (Temple UP, 2003).
				<br>
			</td>
			<td><span>淡江大學</span>
				<br>台北校區
				<br><span>D402</span>
				<br>
			</td>
		</tr>
		<tr>
			<td>2.
				<br>
			</td>
			<td><span>3/16(Sat.)</span>
				<br>14:00-16:00
				<br>
			</td>
			<td><span>李尚仁</span>
				<br>(中央研究院歷史語言研究所研究員)
				<br>
			</td>
			<td><span>李有成</span>
				<br>(中央研究院歐美研究所研究員)
				<br>
			</td>
			<td><span>哈利．柯林斯、崔佛．平區，《科倫醫師吐真言：醫學爭議教我們的二三事》 (左岸文化出版社，2016 )</span>
				<br>
			</td>
			<td>淡江大學
				<br><span>台北校區</span>
				<br>D402
				<br>
			</td>
		</tr>
		<tr>
			<td><span>3.</span>
				<br>
			</td>
			<td>4/27(Sat.)
				<br><span>14:00-16:00</span>
				<br>
			</td>
			<td>孫小玉
				<br><span>(中山大學外文系教授)</span>
				<br>
			</td>
			<td>邱大昕
				<br><span>(高雄醫學大學醫學社會學與社會工作學系教授)</span>
				<br>
			</td>
			<td>Bree Hadley, <em>Disability, Public Space Performance and Spectatorship: Unconscious Performers</em> (Palgrave Macmillan, 2014).
				<br>
			</td>
			<td><span>書林書店</span>
				<br>
			</td>
		</tr>
		<tr>
			<td>4.
				<br>
			</td>
			<td><span>5/11(Sat.)</span>
				<br>14:00-16:00
				<br>
			</td>
			<td><span>陳重仁</span>
				<br>(台大外文副教授)
				<br>
			</td>
			<td><span>李尚仁</span>
				<br>(中央研究院歷史語言研究所研究員)
				<br>
			</td>
			<td><span>Canguilhem, Georges. <em>Writings on Medicine. Trans. Stefanos Geroulanous and Todd Meyers</em>. (Fordham UP, 2012).&nbsp;</span>
				<br>
			</td>
			<td>書林書店
				<br>
			</td>
		</tr>
		<tr>
			<td><span>5.</span>
				<br>
			</td>
			<td>5/25(Sat.)
				<br><span>14:00-16:00</span>
				<br>
			</td>
			<td>傅大為
				<br><span>(陽明STS所教授)</span>
				<br>
			</td>
			<td>孫小玉
				<br><span>(中山大學外文系教授)</span>
				<br>
			</td>
			<td>傅大為，《STS 的緣起與建構：橫看近代科學的一種編織與打造》
				<br>
			</td>
			<td><span>書林書店</span>
				<br>
			</td>
		</tr>
		<tr>
			<td>6.
				<br>
			</td>
			<td><span>9/21(Sat.)</span>
				<br>14:00-16:00
				<br>
			</td>
			<td><span>林建光</span>
				<br>(中興大學外文系副教授)
				<br>
			</td>
			<td><span>張瓊惠</span>
				<br>(台師大英語系教授)
				<br>
			</td>
			<td><span>Smith, Marquard, and Joanne Morra, eds. <em>The Prosthetic Impulse: From a Posthuman Present to a Biocultural Future</em>. (s.: The MIT P, 2006)</span>
				<br>
			</td>
			<td>書林書店
				<br>
			</td>
		</tr>
		<tr>
			<td><span>7.</span>
				<br>
			</td>
			<td>9/28(Sat.)
				<br><span>14:00-16:00</span>
				<br>
			</td>
			<td>張瓊惠
				<br><span>(台師大英語系教授)</span>
				<br>
			</td>
			<td>蔡振興
				<br><span>(淡江英文系教授)</span>
				<br>
			</td>
			<td>摸不著頭腦嗎?—讀Catherine Malabou 的 <em>What Should We Do with Our Brain.</em>
				<br>
			</td>
			<td><span>書林書店</span>
				<br>
			</td>
		</tr>
		<tr>
			<td>8.
				<br>
			</td>
			<td><span>10/5(Sat.)</span>
				<br>14:00-16:00
				<br>
			</td>
			<td><span>蔡振興</span>
				<br>(淡江英文系教授)
				<br>
			</td>
			<td><span>郭欣茹</span>
				<br>(中國醫藥大學通識教育中心副教授)
				<br>
			</td>
			<td><span>Bellacasa, Maria Puig de la. <em>Matters of Care: Speculative Ethics in More than Human Worlds</em>. Minneapolis: U of Minnesota P, 2017.</span>
				<br>
			</td>
			<td>淡江大學
				<br><span>淡水校區</span>
				<br>
			</td>
		</tr>
		<tr>
			<td>9.
				<br>
			</td>
			<td><span>10/19(Sat.)</span>
				<br>10:00-12:00
				<br>
			</td>
			<td><span>馮品佳</span>
				<br>(交大外文系講座教授)
				<br>
			</td>
			<td><span>王穎</span>
				<br>(國立成功大學外文系副教授)
				<br>
			</td>
			<td><span>Sari Altschuler, <em>The Medical Imagination: Literature and Health in the Early United States</em> (U of Pennsylvania P, 2018)&nbsp;</span>
				<br>
			</td>
			<td>書林書店
				<br>
			</td>
		</tr>
	</tbody>
</table>

<p>
	<br>
</p>