<p>馮品佳／蔡振興</p>

<p>引言﹕人類紀中的醫學人文</p>

<p>從語言的優先性翻轉到本體論思考的新方向時，有關｢身體｣（The Body）的論述在人類紀的時代越顯重要，它是醫學、科技、政治和與人文思想的匯流。晚近，醫療人文的冒現，更讓文學、醫學和生命科學有跨域整合的可能性。醫療人文為醫學教育的一環，具有高度前瞻性的研究議題。本讀書會計畫企圖從文學研究的角度切入醫療人文研究，以跳脫醫學教育的框架，讓人文研究在醫療人文研究的未來發展中掌握主動發言的位置，賦予文學研究的淑世功能一個新的立足點，開發台灣文學研究學者與全球學術對話的新渠道。以往文學研究學者參與醫療人文研究大多探討文學如何再現疾病以及疾病如何作為外在社會環境之隱喻等主題，近年來也日益重視失能研究(disability studies)，或是敘事醫學(narrative medicine)以及醫護人員與病人的生命書寫(life writing)研究。敘事醫學在醫學教育中屬於專業訓練的一環，主要是要教導醫療專業人員聆聽病患、理解病患的方法。生命書寫則拓展了敘事醫學研究，加入自傳／傳記研究(auto/biography research)的深度。然而就目前的研究現況而言，文學研究在醫療人文研究中的發展仍受到相當之侷限，不但需要更多學者加入研究行列，也需要從批判理論與社會實踐等等面向，更積極介入與開創醫療人文研究領域的新路徑。此外，在本研究中，人與非人的關係越顯重要；因此，我們也特別邀請陽明大學科技與社會研究的醫學研究團隊加入讀書會陣容，讓醫學人文的讀書會更有醫學和社會學的特色，做到真正跨領域研究的特色。</p>

<p><strong>2019以文淑世：人類紀中的醫療人文 春季讀書會場次表</strong></p>

<table border="1" cellpadding="0" cellspacing="0" width="702">
	<tbody>
		<tr>
			<td width="36">

				<p align="center" style="text-align: center;">場次</p>
			</td>
			<td width="94">

				<p align="center" style="text-align: center;">日期</p>
			</td>
			<td width="113">

				<p align="center" style="text-align: center;">導讀人</p>
			</td>
			<td width="151">

				<p align="center" style="text-align: center;">主持人</p>
			</td>
			<td width="203">

				<p align="center" style="text-align: center;">導讀專書</p>
			</td>
			<td width="105">

				<p align="center" style="text-align: center;">導讀地點</p>
			</td>
		</tr>
		<tr>
			<td width="36">

				<p style="text-align: center;">1.</p>
			</td>
			<td width="94">
				<div style="text-align: center;">3/2 (Sat.)</div>
				<div style="text-align: center;">14:00-16:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">邱大昕</div>
				<div style="text-align: center;">（高雄醫學大學醫學社會學與社會工作學系教授）</div>
			</td>
			<td width="151">
				<div style="text-align: center;">蔡振興</div>
				<div style="text-align: center;">(淡江大學英文系教授)</div>
				<div style="text-align: center;">郭欣茹</div>
				<div style="text-align: center;">(中國醫藥大學通識教育中心副教授)</div>
			</td>
			<td valign="top" width="203">
				<div style="text-align: center;">Paul K. Longmore,<em>&nbsp;Why I Burned My Book and Other Essays on Disability</em> (Temple UP, 2003).</div>
			</td>
			<td width="105">

				<p align="center" style="text-align: center;">淡江大學</p>

				<p align="center" style="text-align: center;">台北校區</p>
			</td>
		</tr>
		<tr>
			<td width="36">
				<div data-empty="true" style="text-align: center;">2.</div>
			</td>
			<td width="94">
				<div style="text-align: center;">3/16(Sat.)</div>
				<div style="text-align: center;">14:00-16:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">李尚仁</div>
				<div style="text-align: center;">(中央研究院歷史語言研究所副研究員)</div>
			</td>
			<td width="151">
				<div style="text-align: center;">李有成</div>
				<div style="text-align: center;">(中央研究院歐美研究所研究員)</div>
			</td>
			<td valign="top" width="203">
				<div style="text-align: center;">哈利．柯林斯、崔佛．平區，《科倫醫師吐真言：醫學爭議教我們的二三事》 (左岸文化出版社，2016 )</div>
			</td>
			<td width="105">

				<p align="center" style="text-align: center;">淡江大學</p>

				<p align="center" style="text-align: center;">台北校區</p>
			</td>
		</tr>
		<tr>
			<td width="36">
				<div data-empty="true" style="text-align: center;">3.</div>
			</td>
			<td width="94">
				<div style="text-align: center;">4/27(Sat.)</div>
				<div style="text-align: center;">14:00-16:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">孫小玉</div>
				<div style="text-align: center;">(中山大學外文系教授)</div>
			</td>
			<td width="151">
				<div style="text-align: center;">邱大昕</div>
				<div style="text-align: center;">(高雄醫學大學醫學社會學與社會工作學系教授)</div>
			</td>
			<td valign="top" width="203">
				<div style="text-align: center;">Bree Hadley, <em>Disability, Public Space Performance and Spectatorship: Unconscious Performers</em> (Palgrave Macmillan, 2014).</div>
			</td>
			<td width="105">

				<p align="center" style="text-align: center;">書林書店</p>
			</td>
		</tr>
		<tr>
			<td width="36">
				<div data-empty="true" style="text-align: center;">4.</div>
			</td>
			<td width="94">
				<div style="text-align: center;">5/11(Sat.)</div>
				<div style="text-align: center;">14:00-16:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">陳重仁</div>
				<div style="text-align: center;">(台大外文副教授)</div>
			</td>
			<td width="151">
				<div style="text-align: center;">李尚仁</div>
				<div style="text-align: center;">(中央研究院歷史語言研究所副研究員)</div>
			</td>
			<td valign="top" width="203">
				<div style="text-align: center;">Canguilhem, Georges. <em>Writings on Medicine. Trans. Stefanos Geroulanous and Todd Meyers</em>. (Fordham UP, 2012).&nbsp;</div>
			</td>
			<td width="105">

				<p align="center" style="text-align: center;">書林書店</p>
			</td>
		</tr>
		<tr>
			<td width="36">
				<div data-empty="true" style="text-align: center;">5.</div>
			</td>
			<td width="94">
				<div style="text-align: center;">5/25(Sat.)</div>
				<div style="text-align: center;">14:00-16:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">傅大為</div>
				<div style="text-align: center;">(陽明STS所教授)</div>
			</td>
			<td width="151">
				<div style="text-align: center;">孫小玉</div>
				<div style="text-align: center;">(中山大學外文系教授)</div>
			</td>
			<td valign="top" width="203">
				<div style="text-align: center;">傅大為，《STS 的緣起與建構：橫看近代科學的一種編織與打造》</div>
			</td>
			<td width="105">

				<p align="center" style="text-align: center;">書林書店</p>
			</td>
		</tr>
		<tr>
			<td width="36">
				<div data-empty="true" style="text-align: center;">6.</div>
			</td>
			<td width="94">
				<div style="text-align: center;">9/21(Sat.)</div>
				<div style="text-align: center;">14:00-16:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">林建光</div>
				<div style="text-align: center;">(中興大學外文系副教授)</div>
			</td>
			<td width="151">
				<div style="text-align: center;">張瓊惠</div>
				<div style="text-align: center;">(台師大英語系教授)</div>
			</td>
			<td valign="top" width="203">
				<div style="text-align: center;">Smith, Marquard, and Joanne Morra, eds. <em>The Prosthetic Impulse: From a Posthuman Present to a Biocultural Future</em>. (s.: The MIT P, 2006)</div>
			</td>
			<td width="105">

				<p align="center" style="text-align: center;">書林書店</p>
			</td>
		</tr>
		<tr>
			<td width="36">
				<div data-empty="true" style="text-align: center;">7.</div>
			</td>
			<td width="94">
				<div style="text-align: center;">9/28(Sat.)</div>
				<div style="text-align: center;">14:00-16:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">張瓊惠</div>
				<div style="text-align: center;">(台師大英語系教授)</div>
			</td>
			<td width="151">
				<div style="text-align: center;">蔡振興</div>
				<div style="text-align: center;">(淡江英文系教授)</div>
			</td>
			<td valign="top" width="203">
				<div style="text-align: center;">摸不著頭腦嗎?—讀Catherine Malabou 的 <em>What Should We Do with Our Brain.</em></div>
			</td>
			<td width="105">

				<p align="center" style="text-align: center;">書林書店</p>
			</td>
		</tr>
		<tr>
			<td width="36">
				<div data-empty="true" style="text-align: center;">8.</div>
			</td>
			<td width="94">
				<div style="text-align: center;">10/5(Sat.)</div>
				<div style="text-align: center;">14:00-16:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">蔡振興</div>
				<div style="text-align: center;">(淡江英文系教授)</div>
			</td>
			<td width="151">
				<div style="text-align: center;">郭欣茹</div>
				<div style="text-align: center;">(中國醫藥大學通識教育中心副教授)</div>
			</td>
			<td valign="top" width="203">
				<div style="text-align: center;">Bellacasa, Maria Puig de la. <em>Matters of Care: Speculative Ethics in More than Human Worlds</em>. Minneapolis: U of Minnesota P, 2017.</div>
			</td>
			<td width="105">

				<p align="center" style="text-align: center;">淡江大學</p>

				<p align="center" style="text-align: center;">淡水校區</p>
			</td>
		</tr>
		<tr>
			<td width="36">
				<div data-empty="true" style="text-align: center;">9.</div>
			</td>
			<td width="94">
				<div style="text-align: center;">10/19(Sat.)</div>
				<div style="text-align: center;">10:00-12:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">馮品佳</div>
				<div style="text-align: center;">(交大外文系講座教授)</div>
			</td>
			<td width="151">
				<div style="text-align: center;">王穎</div>
				<div style="text-align: center;">(國立成功大學外文系副教授)</div>
			</td>
			<td valign="top" width="203">
				<div style="text-align: center;">Sari Altschuler, <em>The Medical Imagination: Literature and Health in the Early United States</em> (U of Pennsylvania P, 2018)&nbsp;</div>
			</td>
			<td width="105">

				<p align="center" style="text-align: center;">書林書店</p>
			</td>
		</tr>
	</tbody>
</table>

<p style="text-align: center;">
	<br>
</p>