<p><img class="fr-dib fr-fic" src="http://163.13.100.122/storage/app/media/English/Mina/cropped-images/%E4%BA%BA%E9%A1%9E%E7%B4%80%E4%B8%AD%E7%9A%84%E9%86%AB%E7%99%82%E4%BA%BA%E6%96%87%E9%86%AB%E7%99%82%E4%BA%BA%E6%96%87%E8%AE%80%E6%9B%B8%E6%9C%83%E7%AC%AC%E4%BA%8C%E5%A0%B4-0-0-0-0-1553178419.jpg" style="width:500px"></p>

<p>人類紀中的醫療人文 系列讀書會第二場</p>

<p>導讀人：李尚仁 (中研院歷史語言研究所研究員)</p>

<p>導讀書籍：哈利‧柯林斯、崔佛‧平區，《科倫醫師吐真言：醫學爭議教我們的二三事》(左岸，2016)</p>

<p>主持人：李有成 (中研院歐美所研究員)</p>

<p>日期：2019年3月16日(六) 14:00~16:00</p>

<p>地點：淡江大學台北校區D402 (台北市金華街199巷5號☆捷運東門站 5 號出口 步行約 5 分鐘)</p>

<p>線上報名： <a href="https://goo.gl/forms/JZUJyVmk1BMybjgI3">https://goo.gl/forms/JZUJyVmk1BMybjgI3</a></p>

<p>主辦單位：科技部、交通大學外文系、淡江大學英文系</p>

<p>&nbsp;</p>