<p><span style="font-size:18px"><strong><span style="color:#0000ff">大眾運輸</span></strong></span></p>

<p><span style="font-size:14px">台北捷運MRT至</span><span style="color:#0000cd"><span style="font-size:14px">淡水</span></span><span style="font-size:14px">站，轉乘公車或計程車(約5-8分鐘車程)至</span><span style="color:#ff0000"><span style="font-size:14px">淡江大學</span></span><span style="font-size:14px">。</span></p>

<p>公車路線：紅27或紅28 皆可抵達校園內</p>

<p><a href="http://www.tku.edu.tw/doc/busR_27_28.pdf">http://www.tku.edu.tw/doc/busR_27_28.pdf</a>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="color:#0000ff"><span style="font-size:18px"><strong>自行開車路線</strong></span></span></p>

<p><a href="http://www.tku.edu.tw/images/map//tamsui_freeway.pdf">http://www.tku.edu.tw/images/map//tamsui_freeway.pdf</a></p>

<p>&nbsp;</p>

<p><span style="color:#0000ff"><span style="font-size:18px"><strong>走路散步微爬山路線</strong></span></span></p>

<p><a href="http://www.tku.edu.tw/images/map/tamsui_roadmap.pdf">http://www.tku.edu.tw/images/map/tamsui_roadmap.pdf</a></p>

<p>&nbsp;</p>

<p><span style="color:#0000ff"><span style="font-size:18px"><strong>校內平面圖</strong></span></span></p>

<p><a href="http://www2.tku.edu.tw/~ag/agftp/GG02_107.pdf">http://www2.tku.edu.tw/~ag/agftp/GG02_107.pdf</a></p>

<p><img src="http://163.13.100.122/storage/app/media/English/Mina/IMH%202019/cropped-images/PAAL2016_9491-0-0-0-0-1553863241.jpg" /></p>

<p dir="rtl">&nbsp;</p>