<p><img class="fr-dib fr-fic" src="http://163.13.100.122/storage/app/media/%E4%BA%BA%E9%A1%9E%E7%B4%80%E4%B8%AD%E7%9A%84%E9%86%AB%E7%99%82%E4%BA%BA%E6%96%87%E9%86%AB%E7%99%82%E4%BA%BA%E6%96%87%E8%AE%80%E6%9B%B8%E6%9C%83%E7%AC%AC%E4%B8%80%E5%A0%B4.jpg" style="width:500px"></p>

<p>人類紀中的醫療人文 系列讀書會第一場</p>

<p>導讀人：邱大昕 (高醫大醫學社會學與社會工作學系教授)</p>

<p>導讀書籍：Paul K. Longmore, Why I Burned My Book and Other Essays on Disability (Temple UP, 2003)</p>

<p>主持人： 蔡振興 (淡江大學英文系教授) 郭欣茹 (中國醫藥大學通識教育中心副教授)</p>

<p>日期：2019年3月2日(六) 14:00~16:00 地點：淡江大學台北校區D402 (台北市金華街199巷5號☆捷運東門站 5 號出口步行約 5 分鐘)</p>

<p>線上報名： <a href="https://goo.gl/forms/bRd7zVxWMAqlUPk43">https://goo.gl/forms/bRd7zVxWMAqlUPk43</a></p>

<p>主辦單位：科技部、交通大學外文系、淡江大學英文系</p>