<p><img src="http://163.13.100.122/storage/app/media/English/Mina/cropped-images/%E4%BA%BA%E9%A1%9E%E7%B4%80%E4%B8%AD%E7%9A%84%E9%86%AB%E7%99%82%E4%BA%BA%E6%96%87%E9%86%AB%E7%99%82%E4%BA%BA%E6%96%87%E8%AE%80%E6%9B%B8%E6%9C%83%E7%AC%AC%E4%B8%89%E5%A0%B4-0-0-0-0-1553836369.jpg" /></p>

<p>人類紀中的醫療人文 系列讀書會第三場</p>

<p>導讀人：孫小玉&nbsp;(中山大學外文系教授)</p>

<p>導讀書籍：Bree Hadley, Disability, Public Space Performance and Spectatorship: Unconscious Performers (Palgrave Macmillan, 2014)&nbsp;</p>

<p>主持人：邱大昕&nbsp;(高雄醫學大學醫學社會學與社會工作學系教授)</p>

<p>日期：2019年4月27日(六) 14:00~16:00</p>

<p>地點：台北書林書店 台北市新生南路三段88號2樓之5(麥當勞樓上)</p>

<p>線上報名：<a href="https://forms.gle/VExJUy4LuAL5UQas9">https://forms.gle/VExJUy4LuAL5UQas9</a></p>

<p>主辦單位：科技部、交通大學外文系、淡江大學英文系</p>