<p>研習營正式議程已可提供檢閱：</p>

<p>IMH 2019 Program is available now:</p>

<p><a href="http://163.13.100.122/storage/app/media/English/Mina/IMH%202019/2019IMH%20Program.pdf">2019IMH Program.pdf</a>&nbsp;</p>

<p>&nbsp;</p>