<p>2019以文淑世：人類紀中的醫療人文 春季讀書會場次表</p>

<table border="1" cellpadding="0" cellspacing="0" style="margin-right: calc(55%); width: 44%; margin-left: calc(1%);" width="702">
	<tbody>
		<tr>
			<td width="36">
				<div style="text-align: center;">場次</div>
			</td>
			<td width="94">
				<div style="text-align: center;">日期</div>
			</td>
			<td width="113">
				<div style="text-align: center;">導讀人</div>
			</td>
			<td width="151">
				<div style="text-align: center;">主持人</div>
			</td>
			<td style="width: 31.6239%;" width="203">
				<div style="text-align: center;">導讀專書</div>
			</td>
			<td style="width: 12.2507%;" width="105">
				<div style="text-align: center;">導讀地點</div>
			</td>
		</tr>
		<tr>
			<td width="36">
				<div style="text-align: center;">1.</div>
			</td>
			<td width="94">
				<div style="text-align: center;">3/2 (Sat.)</div>
				<div style="text-align: center;">14:00-16:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">邱大昕</div>
				<div style="text-align: center;">（高雄醫學大學醫學社會學與社會工作學系教授）</div>
			</td>
			<td width="151">
				<div style="text-align: center;">蔡振興</div>
				<div style="text-align: center;">(淡江大學英文系教授)</div>
				<div style="text-align: center;">郭欣茹</div>
				<div style="text-align: center;">(中國醫藥大學通識教育中心副教授)</div>
			</td>
			<td style="width: 31.6239%;" valign="top" width="203">
				<div style="text-align: center;">Paul K. Longmore,<em>&nbsp;Why I Burned My Book and Other Essays on Disability</em> (Temple UP, 2003).</div>
			</td>
			<td style="width: 12.2507%;" width="105">

				<p align="center" style="text-align: center;">淡江大學</p>

				<p align="center" style="text-align: center;">台北校區</p>
			</td>
		</tr>
		<tr>
			<td width="36">
				<div style="text-align: center;">2.</div>
			</td>
			<td width="94">
				<div style="text-align: center;">3/16(Sat.)</div>
				<div style="text-align: center;">14:00-16:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">李尚仁</div>
				<div style="text-align: center;">(中央研究院歷史語言研究所副研究員)</div>
			</td>
			<td width="151">
				<div style="text-align: center;">李有成</div>
				<div style="text-align: center;">(中央研究院歐美研究所研究員)</div>
			</td>
			<td style="width: 31.6239%;" valign="top" width="203">
				<div style="text-align: center;">哈利．柯林斯、崔佛．平區，《科倫醫師吐真言：醫學爭議教我們的二三事》 (左岸文化出版社，2016 )</div>
			</td>
			<td style="width: 12.2507%;" width="105">

				<p align="center" style="text-align: center;">淡江大學</p>

				<p align="center" style="text-align: center;">台北校區</p>
			</td>
		</tr>
		<tr>
			<td width="36">
				<div style="text-align: center;">3.</div>
			</td>
			<td width="94">
				<div style="text-align: center;">4/27(Sat.)</div>
				<div style="text-align: center;">14:00-16:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">孫小玉</div>
				<div style="text-align: center;">(中山大學外文系教授)</div>
			</td>
			<td width="151">
				<div style="text-align: center;">邱大昕</div>
				<div style="text-align: center;">(高雄醫學大學醫學社會學與社會工作學系教授)</div>
			</td>
			<td style="width: 31.6239%;" valign="top" width="203">
				<div style="text-align: center;">Bree Hadley,<span>&nbsp;</span><em>Disability, Public Space Performance and Spectatorship: Unconscious Performers</em> (Palgrave Macmillan, 2014).</div>
			</td>
			<td style="width: 12.2507%;" width="105">

				<p align="center" style="text-align: center;">書林書店</p>
			</td>
		</tr>
		<tr>
			<td width="36">
				<div style="text-align: center;">4.</div>
			</td>
			<td width="94">
				<div style="text-align: center;">5/11(Sat.)</div>
				<div style="text-align: center;">14:00-16:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">陳重仁</div>
				<div style="text-align: center;">(台大外文副教授)</div>
			</td>
			<td width="151">
				<div style="text-align: center;">李尚仁</div>
				<div style="text-align: center;">(中央研究院歷史語言研究所副研究員)</div>
			</td>
			<td style="width: 31.6239%;" valign="top" width="203">
				<div style="text-align: center;">Canguilhem, Georges.<span>&nbsp;</span><em>Writings on Medicine. Trans. Stefanos Geroulanous and Todd Meyers</em>. (Fordham UP, 2012).&nbsp;</div>
			</td>
			<td style="width: 12.2507%;" width="105">

				<p align="center" style="text-align: center;">書林書店</p>
			</td>
		</tr>
		<tr>
			<td width="36">
				<div style="text-align: center;">5.</div>
			</td>
			<td width="94">
				<div style="text-align: center;">5/25(Sat.)</div>
				<div style="text-align: center;">14:00-16:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">傅大為</div>
				<div style="text-align: center;">(陽明STS所教授)</div>
			</td>
			<td width="151">
				<div style="text-align: center;">孫小玉</div>
				<div style="text-align: center;">(中山大學外文系教授)</div>
			</td>
			<td style="width: 31.6239%;" valign="top" width="203">
				<div style="text-align: center;">傅大為，《STS 的緣起與建構：橫看近代科學的一種編織與打造》</div>
			</td>
			<td style="width: 12.2507%;" width="105">

				<p align="center" style="text-align: center;">書林書店</p>
			</td>
		</tr>
		<tr>
			<td width="36">
				<div style="text-align: center;">6.</div>
			</td>
			<td width="94">
				<div style="text-align: center;">9/21(Sat.)</div>
				<div style="text-align: center;">14:00-16:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">林建光</div>
				<div style="text-align: center;">(中興大學外文系副教授)</div>
			</td>
			<td width="151">
				<div style="text-align: center;">張瓊惠</div>
				<div style="text-align: center;">(台師大英語系教授)</div>
			</td>
			<td style="width: 31.6239%;" valign="top" width="203">
				<div style="text-align: center;">Smith, Marquard, and Joanne Morra, eds. <em>The Prosthetic Impulse: From a Posthuman Present to a Biocultural Future</em>. (s.: The MIT P, 2006)</div>
			</td>
			<td style="width: 12.2507%;" width="105">

				<p align="center" style="text-align: center;">書林書店</p>
			</td>
		</tr>
		<tr>
			<td width="36">
				<div style="text-align: center;">7.</div>
			</td>
			<td width="94">
				<div style="text-align: center;">9/28(Sat.)</div>
				<div style="text-align: center;">14:00-16:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">張瓊惠</div>
				<div style="text-align: center;">(台師大英語系教授)</div>
			</td>
			<td width="151">
				<div style="text-align: center;">蔡振興</div>
				<div style="text-align: center;">(淡江英文系教授)</div>
			</td>
			<td style="width: 31.6239%;" valign="top" width="203">
				<div style="text-align: center;">摸不著頭腦嗎?—讀Catherine Malabou 的<span>&nbsp;</span><em>What Should We Do with Our Brain.</em></div>
			</td>
			<td style="width: 12.2507%;" width="105">

				<p align="center" style="text-align: center;">書林書店</p>
			</td>
		</tr>
		<tr>
			<td width="36">
				<div style="text-align: center;">8.</div>
			</td>
			<td width="94">
				<div style="text-align: center;">10/5(Sat.)</div>
				<div style="text-align: center;">14:00-16:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">蔡振興</div>
				<div style="text-align: center;">(淡江英文系教授)</div>
			</td>
			<td width="151">
				<div style="text-align: center;">郭欣茹</div>
				<div style="text-align: center;">(中國醫藥大學通識教育中心副教授)</div>
			</td>
			<td style="width: 31.6239%;" valign="top" width="203">
				<div style="text-align: center;">Bellacasa, Maria Puig de la. <em>Matters of Care: Speculative Ethics in More than Human Worlds</em>. Minneapolis: U of Minnesota P, 2017.</div>
			</td>
			<td style="width: 12.2507%;" width="105">

				<p align="center" style="text-align: center;">淡江大學</p>

				<p align="center" style="text-align: center;">淡水校區</p>
			</td>
		</tr>
		<tr>
			<td width="36">
				<div style="text-align: center;">9.</div>
			</td>
			<td width="94">
				<div style="text-align: center;">10/19(Sat.)</div>
				<div style="text-align: center;">10:00-12:00</div>
			</td>
			<td width="113">
				<div style="text-align: center;">馮品佳</div>
				<div style="text-align: center;">(交大外文系講座教授)</div>
			</td>
			<td width="151">
				<div style="text-align: center;">王穎</div>
				<div style="text-align: center;">(國立成功大學外文系副教授)</div>
			</td>
			<td style="width: 31.6239%;" valign="top" width="203">
				<div style="text-align: center;">Sari Altschuler,<span>&nbsp;</span><em>The Medical Imagination: Literature and Health in the Early United States</em> (U of Pennsylvania P, 2018)&nbsp;</div>
			</td>
			<td style="width: 12.2507%;" width="105">

				<p align="center" style="text-align: center;">書林書店</p>
			</td>
		</tr>
	</tbody>
</table>