<p><img src="http://163.13.100.122/storage/app/media/English/Mina/IMH%202019/cropped-images/IMH2-0-0-0-0-1553862107.jpg" /></p>

<p><span style="font-family:Times New Roman,Times,serif"><strong>IMH 2019: Medical Humanities in the Age of the Anthropocene</strong></span></p>

<p><span style="font-family:Times New Roman,Times,serif">Welcome to the Research Institute on Interdisciplinary Medical Humanities at Tamkang University<br />
from June 24 to 26, 2019. The theme of this year&rsquo;s Research Institute is &ldquo;Medical Humanities in the<br />
Age of the Anthropocence.&rdquo;<br />
Medical humanities, a broad area of interdisciplinary study encompassing the human aspects of<br />
medicine and the arts, has appeared on the academic scene as an important literature-and-medicine<br />
study. Since its emergence as an academic discipline in the mid-twentieth century, medical humanities<br />
has rapidly developed into one of the most promising fields of literary studies in the US and Europe,<br />
especially the UK and Germany. In the past decade or so, this type of research has further evolved<br />
into the very inclusive field of health humanities, examining critically literary and cultural<br />
representations of illness, health, disability, the normal, and the pathological in the critical medical<br />
humanities, their interventions, and the effects they have caused in culture and society. We are<br />
particularly concerned with narratives of illness and healing that reveal a society&rsquo;s discourse of<br />
normalcy and dominant measurement of human worth. In this Institute, we will focus our attention<br />
on the nature and context of medical humanities, particularly in relation to its siblings such as critical<br />
medical humanities and health humanities, with a view to reformulating the conceptual underpinnings<br />
in regards to the art of medicine, the intersection of medicine and the arts, and the narrative of illness.<br />
The Institute will consist of three days of inspiring talks and discussions led by renowned experts:<br />
Ronald Schleifer (George Lynn Cross Research Professor of English and Adjunct Professor in the<br />
College of Medicine, The University of Oklahoma, USA), Stuart Murray (Professor of<br />
Contemporary Literatures and Film, Director of the Leeds Centre for Medical Humanities, University<br />
of Leeds, UK), and Heike Bartel (Associate Professor in German Studies, Faculty of Arts,<br />
University of Nottingham, UK). We trust you can benefit a lot from the keynote addresses and reading<br />
sessions conducted by these three internationally acclaimed scholars in the medical humanities.<br />
By organizing such a summer camp, we hope to promote this interdisciplinary field of study, to create<br />
new venues for dialogue with international academia, and to practice engaged humanities to fulfill<br />
our commitment to social and cultural issues as literary scholars. Thank you for joining us in this<br />
three-day Research Institute.</span></p>

<p><span style="font-family:Times New Roman,Times,serif"><strong>人類紀中的醫療人文</strong></span></p>

<p><span style="font-family:Times New Roman,Times,serif">醫學與文化息息相關。在醫療人文研究中，健康和疾病存於在人的身上正如善與惡存於世界。有關健康和疾病的討論或對疾病本體論的思考，其主要目的在於症狀了解和治療的（不）可能性，因為疾病可以通過一扇門進入或離開人體。希臘醫學之父希波克拉底（Hippocrates）的著作指出人的全面性疾病概念﹕自然在人體內外應是和諧平衡的，若是這種平衡和諧發生紊亂，人就會生病。自培根（Francis Bacon）以來，人類通過克服自然並控制疾病，其目的就是維持人的正常狀態，但是到了18世紀，透過病理解剖學，新的醫學觀念可以把某些損傷的器官與症狀的穩定聯繫起來，讓疾病分類學人在解剖學分析中找到活力，因此病理學自然地成為生理學的延伸。本年度活動以「人類紀中的醫療人文」(Medical Humanities in the Age of the Anthropocene)為主題，從康吉萊姆（Georges Canguilhem）的《正常與病態》（<em>The Normal and the Pathological</em>）的醫學哲學和生命科學的架構下重新探討正常和變態之間的弔詭關係，進而閱讀台灣與其他相關醫學哲學和生命科學的基本理念。處於人類紀的我們應如何在醫療人文的領域重新評估被傳統定義下的那些偏離正常狀況的例外狀態是否也是正常社會的一種常態，例如老化、阿茲海默症、失能和其他疾病。此外，本計劃也嘗試開拓新的醫學倫理、科技和生命等多樣性意涵。</span></p>