<p><span style="font-size:16px"><span style="font-family:Times New Roman,Times,serif"><img alt="mail" src="http://163.13.100.122/plugins/anandpatel/wysiwygeditors/formwidgets/editor/assets/ckeditor/plugins/smiley/images/envelope.png" style="height:23px; width:23px" title="mail" />&nbsp;如果有任何問題，歡迎來信</span></span></p>

<p><span style="font-size:16px"><span style="font-family:Times New Roman,Times,serif">tkuengconference@gmail.com&nbsp;</span></span></p>

<p><img src="http://163.13.100.122/storage/app/media/English/Mina/IMH%202019/TKU.jpg" /></p>