<p><span style="font-size:16px"><strong>計畫團隊：</strong></span></p>

<p><strong>主持人</strong></p>

<p>馮品佳 交通大學外國語文學系講座教授</p>

<p><strong>共同主持人</strong></p>

<p>蔡振興&nbsp; 淡江大學英文系教授兼系主任<br />
郭欣茹&nbsp; 中國醫藥大學通識中心副教授<br />
王&nbsp; &nbsp;穎&nbsp; 成功大學外國語文學系助理教授</p>

<ol>
</ol>

<p>&nbsp;</p>