<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:14px">本研習營提供非雙北之學員<span style="color:#ff0000">6/24 - 6/26</span>住宿（6/23下午3點後可入住，6/27中午前退房）</span></span></p>

<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:14px">住宿地點為淡江大學校園內的【會文館】</span></span></p>

<p>&nbsp;<img src="http://163.13.100.122/storage/app/media/English/Mina/IMH%202019/2.jpg" style="height:333px; width:500px" />&nbsp;</p>

<p>&nbsp;<img src="http://163.13.100.122/storage/app/media/English/Mina/IMH%202019/%E6%9C%83%E6%96%87%E9%A4%A83.jpg" style="height:333px; width:500px" />&nbsp;（照片提供：本校總務處事務整備組）</p>