<p>2019以文淑世：人類紀中的醫療人文 春季讀書會場次表</p>

<table align="center" border="1" cellpadding="0" cellspacing="0" style="width:702px">
	<tbody>
		<tr>
			<td style="height:10px; width:36px">
			<p style="text-align: center;">場次</p>
			</td>
			<td style="height:10px; width:94px">
			<p style="text-align: center;">日期</p>
			</td>
			<td style="height:10px; width:113px">
			<p style="text-align: center;">導讀人</p>
			</td>
			<td style="height:10px; width:151px">
			<p style="text-align: center;">主持人</p>
			</td>
			<td style="height:10px; width:203px">
			<p style="text-align: center;">導讀專書</p>
			</td>
			<td style="height:10px; width:105px">
			<p style="text-align: center;">導讀地點</p>
			</td>
		</tr>
		<tr>
			<td style="height:10px; width:36px">
			<p style="text-align: center;">1.</p>
			</td>
			<td style="height:10px; width:94px">
			<p style="text-align: center;">3/2 (Sat.)</p>

			<p style="text-align: center;">14:00-16:00</p>
			</td>
			<td style="height:10px; width:113px">
			<p style="text-align: center;">邱大昕</p>

			<p style="text-align: center;">（高雄醫學大學醫學社會學與社會工作學系教授）</p>
			</td>
			<td style="height:10px; width:151px">
			<p style="text-align: center;">蔡振興</p>

			<p style="text-align: center;">(淡江大學英文系教授)</p>

			<p style="text-align: center;">&nbsp;</p>

			<p style="text-align: center;">郭欣茹</p>

			<p style="text-align: center;">(中國醫藥大學通識教育中心副教授)</p>
			</td>
			<td style="height:10px; width:203px">
			<p style="text-align: center;">Paul K. Longmore,<em> Why I Burned My Book and Other Essays on Disability</em> (Temple UP, 2003).</p>
			</td>
			<td style="height:10px; width:105px">
			<p style="text-align: center;">淡江大學</p>

			<p style="text-align: center;">台北校區</p>
			</td>
		</tr>
		<tr>
			<td style="height:10px; width:36px">
			<p style="text-align: center;">2.</p>
			</td>
			<td style="height:10px; width:94px">
			<p style="text-align: center;">3/16(Sat.)</p>

			<p style="text-align: center;">14:00-16:00</p>
			</td>
			<td style="height:10px; width:113px">
			<p style="text-align: center;">李尚仁</p>

			<p style="text-align: center;">(中央研究院歷史語言研究所副研究員)</p>
			</td>
			<td style="height:10px; width:151px">
			<p style="text-align: center;">李有成</p>

			<p style="text-align: center;">(中央研究院歐美研究所研究員)</p>
			</td>
			<td style="height:10px; width:203px">
			<p style="text-align: center;">哈利．柯林斯、崔佛．平區，《科倫醫師吐真言：醫學爭議教我們的二三事》 (左岸文化出版社，2016 )</p>
			</td>
			<td style="height:10px; width:105px">
			<p style="text-align: center;">淡江大學</p>

			<p style="text-align: center;">台北校區</p>
			</td>
		</tr>
		<tr>
			<td style="height:10px; width:36px">
			<p style="text-align: center;">3.</p>
			</td>
			<td style="height:10px; width:94px">
			<p style="text-align: center;">4/27(Sat.)</p>

			<p style="text-align: center;">14:00-16:00</p>
			</td>
			<td style="height:10px; width:113px">
			<p style="text-align: center;">孫小玉</p>

			<p style="text-align: center;">(中山大學外文系教授)</p>
			</td>
			<td style="height:10px; width:151px">
			<p style="text-align: center;">邱大昕</p>

			<p style="text-align: center;">(高雄醫學大學醫學社會學與社會工作學系教授)</p>
			</td>
			<td style="height:10px; width:203px">
			<p style="text-align: center;">Bree Hadley, <em>Disability, Public Space Performance and Spectatorship: Unconscious Performers</em> (Palgrave Macmillan, 2014).</p>
			</td>
			<td style="height:10px; width:105px">
			<p style="text-align: center;">書林書店</p>
			</td>
		</tr>
		<tr>
			<td style="height:10px; width:36px">
			<p style="text-align: center;">4.</p>
			</td>
			<td style="height:10px; width:94px">
			<p style="text-align: center;">5/11(Sat.)</p>

			<p style="text-align: center;">14:00-16:00</p>
			</td>
			<td style="height:10px; width:113px">
			<p style="text-align: center;">陳重仁</p>

			<p style="text-align: center;">(台大外文副教授)</p>
			</td>
			<td style="height:10px; width:151px">
			<p style="text-align: center;">李尚仁</p>

			<p style="text-align: center;">(中央研究院歷史語言研究所副研究員)</p>
			</td>
			<td style="height:10px; width:203px">
			<p style="text-align: center;">Canguilhem, Georges. <em>Writings on Medicine. Trans. Stefanos Geroulanous and Todd Meyers</em>. (Fordham UP, 2012).&nbsp;</p>
			</td>
			<td style="height:10px; width:105px">
			<p style="text-align: center;">書林書店</p>
			</td>
		</tr>
		<tr>
			<td style="height: 10px; width: 36px; text-align: center;">5.</td>
			<td style="height:10px; width:94px">
			<p style="text-align: center;">5/25(Sat.)</p>

			<p style="text-align: center;">14:00-16:00</p>
			</td>
			<td style="height:10px; width:113px">
			<p style="text-align: center;">傅大為</p>

			<p style="text-align: center;">(陽明STS所教授)</p>
			</td>
			<td style="height:10px; width:151px">
			<p style="text-align: center;">孫小玉</p>

			<p style="text-align: center;">(中山大學外文系教授)</p>
			</td>
			<td style="height:10px; width:203px">
			<p style="text-align: center;">傅大為，《STS 的緣起與建構：橫看近代科學的一種編織與打造》</p>
			</td>
			<td style="height:10px; width:105px">
			<p style="text-align: center;">書林書店</p>
			</td>
		</tr>
		<tr>
			<td style="height:10px; width:36px">
			<p style="text-align: center;">6.</p>
			</td>
			<td style="height:10px; width:94px">
			<p style="text-align: center;">9/21(Sat.)</p>

			<p style="text-align: center;">14:00-16:00</p>
			</td>
			<td style="height:10px; width:113px">
			<p style="text-align: center;">林建光</p>

			<p style="text-align: center;">(中興大學外文系副教授)</p>
			</td>
			<td style="height:10px; width:151px">
			<p style="text-align: center;">張瓊惠</p>

			<p style="text-align: center;">(台師大英語系教授)</p>
			</td>
			<td style="height:10px; width:203px">
			<p style="text-align: center;">Smith, Marquard, and Joanne Morra, eds. <em>The Prosthetic Impulse: From a Posthuman Present to a Biocultural Future</em>. (s.: The MIT P, 2006)</p>
			</td>
			<td style="height:10px; width:105px">
			<p style="text-align: center;">書林書店</p>
			</td>
		</tr>
		<tr>
			<td style="height:10px; width:36px">
			<p style="text-align: center;">7.</p>
			</td>
			<td style="height:10px; width:94px">
			<p style="text-align: center;">9/28(Sat.)</p>

			<p style="text-align: center;">14:00-16:00</p>
			</td>
			<td style="height:10px; width:113px">
			<p style="text-align: center;">張瓊惠</p>

			<p style="text-align: center;">(台師大英語系教授)</p>
			</td>
			<td style="height:10px; width:151px">
			<p style="text-align: center;">蔡振興</p>

			<p style="text-align: center;">(淡江英文系教授)</p>
			</td>
			<td style="height:10px; width:203px">
			<p style="text-align: center;">摸不著頭腦嗎?&mdash;讀Catherine Malabou 的 <em>What Should We Do with Our Brain.</em></p>
			</td>
			<td style="height:10px; width:105px">
			<p style="text-align: center;">書林書店</p>
			</td>
		</tr>
		<tr>
			<td style="height:10px; width:36px">
			<p style="text-align: center;">8.</p>
			</td>
			<td style="height:10px; width:94px">
			<p style="text-align: center;">10/5(Sat.)</p>

			<p style="text-align: center;">14:00-16:00</p>
			</td>
			<td style="height:10px; width:113px">
			<p style="text-align: center;">蔡振興</p>

			<p style="text-align: center;">(淡江英文系教授)</p>
			</td>
			<td style="height:10px; width:151px">
			<p style="text-align: center;">郭欣茹</p>

			<p style="text-align: center;">(中國醫藥大學通識教育中心副教授)</p>
			</td>
			<td style="height:10px; width:203px">
			<p style="text-align: center;">Bellacasa, Maria Puig de la. <em>Matters of Care: Speculative Ethics in More than Human Worlds</em>. Minneapolis: U of Minnesota P, 2017.</p>
			</td>
			<td style="height:10px; width:105px">
			<p style="text-align: center;">淡江大學</p>

			<p style="text-align: center;">淡水校區</p>
			</td>
		</tr>
		<tr>
			<td style="height:10px; width:36px">
			<p style="text-align: center;">9.</p>
			</td>
			<td style="height:10px; width:94px">
			<p style="text-align: center;">10/19(Sat.)</p>

			<p style="text-align: center;">10:00-12:00</p>
			</td>
			<td style="height:10px; width:113px">
			<p style="text-align: center;">馮品佳</p>

			<p style="text-align: center;">(交大外文系講座教授)</p>
			</td>
			<td style="height:10px; width:151px">
			<p style="text-align: center;">王穎</p>

			<p style="text-align: center;">(國立成功大學外文系副教授)</p>
			</td>
			<td style="height:10px; width:203px">
			<p style="text-align: center;">Sari Altschuler, <em>The Medical Imagination: Literature and Health in the Early United States</em> (U of Pennsylvania P, 2018)&nbsp;</p>
			</td>
			<td style="height:10px; width:105px">
			<p style="text-align: center;">書林書店</p>
			</td>
		</tr>
	</tbody>
</table>

<div style="clear: both; text-align: center;">&nbsp;</div>

<p style="text-align: center;">&nbsp;</p>