<p><span style="font-size:14px"><u><strong><span style="color:#ff0000"><span style="font-family:Times New Roman,Times,serif">醫 療 人 文 夏 季 研 習營 招 募 公 告</span></span></strong></u></span></p>

<p><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">醫療人文研究於二十世紀中葉冒現，數十年來在歐美學界日益受到重視，從醫學教育的一環，逐漸成為重要的跨領域研究範疇，為具有高度前瞻性的研究議題，近年來甚至蛻變成為範圍更寬廣的健康人文研究。本三年期人才培育計畫企圖從文學研究的角度切入醫療人文研究，跳脫醫學教育的框架，讓人文研究在醫療人文研究的未來發展中掌握主動發言的位置，賦予文學研究的淑世功能一個新的立足點，開發台灣文學研究學者與全球學術對話的新渠道。</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">今年6月，由交通大學外文系馮品佳講座教授主持的科技部人才培育計畫「跨領域醫療人文研究」將於6月24-26日在淡江大學舉辦第二次國際研習營，主題是「人類紀中的醫療人文」（Medical Humanities in the Age of the Anthropocene）。我們竭誠歡迎台灣與海外各學科的教授、學者與研究生們前來參與。</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">本研習營特別關注疾病和治療的敘述，以揭露社會對正常的話語和人類價值如何進行主導與規訓。在本次研習營中，我們將把注意力集中在醫學人文學科的性質和背景上，特別是關於醫療人文和健康人文，以期重新架構醫學藝術的概念、醫學和藝術的交叉點，以及疾病的敘述。</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">此次研習營邀請Ronald Schleifer (美國俄克拉荷馬大學喬治‧林恩‧克洛斯講座教授)，Stuart Murray (英國利茲大學醫療人文中心主任和現代文學及電影研究教授)，及Heike Bartel (英國諾丁漢大學文學院德國研究副教授)等三位英美文學與文化研究學者。他們將從文學與醫學研究角度，發表主題演講，並與與會學員探討相關文獻內容。</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif">本次研習營預計招收四十名學員，<strong>錄取學員需全程參與</strong>，免費提供食宿及研習讀本。各場次使用語言為英文。如果您有興趣參加，<strong>請於</strong><strong>3</strong><strong>月</strong><strong>30</strong><strong>日星期六前</strong>，由此處連結線上報名：<a href="https://goo.gl/forms/Ydgd6ywQIBcPptMB3" target="_blank">https://goo.gl/forms/Ydgd6ywQIBcPptMB3</a>。</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Times New Roman,Times,serif"><img alt="mail" src="http://163.13.100.122/plugins/anandpatel/wysiwygeditors/formwidgets/editor/assets/ckeditor/plugins/smiley/images/envelope.png" style="height:23px; width:23px" title="mail" />&nbsp;如果有任何問題，歡迎來信 tkuengconference@gmail.com&nbsp;</span></span></p>