<p align="center">[現任主任]
	<br>
	<br>蔡振興</p>

<p align="center"><strong>Dr.&nbsp;Robin Chen-hsing Tsai</strong></p>

<p align="center">&nbsp;<img src="http://163.13.100.122/storage/app/media/uploaded-files/653_13958a91.jpg" data-result="success" class="fr-fic fr-dii"></p>

<p align="center">英文學系專任教授兼主任</p>

<p align="center">Tel: (02) 2621-5656 ext. 2306</p>

<p align="center">Fax: (02) 2621-1254</p>

<p align="center">E-mail: <u><a href="mailto:rnchtsai@mail.tku.edu.tw">rnchtsai@mail.tku.edu.tw</a></u></p>

<p>
	<br>
</p>

<blockquote>

	<blockquote>

		<blockquote>

			<p><img alt="" src="http://www2.tku.edu.tw/~tfex/ch/intro/led.gif" width="8" height="8" border="0" class="fr-fic fr-dii">&nbsp;<span>&nbsp;</span><a name="學歷">學歷</a></p><pre>台灣大學外文研究所博士&nbsp;<p><img alt="" src="http://www2.tku.edu.tw/~tfex/ch/intro/led.gif" width="8" height="8" border="0" class="fr-fic fr-dii">&nbsp; <a name="專長學科">專長學科</a></p><p>&nbsp; &nbsp; 西洋文學概論、文學批評、魔幻寫實主義與後殖民論述、生態論述</p></pre></blockquote>
	</blockquote>
</blockquote>

<p>
	<br>【系史特色】</p>

<p>&nbsp; &nbsp;
	<br>英文學系在茁壯成長的淡江大學中一直扮演著先導的地位，本系創立於民國 39 年，旨在提供初、高中畢業生三到五年無學位的英文語言及文學的大學課程，民國 54 年本系課程重新設計，開始講授學士學位的課程，從此開始，本系在台灣英文教育上一直扮演很重要的角色，藉由本系豐富的師資課程及教師們活潑、多元的教學活 動，為國內外公私立機構培育積極、專業、具國際觀之全方位英美語文專才。</p>

<p>&nbsp;</p>

<p>本系由淡江英語專科學校轉化而來，於今共有 61 年歷史，&nbsp;100 學年度大學部學士班學生&nbsp;894 人，進學班&nbsp;245 人，碩士班&nbsp;76 人，博士班 59人。碩博士班並各分英美文學組及英語教學組，可稱為系所完整之系所，也是淡江大學的重點系所，致力於國際學術合作與交流。</p>

<p>&nbsp;</p>

<p>英文系之特色，乃秉承 61 年之設系傳統，培養英語口說流利及書寫流暢之各種程度人才，故特重口說英語及英文寫作之基本能力，再進入英語文之學術專長。</p>

<p>&nbsp;</p>

<p>現有師資共計&nbsp;38 位專任，其中有博士 學位者32位。兼任教師共&nbsp;73位，現在逐年增加專任教師，以降低師生比率。師資來源，採開放原則，中外並重，並考慮學術專長之平衡。</p>

<p>&nbsp;</p>