<p><a href="http://www.tflx.tku.edu.tw/download.php?filename=621_59fe68bd.pdf&amp;dir=archive&amp;title=%E5%8D%9A%E7%8F%AD%E7%AB%A0%E7%A8%8B">淡江大學英文學系博士班章程</a></p>

<p>
	<br>
</p>

<p><a href="http://www.tflx.tku.edu.tw/download.php?filename=654_7b37e728.pdf&amp;dir=archive&amp;title=Master+">淡江大學英文學系碩士班章程</a></p>

<p>
	<br>
</p>

<p><a href="http://www.tflx.tku.edu.tw/download.php?filename=427_8f8953ec.doc&amp;dir=archive&amp;title=%E8%8B%B1%E6%AA%A2%E8%A6%8F%E5%AE%9A">淡江大學英文學系英語能力檢定</a><a href="http://www.tflx.tku.edu.tw/download.php?filename=427_8f8953ec.doc&amp;dir=archive&amp;title=%E8%8B%B1%E6%AA%A2%E8%A6%8F%E5%AE%9A">規則</a></p>

<p>
	<br>
</p>

<p><a href="http://www.tflx.tku.edu.tw/download.php?filename=538_85badd10.pdf&amp;dir=archive&amp;title=%E8%B3%87%E6%A0%BC%E8%80%83%E6%B5%81%E7%A8%8B">&nbsp;淡江大學英文學系碩博士班資格考試流程</a></p>

<p>
	<br>
</p>

<p><a href="http://www.tflx.tku.edu.tw/download.php?filename=662_57919892.pdf&amp;dir=archive&amp;title=106%E7%A0%94%E7%A9%B6%E7%94%9F%E6%89%8B%E5%86%8A">淡江大學</a><a href="http://www.tflx.tku.edu.tw/download.php?filename=662_57919892.pdf&amp;dir=archive&amp;title=106%E7%A0%94%E7%A9%B6%E7%94%9F%E6%89%8B%E5%86%8A">英文學系碩博士班106學年度研究生手冊</a></p>