<p>現有師資共計 <strong>38</strong>位專任，其中有博士學位者<strong>&nbsp;33</strong>位。兼任教師共 <strong>63</strong>位，現在逐年增加專任教師，以提高師生比率。師資來源，採開放原則，中外並重，並考慮學術專長之平衡。</p>

<p>
	<br>
</p>

<p><strong>專任師資現況：</strong></p>

<p>&nbsp;專任教師 <strong>38</strong>人，計有</p>

<p>
	<br>
</p>

<table border="1" cellpadding="0" cellspacing="0" width="581">
	<tbody>
		<tr>
			<td valign="top" width="54"><strong>教授&nbsp;</strong>
				<br>
			</td>
			<td valign="top" width="74"><strong>副教授</strong>
				<br>
			</td>
			<td valign="top" width="99"><strong>助理教授&nbsp;</strong>
				<br>
			</td>
			<td valign="top" width="66"><strong>講師&nbsp;</strong>
				<br>
			</td>
			<td valign="top" width="99"><strong>外籍教師&nbsp;</strong>
				<br>
			</td>
			<td valign="top" width="90"><strong>博士學位</strong>
				<br>
			</td>
			<td valign="top" width="99"><strong>碩士學位&nbsp;</strong>
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="54">2人
				<br>
			</td>
			<td valign="top" width="74">14人
				<br>
			</td>
			<td valign="top" width="99">18人
				<br>
			</td>
			<td valign="top" width="66">4&nbsp;人
				<br>
			</td>
			<td valign="top" width="99">9 人
				<br>
			</td>
			<td valign="top" width="90">&nbsp;33 人
				<br>
			</td>
			<td valign="top" width="99">5人
				<br>
			</td>
		</tr>
	</tbody>
</table>

<p>
	<br>
</p>

<p><strong>兼</strong><strong>任師資現況：<br></strong>兼任教師 <strong>63</strong>人，計有：</p>

<p>
	<br>
</p>

<table border="1" cellpadding="0" cellspacing="0" width="404">
	<tbody>
		<tr>
			<td valign="top" width="66"><strong>教授&nbsp;</strong>
				<br>
			</td>
			<td valign="top" width="74"><strong>副教授</strong>
				<br>
			</td>
			<td valign="top" width="99"><strong>助理教授&nbsp;</strong>
				<br>
			</td>
			<td valign="top" width="66"><strong>講師&nbsp;</strong>
				<br>
			</td>
			<td valign="top" width="99"><strong>外籍教師&nbsp;</strong>
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="66">0人
				<br>
			</td>
			<td valign="top" width="74">3人
				<br>
			</td>
			<td valign="top" width="99">9&nbsp;人
				<br>
			</td>
			<td valign="top" width="66">51&nbsp;人
				<br>
			</td>
			<td valign="top" width="99">0人
				<br>
			</td>
		</tr>
	</tbody>
</table>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>（<strong>2013.05.24</strong>更新）</p>