<p>&nbsp;</p>

<p><span>成立源起</span></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; 本系碩博士班（舊稱西洋語文研究所）成立於民國59年，81年度增設博士班，並於86學年度於既有的文學組課程之外，增設英語教學組，強調英語及教學法之理論，希冀能使英語教學和英美文學兩大領域，彼此相輔相成。從91年度起，本所改名為「英國語文學系英美文學碩士班及博士班」及「英國語文學系英語教學碩士班及博士班」，成為國內少數能提供學士班、碩士班、博士班三階段完整的文學專長及英語教學訓練的系所。</p>

<p><span><br>發展特色</span></p>

<p><span>&nbsp; &nbsp; &nbsp; &nbsp; 每年我們都會邀請國際著名學者蒞校演講，也舉辦國際學術會議。包括(一)比較文學會議，(二)生態國際會議，(三)英文寫作國際會議。四年一度的「淡江比較文學國際會議」至88年已舉辦8屆，每次均有國內外學術俊彥與會。自89年至99年，英文系以舉辦5屆生態國際會議；自95年至101年已舉辦3屆英文寫作會議；期能促進學術交流並拓展國際學術視野。</span></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; 我們也逐年活化碩博士班課程內容：在英美文學方面，從89年起，本系新增生態文學，讓生態文學理論和文化研究成為本系文學課程之特色之一；在英語教學方面，特重理論之研究與教學之實踐。</p>

<p><span>文學組課程，承襲89年之架構，並持續進行改革，除強化文學理論、文類、主要作家、經典作品和文化研究等專題之外，另增加英文寫作為必修課，加強訓練論文寫作能力。在專業課程方面以「生態文學」、「英美文學」、「跨媒體文化研究」為文學組特色。英語教學之課程設計，係以融入「第二語言教學法」與「教材發展理論」之核心課程，輔以「認知語言學」「心理語言學」「語言與文化」等課程內容，運用和轉換語言學的分析框架和觀點，提供完整的基礎訓練，以激發多元思維，培養高階英語使用、批判性邏輯思考、資訊科技媒合應用之精英人才。專業課程方面，以「多元創意教學」「翻譯理論」「網路科技於英語教學之應用」「實地英語教學」等課程作為教學組特色。</span></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; 我們設有多項獎學金提供研究生申請，包括英萃獎學金、自強獎學金和其他學業獎學金。</p>

<p><span>本系主編《淡江評論》(Tamkang Review)，為著名之國際性中西比較文學期刊，全世界各大學圖書館均有收藏，已連續獲得THCI Core收錄。《淡江評論》至今已經發行40餘年，被公認為是比較文學界首屈一指的國際性學術性期刊。</span></p>