<p><span>本系系友遍佈國內外各角落，從事行業，不勝計算，任職大學教授及擔任學術行政工作者甚多，也有多人成為名作家，任教大學及中學之英文老 師更是不計其數，每人都在不同崗位上貢獻於社會。政商各界，以早期校友自行創業成為工商鉅子者，多有人在。畢業系友多數服務於工商界，從事業務人員或秘書 等工作，亦即以英文為基礎，配合產業界之需要而調適其才能及潛力，碩士班畢業生多從事升學及教育文化事業，而博士班畢業生多從事學術研究及任教於大學院校。</span>&nbsp;
	<br>&nbsp;</p>

<p><span>本系致力於增進在校同學之向心力及畢業校友之聯繫不遺餘力，也鼓勵同學參與社團活動及做義工，以增加同學之情誼並建立其領導協調與共識之能力。將來希望經常召開系友會，除聯絡感情外，也利用校友關係，擴大畢業生就業管道，並藉由聚會，聽取系友意見，使本系能開設較具企業性的專門英文課程。近年來，因師資管道多元化，從事英語教學之畢業校友人數越來越多，我們希望經常和他們交換意見，以拓展本系文學及英語教學。<br></span>
	<a href="https://gts.tku.edu.tw/IndexSSL.htm">
		<br>
	</a>
</p>