<p><strong><br>[成立宗旨]<br></strong><strong><br></strong></p>

<p>英文系之大學部，在培養學生之英語文基礎與英文專業之基本能力，以利將來畢業，可從事文教與工商業務。研碩士班在培養學術研究之基本能力及教學、翻譯及文化研究專長。博士班在培養高深英語文及教學研究人才，以從事文學及教學等之行業。</p>

<p>
	<br>
</p>

<p><strong>【系史特色】<br></strong></p>

<p>&nbsp; &nbsp; &nbsp;英文學系在茁壯成長的淡江大學中一直扮演著先導的地位，本系創立於民國 39 年，旨在提供初、高中畢業生三到五年無學位的英文語言及文學的大學課程，民國 54 年本系課程重新設計，開始講授學士學位的課程，從此開始，本系在台灣英文教育上一直扮演很重要的角色，藉由本系豐富的師資課程及教師們活潑、多元的教學活 動，為國內外公私立機構培育積極、專業、具國際觀之全方位英美語文專才。</p>

<p>&nbsp;</p>

<p>本系由淡江英語專科學校轉化而來，於今共有 <strong>63&nbsp;</strong>年歷史， 101學年度大學部學士班學生 <strong>909</strong>人，進學班 <strong>247</strong>人，碩士班 <strong>76</strong>人，博士班 <strong>59</strong>人。碩博士班並各分英美文學組及英語教學組，可稱為系所完整之系所，也是淡江大學的重點系所，致力於國際學術合作與交流。</p>

<p>&nbsp;</p>

<p>英文系之特色，乃秉承 <strong>63</strong> 年之設系傳統，培養英語口說流利及書寫流暢之各種程度人才，故特重口說英語及英文寫作之基本能力，再進入英語文之學術專長。</p>

<p>&nbsp;</p>

<p>現有師資共計 <strong>38</strong>位專任，其中有博士 學位者 <strong>33</strong>位。兼任教師共 <strong>63</strong>位，現在逐年增加專任教師，以提高師生比率。師資來源，採開放原則，中外並重，並考慮學術專長之平衡。</p>