<p>一、為提升本校學生英語學習的信心與興趣，針對英文程度較弱之學生，提供相關輔導機制，特設立「英語能力加強班」。歡迎大學指考、學測英文科成績為後標，或英文（一）」重修生，報名參加基礎發音和文法班（詳課表）。<br />
二、建議修習「英文（二）」課程且被分發至 Level 3 與 Level &nbsp;4 班級之學生參加「英語能力加強班」課程。 該課程並有會話、商用英文 、新聞英文及多益課程，可協助學生學習多益考題，通過英語畢業門檻。<br />
三、檢附107學年度第1學期課程資訊，9月17日(一)起請至活動報名系統 <a href="http://enroll.tku.edu.tw/index.aspx">http://enroll.tku.edu.tw/index.aspx</a> 報名。<br />
四、承辦人：葉思德小姐，分機：2194。</p>

<p><a href="/storage/app/media/English/Ellen/Remedial Classes.pdf">107-1英語能力加強班開課表</a></p>