description = "特色主題"
==
<h3 class="menu_slider_title">Glances of Topics</h3>
<div class="owl-carousel owl-theme">
    {% for link in links %}
    <div class="item">
        <div class="owl_img_block">
            <a href="{{link.url}}" target="{{link.link_target}}" title="{{link.title}}">
                <span class="owl_img">
                    <img src='{{ "storage/app/media#{link.picture}" |app}}' alt="{{link.title}}">
                </span>
                <span class="owl_text">{{link.title}}</span>
            </a>
        </div>
    </div>
    {% endfor %}
</div>