<h1><strong>【頂石課程 完善大學專業】&nbsp;&nbsp;</strong></h1>

<p align="right">學校要聞</p>

<p>在大學教育逐漸重視「學生學習成效」的當下，如何讓學生能夠統整其在學期間所學並實際應用，是目前各個學校積極探討與規劃的課題。本校重視學生學習與實務的連結，積極鼓勵各學系進行「頂石課程（Capstone Course）」（亦稱「總整課程」）的設計與規劃。部分學系已完成規劃並實施，成效良好。為讓讀者更了解頂石課程，本報特別製作專題，說明並提供實例以為參考。（文／楊喻閔）</p>

<p>總整課程　形式多元</p>

<p>什麼是頂石課程</p>

<p>　頂石（Capstone）意指為建築體上的最後一塊石頭，放上之後就代表整個建築完工，所以頂石課程對大學教育來說，就是大學教育最後的學習經驗，使學生能夠統整大學所學，將學習效果完整呈現，也為大學學習經驗收尾，同時反思中，順利過渡至下一個學習歷程。</p>

<p>　頂石課程策略地將學系核心能力納入，系統性蒐集學生資料，評估學生學習成效；深化學生學習，讓學生在大學四年確實掌握就讀學系的核心能力，更鼓勵學生運用過去所累積至今的知識與專業能力，在自行規劃學習進度與成果中，培養獨立、自主與自發的學習精神。同時透過整合、思考、團隊合作、溝通等能力，希望學生在統整、深化專業能力的學習下，讓學習更穩固，也讓老師與學校評估學生所學，以提升大學教育的價值，為大學學習進行總體檢。</p>

<p>　頂石課程成果發表與討論類型多元，可分為下列幾種：</p>

<p>一、專題討論型：學生針對某議題，進行資料收集、閱讀、討論等，建立對議題的論點並延伸整合，成果展現為書面或口頭報告。</p>

<p>二、專題研究型：針對特定的主題，以個人或團隊合作的方式，在製作過程中執行計畫以解決問題，成果通常為一具體成品，學生輔以書面呈現或口頭報告。</p>

<p>三、學習歷程檔案型：藉由整理過往的學習報告、成品等，讓學生撰寫反思短文使其展現學習成長的歷程。</p>

<p>四、綜合考試型：學生找出課程領域主題作探討，藉由紙筆測驗、口試或展演等方式進行考核。 &nbsp; &nbsp; &nbsp;&nbsp;</p>

<p>五、企業實習型：以實習或體驗學習為主，老師須幫助學生進行理論與實務的連結。</p>

<p>六、學士論文型：學生必須完成第一至大三的課程，在修習時能帶領討論、積極參與且線上互動，並撰寫進階論文。</p>

<p>各學系盡心規劃 學生展現成果</p>

<p>(節錄自淡江時報 第1046期)</p>