<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="2" rowspan="2" style="width: 169px; height: 28px;">
			<p style="margin-left: 1.15pt;">淡江大學</p>

			<p style="margin-left: 1.1pt;">德國語文學系</p>
			</td>
			<td colspan="2" style="width: 125px; height: 28px;">
			<p style="margin-left: 4.4pt;">學科能力測驗檢定</p>
			</td>
			<td style="width: 229px; height: 28px;">
			<p>分發比序項目</p>
			</td>
			<td style="width: 167px; height: 28px;">
			<p>修訂部分</p>
			</td>
		</tr>
		<tr>
			<td style="width: 60px; height: 20px;">
			<p style="margin-left: 13.2pt;">科目</p>
			</td>
			<td style="width: 65px; height: 20px;">
			<p style="margin-left: 14.7pt;">標準</p>
			</td>
			<td rowspan="7" style="width: 229px; height: 20px;">
			<p style="margin-left: 4.8pt;">1、在校學業成績全校排名百分比</p>

			<p style="margin-left: 4.8pt;">2、學測英文級分</p>

			<p style="margin-left: 4.8pt;">3、學測國文級分</p>

			<p style="margin-left: 4.8pt;">4、學測社會級分</p>
			</td>
			<td rowspan="8" style="width: 167px; height: 20px;">
			<p>修訂學科能力測驗檢定：</p>

			<p>1.英文由前標改為均標。</p>

			<p>2.刪除社會均標。</p>
			</td>
		</tr>
		<tr>
			<td style="width: 82px; height: 19px;">
			<p style="margin-left: 10.6pt;">校系代碼</p>
			</td>
			<td style="width: 87px; height: 19px;">
			<p>01409</p>
			</td>
			<td rowspan="6" style="width: 60px; height: 19px;">
			<p>國文</p>

			<p>英文</p>

			<p>數學</p>

			<p>社會</p>

			<p>自然</p>

			<p>總級分</p>

			<p>英聽</p>
			</td>
			<td rowspan="6" style="width: 65px; height: 19px;">
			<p>均標</p>

			<p><s>前</s> <strong><u>均</u></strong>標</p>

			<p>--</p>

			<p><s>均標</s></p>

			<p>--</p>

			<p>--</p>

			<p>--</p>
			</td>
		</tr>
		<tr>
			<td style="width: 82px; height: 19px;">
			<p style="margin-left: 9.45pt;">學群類別</p>
			</td>
			<td style="width: 87px; height: 19px;">
			<p>第一類學群</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width: 82px; height: 20px;">
			<p style="margin-left: 5.65pt;">招生名額 可填志願數</p>
			</td>
			<td style="width: 87px; height: 20px;">
			<p>9</p>
			</td>
		</tr>
		<tr>
			<td style="width: 87px; height: 19px;">
			<p>31</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width: 82px; height: 20px;">
			<p style="margin-left: 5.65pt;">外加名額 可填志願數</p>
			</td>
			<td style="width: 87px; height: 20px;">
			<p>&nbsp; <s>無</s>&nbsp; <strong><u>2</u></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 87px; height: 25px;">
			<p>21</p>
			</td>
		</tr>
		<tr>
			<td style="width: 82px; height: 68px;">
			<p>&nbsp;</p>

			<p>&nbsp;</p>

			<p style="margin-left: 19.55pt;">備註</p>
			</td>
			<td colspan="4" style="width: 441px; height: 68px;">
			<p style="margin-left: 2pt;">1.大三經甄選可赴德國留學一年。</p>

			<p style="margin-left: 2pt;">2.畢業門檻為通過德語檢定Zertifikat Deutsch B1 等級(含)以上。</p>

			<p style="margin-left: 2pt;">3.聯絡電話： (02)26215656 分機2333</p>

			<p style="margin-left: 2pt;">4.網址：http://www.tfgx.tku.edu.tw/main.php</p>
			</td>
		</tr>
	</tbody>
</table>