<h2><strong>【修業規定】</strong></h2>

<p>
	<br>
</p>

<p>實施規定：</p>

<p>一、本系修業年限四年。97學年度起之入學新生畢業學分至少140學分。</p>

<p>二、本系系必修74學，系選修至少須修21學分，其餘為校定(26學分，適用106學年入學之新生)及自由選修學分(19學分，適用106學年入學之新生)。</p>

<p>三、自88學年度入學新生起，大一下學期修讀「初級德文讀本」不及格者，不能直接修讀大二之「中級德文讀本」課程；大一下學期「初級德文文法」不及格者，不能直接修讀大二之「中級德文文法」課程，必待重修及格後，始得修之。</p>

<p>四、自106學年起，大一上下學期之「初級德文讀本」和「初級德文文法」列為「精進專業課程」。評量方式除增加共同「會考」外，期中考與期末考皆採教師共同命題。三項評量所佔學期成績各為:會考(5%)、期中考試(30%)，以及期末考試(30%)。</p>

<p>五、經96學年度第二學期系務會議通過，<strong>自97學年度起入學新生及修習德文系為雙主修學生者，需通過德語能力畢業標準&nbsp;(Zertifikat Deutsch B1)</strong>。規則如附件: &nbsp;<strong><a href="http://www.tfgx.tku.edu.tw/files/archive/327_63ca9eb7.doc">淡江大學外國語文學院德國語文學系學生德語能力畢業標準檢定規則</a></strong></p>

<p>六、自97學年度起入學新生需通過<strong>全民英檢中級初試或多益(TOEIC)450分以上</strong>者，方能畢業。</p>

<p>七、經97學年度第一學期系務會議通過，凡通過Zertifikat Deutsch德文檢定考B2級以上者，可憑其證書至系辦領取獎學金壹仟元整。</p>

<p>&nbsp;</p>

<p>上述規定經系務會議通過，並報請學校核准後實施，修正時亦同。&nbsp;</p>