<ul>
	<li><img src="/storage/app/media/16735330_1360375510649128_1735842228_o.jpg" /></li>
	<li><strong><span style="font-size:20px">交換生：</span></strong></li>
</ul>

<p><span style="font-size:20px">本校分別與德國波昂大學 (Universit&auml;t Bonn)、科隆大學 (Universit&auml;t K&ouml;ln) 以及奧地利維也納大學 (Universit&auml;t Wien) 締結為姊妹校。並於每年薦送數名大三在學學生至姊妹校交換、修習學分。</span></p>

<p><span style="font-size:20px">詳情請見國交處網站: <a href="http://www.oieie.tku.edu.tw/main.php">http://www.oieie.tku.edu.tw/main.php</a> 。</span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li><strong><span style="font-size:20px">留學生：</span></strong></li>
</ul>

<p><span style="font-size:20px">本系每年薦送20名本系大三學生至德國波昂大學 (University of Bonn) 修習學分，為期1年。保障名額為18名應屆大二學生，轉學生為2名，視每年報名狀況不同而定。大三出國修習學分（波昂大學）：依前三學期德文成績平均值為依據 （成績計算方法前三學期德文必、選修科目成績平均值）。詳情請見「大三出國留學」頁面。</span></p>