<h1><strong>【未來發展】</strong></h1>

<h1>
	<br>短、中、長程發展計畫</h1>

<table border="1" cellpadding="0" cellspacing="0" style="margin-right: calc(0%); width: 100%;">
	<tbody>
		<tr>
			<td valign="top" width="186">短程計畫
				<br>
			</td>
			<td valign="top" width="186">中程計畫
				<br>&nbsp;
				<br>
			</td>
			<td valign="top" width="186">長程計畫
				<br>&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top" width="186"><span>一、</span>教學
				<br>（一）定期檢討課程設計。
				<br><span>（二）</span>開設多元化選修課程。
				<br>（三）持續辦理大三出國留學。
				<br><span>（四）</span>多媒體/科技輔助教學
				<br><span>（五）</span>鼓勵學生閱讀網路資訊。
				<br>（六）舉辦德語能力畢業檢定考。
				<br><span>（七）</span>試辦大三、大四之德文翻譯課程試辦內容，分別為一般翻譯及商用翻譯。規定大三學生的統一閱讀書單，將其成效列為課程之部分評分。
				<br>二、研究：持續舉辦同仁學術上午茶。
				<br><strong>&nbsp;</strong>
				<br>
			</td>
			<td valign="top" width="186"><span>一、&nbsp;</span>教學
				<br><span>（一）</span>規劃以升學、就業導向的課程。
				<br>（二）擬請通核組或歐研所開設相關跨系課程。
				<br><span>（三）</span>鼓勵未出國之學生參加德語國家短期語言班。
				<br>（四）加強交換生與本地學生的交流活動。
				<br><span>（五）</span>逐步增加教學平台的使用科目。
				<br>（六）擬將閱讀網路資訊列為學習評分項目。
				<br><span>（七）</span>鼓勵學生參加德語能力檢定考ZD。
				<br>（八）擬訂通過德語能力檢定考為畢業門檻。
				<br><span>（九）</span>擬推動會話語言能力分組上課。
				<br>二、 <span>研究</span>
				<br>（一）鼓勵同仁將學術茶會討論過的專題，撰寫成論文投稿於學術期刊或由系集結成冊出版。
				<br><span>（二）</span>鼓勵同仁撰寫論文、申請國科會、教育部研究計畫案。
				<br>（三）積極舉辦學術研討會或教師學習工作坊。
				<br><span>三、&nbsp;</span>輔導
				<br><span>（一）</span>加強學生選修第二專長：雙主修、輔系。
				<br>（二）擬推動學生自選導師。
				<br><span>（三）</span>實施課程預警制度。
				<br>（四）協助系學生會辦理德語文文藝活動與競賽。
				<br>&nbsp;（五）擬定舉辦新生家長座談會
				<br>&nbsp;（六）舉辦相關系列演講：學涯、生涯規劃演講、升學、就業座談會
				<br>四、服務
				<br><span>（一）</span>鼓勵教師參與學/協會及其會內行政工作
				<br><span>（二）</span>開拓產學合作機會，增加學生實習機會。
				<br>（三）成立德文系系友會。
				<br><span>（四）</span>定期舉辦系友活動並邀請系友返校座談。
				<br>（五）建立畢業生連絡管道、建置系友聯落網。
				<br>
			</td>
			<td valign="top" width="186"><span>一、</span>教學
				<br>（一）因應國內外學、就業需求調整課程。
				<br><span>（二）</span>提高學生大三出國留學比例。
				<br>（三）鼓勵充分利用多媒體教學。
				<br><span>（四）</span>規定大一至大四之閱讀書單，列為課程之一部分內容。
				<br>二、持續中程計畫目標
				<br><strong>&nbsp;</strong>
				<br>
			</td>
		</tr>
	</tbody>
</table>