<p><img src="/storage/app/media/cropped-images/0260bdd36bf9509c58a9883dbbf0aa09-0-168-512-408-1524784450.jpg" /></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>study in Germany&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td><a href="https://www.studying-in-germany.org/study-german-language-in-germany/">https://www.studying-in-germany.org/study-german-language-in-germany/</a>
			<div style="page-break-after: always"><span style="display:none">&nbsp;</span></div>
			</td>
		</tr>
		<tr>
			<td>德文有聲字典與文法查詢&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td><a href="http://www.canoo.net/">http://www.canoo.net/</a>
			<div style="page-break-after: always"><span style="display:none">&nbsp;</span></div>
			</td>
		</tr>
		<tr>
			<td>免費德文有聲書下載</td>
			<td><a href="http://http://de.euronews.com/">http://de.euronews.com/</a></td>
		</tr>
		<tr>
			<td>了解德國文學史</td>
			<td><a href="http://www.udoklinger.de/Deutsch/Gesch/inhalt.html">http://www.udoklinger.de/Deutsch/Gesch/inhalt.html</a>
			<div style="page-break-after: always"><span style="display:none">&nbsp;</span></div>
			</td>
		</tr>
		<tr>
			<td>學好德文發音</td>
			<td><a href="https://uiowa.edu/~acadtech/phonetics">https://uiowa.edu/~acadtech/phonetics</a>
			<div style="page-break-after: always"><span style="display:none">&nbsp;</span></div>
			</td>
		</tr>
	</tbody>
</table>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>德文書信詳解</td>
			<td><a href="http://www.musterbrief.net/">http://www.musterbrief.net/</a>
			<div style="page-break-after: always"><span style="display:none">&nbsp;</span></div>
			</td>
		</tr>
		<tr>
			<td>基礎德文商報&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td><a href="http://www.handelsblatt.com/">http://www.handelsblatt.com/</a>
			<div style="page-break-after: always"><span style="display:none">&nbsp;</span></div>
			</td>
		</tr>
		<tr>
			<td>德國音樂介紹&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td><a href="http://cieltaipei.pixnet.net/blog/category/578655">http://cieltaipei.pixnet.net/blog/category/578655</a>
			<div style="page-break-after: always"><span style="display:none">&nbsp;</span></div>
			</td>
		</tr>
	</tbody>
</table>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>德國電影相關消息&nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td><a href="http://cieltaipei.pixnet.net/blog/category/353115">http://cieltaipei.pixnet.net/blog/category/353115</a>
			<div style="page-break-after: always"><span style="display:none">&nbsp;</span></div>
			</td>
		</tr>
		<tr>
			<td>德語國家風俗名情介紹</td>
			<td><a href="https://www.hueber.de/seite/landeskunde_daf">https://www.hueber.de/seite/landeskunde_daf</a>
			<div style="page-break-after: always"><span style="display:none">&nbsp;</span></div>
			</td>
		</tr>
		<tr>
			<td>基礎實用單字（含發音）</td>
			<td><a href="http://www.languageguide.org/german/vocabulary/">http://www.languageguide.org/german/vocabulary/</a>
			<div style="page-break-after: always"><span style="display:none">&nbsp;</span></div>
			</td>
		</tr>
		<tr>
			<td>德文線上字典</td>
			<td><a href="https://de.pons.com/">https://de.pons.com/</a>
			<div style="page-break-after: always"><span style="display:none">&nbsp;</span></div>
			</td>
		</tr>
		<tr>
			<td>Schul Spiegel</td>
			<td><a href="http://www.spiegel.de/lebenundlernen/schule/">http://www.spiegel.de/lebenundlernen/schule/</a>
			<div style="page-break-after: always"><span style="display:none">&nbsp;</span></div>
			</td>
		</tr>
		<tr>
			<td>News 4 Kids</td>
			<td><a href="http://www.news4kids.de/">http://www.news4kids.de/</a>
			<div style="page-break-after: always"><span style="display:none">&nbsp;</span></div>
			</td>
		</tr>
		<tr>
			<td>Zeit德語新聞</td>
			<td><a href="https://www.zeit.de/index">https://www.zeit.de/index</a>
			<div style="page-break-after: always"><span style="display:none">&nbsp;</span></div>
			</td>
		</tr>
		<tr>
			<td>Leo德歐雙向字典</td>
			<td><a href="http://https://dict.leo.org">https://dict.leo.org</a>
			<div style="page-break-after: always"><span style="display:none">&nbsp;</span></div>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>