<table border="0" cellpadding="0" cellspacing="0" style="width:559px">
	<tbody>
		<tr>
			<td style="width: 135px; height: 22px;">
			<p>指定考試</p>
			</td>
			<td colspan="2" style="width: 96px; height: 22px;">
			<p>同分參酌</p>
			</td>
			<td rowspan="2" style="width: 328px; height: 22px;">
			<p>選系說明</p>
			</td>
		</tr>
		<tr>
			<td style="width: 135px; height: 23px;">
			<p>採計科目及方法</p>
			</td>
			<td colspan="2" style="width: 96px; height: 23px;">
			<p>順序</p>
			</td>
		</tr>
		<tr>
			<td style="width: 135px; height: 34px;">
			<p>國　文&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; x 1.50</p>
			</td>
			<td rowspan="2" style="width: 25px; height: 34px;">
			<p>1</p>
			</td>
			<td rowspan="2" style="width: 71px; height: 34px;">
			<p>英　文</p>
			</td>
			<td rowspan="4" style="width: 328px; height: 34px;">
			<p>本系以培訓德語專業及國際事務人才為目標，以語言、人文、實務及跨學科四個方向規劃課程。大三學生赴姊妹校研習一年。畢業生可在國內外大學相關系所深造，亦可從事外交、經貿、文化及觀光旅遊等行業。通過本科外語能力畢業檢定考試，始授予學士學位。 本系組受理符合登記分發及入學資格第十八款者。</p>
			</td>
		</tr>
		<tr>
			<td style="width: 135px; height: 34px;">
			<p>英　文&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; x 2.00</p>
			</td>
		</tr>
		<tr>
			<td style="width: 135px; height: 34px;">
			<p>歷　史&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; x 1.00</p>
			</td>
			<td style="width: 25px; height: 34px;">
			<p>2</p>
			</td>
			<td style="width: 71px; height: 34px;">
			<p>國　文</p>
			</td>
		</tr>
		<tr>
			<td style="width: 135px; height: 34px;">
			<p>地　理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; x 1.00</p>
			</td>
			<td style="width: 25px; height: 34px;">
			<p>3</p>
			</td>
			<td style="width: 71px; height: 34px;">
			<p>歷　史</p>
			</td>
		</tr>
	</tbody>
</table>