<h2><span style="font-size:16px"><strong>【核心能力】</strong></span></h2>

<p><span style="font-size:16px">&nbsp;<br />
本系學生畢業時應具備之核心能力如下：</span></p>

<p><span style="font-size:16px">1.&nbsp;德語聽力及口說B1（歐語能力評量共同參考標準）的能力</span></p>

<p><span style="font-size:16px">2.&nbsp;德語閱讀B1（歐語能力評量共同參考標準）的能力</span></p>

<p><span style="font-size:16px">3.&nbsp;德語寫作B1（歐語能力評量共同參考標準）的能力</span></p>

<p><span style="font-size:16px">4.&nbsp;具備基本德語語法能力</span></p>

<p><span style="font-size:16px">5.&nbsp;德語翻譯的能力</span></p>

<p><span style="font-size:16px">6.&nbsp;德語語言學、文化、文學知識</span></p>

<p><span style="font-size:16px">7.&nbsp;具備基本的商務德文知識</span></p>

<p><span style="font-size:16px">8. 具備自主學習、蒐集、分析與報告德文資料的能力</span></p>