<h3><span style="font-size:28px">系所特色</span></h3>

<div id="pages_area">
<div id="editor">&nbsp;
<p><span style="font-size:28px">&nbsp;&nbsp;本系在教育目標、核心能力與課程設計的主要特色為：國際化、資訊化、整合化、多元且系統化的課程規劃、嚴謹的德語能力檢定機制等。</span></p>

<p><span style="font-size:28px"><u><strong>學生方面：</strong></u></span></p>

<p><span style="font-size:28px">1)&nbsp;國際化：大三出國與交換生交流計畫、暑期德國漢堡大學語言班、交換生駐「德語特區」與學生互動交流。</span></p>

<p><span style="font-size:28px">2)&nbsp;嚴謹的德語能力檢定機制:大一初級德文文法與初級德文德本列為「深化課程」、大二期末分科會考、擋修制度、德語能力檢定畢業門檻。</span></p>

<p><span style="font-size:28px">3)&nbsp;多元學習與輔導機制：</span></p>

<p><span style="font-size:28px">學業：德語特區、多語莫敵學習網站、德語競賽與學習活動、學長姐輔導、身心障礙生個別輔導、境外生輔導等。</span></p>

<p><span style="font-size:28px">生涯、就業：升學就業講座、學長姐職場經驗分享、企業參訪。</span></p>

<p><span style="font-size:28px">4)&nbsp;資訊化：教學資源e化、行政e化：教學平台、多媒體教學等。</span></p>

<p><span style="font-size:28px">5)&nbsp;多元學習與輔導機制：教師駐區時間、期末夜間課業輔導。</span></p>

<p><br />
<span style="font-size:28px"><u><strong>課程方面：</strong></u></span></p>

<p><span style="font-size:28px">多元且系統化的課程規劃：課程規劃為語言、人文、實務與跨學科四個方向。</span></p>

<p><span style="font-size:28px">1)&nbsp;&nbsp;整合大一、大二基礎德語課程和大三大四相關課程。</span></p>

<p><span style="font-size:28px">2)兼顧英語能力：必修英文兩年；訂定通過英檢&nbsp;(中級)&nbsp;或同等級數為畢業門檻。</span></p>

<p><span style="font-size:28px">3)&nbsp;未來化之課程：本系學生一律必修「未來學」、「全球科技革命」、「全球視野」課程</span></p>
</div>
</div>