<p><strong>雙主修申請辦法</strong></p>

<p>1.本校學生 (不包括應屆畢業生及延長修業年限者)，其前1學年每學期所修習學分在15學分 [蘭陽校園之學生為12學分] 以上，平均成績達75分或B，得自每學年度第2學期申請加選雙主修。經主修系或學位學程及加修系系主任或學位學程主管同意轉教務處備查後始得修習。惟蘭陽校園之學生僅得於蘭陽校園內修讀雙主修。
	<br>
	<br>
</p>

<p>2.學生加修雙主修課程於規定修業年限內學校若需另行開班者，應繳交學分費。
	<br>
	<br>
</p>

<p>3.申請修讀雙主修者﹐應檢附在校全部<u>成績單正本</u>﹐以備審查。
	<br>
	<br>
</p>

<p>4.其他相關規定，請逕至教務處網頁 (
	<a href="http://www.acad.tku.edu.tw/"></a><a href="http://www.acad.tku.edu.tw">http://www.acad.tku.edu.tw</a> ) 之「法規章程」</p>

<p>&nbsp;詳見「淡江大學學生修讀雙主修辦法」。
	<br>
	<br>5. 申請雙主修辦理流程請參見<a class="fr-file" href="/storage/app/media/German/file3.pdf">附檔</a></p>

<p><strong>雙主修課程學分</strong></p>

<p>申請通過雙主修者須修畢當學年度必修科目表裏所列之所有必修學分 (核心課程只要隨原系修讀即可)</p>

<p>&nbsp;</p>