<p>
	<br>
</p>

<table align="left" border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="background-color: rgb(26, 188, 156);" valign="top" width="59">

				<p align="center"><strong>1</strong></p>
			</td>
			<td valign="top" width="333"><strong>綜合文法練習書</strong><strong>(</strong><strong>掃描檔</strong><strong>)/Die Übung von Frau Pichardo 2012</strong><strong>：</strong>
				<br>
			</td>
			<td valign="top" width="639"><strong><a href="https://wirhabendeutsch.files.wordpress.com/2012/05/frau-pichardos-c3bcbungen-2011-123.pdf"></a><a href="https://wirhabendeutsch.files.wordpress.com/2012/05/frau-pichardos-c3bcbungen-2011-123.pdf">https://wirhabendeutsch.files.wordpress.com/2012/05/frau-pichardos-c3bcbungen-2011-123.pdf</a></strong>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(26, 188, 156);" valign="top" width="59">

				<p align="center"><strong>2</strong></p>
			</td>
			<td valign="top" width="333">(不定冠詞/形容詞字尾變化) Schritte 線上練習網頁：
				<br>
			</td>
			<td valign="top" width="639">
				<a href="https://www.hueber.de/shared/uebungen/schritte-international/fset.php?Volume=4&amp;Lection=2&amp;Exercise=1&amp;SubExercise=1"></a><a href="https://www.hueber.de/shared/uebungen/schritte-international/fset.php?Volume=4&amp;Lection=2&amp;Exercise=1&amp;SubExercise=1">https://www.hueber.de/shared/uebungen/schritte-international/fset.php?Volume=4&amp;Lection=2&amp;Exercise=1&amp;SubExercise=1</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(26, 188, 156);" valign="top" width="59">

				<p align="center"><strong>3</strong></p>
			</td>
			<td valign="top" width="333">(形容詞字尾變化) Schubert Sprachniveau A2：
				<br>
			</td>
			<td valign="top" width="639">
				<a href="https://www.schubert-verlag.de/aufgaben/xg/xg05_15.htm"></a><a href="https://www.schubert-verlag.de/aufgaben/xg/xg05_15.htm">https://www.schubert-verlag.de/aufgaben/xg/xg05_15.htm</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(26, 188, 156);" valign="top" width="59">

				<p align="center"><strong>4</strong></p>
			</td>
			<td valign="top" width="333">(形容詞字尾變化)Adjektivendungen- Übungen(掃描檔+詳解)
				<br>
			</td>
			<td valign="top" width="639">
				<a href="http://people.ucls.uchicago.edu/~mzemil/9thgerman/ADJEKTIVENDUNGEN.pdf"></a><a href="http://people.ucls.uchicago.edu/~mzemil/9thgerman/ADJEKTIVENDUNGEN.pdf">http://people.ucls.uchicago.edu/~mzemil/9thgerman/ADJEKTIVENDUNGEN.pdf</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(26, 188, 156);" valign="top" width="59">

				<p align="center"><strong>5</strong></p>
			</td>
			<td valign="top" width="333">(不定冠詞/形容詞字尾變化)綜合練習- Schubert B2:
				<br>
			</td>
			<td valign="top" width="639">
				<a href="https://www.schubert-verlag.de/aufgaben/uebungen_b2/b2_deklination-adjektive1.htm"></a><a href="https://www.schubert-verlag.de/aufgaben/uebungen_b2/b2_deklination-adjektive1.htm">https://www.schubert-verlag.de/aufgaben/uebungen_b2/b2_deklination-adjektive1.htm</a>
				<br>&nbsp;
				<br>
				<br>
			</td>
		</tr>
	</tbody>
</table>