<ul>
	<li><span style="font-size:18px"><strong>學長姐輔導</strong></span><br />
	<br />
	<span style="font-size:16px">本系除了專任教師固定時段駐德語特區之外，更安排大三與大四學生於晚間駐德語特區，給予有需要的學弟妹課業輔導。學生反映熱烈，輔導效果顯著。</span></li>
</ul>

<p><strong><span style="font-size:20px">106學年度學長姐輔導時間表</span></strong></p>

<p><span style="font-size:16px"><strong><span style="background-color:#00ff00">輔導地點： ＦＬ102(德語特區教室)</span></strong></span></p>

<p><span style="font-size:18px"><span style="background-color:#ffff00">請於線上表單內登記：&nbsp;</span></span></p>

<p><a href="https://docs.google.com/spreadsheets/d/1D7NIBpLh7XnnTPwpeigzyrudtFjLbKWNj9VfsDKFvZw/edit?usp=sharing">https://docs.google.com/spreadsheets/d/1D7NIBpLh7XnnTPwpeigzyrudtFjLbKWNj9VfsDKFvZw/edit?usp=sharing</a></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<table cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<p>2018.03.05 (Mon.)&nbsp; &nbsp;</p>
			</td>
			<td>
			<p>2018.03.07 (Wed.)&nbsp; &nbsp;&nbsp;</p>
			</td>
			<td>
			<p>2018.03.08 (Thu.)&nbsp; &nbsp;</p>
			</td>
			<td>
			<p>2018.03.08 (Thu.)&nbsp; &nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>18:00-20:00</p>
			</td>
			<td>
			<p>10:00-12:00</p>
			</td>
			<td>
			<p>12:00-14:00</p>
			</td>
			<td>
			<p>18:00-20:00</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>李芳榆 學姊</p>
			</td>
			<td>
			<p>陳湘媞 學姊</p>
			</td>
			<td>
			<p>陳湘媞 學姊</p>
			</td>
			<td>
			<p>李芳榆 學姊</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>2018.03.12 (Mon.)</p>
			</td>
			<td>
			<p>2018.03.14 (Wed.)</p>
			</td>
			<td>
			<p>2018.03.15 (Thu.)</p>
			</td>
			<td>
			<p>2018.03.15 (Thu.)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>18:00-20:00</p>
			</td>
			<td>
			<p>10:00-12:00</p>
			</td>
			<td>
			<p>12:00-14:00</p>
			</td>
			<td>
			<p>18:00-20:00</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>李芳榆 學姊</p>
			</td>
			<td>
			<p>陳湘媞 學姊</p>
			</td>
			<td>
			<p>陳湘媞 學姊</p>
			</td>
			<td>
			<p>李芳榆 學姊</p>
			</td>
		</tr>
	</tbody>
</table>

<table cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<p>2018.03.19 (Mon. )&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
			</td>
			<td>
			<p>2018.03.22 (Thu.)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>18:00-20:00</p>
			</td>
			<td>
			<p>18:00-20:00</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>陳湘媞 學姊</p>
			</td>
			<td>
			<p>陳湘媞 學姊</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>2018.04.09 (Mon.)</p>
			</td>
			<td>
			<p>2018.04.12 (Thu.)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>18:00-20:00</p>
			</td>
			<td>
			<p>18:00-20:00</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>陳湘媞 學姊</p>
			</td>
			<td>
			<p>陳湘媞 學姊</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>2018.04.16 (Mon.)</p>
			</td>
			<td>
			<p>2018.04.26 (Thu.)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>18:00-20:00</p>
			</td>
			<td>
			<p>18:00-20:00</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>李芳榆 學姊</p>
			</td>
			<td>
			<p>李芳榆 學姊</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>2018.04.23 (Mon.)</p>
			</td>
			<td>
			<p>2018.04.26 (Thu.)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>18:00-20:00</p>
			</td>
			<td>
			<p>18:00-20:00</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>李芳榆 學姊</p>
			</td>
			<td>
			<p>李芳榆 學姊</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>2018.05.14 (Mon.)</p>
			</td>
			<td>
			<p>2018.05.17 (Thu.)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>18:00-20:00</p>
			</td>
			<td>
			<p>18:00-20:00</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>陳湘媞 學姊</p>
			</td>
			<td>
			<p>陳湘媞 學姊</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>2018.05.28 (Mon.)</p>
			</td>
			<td>
			<p>2018.05.31 (Thu.)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>18:00-20:00</p>
			</td>
			<td>
			<p>18:00-20:00</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>陳湘媞 學姊</p>
			</td>
			<td>
			<p>陳湘媞 學姊</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>2018.06.04 (Mon.)</p>
			</td>
			<td>
			<p>2018.06.14 (Thu.)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>18:00-20:00</p>
			</td>
			<td>
			<p>18:00-20:00</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>陳湘媞 學姊</p>
			</td>
			<td>
			<p>陳湘媞 學姊</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>2018.06.11 (Mon.)</p>
			</td>
			<td>
			<p>2018.06.14 (Thu.)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>18:00-20:00</p>
			</td>
			<td>
			<p>18:00-20:00</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>李芳榆 學姊</p>
			</td>
			<td>
			<p>李芳榆 學姊</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>2018.06.18 (Mon.)</p>
			</td>
			<td>
			<p>2018.06.21 (Thu.)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>18:00-20:00</p>
			</td>
			<td>
			<p>18:00-20:00</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>李芳榆 學姊</p>
			</td>
			<td>
			<p>李芳榆 學姊</p>
			</td>
		</tr>
	</tbody>
</table>