<p><strong><span style="font-size:24px">【系所特色 / 就業講座】</span></strong></p>

<p>&nbsp;</p>

<p><span style="font-size:16px">為讓同學了解職場現況，以縮減畢業就業差距，達到就業無縫接軌，本系每學年辦理4場職場講座，邀請系友或業界人士到課堂，講解就業準備、職場必備能力、職場人際關係等面向。透過各行各業的深入介紹，讓同學了解職場現況，以及本身能力與職場所需的差距，在畢業前，進行最後一哩路的強化。歷年舉行過的職場講座有:</span><br />
&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td rowspan="4" style="width:79px">
			<p><span style="font-size:16px">107年</span></p>
			</td>
			<td style="width:244px">
			<p><span style="font-size:16px">張盆 老師</span></p>
			</td>
			<td style="width:244px">
			<p><span style="font-size:16px">講題: 導遊業與導遊技巧</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:244px">
			<p><span style="font-size:16px">張函辰</span></p>

			<p><span style="font-size:16px">自由工作者</span></p>

			<p><span style="font-size:16px">(巴黎索邦第一大學數位媒體藝術所藝術碩士)</span></p>
			</td>
			<td style="width:244px">
			<p><span style="font-size:16px">講題: 外語人的自由冒險</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:244px">
			<p><span style="font-size:16px">王玥 小姐</span></p>
			</td>
			<td style="width:244px">
			<p><span style="font-size:16px">講題: 財務vs. 警局與職場vs.業餘</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:244px">
			<p><span style="font-size:16px">許世侖女士. (文藻德文/輔大德文/ University of Brighton MBA 豫品科技有限公司業務經理</span></p>
			</td>
			<td style="width:244px">
			<p><span style="font-size:16px">講題: 國際業務的POWER</span></p>
			</td>
		</tr>
		<tr>
			<td rowspan="4" style="width:79px">
			<p><span style="font-size:16px">106年</span></p>
			</td>
			<td style="width:244px">
			<p><span style="font-size:16px">劉威良小姐&nbsp;</span></p>
			</td>
			<td style="width:244px">
			<p><span style="font-size:16px">講題: 外國人在德國的就業</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:244px">
			<p><span style="font-size:16px">丁茹芬小姐</span></p>

			<p><span style="font-size:16px">專業德語導遊</span></p>
			</td>
			<td style="width:244px">
			<p><span style="font-size:16px">講題: 導遊業與導遊的技巧</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:244px">
			<p><span style="font-size:16px">黃暖容 系友 (狄卡農公司)</span></p>

			<p><span style="font-size:16px">黃彥霖 系友 (長榮航空)</span></p>
			</td>
			<td style="width:244px">
			<p><span style="font-size:16px">講題: 求職、轉職與任職</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:244px">
			<p><span style="font-size:16px">王新財先生</span></p>

			<p><span style="font-size:16px">聞祺企業有限公司負責人</span></p>
			</td>
			<td style="width:244px">
			<p><span style="font-size:16px">講題: 從德文系到科技業</span><br />
			&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="5" style="width:79px">
			<p><span style="font-size:16px">105年</span></p>
			</td>
			<td style="width:244px">
			<p><span style="font-size:16px">張曉蕊小姐&nbsp;&nbsp;</span></p>

			<p><span style="font-size:16px">城邦文化公司副總編</span></p>
			</td>
			<td style="width:244px">
			<p><span style="font-size:16px">講題:台灣出版業的愛與愁&mdash;德文系學生進入出版業該有的心理準備</span></p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:244px">
			<p><span style="font-size:16px">張瑞妍小姐</span></p>

			<p><span style="font-size:16px">南山人壽區經理</span></p>
			</td>
			<td style="width:244px">
			<p><span style="font-size:16px">講題:成功的唯一關鍵&nbsp;&ndash;&nbsp;首先你要選擇相信</span><br />
			&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:244px">
			<p><span style="font-size:16px">林純如小姐</span></p>

			<p><span style="font-size:16px">台灣思科系統公司</span></p>
			</td>
			<td style="width:244px">
			<p><span style="font-size:16px">講題: 比就業更難的事</span><br />
			&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:244px">
			<p><span style="font-size:16px">秦素霞小姐</span></p>

			<p><span style="font-size:16px">台灣IBM協理</span></p>
			</td>
			<td style="width:244px">
			<p><span style="font-size:16px">講題: 從德語到職場</span><br />
			&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:244px">
			<p><span style="font-size:16px">呂禧鴻先生&nbsp;</span></p>

			<p><span style="font-size:16px">前範亞公關集團創辦人</span></p>
			</td>
			<td style="width:244px">
			<p><span style="font-size:16px">講題: 職場體驗-從公共關係談起</span></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>