<p>&nbsp; &nbsp; 本系以語言、人文、實務及跨學科(校必選修)四個領域規劃課程: 大一、大二著重基礎德語的訓練，大三、大四專業進階德語與實務能力的培養。</p>

<p><strong><br>語言：</strong>語言課程方面首先著重聽、說、讀能力的培養和提升，進而促進寫和譯的能力，使學生能夠綜合運用與掌握德語，如德語語言練習、德語文法、讀本、會話、翻譯等課程。</p>

<p><strong>人文：</strong>人文課程方面，以豐富學生的德語國家、文化、文學知識，使學生具有一定的人文、跨文化素養，如：德語國家面面觀、德國文化史、文學史、聖經文學、藝術史、戲劇、青少年文學、中德文化比較等課程。</p>

<p><strong>跨學科：</strong>跨學科課程方面讓學生掌握更多、更新其它領域的資訊及知識，如：資訊概論、英文、中國語文能力表達等課程。</p>

<p><strong>實務：</strong>實務課程方面以就業導向為目標，開設學以致用的課程，培養學生的就業專業技能，如：經貿德文、德語貿易實務、德文商業書信、秘書實務、觀光德語、新聞媒體德文等課程。</p>

<p><img src="/storage/app/media/uploaded-files/570_c9cb7b10.jpg" style="width: 941px; height: 712.149px;" class="fr-fic fr-dib fr-fil" data-result="success"></p>

<p>參考資料:</p>

<ol>
	<li><a class="fr-file" href="/storage/app/media/uploaded-files/2017-german-course-plan.pdf">課程地圖</a></li>
	<li><a class="fr-file" href="/storage/app/media/uploaded-files/german_course.doc">課程架構圖</a></li>
	<li><a class="fr-file" href="/storage/app/media/uploaded-files/learning-plan.doc">學習地圖</a>
		<br>
	</li>
</ol>