<table align="left" border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="background-color: rgb(235, 107, 86);" valign="top" width="59">

				<p align="center"><strong>1</strong></p>
			</td>
			<td valign="top" width="333">ZDF電台節目
				<br>
			</td>
			<td valign="top" width="639"><strong><a href="https://www.zdf.de/krimi"></a><a href="https://www.zdf.de/krimi">https://www.zdf.de/krimi</a></strong>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(235, 107, 86);" valign="top" width="59">

				<p align="center"><strong>2</strong></p>
			</td>
			<td valign="top" width="333">WDR電台節目
				<br>
			</td>
			<td valign="top" width="639">
				<a href="https://www1.wdr.de/kinder/index.html"></a><a href="https://www1.wdr.de/kinder/index.html"><strong>https://www1.wdr.de/kinder/index.html</strong></a><strong>　</strong>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(235, 107, 86);" valign="top" width="59">

				<p align="center"><strong>3</strong></p>
			</td>
			<td valign="top" width="333">ZDF電台節目
				<br>
			</td>
			<td valign="top" width="639">
				<a href="https://www.zdf.de/kinder"></a><a href="https://www.zdf.de/kinder"><strong>https://www.zdf.de/kinder</strong></a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(235, 107, 86);" valign="top" width="59">

				<p align="center"><strong>4</strong></p>
			</td>
			<td valign="top" width="333">Unsere Mütter, unsere Vater &nbsp;(來源1)
				<br>
			</td>
			<td valign="top" width="639">
				<a href="http://www.dailymotion.com/video/x5jm756"></a><a href="http://www.dailymotion.com/video/x5jm756"><strong>http://www.dailymotion.com/video/x5jm756</strong></a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(235, 107, 86);" valign="top" width="59">

				<p align="center"><strong>5</strong></p>
			</td>
			<td valign="top" width="333">ORF-TV/Thek
				<br>Unsere Mütter, unsere Vater &nbsp;(來源2)
				<br>
			</td>
			<td valign="top" width="639">
				<a href="http://tvthek.orf.at/profile/Archiv/7648449/Unsere-Muetter-Unsere-Vaeter-Eine-andere-Zeit-1/10559268"></a><a href="http://tvthek.orf.at/profile/Archiv/7648449/Unsere-Muetter-Unsere-Vaeter-Eine-andere-Zeit-1/10559268"><strong>http://tvthek.orf.at/profile/Archiv/7648449/Unsere-Muetter-Unsere-Vaeter-Eine-andere-Zeit-1/10559268</strong></a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(235, 107, 86);" valign="top" width="59">

				<p align="center"><strong>6</strong></p>

				<table style="width: 100%;">
					<tbody>
						<tr>
							<td style="width: 100.0000%;">
								<br>
							</td>
						</tr>
						<tr>
							<td style="width: 100.0000%;">
								<br>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td valign="top" width="333">Knallerfrauen

				<table style="width: 100%;">
					<tbody>
						<tr>
							<td style="width: 100.0000%;">有聲書網站
								<br>&nbsp;(部分免費+有逐字稿可下載)
								<br>
							</td>
						</tr>
						<tr>
							<td style="width: 100.0000%;">
								<br>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td valign="top" width="639">
				<a href="https://www.youtube.com/channel/UCWCIIJRQImUtolnWZjcSB7Q"></a><a href="https://www.youtube.com/channel/UCWCIIJRQImUtolnWZjcSB7Q"><strong>https://www.youtube.com/channel/UCWCIIJRQImUtolnWZjcSB7Q</strong></a>

				<table style="width: 100%;">
					<tbody>
						<tr>
							<td style="width: 100.0000%;">

								<table align="left" border="1" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td valign="top" width="639"><strong><a href="https://wirhabendeutsch.files.wordpress.com/2012/05/frau-pichardos-c3bcbungen-2011-123.pdf"></a><a href="https://wirhabendeutsch.files.wordpress.com/2012/05/frau-pichardos-c3bcbungen-2011-123.pdf">https://wirhabendeutsch.files.wordpress.com/2012/05/frau-pichardos-c3bcbungen-2011-123.pdf</a></strong>
												<br>
											</td>
										</tr>
									</tbody>
								</table>
								<br>
							</td>
						</tr>
						<tr>
							<td style="width: 100.0000%;">
								<br>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<p>
	<br>
</p>