<h2>【本系簡介/畢業出路】 &nbsp;</h2>

<p>
	<br>
</p>

<p>本系之教育目標主要以培養學生德語語言能力，及培育學生自主學習、獨立思考、跨文化溝通、跨領域，且具備國際觀等多元能力為主。本系應屆畢業生皆需參加本科外語能力畢業檢定考試，絕大部分學生皆能通過此一測驗，就德語專業能力方面來評估，相當符合本系之教育目標。</p>

<p>&nbsp;</p>

<p>發展概況</p>

<p>1.&nbsp;升學:</p>

<p><u><strong>-&nbsp;國內:</strong></u></p>

<p>(1)&nbsp;德文相關:淡江大學歐洲研所、輔仁大學德國語文學研究所、東吳大學德國文化研究所、高雄第一科技大學應用德語系研究所等。</p>

<p>(2)&nbsp;其他:&nbsp;外交暨國防事務研究所、語言研究所、其他相關研究所。</p>

<p><u><strong>-&nbsp;國外:</strong></u>&nbsp;
	<br>於德國、英國、美國等大學繼續攻讀碩士或博士學位。
	<br>
	<br>&nbsp;</p>

<p>2.&nbsp;就業:</p>

<p><u><strong>-&nbsp;國內:</strong></u></p>

<p>(1)&nbsp;從事與外語有關的公職:外交部、經濟部、外貿協會、新聞局等公務人員。</p>

<p>(2)&nbsp;從事與外語有關的職業:貿易公司、證照公司、航空公司等從業人員與導遊。</p>

<p>(3)&nbsp;從事跨領域之職業:國中小或補教業教師、資訊電子公司、航運公司、一般進出口公司、旅</p>

<p>行社、雜誌社等從業人員，或自行創業。</p>

<p><u><strong>-&nbsp;國外:</strong></u></p>

<p>駐外單位&nbsp;(經由新聞、外交特考，或由經濟部、教育部及外貿協會派任)。
	<br>
	<br>
	<br>「104學年度畢業生畢業滿一年」及「105學年度畢業生畢業當年」就業統計</p>

<table border="0" cellpadding="0" cellspacing="0" width="693">
	<tbody>
		<tr height="50">
			<td colspan="8" height="50" width="693"><strong>淡江大學德文系畢業生-畢業滿1年就業情形</strong>
				<br>
			</td>
		</tr>
		<tr height="64">
			<td height="64" width="90"><strong>畢業學年度</strong>
				<br>
			</td>
			<td width="82"><strong>畢業生總數</strong>
				<br>
			</td>
			<td width="165"><strong>已掌握就業情形學生數<br>（A+B+C+D）</strong>
				<br>
			</td>
			<td width="105"><strong>已就業學生數<br>（A+B+C）</strong>
				<br>
			</td>
			<td width="58"><strong>在職<br>（A）</strong>
				<br>
			</td>
			<td width="54"><strong>服役中<br>（B）</strong>
				<br>
			</td>
			<td width="50"><strong>繼續升學<br>（C）</strong>
				<br>
			</td>
			<td width="89"><strong>待業中(準備考試及其他)</strong>
				<br><strong>（</strong><strong>D）</strong>
				<br>
			</td>
		</tr>
		<tr height="36">
			<td height="36">102
				<br>
			</td>
			<td>63
				<br>
			</td>
			<td>42
				<br>
			</td>
			<td>37
				<br>
			</td>
			<td>31
				<br>
			</td>
			<td>1
				<br>
			</td>
			<td>5
				<br>
			</td>
			<td>5
				<br>
			</td>
		</tr>
		<tr height="65">
			<td height="65">103
				<br>
			</td>
			<td>66
				<br>
			</td>
			<td>44
				<br>
			</td>
			<td>40
				<br>
			</td>
			<td>36
				<br>
			</td>
			<td>1
				<br>
			</td>
			<td>3
				<br>
			</td>
			<td>2
				<br>
			</td>
		</tr>
		<tr height="65">
			<td height="65">104
				<br>
			</td>
			<td>64
				<br>
			</td>
			<td>52
				<br>
			</td>
			<td>48
				<br>
			</td>
			<td>34
				<br>
			</td>
			<td>1
				<br>
			</td>
			<td>13
				<br>
			</td>
			<td>4
				<br>
			</td>
		</tr>
		<tr height="45">
			<td height="45">&nbsp;
				<br>
			</td>
			<td>&nbsp;
				<br>
			</td>
			<td>&nbsp;
				<br>
			</td>
			<td>&nbsp;
				<br>
			</td>
			<td>&nbsp;
				<br>
			</td>
			<td>&nbsp;
				<br>
			</td>
			<td>&nbsp;
				<br>
			</td>
			<td>&nbsp;
				<br>
			</td>
		</tr>
		<tr height="50">
			<td colspan="8" height="50"><strong>淡江大學德文系畢業生 - 畢業當年就業情形</strong>
				<br>
			</td>
		</tr>
		<tr height="64">
			<td height="64" width="90"><strong>畢業學年度</strong>
				<br>
			</td>
			<td width="82"><strong>畢業生總數</strong>
				<br>
			</td>
			<td width="165"><strong>已掌握就業情形學生數<br>（A+B+C+D）</strong>
				<br>
			</td>
			<td width="105"><strong>已就業學生數<br>（A+B+C）</strong>
				<br>
			</td>
			<td width="58"><strong>在職<br>（A）</strong>
				<br>
			</td>
			<td width="54"><strong>服役中<br>（B）</strong>
				<br>
			</td>
			<td width="50"><strong>繼續升學<br>（C）</strong>
				<br>
			</td>
			<td width="89"><strong>待業中(準備考試及其他)</strong>
				<br><strong>（</strong><strong>D）</strong>
				<br>
			</td>
		</tr>
		<tr height="53">
			<td height="53">101
				<br>
			</td>
			<td>62
				<br>
			</td>
			<td>57
				<br>
			</td>
			<td>47
				<br>
			</td>
			<td>27
				<br>
			</td>
			<td>4
				<br>
			</td>
			<td>16
				<br>
			</td>
			<td>10
				<br>
			</td>
		</tr>
		<tr height="53">
			<td height="53">102
				<br>
			</td>
			<td>68
				<br>
			</td>
			<td>47
				<br>
			</td>
			<td>37
				<br>
			</td>
			<td>21
				<br>
			</td>
			<td>9
				<br>
			</td>
			<td>7
				<br>
			</td>
			<td>10
				<br>
			</td>
		</tr>
		<tr height="53">
			<td height="53">103
				<br>
			</td>
			<td>66
				<br>
			</td>
			<td>40
				<br>
			</td>
			<td>29
				<br>
			</td>
			<td>19
				<br>
			</td>
			<td>9
				<br>
			</td>
			<td>1
				<br>
			</td>
			<td>11
				<br>
			</td>
		</tr>
		<tr height="62">
			<td height="62">104
				<br>
			</td>
			<td>62
				<br>
			</td>
			<td>43
				<br>
			</td>
			<td>40
				<br>
			</td>
			<td>22
				<br>
			</td>
			<td>5
				<br>
			</td>
			<td>13
				<br>
			</td>
			<td>3
				<br>
			</td>
		</tr>
		<tr height="62">
			<td height="62">105
				<br>
			</td>
			<td>55
				<br>
			</td>
			<td>25
				<br>
			</td>
			<td>25
				<br>
			</td>
			<td>20
				<br>
			</td>
			<td>1
				<br>
			</td>
			<td>4
				<br>
			</td>
			<td>8
				<br>
			</td>
		</tr>
	</tbody>
</table>