<p><a href="http://www.tflx.tku.edu.tw/download.php?filename=136_0294e6d7.doc&amp;dir=archive&amp;title=%E6%9C%83%E5%8F%A3%E6%BC%94%E4%BD%9C%E9%81%B8%E8%AA%B2%E6%B3%A8%E6%84%8F%E4%BA%8B%E9%A0%85"><span>「會話</span>/<span>口表</span>/<span>演講課」及「作文課」選課注意事項</span></a>&nbsp; &nbsp;&nbsp;</p>

<p>&nbsp; <a href="http://esquery.tku.edu.tw/acad/" target="_blank"><span>課程查詢系統</span>(<span>教學大綱</span>)</a></p>