<p>一、「英文（一）」</p>

<ol>
	<li>「英文（一）」（含實習）原則上皆以網路選課，以實習課之「開課序號」選課；選課成功時，系統會自動帶出正課含實習課之資料。</li>
	<li>網路選課時，日間部學生可以選日間部任一學系開設之「英文（一）」（含實習）課程；進學班學生可以選進學班任一學系開設之「英文（一）」（含實習）課程。不同學系開設之「英文（一）」（含實習）並無程度之分，僅使用之教材不同（進學班教材則都一樣）。</li>
	<li>英語專班（國企系國際商學全英語組、全球財務管理全英語學士學位學程、外交與國際關係學系全英語學士班）之「英文（一）」，自106學年度起不搭配實習課授課，其課程僅限英語專班學生修習。</li>
	<li>課程查詢：課程查詢系統／其他查詢／輸入「T0466」。</li>
</ol>

<p>二、「英文（二）」</p>

<ol>
	<li>「英文（二）」因採能力分班上課，本校目前尚無法以系統判斷學生程度，故一律皆以人工加選。請不用找授課教師加簽，於每學期開學第一週，備妥證明文件至英文系辦理即可。各年級辦理日期與詳細說明請見英文系網頁／非英文系學生專區。</li>
	<li>英語專班（國企系國際商學全英語組、全球財務管理全英語學士學位學程、外交與國際關係學系全英語學士班）不分班，皆已由教務處代選，如要退選，請審慎考慮。</li>
	<li>課程查詢：課程查詢系統／其他查詢／輸入「A0050」。</li>
</ol>

<p>三、說明：<br />
　　僅管「英文（一）」、「英文（二）」無擋修制度，學生可以在同一學年同時修習「英文（一）」和「英文（二）」，但考量此二課程有內容深淺難易之分，因此不建議學生同時修習「英文（一）」和「英文（二）」或者先修「英文（二）」再修「英文（一）」。<br />
&nbsp;</p>