<p><br />
107學年度英文學系碩班課程</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:700px">
	<tbody>
		<tr>
			<td>
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td colspan="4" style="width:696px">
			<p style="text-align:center">107-1</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td style="width:299px">
			<p>科目</p>
			</td>
			<td style="width:180px">
			<p>教師</p>
			</td>
			<td style="width:94px">
			<p>學分</p>
			</td>
			<td style="width:123px">
			<p>備註</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td style="width:299px">
			<p>英文寫作(一)*</p>

			<p>English Writing I</p>
			</td>
			<td style="width:180px">
			<p>張雅慧老師</p>
			</td>
			<td style="width:94px">
			<p>2</p>
			</td>
			<td style="width:123px">
			<p>3.4/ Wed</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td style="width:299px">
			<p>文學研究方法與寫作#</p>

			<p>Research Writing, and Methodology in Literary Studies</p>
			</td>
			<td style="width:180px">
			<p>陳佩筠老師</p>
			</td>
			<td style="width:94px">
			<p>2</p>
			</td>
			<td style="width:123px">
			<p>5.6/ Tue</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td style="width:299px">
			<p>教學研究方法與寫作#</p>

			<p>Research Writing, and Methodology in Language Teaching</p>
			</td>
			<td style="width:180px">
			<p>胡映雪老師</p>
			</td>
			<td style="width:94px">
			<p>2</p>
			</td>
			<td style="width:123px">
			<p>9.10/ Thu</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td style="width:299px">
			<p>英文寫作(三)</p>

			<p>English Writing III</p>
			</td>
			<td style="width:180px">
			<p>羅艾琳老師</p>
			</td>
			<td style="width:94px">
			<p>1</p>
			</td>
			<td style="width:123px">
			<p>6.7/ Fri.</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td style="width:299px">
			<p>英文寫作(三)</p>

			<p>English Writing III</p>
			</td>
			<td style="width:180px">
			<p>胡映雪老師</p>
			</td>
			<td style="width:94px">
			<p>1</p>
			</td>
			<td style="width:123px">
			<p>7.8/ Tue</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td style="width:299px">
			<p>實地英語教學</p>

			<p>TESOL PRACTICUM</p>
			</td>
			<td style="width:180px">
			<p>蔡瑞敏老師</p>
			</td>
			<td style="width:94px">
			<p>3</p>
			</td>
			<td style="width:123px">
			<p>5.6.7/ Wed</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td style="width:299px">
			<p>基礎口譯</p>

			<p>BASIC INTERPRETING</p>
			</td>
			<td style="width:180px">
			<p>羅得彰老師</p>
			</td>
			<td style="width:94px">
			<p>2</p>
			</td>
			<td style="width:123px">
			<p>3.4/ Thu</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td style="width:299px">
			<p>吳爾芙專題</p>

			<p>VIRGINIA WOOLF</p>
			</td>
			<td style="width:180px">
			<p>郭家珍老師</p>
			</td>
			<td style="width:94px">
			<p>2</p>
			</td>
			<td style="width:123px">
			<p>9.10/ Mon</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td style="width:299px">
			<p>後殖民文學</p>

			<p>POSTCOLONIAL LITERATURE</p>
			</td>
			<td style="width:180px">
			<p>小澤自然老師</p>
			</td>
			<td style="width:94px">
			<p>2</p>
			</td>
			<td style="width:123px">
			<p>7.8/ Wed</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td style="width:299px">
			<p>小計</p>
			</td>
			<td colspan="3" style="width:397px">
			<p>17</p>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="width:700px">
			<p style="text-align:center">107-2</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:302px">
			<p>科目</p>
			</td>
			<td style="width:180px">
			<p>教師</p>
			</td>
			<td style="width:94px">
			<p>學分</p>
			</td>
			<td style="width:123px">
			<p>備註</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:302px">
			<p>英文寫作(二)*</p>

			<p>English Writing II</p>
			</td>
			<td style="width:180px">
			<p>張雅慧老師</p>
			</td>
			<td style="width:94px">
			<p>2</p>
			</td>
			<td style="width:123px">
			<p>3.4/ Wed</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:302px">
			<p>文學理論#</p>

			<p>LITERARY THEORY AND CRITICISM</p>
			</td>
			<td style="width:180px">
			<p>陳佩筠老師</p>
			</td>
			<td style="width:94px">
			<p>2</p>
			</td>
			<td style="width:123px">
			<p>5.6/ Tue</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:302px">
			<p>第二語言習得與教法#</p>

			<p>SLA</p>
			</td>
			<td style="width:180px">
			<p>胡映雪老師</p>
			</td>
			<td style="width:94px">
			<p>2</p>
			</td>
			<td style="width:123px">
			<p>9.10/ Thu</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:302px">
			<p>進階口譯</p>

			<p>INTERMEDIATE INTERPRETING</p>
			</td>
			<td style="width:180px">
			<p>羅得彰老師</p>
			</td>
			<td style="width:94px">
			<p>2</p>
			</td>
			<td style="width:123px">
			<p>3.4/ Thu</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:302px">
			<p>旅行與文學</p>

			<p>Travel and Literature</p>
			</td>
			<td style="width:180px">
			<p>鄧秋蓉老師</p>
			</td>
			<td style="width:94px">
			<p>2</p>
			</td>
			<td style="width:123px">
			<p>. 5.6/ Mon</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:302px">
			<p>識字與成因</p>

			<p>Literacy and Facilitators</p>
			</td>
			<td style="width:180px">
			<p>薛玉政老師</p>
			</td>
			<td style="width:94px">
			<p>2</p>
			</td>
			<td style="width:123px">
			<p>7.8/ Mon.</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:302px">
			<p>語言測驗</p>

			<p>LANGUAGE TESTING</p>
			</td>
			<td style="width:180px">
			<p>李佳盈老師</p>
			</td>
			<td style="width:94px">
			<p>2</p>
			</td>
			<td style="width:123px">
			<p>3.4/ Tue.</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:302px">
			<p>小計</p>
			</td>
			<td colspan="3" style="width:397px">
			<p>14</p>
			</td>
		</tr>
	</tbody>
</table>