<h3><a class="fr-file" href="/storage/app/media/uploaded-files/course_plan.pdf">英文系大學部課程地圖</a></h3>

<h3><a class="fr-file" href="/storage/app/media/uploaded-files/book.docx">通識小冊</a></h3>

<h3>課程資訊</h3>

<p>一、大學部：<br />
&nbsp;1. 英語訓練課程<br />
&nbsp; &nbsp; (1) 基於淡江大學國際化、資訊化、未來化之校務發展藍圖，配合外語學院聽、說、讀、寫、譯之教育方針，加 強英語聽、說、讀、寫、譯五項技能，口語訓練和英文寫 &nbsp;作課程皆為必修三年，擋修制度，並採小班至多25人為一班，每年級分10~12班。<br />
&nbsp; &nbsp; (2) 在聽說訓練方面，從大一的英語會話必修、大二之英語口語表達必修、大三之英語演講必修直到大四的高級英語演講專題選修和同步口譯（一）（二）選修，足以訓練學生用流暢的英語進行溝通。從基本的英語會話到演講技巧，目標為培訓學生使用英語進行溝通並表達自己意見的能力。<br />
&nbsp; &nbsp; (3) 在寫作方面，從英作文（一）、英作文（二）到英作文（三），讓學生循序漸進的精進其英文寫作能力。從段落寫作到配合寫作技巧撰寫文章，學生得以運用流暢的文筆，符合英文寫作的規範，完整的呈現英文寫作能力。在大四所開設的翻譯與習作必修課，則延續前三年的英作文課程，訓練學生中翻英和英翻中的能力。另有選修的論文寫作提供給學生做更完整的訓練。<br />
&nbsp; &nbsp;(4) 閱讀方面則有大一英文、專業文學相關課程、散文選讀、小說與文學課程必修。在大量的英文原文書的閱讀中，必能增進學生的英語閱讀能力。<br />
&nbsp; &nbsp;(5) 以上皆為考量英文聽、說、讀、寫、譯五項技能之訓練。<br />
&nbsp;2. 文學課程<br />
&nbsp; &nbsp; 本系所規劃文學課程完整涵蓋英美文學、世界文學、及生態文學。大一必修之文學作品讀法和西洋文學概論奠定學生的文學基礎。從大二起，除了必修之英國文學外，尚有希臘神話、 &nbsp;<br />
&nbsp; &nbsp; 英詩選讀、英美散文選讀和西洋神話與電影等選修課程。在大三除了必修的美國文學外，也有戲劇選讀、環境與文學、小說選讀、莎士比亞等選修。大四則有女性文學、西洋文學批評 &nbsp;<br />
&nbsp; &nbsp; 導讀、閱讀當代文化、閱讀電影文化和情感與美感等選修，期能在系重點架構下，以多元的課程，培養學生閱讀、理解、欣賞、批判文學的能力，增進學生文學素養，並確實建立深厚<br />
&nbsp; &nbsp; 的根基。<br />
&nbsp;3. 語言學和英語教學課程<br />
&nbsp; &nbsp; 除文學課程之外，本系尚規劃了部分語言學和英語教學課程，以利想要在畢業後從事教職或是工商業務方面的學生。大二時及有必修之英語語言學概論和選修的英語語音學。大三 &nbsp;<br />
&nbsp; &nbsp; 則有多項選修課程如新聞英文、語言學習策略和句法學。大四所提供的選修如英語教學導論和商用英文更是偏向實用。</p>

<p>二、 研究所<br />
1. 文學組: 文學組碩博士班的課程，近年來在英美文學領域之外另加入生態文學為研究重點之一，也兼顧全球化研究、電影與文化研究和性別研究等，以提供學生修讀。<br />
2. 英語教學組: 英語教學組碩博士班的課程，涵蓋社會、心理語言 學、教育學、文學與網路教學等跨領域專題，針對培養多元化英語師資，理論與實務並重，結合本校教育學院資源，強調跨領域學習。並與本校明尼蘇達州一姐妹校教學碩士班成立雙學位制度，逐年增加參與學生，訓練具國際觀、全方位專業英語師資。碩博班外籍生漸增，逐漸走向國際化。與美國馬里蘭大學之國際遠距英語教學課程也是特色之一。</p>