<p>通識與核心課程為本校大學部學生（含進學班）之必修課程，共分為基本知能課程、通識核心課程、服務與活動課程。其中，「外國語文學門」屬於基本知能課程（簡稱Q群），共八學分，含大一應修習「英文（一）」四學分、大二得自由選修「英文（二）」或其他外文四學分。修習英文或其他外文者，上、下學期必須為同一語種始得承認。</p>

<p>法規彙編：<a href="/storage/app/media/English/Ellen/5-74淡江大學學生修讀外國語文學門課程實施要點.pdf">5-74淡江大學學生修讀外國語文學門課程實施要點.pdf</a>。</p>

<p><img src="/storage/app/media/English/Ellen/Course Selection Guidelines for Foreign Languages and Drills of General Education Curriculum.jpg" /></p>