<p>個人資料蒐集、處理及利用告知聲明</p>

<p><br />
淡江大學（以下簡稱本校）基於學生管理，進行註冊、成績評量、教育及就業輔導等必要工作之目的所需，蒐集最少的必要個人資料，且不會處理多餘的個人資料。而蒐集、處理或利用您的個人資料時，皆以尊重您的權益為基礎，並以誠實信用之方式及以下原則為之。為了保障您的權益及幫助您瞭解本校如何蒐集及使用您個人資訊，請務必詳細閱讀本聲明書之各項內容。&nbsp;<br />
1.&nbsp;&nbsp; &nbsp;機構名稱：淡江大學<br />
2.&nbsp;&nbsp; &nbsp;個人資料蒐集之目的：<br />
基於辦理學生管理之必要工作或經個資當事人同意之目的： 含特定目的〇〇一人身保險、〇四二兵役、替代役行政、一〇九教育或訓練行政、一二〇稅務行政、一七一其他中央政府機關暨所屬機關構內部單位管理、公共事務監督、行政協助及相關業務、一七二其他公共部門(包括行政法人、政府捐助財團法人及其他公法人)執行相關業務、一七五其他地方政府機關暨所屬機關構內部單位管理、公共事務監督、行政協助及相關業務、一七九其他財政服務、一五八學生（員）(含畢、結業生)資料管理。&nbsp;<br />
3.&nbsp;&nbsp; &nbsp;個人資料之蒐集方式：<br />
透過個資當事人親送、郵遞或網路而取得之個人資料。&nbsp;<br />
4.&nbsp;&nbsp; &nbsp;個人資料之類別：<br />
本校所蒐集之個資當事人個人資料如下： C001辨識個人者、C002辨識財務者、C003政府資料中之辨識者、C011個人描述、C012身體描述、Ｃ013習慣、 C021家庭情形、C023家庭其他成員之細節、C031住家及設施、C038職業、C051學校紀錄、C052資格或技術、C057學生（員）、應考人紀錄、C111健康紀錄。&nbsp;<br />
5.&nbsp;&nbsp; &nbsp;個人資料處理及利用：&nbsp;<br />
1.&nbsp;&nbsp; &nbsp;個人資料利用之期間：<br />
除法令或中央事業主管單位另有個人資料保存期限外，以上開蒐集目的完成所需之期間為限，學生資料將依淡江大學學則以及相關規定保存。&nbsp;<br />
2.&nbsp;&nbsp; &nbsp;個人資料利用之地區：<br />
台灣地區(包括澎湖、金門及馬祖等地區)。<br />
3.&nbsp;&nbsp; &nbsp;個人資料利用之對象：<br />
本校、主管機關、簽約維護廠商，不作為其他用途。<br />
4.&nbsp;&nbsp; &nbsp;個人資料利用之方式：<br />
(a)電子文件、紙本或其他合於當時科技之適當方式。<br />
(b)符合個資法第20條規定之利用。<br />
6.&nbsp;&nbsp; &nbsp;個資當事人得依個資法規定請求查詢、閱覽、製給複製本、補充或更正、請求停止蒐集、處理或利用及請求刪除。行使上述權利時，須依本校規定驗證確認本人身份後提出申請。若委託他人辦理，須另出具委託書並同時提供受託人身份證明文件以供核對。<br />
7.&nbsp;&nbsp; &nbsp;個資當事人應確認提供之個人資料，均為真實且正確；如有不實或需變更者，個資當事人應立即檢附相關證明文件送交本校辦理更正。&nbsp;<br />
8.&nbsp;&nbsp; &nbsp;個資當事人如未提供真實且正確完整之個人資料，導致無法學生事務無法執行、緊急事件無法聯繫、考試成績無法送達等，將影響個資當事人之權益，請特別注意。<br />
9.&nbsp;&nbsp; &nbsp;本校得依法令或遵照主管機關、司法機關依法所為之要求，提供個人資料及相關資料。</p>