<p><a class="fr-file" href="/storage/app/media/2/uploaded-files/Jr.%20Year%20Study%20Abroad%20Program.pptx">新手請看 - 大三出國留學計畫說明</a>
	<br>
</p>

<p><a class="fr-file" href="/storage/app/media/2/uploaded-files/Jr.%20Year%20Study%20Abroad%20Program_About%20School.pdf">大三出國留學-計畫及姐妹三校介紹</a></p>