<p><strong><span style="font-size:16px">二、附檔：</span></strong></p>

<p><span style="font-size:16px"><a href="https://drive.google.com/file/d/0B-Be425KHsnJX21hRWxGTmY5SDQ/view?usp=sharing">&nbsp;英文系畢業門檻審核手冊(105.08.31)</a><strong><a href="https://drive.google.com/file/d/0ByLiKAkhSN0IblJBNHhEaWFyQlE/view?usp=sharing">&nbsp;</a></strong></span></p>

<p><span style="font-size:16px"><strong>&nbsp;(本手冊僅適用於100</strong><strong>學年度</strong><strong>(</strong><strong>含</strong><strong>)</strong><strong>後入學之學生；請先下載再開啟)</strong></span></p>