<p><strong>【成立宗旨】</strong><br />
英文系之大學部，在培養學生之英語文基礎與英文專業之基本能力，以利將來畢業，可從事文教與工商業務。碩士班在培養學術研究之基本能力及教學、翻譯及文化研究專長。博士班在培養高深英語文及教學研究人才，以從事文學及教學等之行業。&nbsp; &nbsp;</p>

<p><strong>【系史特色】</strong></p>

<p>英文學系在茁壯成長的淡江大學中一直扮演著先導的地位，本系創立於民國 39 年，旨在提供初、高中畢業生三到五年無學位的英文語言及文學的大學課程，民國 54 年本系課程重新設計，開始講授學士學位的課程，從此開始，本系在台灣英文教育上一直扮演很重要的角色，藉由本系豐富的師資課程及教師們活潑、多元的教學活 動，為國內外公私立機構培育積極、專業、具國際觀之全方位英美語文專才。</p>

<p>本系由淡江英語專科學校轉化而來，於今共有 <strong>63&nbsp;</strong>年歷史， 101學年度大學部學士班學生 <strong>909</strong>人，進學班 <strong>247</strong>人，碩士班 <strong>76</strong>人，博士班 <strong>59</strong>人。碩博士班並各分英美文學組及英語教學組，可稱為系所完整之系所，也是淡江大學的重點系所，致力於國際學術合作與交流。</p>

<p>英文系之特色，乃秉承 <strong>63</strong> 年之設系傳統，培養英語口說流利及書寫流暢之各種程度人才，故特重口說英語及英文寫作之基本能力，再進入英語文之學術專長。</p>

<p>&nbsp;本系碩博士班（舊稱西洋語文研究所）成立於民國59年，81年度增設博士班，並於86學年度於既有的文學組課程之外，增設英語教學組，強調英語及教學法之理論，希冀能使英語教學和英美文學兩大領域，彼此相輔相成。從91年度起，本所改名為「英國語文學系英美文學碩士班及博士班」及「英國語文學系英語教學碩士班及博士班」，成為國內少數能提供學士班、碩士班、博士班三階段完整的文學專長及英語教學訓練的系所。</p>

<p>現有師資共計31位專任，其中有博士 學位者29位。兼任教師共71位，現在逐年增加專任教師，以提高師生比率。師資來源，採開放原則，中外並重，並考慮學術專長之平衡。</p>

<p>發展特色</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; 每年我們都會邀請國際著名學者蒞校演講，也舉辦國際學術會議。包括(一)比較文學會議，(二)生態國際會議，(三)英文寫作國際會議。四年一度的「淡江比較文學國際會議」至88年已舉辦8屆，每次均有國內外學術俊彥與會。自89年至99年，英文系以舉辦5屆生態國際會議；自95年至101年已舉辦3屆英文寫作會議；期能促進學術交流並拓展國際學術視野。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; 我們也逐年活化碩博士班課程內容：在英美文學方面，從89年起，本系新增生態文學，讓生態文學理論和文化研究成為本系文學課程之特色之一；在英語教學方面，特重理論之研究與教學之實踐。</p>

<p>文學組課程，承襲89年之架構，並持續進行改革，除強化文學理論、文類、主要作家、經典作品和文化研究等專題之外，另增加英文寫作為必修課，加強訓練論文寫作能力。在專業課程方面以「生態文學」、「英美文學」、「跨媒體文化研究」為文學組特色。英語教學之課程設計，係以融入「第二語言教學法」與「教材發展理論」之核心課程，輔以「認知語言學」「心理語言學」「語言與文化」等課程內容，運用和轉換語言學的分析框架和觀點，提供完整的基礎訓練，以激發多元思維，培養高階英語使用、批判性邏輯思考、資訊科技媒合應用之精英人才。專業課程方面，以「多元創意教學」「翻譯理論」「網路科技於英語教學之應用」「實地英語教學」等課程作為教學組特色。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; 我們設有多項獎學金提供研究生申請，包括英萃獎學金、自強獎學金和其他學業獎學金。</p>

<p>本系主編《淡江評論》(Tamkang Review)，為著名之國際性中西比較文學期刊，全世界各大學圖書館均有收藏，已連續獲得THCI Core收錄。《淡江評論》至今已經發行40餘年，被公認為是比較文學界首屈一指的國際性學術性期刊。</p>