description = "下拉選單"
==
<div class="container relative">
    <div class="header_link clearfix">
        {% if not unit_sites.isEmpty %}
        <div class="lang pull-left">
            {% for unit_site in unit_sites%}
                <a href="{{unit_site.rootMenu.linkHref}}" target="_blank">{{unit_site.localeName|default('home')}}</a>
                {% if not loop.last %}
                    　|　
                {%endif %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="header_sitemap pull-right">
            <a href="#">站內搜尋</a>　|　<a href="{{'unit_sitemap'|page({domain:site.domain})}}?lang={{site.locale}}">網站地圖</a>
        </div>
    </div>
</div>
<div class="fixed_layout">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"></a>
                    </div>
                    {% partial 'dropdown_menu' menus = homeMenu.children %}
                </div>
            </nav>
        </div>
    </div>
</div>