<p>106學年度專、兼任教師職等及人數統計表</p>

<p>&nbsp;</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>

<table cellspacing="0" cellpadding="0" border="1">
	<tbody>
		<tr>
			<td width="121">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>專</span>/兼任
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="170">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>職等</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="127">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 人數
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="139">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>合計</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="3" width="121">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 專任老師
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td valign="top" width="170">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="127">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td rowspan="3" width="139">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 15
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td valign="top" width="170">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 副教授
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="127">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 7
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td valign="top" width="170">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>助理教3</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="127">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="4" width="121">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 兼任老師
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td valign="top" width="170">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>副教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="127">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td rowspan="4" width="139">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 21
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td valign="top" width="170">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 助理教授
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="127">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td valign="top" width="170">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>講師</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="127">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 11
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td valign="top" width="170">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 講師級專業技術人員
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="127">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" width="418">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>合計</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="139">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 36
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>
	<br>
</p>

<p><img src="/storage/app/media/French/182_2fcdf5ad.jpg" style="width: 796px; height: 562.391px;" class="fr-fic fr-dib fr-fil">
	<br>
</p>

<p><img src="/storage/app/media/French/183_3d8c71c5.png" style="width: 795px; height: 257.05px;" class="fr-fic fr-dib fr-fil"></p>

<p>
	<br>
</p>

<p>
	<br>
</p>