<p><strong><span>進修</span>&nbsp;<br>&nbsp;<br>&nbsp;</strong><span>與法文有關的研究所有：本校法文研究所、歐洲研究所、中央大學法文研究所、輔仁大學法文研究所、文化大學法文研究所。<br></span>出國留學：可至法國、比利時、瑞士和加拿大魁北克法語區等國進修有關文化、藝術、音樂、電影、翻譯或旅館管理等相關領域。
	<br><strong><span><br></span>就業&nbsp;<br>&nbsp;<br>&nbsp;</strong><span>可從事翻譯、外交、新聞、外貿、教育、秘書等相關領域的工作。<br>語言是一種工具，鼓勵同學利用輔系、雙主修、或學分學程，修習第二專長，如此，必將為自己開創更寬廣的就業空間與機會。</span></p>

<p>
	<br>
</p>

<p><strong>系友名人榜</strong></p>

<table border="1" cellpadding="0" cellspacing="0" width="520">
	<tbody>
		<tr>
			<td style="background-color: rgb(204, 204, 204);" width="20%">校友姓名
				<br>
			</td>
			<td style="background-color: rgb(204, 204, 204);" width="50%">(曾)服務單位
				<br>
			</td>
			<td style="background-color: rgb(204, 204, 204);" width="29%">職稱
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">呂慶龍
				<br>
			</td>
			<td width="50%">駐法代表處
				<br>
			</td>
			<td width="29%">代表
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">劉順一
				<br>
			</td>
			<td width="50%">中央大學法文系
				<br>
			</td>
			<td width="29%">副教授
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">黃馨逸
				<br>
			</td>
			<td width="50%">文化大學法文系
				<br>
			</td>
			<td width="29%">副教授
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">胡婉玲
				<br>
			</td>
			<td width="50%">民視電視股份有限公司新聞部
				<br>
			</td>
			<td width="29%">副總經理
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">許仲江
				<br>
			</td>
			<td width="50%">民視電視股份有限公司
				<br>
			</td>
			<td width="29%">資深記者/新聞主播
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">李幼新
				<br>
			</td>
			<td width="50%">資深影評人
				<br>
			</td>
			<td width="29%">
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">崔麗心
				<br>
			</td>
			<td width="50%">藝人
				<br>
			</td>
			<td width="29%">
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">桂綸鎂
				<br>
			</td>
			<td width="50%">藝人
				<br>
			</td>
			<td width="29%">
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">林俊逸
				<br>
			</td>
			<td width="50%">歌手
				<br>
			</td>
			<td width="29%">
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">鍾年晃
				<br>
			</td>
			<td width="50%">民視電視股份有限公司
				<br>
			</td>
			<td width="29%">資深記者
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">馬雅芬
				<br>
			</td>
			<td width="50%">50嵐中區總代理雅嵐有限公司
				<br>
			</td>
			<td width="29%">執行長
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">陳泰仁
				<br>
			</td>
			<td width="50%">長榮桂冠飯店
				<br>
			</td>
			<td width="29%">總經理
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">繆惠南
				<br>
			</td>
			<td width="50%">佳皇企業股份有限公司
				<br>
			</td>
			<td width="29%">總經理
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">蘇素珍
				<br>
			</td>
			<td width="50%">中華國際觀光教育學會
				<br>
			</td>
			<td width="29%">講師
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">葉麗珠
				<br>
			</td>
			<td width="50%">聖霖企業有限公司(出口貿易)負責人
				<br>
			</td>
			<td width="29%">負責人
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">王 榮
				<br>
			</td>
			<td width="50%">前BHL亞洲區處長
				<br>
			</td>
			<td width="29%">
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">周品慧
				<br>
			</td>
			<td width="50%">金石堂瑪德蓮書店咖啡
				<br>
			</td>
			<td width="29%">負責人
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">陳珍隆
				<br>
			</td>
			<td width="50%">大倉久和飯店
				<br>
			</td>
			<td width="29%">執行董事
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">王瑞玲
				<br>
			</td>
			<td width="50%">三和塑膠工業股份有限公司
				<br>
			</td>
			<td width="29%">業務秘書
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">朱立鈞
				<br>
			</td>
			<td width="50%">巨登文教事業集團
				<br>
			</td>
			<td width="29%">負責人
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">秦世敏
				<br>
			</td>
			<td width="50%">中華民國圍棋協會
				<br>
			</td>
			<td width="29%">秘書長
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">潘台芳
				<br>
			</td>
			<td width="50%">國立台灣藝術大學藝術博物館
				<br>
			</td>
			<td width="29%">助理研究員
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">陳昭宏
				<br>
			</td>
			<td width="50%">夏爾歐語教育中心
				<br>
			</td>
			<td width="29%">班主任
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">陳世明
				<br>
			</td>
			<td width="50%">台北101
				<br>
			</td>
			<td width="29%">總經理
				<br>
			</td>
		</tr>
		<tr>
			<td width="20%">夏曼．藍波安
				<br>
			</td>
			<td width="50%">作家
				<br>
			</td>
			<td width="29%">
				<br>
			</td>
		</tr>
	</tbody>
</table>