<p class="oc-text-bordered oc-text-gray oc-text-spaced oc-text-uppercase"><span style="color: rgb(226, 80, 65);">必修科目表</span></p>

<p class="oc-text-bordered oc-text-gray oc-text-spaced oc-text-uppercase">擋修</p>

<p class="oc-text-bordered oc-text-gray oc-text-spaced oc-text-uppercase">選課</p>