<ul>
	<li><span>98學年度起，學士班畢業學分為140學分。其中校定必修為31學分，系定必修為72學分，系定選修21學分，其他選修為16學分。</span></li>
	<li>&nbsp; &nbsp;&nbsp;</li>
	<li>106學年度，學士班畢業學分仍為140學分，但其中校定必修已降為26學分，系訂必修72學分，系選修21 學分，其他選修增加為21學分。</li>
	<li>&nbsp; &nbsp;&nbsp;</li>
	<li>碩士班畢業學分為32學分。</li>
</ul>