<p>1. 西班牙語文教學與學習。</p>

<p><span><br>2. 西語國家文化與社會之教學。</span></p>

<p>
	<br>3. 學以致用，培養國家政經界西語人才。</p>

<p><span><br>4. 學術研究及提高師資水準。</span></p>

<p>
	<br>5. 和其他學術機構進行學術交流。</p>

<p><span><br>6. 和姐妹校進行交換教授及學生計劃。</span></p>