<table class="oc-alternate-rows" style="width: 85%; margin-right: calc(15%);">
	<tbody>
		<tr>
			<td style="width: 50%; background-color: rgb(250, 197, 28);">
				<div style="text-align: center;"><span style="font-size: 24px;"><strong>1962年</strong></span></div>
			</td>
			<td style="width: 50%; background-color: rgb(226, 80, 65);">
				<div style="text-align: center;"><span style="font-size: 18px;"><strong>西班牙語系成立</strong></span></div>
			</td>
		</tr>
		<tr>
			<td style="width: 50%; background-color: rgb(250, 197, 28);">
				<div data-empty="true" style="text-align: center;"><span style="font-size: 24px;"><strong>1984年</strong></span></div>
			</td>
			<td style="width: 50%; background-color: rgb(226, 80, 65);">
				<div data-empty="true" style="text-align: center;"><span style="font-size: 18px;"><strong>和哥斯大黎加大學締結姊妹校</strong></span></div>
			</td>
		</tr>
		<tr>
			<td style="width: 50%; background-color: rgb(250, 197, 28);">
				<div data-empty="true" style="text-align: center;"><span style="font-size: 24px;"><strong>1988年</strong></span></div>
			</td>
			<td style="width: 50%; background-color: rgb(226, 80, 65);">
				<div data-empty="true" style="text-align: center;"><span style="font-size: 18px;"><strong>和拿瓦拉大學締結姊妹校</strong></span></div>
			</td>
		</tr>
		<tr>
			<td style="width: 50%; background-color: rgb(250, 197, 28);">
				<div data-empty="true" style="text-align: center;"><span style="font-size: 24px;"><strong>1992年</strong></span></div>
			</td>
			<td style="width: 50%; background-color: rgb(226, 80, 65);">
				<div data-empty="true" style="text-align: center;"><span style="font-size: 18px;"><strong>和墨西哥州自治大學締結姊妹校</strong></span></div>
			</td>
		</tr>
		<tr>
			<td style="width: 50%; background-color: rgb(250, 197, 28);">
				<div data-empty="true" style="text-align: center;"><span style="font-size: 24px;"><strong>1994年</strong></span></div>
			</td>
			<td style="width: 50%; background-color: rgb(226, 80, 65);">
				<div data-empty="true" style="text-align: center;"><span style="font-size: 18px;"><strong>首屆大三出國留學生</strong></span></div>
			</td>
		</tr>
		<tr>
			<td style="width: 50%; background-color: rgb(250, 197, 28);">
				<div data-empty="true" style="text-align: center;"><span style="font-size: 24px;"><strong>1999年</strong></span></div>
			</td>
			<td style="width: 50%; background-color: rgb(226, 80, 65);">
				<div data-empty="true" style="text-align: center;"><span style="font-size: 18px;"><strong>和智利大學締結姊妹校</strong></span></div>
			</td>
		</tr>
		<tr>
			<td style="width: 50%; background-color: rgb(250, 197, 28);">
				<div data-empty="true" style="text-align: center;"><strong><span style="font-size: 24px;">2006年</span></strong></div>
			</td>
			<td style="width: 50%; background-color: rgb(226, 80, 65);">
				<div data-empty="true" style="text-align: center;"><span style="font-size: 18px;"><strong>西語系碩士班成立 &nbsp;國立巴拿馬大學</strong></span></div>
			</td>
		</tr>
		<tr>
			<td style="width: 50%; background-color: rgb(250, 197, 28);">
				<div data-empty="true" style="text-align: center;"><span style="font-size: 24px;"><strong>2009年6月</strong></span></div>
				<div data-empty="true">
					<br>
				</div>
			</td>
			<td style="width: 50%; background-color: rgb(226, 80, 65);">
				<div data-empty="true" style="text-align: center;"><strong><span style="font-size: 18px;">成立中華民國淡江大學西班牙語文學系同學會</span> </strong></div>
			</td>
		</tr>
	</tbody>
</table>

<p>
	<br>
</p>