<table align="left" border="1" cellpadding="0" cellspacing="0" width="559">
	<tbody>
		<tr>
			<td valign="top" width="559">

				<p align="center"><strong>碩士班基本核心能力</strong></p>
			</td>
		</tr>
		<tr>
			<td valign="top" width="559">具備掌握西語國家政經時事的專業知識。
				<br>Mastering economic and political understanding of Hispanic countries.
				<br>具備掌握西語國家歷史、文化與文學的專業能力。
				<br>Improving the competence in the History, Culture and Literature concerning Hispanic countries.
				<br>具備專業筆譯之能力。
				<br>Acquiring professional translation competence.
				<br>
			</td>
		</tr>
	</tbody>
</table>