<table style="width: 100%;">
	<tbody>
		<tr>
			<td style="width: 50.0000%;"><span style="font-size: 30px;"><strong>教務處招生組網頁說明</strong></span></td>
			<td style="width: 50.0000%;"><strong><span style="font-size: 30px;">網址</span></strong></td>
		</tr>
		<tr>
			<td style="width: 50.0000%;">

				<h1><span style="font-size: 14px;">107學年度「大學繁星推薦入學」_招生簡章校系分則查詢及106學年度錄取標準一覽表</span></h1>
				<br>
			</td>
			<td style="width: 50.0000%;"><a href="http://www.acad.tku.edu.tw/news/news.php?Sn=1504">http://www.acad.tku.edu.tw/news/news.php?Sn=1504</a>
				<br>
			</td>
		</tr>
	</tbody>
</table>