<p><strong>就業管道</strong><strong><br><br></strong><span>教師</span></p>

<p>公務員(高普考)</p>

<p><span>秘書及業務助理</span></p>

<p>導遊、領隊</p>

<p><span>翻譯(外交、經濟及政治)</span></p>

<p>駐外人員(口譯、筆譯)<strong><br><br><span>主要進修領域</span><br><br></strong>淡江大學美洲研究所拉美組</p>

<p><span>淡江大學歐洲研究所</span></p>

<p>輔仁大學西班牙文學研究所</p>

<p><span>靜宜大學西班牙語文學系研究所</span></p>

<p>國內外相關研究所，如外交、歐洲研究所等</p>

<p><span>西班牙及拉丁美洲各大學研究所</span></p>

<p>
	<br>
</p>

<p><strong>系友於外交界之具體研究</strong><strong><br></strong></p>

<p><span>目前政府各機構之西文相關人員，如外交部、經濟部及新聞局等，皆遍佈本系之畢業系友，未來本系之課程仍將以實用西語為主，訓練學生活用西班牙語之能力，積極培養本國西語外交人才。</span></p>

<p>
	<br>
</p>