<p><a allowfullscreen="" frameborder="0" height="315" href="" src="https://www.youtube.com/embed/t-f7ezQAMZs">"&gt;<iframe width="560" height="315" src="https://www.youtube.com/embed/t-f7ezQAMZs" frameborder="0" allowfullscreen=""></iframe></a></p>

<p>
	<br>
</p>

<p><span style="font-size: 24px;"><strong>Vocabulario:</strong></span></p>

<p><strong>1. 列強 potencia extranjera</strong></p>

<p><strong>2. 廟會迎神 peregrinación y adoración religiosa</strong></p>

<p><strong>3. 淡水踩街藝術節 Festival Internacional de Arte Ambiental Tamsui (<em>International Environmental Arts Festival</em>)</strong></p>

<p><strong>4. 亞洲藝術村 Feria de la Villa de Artes Asiáticas</strong></p>

<p><strong>5. 雲門舞集 Danza Puerta a las Nubes (<em>&nbsp;Cloud Gate Dance Theatre of Taiwan</em>)</strong></p>

<p><strong>6. 一滴水紀念館 Memorial una Gota de Agua (<em>Drop of Water Memorial</em>)</strong></p>

<p><strong>7. 感人 conmovedor</strong></p>

<p><strong>8. 曝光率 cobertura mediática</strong></p>

<p><strong>9. 表演工作坊 taller de representación teatral</strong></p>

<p><strong>10. 犧牲祭典 ceremonia de sacrificio / sacrificio ritual</strong></p>

<p><strong>11. 水牛 búfalo de agua</strong></p>

<p><strong>12. 疼惜 mimar</strong></p>

<p><strong>13. 農民 agricultor</strong></p>

<p><strong>14. 養豬公 crianza de ganado porcino</strong></p>

<p><strong>15. 大豬公 “Cerdo de Dios” / cerdo sobrealimentado / cerdo de mayor peso</strong></p>

<p><strong>16. 流水席 banquete gratis al aire libre</strong></p>

<p><strong>17. 大拜拜 Dai Bai Bai / rito para rendir homenaje / gran ceremonial de adoración</strong></p>

<p><strong>18. 先民 antepasados</strong></p>

<p><strong>19. 水土不服 aclimatación</strong></p>

<p><strong>20. 瘟疫 pandemia / epidemia</strong></p>

<p><strong>21. 天災 catástrofe natural / desastre natural / calmidad natural</strong></p>

<p><strong>22. 消災解厄保平安 ser bendecido y protegido</strong></p>

<p><strong>23. 守護神 deidad protectora / santo patrón</strong></p>

<p><strong>24. 西曆 calendario gregoriano</strong></p>

<p><strong>25. 交通管制 control de tráfico</strong></p>

<p><strong>26. 萬花筒 calidoscopio</strong></p>

<p><strong>27. 嘉年華會 carnaval</strong></p>

<p><strong>28. 合作 colaboración</strong></p>

<p><strong>29. 藝術踩街 desfile artístico / comparsa</strong></p>

<p><strong>30. 阪神大地震 Terremoto de Kobe</strong></p>

<p><strong>31. 同鄉 paisano / conciudadano</strong></p>

<p><strong>32. 九二一大地震 Sismo de Chichi / terremoto 921</strong></p>

<p><strong>33. 災後重建 recuperación y reconstrucción post-desastre</strong></p>

<p><strong>34. 災民 víctima (de un desastre)</strong></p>

<p><strong>35. 義工 voluntario</strong></p>