<p><a allowfullscreen="" frameborder="0" height="315" href="" src="https://www.youtube.com/embed/k6RaZHSnemw">"&gt;<iframe width="560" height="315" src="https://www.youtube.com/embed/k6RaZHSnemw" frameborder="0" allowfullscreen=""></iframe></a></p>

<p><span style="font-size: 24px;"><br></span></p>

<p><span style="font-size: 24px;"><strong>Vocabulario:</strong></span></p>

<p><strong>1. 河岸自行車道 ciclopista ribereña</strong></p>

<p><strong>2. 風景區 área escénica</strong></p>

<p><strong>3. 行人 peatón / transeúnte</strong></p>

<p><strong>4. 彈塗魚 (pez) saltarín del fango</strong></p>

<p><strong>5. 環島 dar una vuelta a la isla / recorrido por la isla</strong></p>

<p><strong>6. 玉山 Montaña Jade (Yushan)</strong></p>

<p><strong>7. 日月潭 Lago de Sol y Luna</strong></p>

<p><strong>8. 捷安特 GIANT</strong></p>

<p><strong>9. 微笑單車<em>&nbsp;YouBike</em></strong></p>

<p><strong>10. 公共自助自行車 servicio automatizado de alquiler de bicicletas públicas</strong></p>

<p><strong>11. 租借系統 sistema de alquiler</strong></p>

<p><strong>12. 刷卡系統 sistema de deslizamiento</strong></p>

<p><strong>13. 捷運悠遊卡 tarjeta<em>&nbsp;EasyCard</em> del Metro de Taipéi (Taipei MRT)</strong></p>

<p><strong>14. 登記 registrarse</strong></p>

<p><strong>15. 台北市政府 Gobierno Municipal de Taipéi</strong></p>

<p><strong>16. 委託 encargar / confiar / asignar (a alguien una tarea específica)</strong></p>

<p><strong>17. 標誌 logotipo</strong></p>

<p><strong>18. 會員卡 tarjeta de membresía</strong></p>

<p><strong>19. 租賃站 puesto de alquiler</strong></p>

<p><strong>20. 虧損 pérdida</strong></p>

<p><strong>21. 河流系統 sistema fluvial / vía fluvial</strong></p>

<p><strong>22. 溪 riachuelo / arroyo / afluente</strong></p>

<p><strong>23. 暢銷品牌 marcas más vendidas</strong></p>

<p><strong>24. 生產 producción / fabricación / manufactura</strong></p>