<table align="left" border="1" cellpadding="0" cellspacing="0" width="559">
	<tbody>
		<tr>
			<td valign="top" width="559">

				<p align="center"><strong>碩士班</strong><strong>&nbsp;</strong><strong>教育目標</strong></p>
			</td>
		</tr>
		<tr>
			<td valign="top" width="559">培育西語專業學術人才。
				<br>Creating specialists in Spanish.
				<br>培育西語教學專業能力。
				<br>Cultivating students’ ability to teach Spanish.
				<br>培育西語翻譯專業人才。
				<br>Developing students’ ability in translation.
				<br>
			</td>
		</tr>
	</tbody>
</table>