.header_middle {
    background-image: url(../images/header_bg.jpg);
}
.top_bar {
    border-bottom-color: #002395;
}
.yellow_line {
    background-color: #ED2939;
}
.navbar-collapse, .header_fixed .fixed_layout {
    background-color: #002395;
}
.dropdown-menu > li > a {
    background-color: rgba(0,35,149,.7);
    border-bottom-color: rgba(255,255,255,.7);
}
.dropdown-menu > li:last-child > a {
    border-bottom: none;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #f29300;
}
.navbar-default .navbar-nav .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .dropdown-menu > li > a:focus {
    color: #f29300;
    background-color: rgba(0,35,149,1) !important;
}
.navbar-default .navbar-nav .dropdown-menu .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .dropdown-menu .dropdown-menu > li > a:focus {
    color: #f29300;
}