<p><span>(<span>一</span>)大三俄語
	<br>1. 97學年度以前入新生，「大三俄語」，擬以「商用俄語(一)」上、下學期各一學分<span>(97</span>學年度以前入學新生為必修3學分，<span>98年度以後</span>入學新生為必修2學分<span>)</span>替代。
	<br>
	<br><span>(二)習作</span>1. 93<span>學年度以前入學新生，「俄文習作」，擬以「俄語習作」</span>(94<span>、</span>95<span>學年度入學新生為選修，</span>96<span>、</span>97<span>入學新生為必修</span>)<span>替代。</span>2. 96<span>、</span>97<span>學年度入學新生，四年級「俄語習作」</span>(<span>必修</span>)<span>，</span>100<span>學年度以後以「俄語習作</span>(<span>一</span>)<span>」</span>(<span>必修</span>)<span>替代。<br><br></span>(三<span>)</span>口譯<span>1. 94</span>、<span>95</span>學年度入學新生之「實用俄語口譯」<span>(3/0)(</span>必修<span>)</span>，自<span>99</span>學年度以後改以「實用俄語口譯」<span>(3/0)(</span>選修<span>)</span>替代。<span>2. 94</span>、<span>95</span>學年度入學新生之「經貿俄語口譯」<span>(0/3)(</span>必修<span>)</span>，自<span>99</span>學年度以後改以「經貿俄語口譯」<span>(0/3)(</span>選修<span>)</span>替代。
	<br>
	<br><span>(四</span>)<span>翻譯</span>1. 94<span>學年度以前入學新生，「俄語翻譯」</span>(3/3)<span>，擬以「實用俄語翻譯」</span>(3/0)<span>、「經貿俄語翻譯」</span>(0/3)<span>替代。</span>2. 95<span>學年度入學新生，「實用俄語翻譯」</span>(3/0)<span>、「經貿俄語翻譯」</span>(0/3)<span>，擬以「俄文翻譯」</span>(2/2)<span>替代，所缺學分擬以選修科目「新聞俄語」</span>(2/2)<span>所替代。<br><br></span>(五<span>)&nbsp;95</span>學年度以前入學新生，「俄羅斯史」<span>(2/0)</span>及「蘇聯史」<span>(0/2)</span>必修改選修，擬以選修替代必修。
	<br>
	<br><span>(六</span>)&nbsp;96<span>、</span>97<span>入學新生，必修科目「俄語句法」</span>(2/2)<span>自</span>99<span>學年度起停開，擬以選修科目「短篇名著選讀」</span>(2/2)<span>替代。<br><br></span>(七<span>)&nbsp;96</span>、<span>97</span>入學新生，必修科目「俄語詞法」<span>(2/2)</span>自<span>99</span>學年度起停開，擬以選修科目「小說與電影賞析」<span>(2/2)</span>替代。 <span>以上未盡事宜，以學生實際修課情形，以個案方式替代報告處理。</span></span>
</p>