<p>本系成立於民國82年，至今已邁入第25個年頭，為淡江大學外國語文學院最年輕的科系，也是國內繼政治大學及中國文化大學之後成立的第三個以俄語專業為主的科系。歷年來主持系務者有：戴萬欽教授、楊棨教授、劉克甫教授 (М.В. Крюков )、彼薩列夫教授(А.А.Писарев)、馬良文教授 (В.В.Малявин)、張慶國副教授、蘇淑燕副教授，現任系主任為劉皇杏副教授。每年招收新生一班，計62名，截至105學年度第2學期為止，本系共有254名在學學生。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; 本系早期師資以俄羅斯籍教師為主，從90學年度起，因應教學需要，開始招聘本國籍教師，至106學度第1學期為止，本系聘有8位專任教師：3位副教授及5位助理教授，所有教師皆擁有博士學位，專長為俄國文學、語言學、文化、翻譯與俄語教學。8位專任教師中有5名為本國籍，3名為俄羅斯籍 。除專任教師外，另聘有兼任教師9名 ，其中5名為俄羅斯籍，<strong>3</strong>名為本國籍。99學年度起聘有1名專任助教，支援主科和實習課程部分教學工作。</p>

<p>&nbsp;</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; 本系成立之初與俄羅斯研究所相互支援，同時為了配合該所研究方向，開設許多文化相關課程，希望培養俄語及俄羅斯區域研究之人才。為了配合本校、本院之中、長程發展計畫，及因應社會變遷和學生實際需求，從96學年度開始，系務與所務各自獨立，惟師資仍然互相支援。本系為尋找自己的發展與定位，從94學年度開始，歷經多次課程改革之後，逐漸發展和增加實用性課程，例如商用俄語課程、俄文翻譯和經貿俄語口譯等課程，希望可以幫助學生順利進入就業市場 ，但仍保留文化和文學課程，希望透過文化和文學相關課程，發展學生的國際觀，和熟悉俄國文化及政治現狀。</p>