<h1><strong>淡江大學國際企業俄文就業學分學程</strong></h1>

<h3><strong><u><a href="http://gofile.me/3XPxX/QhYlEhVa7">實施規則</a></u></strong></h3>

<h3><u><strong><a href="http://gofile.me/3XPxX/07NIVQDyp">學分學程修習申請表</a></strong></u></h3>

<h3><u><strong><a href="http://gofile.me/3XPxX/0GmqCQvtA">學分學程認證申請表</a></strong></u></h3>

<h3><u><strong><a href="http://gofile.me/3XPxX/6w9JXgGtr">學分學程課程清單20180308(106-2修改)</a></strong></u></h3>