<h3>輔修本系之規定</h3>

<p>需修滿下列學分方可取得俄文系輔系：</p>

<p>大一俄語(4/4)、俄語會話(一)(2/2)</p>

<p>大二俄語(4/4)、俄語會話(二)(2/2)</p>

<p>合計：24 學分</p>

<h3>雙主修本系之規定</h3>

<p>依「淡江大學各學系學生修讀雙主修辦法」第八條規定「修讀雙主修學生，除修滿本學系應修科目學分及加修學系所訂科目40學分以上外，並應修滿加修系全部專業(門)必修科目與學分始可取得雙主修資格。」97學年度以後入學之學生，須通過俄語檢定(TORFL)一級(B1)後，始得畢業。</p>