<h3>課程資訊</h3>

<p><br />
課程查詢系統&nbsp;&nbsp;<a href="http://esquery.tku.edu.tw/acad/">下載</a><br />
<br />
課程分類表&nbsp;&nbsp;<a href="http://www.tfux.tku.edu.tw/download.php?filename=453_8412900c.xls&amp;dir=archive&amp;title=File">下載</a><br />
<br />
本系教育目標暨學生核心能力指標&nbsp;&nbsp;<a href="http://www.tfux.tku.edu.tw/download.php?filename=313_9f1e6a23.pdf&amp;dir=archive&amp;title=%E4%BF%84%E6%96%87%E7%B3%BB%E6%95%99%E8%82%B2%E7%9B%AE%E6%A8%99%E6%9A%A8%E5%AD%B8%E7%94%9F%E6%A0%B8%E5%BF%83%E8%83%BD%E5%8A%9B%E6%8C%87%E6%A8%99">下載</a><br />
<br />
106學年度俄國語文學系入學新生必修科目表&nbsp;&nbsp;<a href="http://www.tfux.tku.edu.tw/files/archive/460_b0ae0240.pdf">下載</a><a href="http://www.tfux.tku.edu.tw/download.php?filename=457_81d23fe6.pdf&amp;dir=archive&amp;title=102+%E5%85%A5%E5%AD%B8%E6%96%B0%E7%94%9F%E5%BF%85%E4%BF%AE%E7%A7%91%E7%9B%AE%E8%A1%A8">&nbsp;</a></p>

<p>105學年度俄國語文學系入學新生必修科目表&nbsp;&nbsp;<a href="http://www.tfux.tku.edu.tw/download.php?filename=454_e2b19323.pdf&amp;dir=archive&amp;title=105%E5%85%A5%E5%AD%B8%E6%96%B0%E7%94%9F%E5%BF%85%E4%BF%AE%E7%A7%91%E7%9B%AE%E8%A1%A8">下載</a><a href="http://www.tfux.tku.edu.tw/download.php?filename=454_e2b19323.pdf&amp;dir=archive&amp;title=105%E5%85%A5%E5%AD%B8%E6%96%B0%E7%94%9F%E5%BF%85%E4%BF%AE%E7%A7%91%E7%9B%AE%E8%A1%A8">&nbsp;</a>&nbsp;<br />
<br />
104學年度俄國語文學系入學新生必修科目表&nbsp;&nbsp;<a href="http://www.tfux.tku.edu.tw/download.php?filename=393_6becae17.pdf&amp;dir=archive&amp;title=104%E5%85%A5%E5%AD%B8%E6%96%B0%E7%94%9F%E5%BF%85%E4%BF%AE%E7%A7%91%E7%9B%AE%E8%A1%A8">下載</a>&nbsp;&nbsp;<br />
<br />
103學年度俄國語文學系入學新生必修科目表&nbsp;&nbsp;<a href="http://www.tfux.tku.edu.tw/files/archive/456_671cf75b.pdf">下載</a><a href="http://www.tfux.tku.edu.tw/files/archive/456_671cf75b.pdf">&nbsp;</a>&nbsp;<br />
<br />
104學年度起通識教育課程架構圖&nbsp;&nbsp;<a href="http://www.tfux.tku.edu.tw/download.php?filename=397_63d08b7c.pdf&amp;dir=archive&amp;title=104%E5%AD%B8%E5%B9%B4%E5%BA%A6%E8%B5%B7%E9%80%9A%E8%AD%98%E6%95%99%E8%82%B2%E8%AA%B2%E7%A8%8B%E6%9E%B6%E6%A7%8B%E5%9C%96">下載</a><br />
<br />
106學年度俄國語文學系入學新生課程地圖&nbsp; 　<u><a href="http://www.tfux.tku.edu.tw/download.php?filename=461_ad481a9b.pdf&amp;dir=archive&amp;title=106%E8%AA%B2%E7%A8%8B%E5%9C%B0%E5%9C%96">下載</a></u></p>

<p>105學年度俄國語文學系入學新生課程地圖&nbsp; 　<u>下載</u></p>

<p>104學年度俄國語文學系入學新生課程地圖&nbsp; 　<u><a href="http://www.tfux.tku.edu.tw/download.php?filename=396_5a6d12dd.pdf&amp;dir=archive&amp;title=104%E5%AD%B8%E5%B9%B4%E4%BF%84%E6%96%87%E7%B3%BB%E8%AA%B2%E7%A8%8B%E5%9C%B0%E5%9C%96">下載</a></u><br />
<br />
103學年度俄國語文學系入學新生課程地圖&nbsp; 　<u><a href="http://www.tfux.tku.edu.tw/download.php?filename=314_486c6762.pdf&amp;dir=archive&amp;title=103%E5%AD%B8%E5%B9%B4%E4%BF%84%E6%96%87%E7%B3%BB%E8%AA%B2%E7%A8%8B%E5%9C%B0%E5%9C%96">下載</a></u></p>