<h3>入學新生必修科目表</h3>

<p>104學年度入學新生起畢業學分為140學分，包含校、系必修學分105學分；系選修(至少)21學分。</p>

<p>103學年度入學新生起畢業學分為140學分，包含校、系必修學分105學分；系選修(至少)21學分。</p>

<p>102學年度入學新生起畢業學分為140學分，包含校、系必修學分105學分；系選修(至少)21學分。</p>

<p>101學年度入學新生起畢業學分為140學分，包含校、系必修學分105學分；系選修(至少)21學分。</p>

<p>100學年度入學新生起畢業學分為140學分，包含校、系必修學分105學分；系選修(至少)21學分。</p>

<p>99學年度入學新生起畢業學分為140學分，包含校、系必修學分119學分；系選修(至少)21學分。</p>

<p><a href="http://www.tfux.tku.edu.tw/download.php?filename=335_cbbdcbbf.pdf&amp;dir=archive&amp;title=%E4%BF%84%E6%96%87%E7%B3%BB%E5%AD%B8%E7%94%9F%E5%A4%96%E8%AA%9E%E8%83%BD%E5%8A%9B%E7%95%A2%E6%A5%AD%E6%A8%99%E6%BA%96%E6%AA%A2%E5%AE%9A%E8%A6%8F%E5%89%87-100.5.11+99-2%E6%95%99%E5%8B%99%E6%9C%83%E8%AD%B0%E4%BF%AE%E8%A8%82%E9%80%9A%E9%81%8E">俄文系學生外語能力畢業標準檢定規則-100.5.11 99-2教務會議修訂通過</a></p>

<h3>擋修制度</h3>

<p>自93學年度入學新生起，凡大一下學期「大一俄語」不及格者，不能修讀大二之「大二俄語」；大二下學期「大二俄語」不及格者不能修讀大三之「大三俄語」。大一下學期「俄語語法(一)」不及格者不能修讀「俄語語法(二)」，必待重修及格後，始得修讀。自102學年起，本系學生未修讀過俄文系必修科目學期課程者，不得直接暑修取得學分，需修讀過該課程而未取得學分者始得報名暑修；修業年限最後一年(第六年)之學生則可個案申請。</p>

<h3>扣考規定</h3>

<p>學生對於某一科目之缺課總時數達該科全學期授課時數三分之一，經該科教師通知教務處，即不准參加該科目之考試，該科目學期成績以零分計算。（淡江大學學則第三十八條第二項）</p>

<h3>輔修本系之規定</h3>

<p>需修滿下列學分方可取得俄文系輔系：</p>

<p>大一俄語(4/4)、俄語會話(一)(2/2)</p>

<p>大二俄語(4/4)、俄語會話(二)(2/2)</p>

<p>合計：24 學分</p>

<h3>雙主修本系之規定</h3>

<p>依「淡江大學各學系學生修讀雙主修辦法」第八條規定「修讀雙主修學生，除修滿本學系應修科目學分及加修學系所訂科目40學分以上外，並應修滿加修系全部專業(門)必修科目與學分始可取得雙主修資格。」97學年度以後入學之學生，須通過俄語檢定(TORFL)一級(B1)後，始得畢業。</p>

<h3>其他訊息</h3>

<p>其他歷屆與最新選課與修業規定，請參考淡江大學教務處。</p>

<p>淡江大學教務處　網址：http://www.acad.tku.edu.tw/main.php</p>

<p>外語翻譯學分學程、外國文學學分學程申請規定和作業流程，已登於外語學院中</p>

<p>文網頁選單，網址： http://www.tf.tku.edu.tw/admiss/recruit.php?class=101</p>