<table style="width: 87%; margin-right: calc(13%); margin-left: calc(0%);">
	<thead>
		<tr>
			<th colspan="2" style="width: 99.1213%; background-color: rgb(247, 218, 100);">
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹—線上課程</span></div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width: 50.2636%;">
				<div data-empty="true" style="text-align: center;"><span style="font-size: 18px;"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/SQHtaOFJrMc" frameborder="0" allowfullscreen="" style="width: 496px; height: 252px;"></iframe></span></span>
				</div>
				<div data-empty="true" style="text-align: center;"><span style="font-size: 18px;">課程引言_非常村上春樹</span></div>
			</td>
			<td style="width: 49.6485%;">
				<div data-empty="true" style="text-align: center;"><span style="font-size: 18px;"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/s5MLfPDmb78" frameborder="0" allowfullscreen="" style="width: 456px; height: 253px;"></iframe></span></span>
				</div>
				<div data-empty="true" style="text-align: center;"><span style="font-size: 18px;">&nbsp; 第1周前導-在臺灣閱讀春上村樹的小確幸</span></div>
			</td>
		</tr>
		<tr>
			<td style="width: 50.2636%;">
				<div data-empty="true" style="text-align: center;"><span style="font-size: 18px;"><span class="fr-video fr-dvb fr-draggable fr-active" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/qGvK1wVRcHs" frameborder="0" allowfullscreen="" style="width: 465px; height: 263px;"></iframe></span></span>
				</div>
				<div data-empty="true" style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 1-1 回顧漢字的歷史與角色</span></div>
			</td>
			<td style="width: 49.6485%;">
				<div data-empty="true" style="text-align: center;"><span style="font-size: 18px;"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/gDqqdbNqwwc" frameborder="0" allowfullscreen="" style="width: 461px; height: 259px;"></iframe></span></span>
				</div>
				<div data-empty="true" style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 1-2 探討留存台灣中的日語</span></div>
			</td>
		</tr>
		<tr>
			<td style="width: 50.2636%; vertical-align: top; text-align: center;">
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/mezk3ZQqS5A" frameborder="0" allowfullscreen="" style="width: 469px; height: 265px;"></iframe></span></div>
				<div data-empty="true"><span style="font-size: 18px;">非常村上春樹 1-3 村上春樹簡介</span></div>
			</td>
			<td style="width: 49.6485%; vertical-align: top; text-align: center;">
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/jNaDDXYgu58" frameborder="0" allowfullscreen="" style="width: 493px; height: 263px;"></iframe></span></div>
				<div data-empty="true"><span style="font-size: 18px;">非常村上春樹 1-4 台灣的村上春樹現象</span></div>
			</td>
		</tr>
		<tr>
			<td>
				<div data-empty="true" style="text-align: center;"><span class="fr-video fr-dvb fr-draggable fr-active" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/17WJRA5mfLU" frameborder="0" allowfullscreen="" style="width: 445px; height: 264px;"></iframe></span></div>
				<div data-empty="true" style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 1-5 村上春樹作品中的「小確幸」</span></div>
			</td>
			<td>
				<div data-empty="true" style="text-align: center;"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/8Zq8bXvpC_g" frameborder="0" allowfullscreen="" style="width: 472px; height: 274px;"></iframe></span></div>
				<div data-empty="true" style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 1-6 台灣日常使用的「小確幸」</span></div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top;">
				<div style="text-align: center;"><span class="fr-video fr-draggable fr-dvb" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/-2WfpvT1VPo" frameborder="0" allowfullscreen="" style="width: 445px; height: 269px;"></iframe></span><span style="font-size: 18px;">非常村上春樹 1-7 結語</span></div>
			</td>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/RwU0i86HX18" frameborder="0" allowfullscreen="" style="width: 476px; height: 269px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">第2周前導-從點、線、面方式接近村上春樹作品</span></div>
			</td>
		</tr>
		<tr>
			<td><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/WdM4-0kTnq4" frameborder="0" allowfullscreen="" style="width: 480px; height: 265px;"></iframe></span>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 2-1 沒有女人的男人們</span></div>
			</td>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/8Onf9Tp3kOI" frameborder="0" allowfullscreen="" style="width: 448px; height: 271px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 2-2 作品間的互文關係</span></div>
			</td>
		</tr>
		<tr>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/25bNMoP_6Yc" frameborder="0" allowfullscreen="" style="width: 481px; height: 281px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 2-3 時間與空間的遊戲</span></div>
			</td>
			<td style="text-align: center;">
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/GTMZyKkUkWc" frameborder="0" allowfullscreen="" style="width: 476px; height: 283px;"></iframe></span></div><span style="font-size: 18px;">非常村上春樹 2-4 村上春樹文學一貫的脈絡</span>
				<br>
			</td>
		</tr>
		<tr>
			<td><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/LeiN753bNXY" frameborder="0" allowfullscreen="" style="width: 478px; height: 277px;"></iframe></span>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 2-5 黃色saab900敞篷車的意意</span></div>
			</td>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/NoqexFcdbNw" frameborder="0" allowfullscreen="" style="width: 490px; height: 275px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 2-6 我與文學的距離<br></span></div>
			</td>
		</tr>
		<tr>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/JhC0IDCsI-g" frameborder="0" allowfullscreen="" style="width: 474px; height: 239px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 2-7 結語</span></div>
			</td>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/4D_MzxZj5m8" frameborder="0" allowfullscreen="" style="width: 456px; height: 241px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">第3周前導-點 女人與男人的角力戰</span></div>
			</td>
		</tr>
		<tr>
			<td><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/m_k0Btm8Jdw" frameborder="0" allowfullscreen="" style="width: 479px; height: 269px;"></iframe></span>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 3-1 《沒有女人的男人們》作品簡介</span></div>
			</td>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/Ph8XYLmPFoo" frameborder="0" allowfullscreen="" style="width: 468px; height: 273px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 3-2 怎麼變成沒有女人的男人呢</span></div>
			</td>
		</tr>
		<tr>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/V4hpeTDn5FU" frameborder="0" allowfullscreen="" style="width: 485px; height: 265px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 3-3 維繫沒有女人的男人們堅的情感為何<br></span></div>
			</td>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/q06soUzed1Q" frameborder="0" allowfullscreen="" style="width: 454px; height: 267px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 3-4 村上春樹詮釋下的</span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">女人跟男人們的角力戰</span></div>
			</td>
		</tr>
		<tr>
			<td><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/E4sSgocKTjE" frameborder="0" allowfullscreen="" style="width: 485px; height: 273px;"></iframe></span>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 3-5 結語</span></div>
			</td>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/sbjxHJeLGhw" frameborder="0" allowfullscreen="" style="width: 478px; height: 275px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">第4周前導-線 危機四伏時代的生存之道</span></div>
			</td>
		</tr>
		<tr>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/x_LA9CQ005E" frameborder="0" allowfullscreen="" style="width: 485px; height: 269px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 4-1 《戀愛撒姆薩》作品簡介</span></div>
			</td>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/nDh74oSbVBU" frameborder="0" allowfullscreen="" style="width: 476px; height: 271px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 4-2 村上春樹與法蘭茲．卡夫卡</span></div>
			</td>
		</tr>
		<tr>
			<td><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/1gZfaQ7wplE" frameborder="0" allowfullscreen="" style="width: 482px; height: 273px;"></iframe></span>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 4-3 卡夫卡《變身》與</span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">村上春樹「戀愛撒姆薩」描繪家族手法的異同</span></div>
			</td>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/Civkgd9fato" frameborder="0" allowfullscreen="" style="width: 472px; height: 269px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 4-4 作品舞台設定在「布拉格」的意義</span></div>
			</td>
		</tr>
		<tr>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/nt9Z3fG-omI" frameborder="0" allowfullscreen="" style="width: 479px; height: 255px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 4-5 變身成撒姆薩的「他」到底是何方神聖？</span></div>
			</td>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/0o8ybeBXd9k" frameborder="0" allowfullscreen="" style="width: 444px; height: 255px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 4-6 華特．班雅明與「佝僂症小孩」的隱射</span></div>
			</td>
		</tr>
		<tr>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/bPREOLHt-rY" frameborder="0" allowfullscreen="" style="width: 479px; height: 277px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 4-7 與「世界」共舞</span></div>
			</td>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/Wao-7HVvelw" frameborder="0" allowfullscreen="" style="width: 480px; height: 275px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 4-8 結語</span></div>
			</td>
		</tr>
		<tr>
			<td><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/iMGBNSoNuI8" frameborder="0" allowfullscreen="" style="width: 483px; height: 253px;"></iframe></span>
				<div style="text-align: center;"><span style="font-size: 18px;">第5周前導-面 沒有女人的男人們中的社會文化記號學的表像</span></div>
			</td>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/ygI-7dNTiyM" frameborder="0" allowfullscreen="" style="width: 464px; height: 257px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 5-1 綜觀近年村上春樹作品得到的啟示</span></div>
			</td>
		</tr>
		<tr>
			<td><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/bO_UJY2lhMY" frameborder="0" allowfullscreen="" style="width: 478px; height: 251px;"></iframe></span>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 5-2 世代與社會記號符碼的暗喻</span></div>
			</td>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/vG_8FExLwm4" frameborder="0" allowfullscreen="" style="width: 462px; height: 251px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 5-3 作品中精彩重現複合式符碼</span></div>
			</td>
		</tr>
		<tr>
			<td><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/T0OtmlSm33U" frameborder="0" allowfullscreen="" style="width: 470px; height: 235px;"></iframe></span>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 5-4 村上春樹關注社會的獨特觀點</span></div>
			</td>
			<td>
				<div data-empty="true"><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe src="https://www.youtube.com/embed/VHTrvgR0iJk" frameborder="0" allowfullscreen="" style="width: 444px; height: 239px;"></iframe></span></div>
				<div style="text-align: center;"><span style="font-size: 18px;">非常村上春樹 5-5 閱讀村上春樹作品</span></div>
			</td>
		</tr>
	</tbody>
</table>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>