<p><span><u><strong>畢業學分相關規定</strong></u></span><strong><br><br>(以下為98學年度範例，詳細規定請參見各學年度入學新生必修科目表)<br><br></strong>♦畢<span lang="EN-US">&nbsp;&nbsp;</span>業<span lang="EN-US">&nbsp;&nbsp;</span>學<span lang="EN-US">&nbsp;&nbsp;</span>分<span lang="EN-US">&nbsp;&nbsp;</span>數：142學分
	<br>
	<br>♦必<span lang="EN-US">&nbsp;&nbsp;</span>修<span lang="EN-US">&nbsp;&nbsp;</span>學<span lang="EN-US">&nbsp;&nbsp;</span>分<span lang="EN-US">&nbsp;&nbsp;</span>數：<span lang="EN-US">104學分<br><br></span><span lang="EN-US">♦本系選修課最低學分：2<span lang="EN-US"><span lang="EN-US">1學分</span></span>&nbsp;</span>
</p>

<p>
	<br>
</p>

<p><strong>98學年度日間部新生入學必修科目表</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>

<table border="0" cellpadding="3" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td bgcolor="#c8ffff" colspan="5" width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">一年級</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffb0" colspan="5" width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">二年級</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#b7ffb5" colspan="5" width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">三年級</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffbc9b" colspan="5" width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">四年級</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#dfffff" rowspan="2" width="15%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 科目名稱
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff" rowspan="2" width="2%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">專業組別</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff" rowspan="2" width="2%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">群別</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff" colspan="2" width="6%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">學分</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc" rowspan="2" width="15%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 科目名稱
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc" rowspan="2" width="2%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">專業組別</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc" rowspan="2" width="2%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">群別</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc" colspan="2" width="6%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">學分</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf" rowspan="2" width="15%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 科目名稱
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf" rowspan="2" width="2%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">專業組別</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf" rowspan="2" width="2%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">群別</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf" colspan="2" width="6%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">學分</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" rowspan="2" width="15%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 科目名稱
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" rowspan="2" width="2%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">專業組別</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" rowspan="2" width="2%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">群別</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" colspan="2" width="6%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">學分</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">上</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">下</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">上</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">下</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">上</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">下</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" width="3%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">上</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" width="3%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">下</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#dfffff" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A0254
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 日語會話(一)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">4</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">4</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A0178
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 日文習作(一)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A0179
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 日文習作（二）
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A0249
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 日語修辭學
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#dfffff" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A0260
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 日語語言練習(一)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A0255
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 日語會話(二)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">4</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">4</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A0197
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 日本名著選讀(一)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A1107
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 日語會話(四)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#dfffff" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; E1034
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 資訊概論
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A0261
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 日語語言練習(二)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">1</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">1</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A0256
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 日語會話(三)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A1757
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 日文應用文
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#dfffff" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; H0003
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 全球科技革命
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A1376
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 中國語文能力表達
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">3</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A0565
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 高級日語
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; F0270
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 畢業專題寫作與指導
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">1</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">1</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#dfffff" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; T9604
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 勞作教育課程
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A1755
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 日文文書處理
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">1</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A0939
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 日文翻譯
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#dfffff" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; T9801
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 軍訓(一)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; F0115
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 中級日語讀本
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">4</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">4</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; T9813
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 男生體育(三)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#dfffff" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; T9811
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 男生體育(一)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; F0116
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 中級日語語法
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">2</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; T9913
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 女生體育(三)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#dfffff" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; T9901
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 護理(一)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; T9812
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 男生體育(二)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 未來學
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">R</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#dfffff" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; T9911
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 女生體育(一)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; T9912
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 女生體育(二)
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 全球視野
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">T</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#dfffff" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; X0001
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 英語能力檢定
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">0</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 外國語文
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">Q</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 哲學與宗教
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">V</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 文學經典
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">L</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 社會分析
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">W</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學習與發展
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">N</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 歷史與文化
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">P</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 外國語文
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">Q</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#dfffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffffcc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#e0ffdf">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8" valign="top">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td bgcolor="#ffdac8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<p align="center">&nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
	</tbody>
</table>

<p><span><br>【備</span><span lang="EN-US">&nbsp;&nbsp;</span>註】<strong><span><br></span></strong><span lang="EN-US"><br></span><span lang="EN-US">1.</span>各群應修最低學分數：<span lang="EN-US">L</span>－<span lang="EN-US">2 &nbsp;N</span>－<span lang="EN-US">2 &nbsp;P</span>－<span lang="EN-US">2 &nbsp;Q</span>－<span lang="EN-US">8 &nbsp;R</span>－<span lang="EN-US">2 &nbsp;T</span>－<span lang="EN-US">2 &nbsp;V</span>－<span lang="EN-US">2 &nbsp;W</span>－<span lang="EN-US">2<br></span><span lang="EN-US"><br>2.</span>各群應修最低科目數：
	<br><span lang="EN-US"><br>3.R、T、U、V、W係核心五大學門，大學部89至97學年度入學者五學門必修，二年至再職專班三學門必修<br>4.</span>淡水校園大學部９８學年度起入學者<span lang="EN-US">R</span>、<span lang="EN-US">T</span>、<span lang="EN-US">N</span>、<span lang="EN-US">Q</span>群必修，<span lang="EN-US">L</span>、<span lang="EN-US">M</span>、<span lang="EN-US">P</span>、<span lang="EN-US">S</span>、<span lang="EN-US">U</span>、<span lang="EN-US">V</span>、<span lang="EN-US">W</span>依所屬學院規定之四學門必修<span>&nbsp;</span>
	<br>
	<br>5.各年度日間部新生入學相關資料表請至<a href="http://www.tfjx.tku.edu.tw/down/archive.php?class=103">下載區</a>下載</p>

<p>
	<br>
</p>

<p><strong>大學部課程結構圖</strong>
	<br>
</p>

<p><img src="/storage/app/media/Japanese/106_019f258d.png" style="width: 942px; height: 707.167px;" class="fr-fic fr-dib fr-fil"></p>

<p><strong>大學部課程地圖</strong></p>

<p><img src="/storage/app/media/Japanese/92_152b7d12.png" style="width: 800px;" class="fr-fic fr-dib fr-fil"></p>