<h3><span style="color: rgb(184, 49, 47);"><strong><span style="font-size: 30px;"><img src="/storage/app/media/uploaded-files/.jpg" style="width: 138px; height: 131.349px;" class="fr-fic fr-dii" data-result="success">歷屆大三出國留學人數統計表</span></strong>&nbsp;</span>
</h3>

<p><span style="font-size: 24px;"><span style="color: rgb(184, 49, 47);">　　　　　　　　★95至106學年度大三出國留學人數統計表★</span></span>
</p>

<table border="1" cellpadding="0" cellspacing="3" style="margin-right: calc(28%); width: 72%;" width="681">
	<tbody>
		<tr>
			<td width="88">

				<p align="center"><strong>學　校</strong></p>

				<p align="center"><strong>＼</strong></p>

				<p align="center"><strong>學年度</strong></p>
			</td>
			<td width="51">

				<p align="center"><strong><a href="http://www.reitaku-u.ac.jp/" target="_blank">麗澤大學</a></strong></p>
			</td>
			<td width="51">

				<p align="center"><strong><a href="http://www.josai.ac.jp/" target="_blank">城西大學</a></strong></p>
			</td>
			<td width="51">

				<p align="center"><strong><a href="http://www.jiu.ac.jp/" target="_blank">城西國際大學</a></strong></p>
			</td>
			<td width="51">

				<p align="center"><strong><a href="http://www.tachibana-u.ac.jp/" target="_blank">京都橘</a></strong></p>

				<p align="center"><strong><a href="http://www.tachibana-u.ac.jp/" target="_blank">大學</a></strong></p>
			</td>
			<td width="51">

				<p align="center"><strong><a href="http://www.nagasaki-gaigo.ac.jp/" target="_blank">長崎外國語大學</a></strong></p>
			</td>
			<td width="51">

				<p align="center"><strong><a href="http://www5.hiu.ac.jp/WP_MU/" target="_blank">平成國際大學</a></strong></p>
			</td>
			<td width="54">

				<p align="center"><strong><a href="http://www.doshisha.ac.jp/chc/" target="_blank">同志社大學</a></strong></p>
			</td>
			<td width="45">

				<p align="center"><a href="http://www.ynu.ac.jp/" rel="noopener noreferrer" target="_blank"><strong>橫濱國立大學</strong></a></p>
			</td>
			<td width="46">

				<p align="center"><a href="http://www.kumamoto-u.ac.jp/" rel="noopener noreferrer" target="_blank"><strong>熊本大學</strong></a></p>
			</td>
			<td style="width: 8.5169%; vertical-align: middle;" valign="top" width="53">

				<p align="center" style="text-align: center;"><a href="http://www.tufs.ac.jp/" rel="noopener noreferrer" target="_blank"><strong>東京外國語大學</strong></a></p>
			</td>
			<td style="width: 7.7827%;" width="51">

				<p align="center"><strong>總計</strong></p>
			</td>
		</tr>
		<tr>
			<td width="88">

				<p align="center"><strong>95</strong></p>
			</td>
			<td width="51">

				<p align="center">30</p>
			</td>
			<td width="51">

				<p align="center">5</p>
			</td>
			<td width="51">

				<p align="center">5</p>
			</td>
			<td width="51">

				<p align="center">10</p>
			</td>
			<td width="51">

				<p align="center">5</p>
			</td>
			<td width="51">

				<p align="center">&nbsp;</p>
			</td>
			<td width="54">

				<p align="center">&nbsp;</p>
			</td>
			<td valign="top" width="45">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td valign="top" width="46">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 8.5169%;" valign="top" width="53">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 7.7827%;" width="51">

				<p align="center"><strong>55</strong></p>
			</td>
		</tr>
		<tr>
			<td width="88">

				<p align="center"><strong>96</strong></p>
			</td>
			<td width="51">

				<p align="center">30</p>
			</td>
			<td width="51">

				<p align="center">5</p>
			</td>
			<td width="51">

				<p align="center">5</p>
			</td>
			<td width="51">

				<p align="center">13</p>
			</td>
			<td width="51">

				<p align="center">5</p>
			</td>
			<td width="51">

				<p align="center">10</p>
			</td>
			<td width="54">

				<p align="center">&nbsp;</p>
			</td>
			<td valign="top" width="45">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td valign="top" width="46">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 8.5169%;" valign="top" width="53">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 7.7827%;" width="51">

				<p align="center"><strong>68</strong></p>
			</td>
		</tr>
		<tr>
			<td width="88">

				<p align="center"><strong>97</strong></p>
			</td>
			<td width="51">

				<p align="center">29</p>
			</td>
			<td width="51">

				<p align="center">5</p>
			</td>
			<td width="51">

				<p align="center">5</p>
			</td>
			<td width="51">

				<p align="center">13</p>
			</td>
			<td width="51">

				<p align="center">5</p>
			</td>
			<td width="51">

				<p align="center">10</p>
			</td>
			<td width="54">

				<p align="center">&nbsp;</p>
			</td>
			<td valign="top" width="45">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td valign="top" width="46">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 8.5169%;" valign="top" width="53">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 7.7827%;" width="51">

				<p align="center"><strong>67</strong></p>
			</td>
		</tr>
		<tr>
			<td width="88">

				<p align="center"><strong>98</strong></p>
			</td>
			<td width="51">

				<p align="center">30</p>
			</td>
			<td width="51">

				<p align="center">5</p>
			</td>
			<td width="51">

				<p align="center">5</p>
			</td>
			<td width="51">

				<p align="center">15</p>
			</td>
			<td width="51">

				<p align="center">5</p>
			</td>
			<td width="51">

				<p align="center">10</p>
			</td>
			<td width="54">

				<p align="center">5</p>
			</td>
			<td valign="top" width="45">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td valign="top" width="46">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 8.5169%;" valign="top" width="53">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 7.7827%;" width="51">

				<p align="center"><strong>75</strong></p>
			</td>
		</tr>
		<tr>
			<td width="88">

				<p align="center"><strong>99</strong></p>
			</td>
			<td width="51">

				<p align="center">30</p>
			</td>
			<td width="51">

				<p align="center">5</p>
			</td>
			<td width="51">

				<p align="center">5</p>
			</td>
			<td width="51">

				<p align="center">15</p>
			</td>
			<td width="51">

				<p align="center">5</p>
			</td>
			<td width="51">

				<p align="center">10</p>
			</td>
			<td width="54">

				<p align="center">15</p>
			</td>
			<td valign="top" width="45">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td valign="top" width="46">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 8.5169%;" valign="top" width="53">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 7.7827%;" width="51">

				<p align="center"><strong>85</strong></p>
			</td>
		</tr>
		<tr>
			<td width="88">

				<p align="center"><strong>100</strong></p>
			</td>
			<td width="51">

				<p align="center">11</p>
			</td>
			<td width="51">

				<p align="center">0</p>
			</td>
			<td width="51">

				<p align="center">1</p>
			</td>
			<td width="51">

				<p align="center">9</p>
			</td>
			<td width="51">

				<p align="center">5</p>
			</td>
			<td width="51">

				<p align="center">7</p>
			</td>
			<td width="54">

				<p align="center">15</p>
			</td>
			<td valign="top" width="45">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td valign="top" width="46">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 8.5169%;" valign="top" width="53">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 7.7827%;" width="51">

				<p align="center"><strong>48</strong></p>
			</td>
		</tr>
		<tr>
			<td width="88">

				<p align="center"><strong>101</strong></p>
			</td>
			<td width="51">

				<p align="center">21</p>
			</td>
			<td width="51">

				<p align="center">0</p>
			</td>
			<td width="51">

				<p align="center">1</p>
			</td>
			<td width="51">

				<p align="center">12</p>
			</td>
			<td width="51">

				<p align="center">0</p>
			</td>
			<td width="51">

				<p align="center">0</p>
			</td>
			<td width="54">

				<p align="center">10</p>
			</td>
			<td valign="top" width="45">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td valign="top" width="46">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 8.5169%;" valign="top" width="53">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 7.7827%;" width="51">

				<p align="center"><strong>44</strong></p>
			</td>
		</tr>
		<tr>
			<td width="88">

				<p align="center"><strong>102</strong></p>
			</td>
			<td width="51">

				<p align="center">10</p>
			</td>
			<td width="51">

				<p align="center">0</p>
			</td>
			<td width="51">

				<p align="center">4</p>
			</td>
			<td width="51">

				<p align="center">15</p>
			</td>
			<td width="51">

				<p align="center">0</p>
			</td>
			<td width="51">

				<p align="center">6</p>
			</td>
			<td width="54">

				<p align="center">15</p>
			</td>
			<td valign="top" width="45">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td valign="top" width="46">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 8.5169%;" valign="top" width="53">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 7.7827%;" width="51">

				<p align="center"><strong>50</strong></p>
			</td>
		</tr>
		<tr>
			<td width="88">

				<p align="center"><strong>103</strong></p>
			</td>
			<td width="51">

				<p align="center">21</p>
			</td>
			<td width="51">

				<p align="center">0</p>
			</td>
			<td width="51">

				<p align="center">2</p>
			</td>
			<td width="51">

				<p align="center">15</p>
			</td>
			<td width="51">

				<p align="center">0</p>
			</td>
			<td width="51">

				<p align="center">0</p>
			</td>
			<td width="54">

				<p align="center">13</p>
			</td>
			<td valign="top" width="45">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td valign="top" width="46">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 8.5169%;" valign="top" width="53">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 7.7827%;" width="51">

				<p align="center"><strong>51</strong></p>
			</td>
		</tr>
		<tr>
			<td width="88">

				<p align="center"><strong>104</strong></p>
			</td>
			<td width="51">

				<p align="center">21</p>
			</td>
			<td width="51">

				<p align="center">0</p>
			</td>
			<td width="51">

				<p align="center">4</p>
			</td>
			<td width="51">

				<p align="center">14</p>
			</td>
			<td width="51">

				<p align="center">0</p>
			</td>
			<td width="51">

				<p align="center">0</p>
			</td>
			<td width="54">

				<p align="center">14</p>
			</td>
			<td valign="top" width="45">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td valign="top" width="46">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 8.5169%;" valign="top" width="53">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 7.7827%;" width="51">

				<p align="center"><strong>53</strong></p>
			</td>
		</tr>
		<tr>
			<td width="88">

				<p align="center"><strong>105</strong></p>
			</td>
			<td width="51">

				<p align="center">21</p>
			</td>
			<td width="51">

				<p align="center">0</p>
			</td>
			<td width="51">

				<p align="center">0</p>
			</td>
			<td width="51">

				<p align="center">10</p>
			</td>
			<td width="51">

				<p align="center">0</p>
			</td>
			<td width="51">

				<p align="center">4</p>
			</td>
			<td width="54">

				<p align="center">&nbsp;----&nbsp;</p>
			</td>
			<td valign="top" width="45">

				<p align="center">10</p>
			</td>
			<td valign="top" width="46">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 8.5169%;" valign="top" width="53">

				<p align="center"><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 7.7827%;" width="51">

				<p align="center"><strong>45</strong></p>
			</td>
		</tr>
		<tr>
			<td width="88">

				<p align="center"><strong>106</strong></p>
			</td>
			<td width="51">

				<p align="center">&nbsp;27&nbsp;</p>
			</td>
			<td width="51">

				<p align="center">0</p>
			</td>
			<td width="51">

				<p align="center">5</p>
			</td>
			<td width="51">

				<p align="center">14</p>
			</td>
			<td width="51">

				<p align="center">&nbsp;0&nbsp;</p>
			</td>
			<td width="51">

				<p align="center">0</p>
			</td>
			<td width="54">

				<p align="center">----</p>
			</td>
			<td valign="top" width="45">

				<p align="center">9</p>
			</td>
			<td valign="top" width="46">

				<p align="center">&nbsp;1</p>
			</td>
			<td style="width: 8.5169%;" valign="top" width="53">

				<p align="center">1</p>
			</td>
			<td style="width: 7.7827%;" width="51">

				<p align="center"><strong>&nbsp;57&nbsp;</strong></p>
			</td>
		</tr>
	</tbody>
</table>