<table border="0" cellpadding="0" cellspacing="0" class="oc-alternate-rows" width="561">
	<tbody>
		<tr>
			<td colspan="6" style="vertical-align: middle; text-align: center; background-color: rgb(235, 107, 86);" width="561">

				<p align="center" style="text-align: center;"><strong><span style="font-size: 18px;">淡江大學106學年度第1學期導師名冊</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center; background-color: rgb(247, 218, 100);" width="98">

				<p align="center" style="text-align: center;">授課職稱</p>
			</td>
			<td style="vertical-align: middle; text-align: center; background-color: rgb(247, 218, 100);" width="97">

				<p align="center" style="text-align: center;">姓名</p>
			</td>
			<td style="vertical-align: middle; text-align: center; background-color: rgb(247, 218, 100);" width="121">

				<p align="center" style="text-align: center;">輔導班級</p>
			</td>
			<td style="vertical-align: middle; text-align: center; background-color: rgb(247, 218, 100);" width="121">

				<p align="center" style="text-align: center;">導師別</p>
			</td>
			<td style="vertical-align: middle; text-align: center; background-color: rgb(247, 218, 100);" width="74">

				<p align="center" style="text-align: center;">日夜別</p>
			</td>
			<td style="vertical-align: middle; text-align: center; background-color: rgb(247, 218, 100);" width="50">

				<p align="center" style="text-align: center;">分機</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">講師</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">鍾慈馨</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文一A</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">雙導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">日</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">3193</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">副教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">王嘉臨</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文一A</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">雙導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">日</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">2492</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">副教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">李文茹</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文一B</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">雙導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">日</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">2222</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">助理教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">王憶雲</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文一B</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">雙導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">日</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">3240</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">副教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">闕百華</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文一C</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">雙導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">日</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">2022</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">副教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">張瓊玲</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文一C</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">雙導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">日</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">2493</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">副教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">廖育卿</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文二A</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">單一導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">日</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">2705</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">副教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">徐佩伶</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文二B</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">單一導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">日</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">3192</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">副教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">施信余</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文二C</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">單一導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">日</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">2963</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">副教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">江雯薰</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文三A</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">單一導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">日</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">3198</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">副教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">顧錦芬</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文三B</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">單一導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">日</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">3194</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">副教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">林寄雯</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文三C</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">單一導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">日</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">2419</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">助理教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">中村香苗</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文四A</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">單一導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">日</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">3538</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">助理教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">山下文</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文四B</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">單一導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">日</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">3618</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">副教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">劉長輝</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文四C</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">單一導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">日</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">2773</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">助理教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">蔡欣吟</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文進學一</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">雙導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">夜</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">3197</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">副教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">王美玲</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文進學一</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">雙導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">夜</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">3217</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">助理教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">王天保</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文進學二</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">單一導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">夜</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">2772</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">助理教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">菊島和紀</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文進學三</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">單一導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">夜</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">2059</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">助理教授</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">葉菱</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文進學四</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">單一導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">夜</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">2631</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="98">
				<div style="text-align: center;">講師</div>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="97">

				<p align="center" style="text-align: center;">河村裕之</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">日文在職四</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" width="121">

				<p align="center" style="text-align: center;">單一導師制</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="74">

				<p align="center" style="text-align: center;">夜</p>
			</td>
			<td style="vertical-align: middle; text-align: center;" valign="bottom" width="50">

				<p align="center" style="text-align: center;">2021</p>
			</td>
		</tr>
	</tbody>
</table>