description = "頁尾連絡資料(中文)"
==
<div class="footer_contact">
    <p><span>聯絡電話：{{contact.telephone}}</span>　<span>傳真號碼：{{contact.fax}}</span></p>
    <p>電郵信箱：{{email.email}}</p>
    <p style="position: relative;"><span style="position:absolute; top: 0; left: 0;">學院地址：</span><span style="padding-left: 5em;">{{contact.address}}</span></p>
    <p>網頁維護：<a href="mailto:{{master.email}}">{{master.fullchname}}</a></p>
    {% partial 'common_'~locale~'/privacy' %}
</div>