<p align="center"><span style="font-size: 24px;"><span style="font-family: Impact,Charcoal,sans-serif;"><a name="OLE_LINK2"><strong>淡江大學外國語文學院西班牙語文學系學生西語能力畢業標準檢定規則</strong></a></span></span>
</p>

<p align="right">96.12.18 96學年度第1學期第2次西語系系務會議通過</p>

<p align="right">97.3.12 96學年度第2學期第1次外語學院院務會議通過</p>

<p align="right">97.5.9 96學年度第2學期教務會議通過</p>

<p align="right">99.5.12 98學年度第2學期教務會議修正通過</p>

<p align="right">100.5.11 99學年度第2學期教務會議修訂通過</p>

<p align="right">&nbsp; &nbsp;100.12.19 100學年度第1學期西語系系務會議通過</p>

<p align="right">100.12.29 100學年度第1學期院務會議通過</p>

<p align="right">101.5.9 100學年度第2學期教務會議通過</p>

<p align="right">101.11.7 101學年度第1學期教務會議通過</p>

<p align="right">103.3.10 102學年度第2學期西語系系務會議通過</p>

<p align="right">103.3.19 102學年度第2學期院務會議通過</p>

<p align="right">103.5.14 102學年度第2學期教務會議通過</p>

<p align="right">103.12.22 103學年度第1學期第2次西語系系務會議通過</p>

<p align="right">103.12.25 103學年度第1學期第2次院務會議通過</p>

<p align="right">104.3.9 103學年度第2學期第1次西語系系務會議修正通過</p>

<p align="right">104.3.19 103學年度第2學期第1次院務會議修正通過</p>

<p align="right">104.5.20 103學年度第2學期教務會議修正通過</p>

<p align="right">104.9.21 104學年度第1學期第1次西語系系務會議修正通過</p>

<p align="right">104.9.30 104學年度第1學期第1次院務會議修正通過</p>

<p align="right">104.10.28 104學年度第1學期教務會議修正通過</p>

<p align="right">105.5.16 104學年度第2學期第2次西語系系務會議修正通過</p>

<p align="right">105.6.7 104學年度第2學期第2次院務會議修正通過</p>

<p align="right">105.10.26 105學年度第1學期教務會議修正通過</p>

<p>第一條 &nbsp; &nbsp;淡江大學外國語文學院西班牙語文學系(以下簡稱本系)為確保學生西語能力之水準，訂定「西語能力畢業標準檢定規則」(以下簡稱本規則)。</p>

<p>本規則適用對象如下：</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 一、97學年度起入學本系之大學部學生。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 二、97學年度起入學加修本系為雙主修之學生。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 三、100~103學年度入學本系碩士班之學生。</p>

<p>第三條 　達到以下語言能力標準，視為達到本系西語能力畢業標準：</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 一、大學部：須通過西語測驗等同CEFR B1等級，採計二種測驗類別（DELE；FLPT)；104學年度前入學生須通過DELE語言能力檢定考試A2。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 二、碩士班：通過DELE語言能力檢定考試B1或財團法人語言訓練測驗中心LTTC之外語能力測驗FLPT (西班牙語) 130分；口試S-2。</p>

<p>第四條 &nbsp; &nbsp;通過畢業門檻者，應自行線上登錄並繳交成績證明至本系提出認證初核，經教務處複核，始得領取學位證書。第一學期領取畢業證書者應至遲於一月三十一日前提出，第二學期領取畢業證書者應至遲於九月三十日前提出。</p>

<p>第五條 　本系學生修習西語能力畢業門檻替代課程規定如下：</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 一、97學年度起入學之大學部學生及加修本系為雙主修之學生，已報考但未通過第三條規定之考試者，得於四年級起選修本系開設之「進修西語」二學分，及格者始視同通過本系西語能力畢業標準。</p>

<p>&nbsp; &nbsp; &nbsp; 二、100~103年度入學之碩士班學生，已報考但未通過第三條規定之考試者，得於畢業前選修本系開設之「進修西語」二學分，及格者始視同通過本系西語能力畢業標準。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;三、「進修西語」之學分不計入畢業學分及二分之一學分不及格計算，且該成績不列入學期成績及學業成績平均計算。</p>

<p>第六條 &nbsp; 本規則未盡事宜，依學位授予法、學位授予法施行細則及有關教育法 令辦理之。</p>

<p>第七條 &nbsp; 本規則經系務會議、院務會議並提教務會議通過後，自公布日實施；修正時亦同。</p>