<p><strong><span>會話專用教室：T402</span></strong></p>

<p>
	<br>設備：多媒體電腦、多系統錄放影機、DVD、電視機。</p>

<p><span>功用：教師上課使用。</span></p>

<p>特色：可收看西班牙衞星電視節目。<span><br><br><span><strong>西語特區：FL103</strong></span>
	<br><span>設備：錄放影機、DVD、液晶電視。</span></span>功用：供學生自由觀看西班牙衛星電視節目及西語影片。</p>