<p align="justify"><strong><strong>短程目標（97</strong><strong>學年度至98</strong><strong>學年度）：</strong></strong>
</p>

<p>&nbsp;</p>

<p>教學:</p>

<p>1.多增聘專任教授。（例：5年師資延聘計畫）</p>

<p>2.強化碩士班論文品質。（例：碩士生須投稿於國內期刊並獲刊登，使得提口試申請）</p>

<p>3.恢復出版本系的出版刊物Ole，增進師生交流。</p>

<p>4.加開輔導課程協助程度較差學生。</p>

<p>5.檢討課程，汰換不連貫之課程，新增多元化課程提供學生選課。</p>

<p>6.配合外語學院規劃「翻譯學程」。</p>

<p>7.由各科授課老師共同擬定本系各年級統一之授課綱要。</p>

<p>&nbsp;</p>

<p>學習與輔導：</p>

<p>1.持續增購圖書及期刊，尤其擴充碩士班所授之專業圖書。</p>

<p>2.購置西語應用多媒體教材，作為輔助教學教材。</p>

<p>3.強化導師與學生互動，以期凝聚系所向心力。</p>

<p>4.預先擬定每學期舉辦演講之主題及講者，提供應屆畢業生升學或就業方面資訊，例如：生涯輔導、就業等。</p>

<p>&nbsp;</p>

<p>服務：</p>

<p>1.成立法人系友會，促進與畢業校友之聯繫。</p>

<p>2.&nbsp;舉辦高中西語體驗營。</p>

<p>&nbsp;</p>

<p><strong>中程目標（99</strong><strong>學年度至102</strong><strong>學年度）：</strong></p>

<p>&nbsp;</p>

<p>1.持續勸募獎助學金，鼓勵學生一心向學。</p>

<p>2.鼓勵教師研究，佐以實質輔助，如減時授課、提供研究助理等。</p>

<p>3.活化教學，充分朝語言專業及就業應用方向強化。高年級增加文化方面課程，閱讀經典名著，豐富文化視野。</p>

<p>4.學生通過西語檢定中高級考試及英檢考試者，給予獎勵，例如：獎金或獎品等。</p>

<p>5.定期針對學生做西語授課之成效調查。</p>

<p>6.延聘國外客座教授。</p>

<p>&nbsp;</p>

<p>&nbsp;<strong>長程目標（102</strong><strong>學年度至107</strong><strong>學年度）：</strong></p>

<p>&nbsp;</p>

<p>1.與西語國家之學術單位做實質交流，定期舉辦西語教學研討會。</p>

<p>2.有計畫性更新合語言相關學門，以順應時代潮流，隨時檢核教學與學習效果，使得聽說讀寫譯等語言基本技巧能更緊密的結合，期能提供國家所需要之西語專業人才，提高學生就業及競爭能力。</p>

<p>3.定期更新西語版網頁資訊，以臻豐富網頁內容。</p>

<p>4.爭取更大西語特區之空間，以便發揮更大語言學習效益。</p>