<p><a allowfullscreen="" frameborder="0" height="315" href="" src="https://www.youtube.com/embed/xmodyOcXB9U">"&gt;<iframe width="560" height="315" src="https://www.youtube.com/embed/xmodyOcXB9U" frameborder="0" allowfullscreen=""></iframe></a></p>

<p><span style="font-size: 24px;"><strong><br></strong></span></p>

<p><span style="font-size: 24px;"><strong>Vocabulario:</strong></span></p>

<p><strong>1. 漁人碼頭 Muelle de los Pescadores&nbsp;</strong></p>

<p><strong>2. 遊艇 yate (embarcación)</strong></p>

<p><strong>3. 觀劇場平台 anfiteatro</strong></p>

<p><strong>4. 情人節 Día de San Valentín /&nbsp;Día de los Enamorados</strong></p>

<p><strong>5. 紀錄片&nbsp;documental</strong></p>

<p><strong>6. &lt;&lt;看見台灣&gt;&gt; "Más Allá de la Belleza: Taiwán desde lo Alto"</strong></p>

<p><strong>7. 水手 marinero</strong></p>

<p><strong>8. 後果 consecuencia</strong></p>

<p><strong>9. 渡假勝地 atracción turística</strong></p>

<p><strong>10. 藝術市集 feria artística</strong></p>

<p><strong>11. 措施 medidas</strong></p>

<p><strong>12. 富豪 billonario</strong></p>

<p><strong>13. 時速 velocidad</strong></p>

<p><strong>14. 輕軌路軌 ferrovía ligera</strong></p>

<p><strong>15. 新台幣 Nuevo Dólar Taiwanés: NT$ (moneda de circulación en</strong></p>

<p><strong>Taiwán)</strong></p>

<p><strong>16. 微彎 ligera curvatura</strong></p>

<p><strong>17. 船帆 vela de un barco</strong></p>

<p><strong>18. 牽手 tomarse de la mano</strong></p>

<p><strong>19.回頭 darse la vuelta / mirar hacia atrás</strong></p>

<p><strong>20. 放開手 soltarse de la mano</strong></p>

<p><strong>21. 考驗 desafío / pruebo</strong></p>

<p><strong>22. 情人塔 Torre de los Enamorados</strong></p>

<p><strong>23. 360度全視野景觀 vista panorámica de 360 grados</strong></p>

<p><strong>24. 旋轉觀景塔 mirador giratorio</strong></p>

<p><strong>25. 安全玻璃防護罩 cápsula acristalada hecha en vidrio de seguridad / cápsula de cristal de alta seguridad</strong></p>