<table align="center" border="1" cellpadding="2" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>
			<h1 style="text-align:center"><span style="font-size:30px"><strong>教務處招生組網頁說明</strong></span></h1>
			</td>
			<td>
			<h1 style="text-align:center"><strong>網址</strong></h1>
			</td>
		</tr>
		<tr>
			<td>
			<h4><span style="font-size:14px">107學年度「大學繁星推薦入學」_招生簡章校系分則查詢及106學年度錄取標準一覽表</span></h4>
			</td>
			<td><a href="http://www.acad.tku.edu.tw/news/news.php?Sn=1504">http://www.acad.tku.edu.tw/news/news.php?Sn=1504</a></td>
		</tr>
	</tbody>
</table>

<h2 style="font-style:italic">&nbsp;</h2>

<h1>&nbsp;</h1>

<p>&nbsp;</p>