<p><span style="font-size: 24px;"><strong>Gambas al ajillo Ingredientes 蒜味炒蝦&nbsp;</strong></span>(para dos personas兩人份) &nbsp; &nbsp; &nbsp; Receta de José Miguel Blanco Pena&nbsp;<img src="/storage/app/media/uploaded-files/IMG_20171124_175002_HDR.jpg" style="width: 153px; height: 115.101px;" class="fr-fic fr-dib" data-result="success"></p>

<p>&nbsp;-150 ml de aceite de oliva virgen extra &nbsp;品質好及純的橄欖油150毫升</p>

<p>&nbsp;-8 dientes de ajo&nbsp; 8片蒜瓣</p>

<p>-Un trozo de guindilla picante 1塊辣椒&nbsp;</p>

<p>-150 g de gambas peladas 去殼蝦150克</p>

<p>-Sal 鹽巴</p>

<p>Elaboración: Primero pelamos los ajos y los cortamos en láminas. Luego calentamos el aceite en la sartén. Cuando esté caliente, echamos los ajos y el trozo de guindilla. Los salteamos removiendo durante un par de minutos. Cuando los ajos estén un poco dorados, echamos las gambas, añadimos un poco de sal y las salteamos junto con los ajos y la guindilla durante 1-2 minutos. Luego apagamos el fuego y tapamos la sartén durante un minuto. Destapamos y servimos.&nbsp;</p>

<p>
	<br>
</p>

<p>步驟: 首先，將蒜剝皮並將他切成薄片；接著，在平底鍋中先將油加熱，當油熱時，將蒜和辣椒倒入。蒜和辣椒要邊煎邊翻動幾分鐘，當算有點金黃色時，我們再將蝦倒入、加入一點鹽巴後和蒜及辣椒一起翻炒1到2分鐘。 接著關掉火後，將平底鍋蓋住悶幾分鐘。 開蓋後即可食用。</p>

<p>
	<br>
</p>

<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/t9KcW4nsV6c" frameborder="0" allowfullscreen=""></iframe></span>
	<br>
</p>