<p>本系創辦已屆滿40年，茲就教學、研究與服務等三個方面，訂定了新一階段發展的願景：</p>

<p>&nbsp;
	<br><strong><span>1.教學：</span></strong>在課程的安排上，仍將以語文訓練為本，文化薰陶為輔，應用務實為目標，並將「聽」、「說」、「讀」、「寫」四大要項融合於未來課程中，以實現均衡的外語教育。其次，在實際的教學上，應特別強調教學技巧的創新，透過生動及多樣化的教學方法引發學生持續學習的動機與興趣，尤其電子教學將是未來努力的方向，此外，教材的運用與教師的提升則是決定成效高低的關鍵性因素。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; <span>&nbsp;</span>
	<br>&nbsp;在教材的選取上，應優先且廣泛運用以影音教具為媒介的教學素材，藉由生活化的方式引導學生進入具相的語文學習空間，以濟單純以語音作為教育媒介的單調與不足。此外，為提升畢業同學的就業競爭力，將考慮在大三及大四階段採取專業分組，依同學未來的就業規劃，授予更為專業語文教育。至於師資的提升，除了對教育的既有堅持之外，尤應鼓勵教師參與教學研討及接受各項在職訓練，俾能及早掌握具有前瞻性的教學技巧。</p>

<p>&nbsp;</p>

<p><span><strong>2.</strong><strong><span>研究：</span></strong>應鼓勵教師擬訂與所授課程相關的研究計劃，並妥為利用各項研究資源，俾將研究成果直接運用於教學之中。此外，進行整合性研究也是未來的努力方向，因隨著教學領域的逐步擴展，一人一時一地所進行的研究極易出現視野不足的弊端，且對於整體資源的利用而言，也非屬經濟，倘能集眾人之力，各以其學術專長就同一或相關主題的個別面向進行探討，當能有效地擴展及深化研究領域，並提升研究的效率。</span>
</p>

<p><span>　　<br><strong>3.</strong><strong>服務：</strong>教師固然以教學及研究為職志，然發揮之場域並非侷限於校園一地，當與社會的需求密切結合。準此，本系之教師將加強與產、官二界之合作，貢獻所學，並為企業及政府機關培育及舉薦外語人才；另方面支援校方所開設之建教合作課程，將西語教育盡力普及到社會每一個需要的層面。此外亦將支援本校國際化業務，協助淡江與西語國家之接軌，接待西語國家外賓，進行交換、互訪，以提升淡江之國際能見度。</span></p>

<p><span>　　<br>本系期望日後能隨著師資的逐步擴充，加強對於學生課外生活的關注並藉由自身的學習經驗及人生閱歷，提供更為全方位的 人生規劃諮詢。綜觀前述各項願景，即為本校資訊化、未來化、國際化政策的具體實踐，亦即是以資訊化的設備提供最優良的外語環境，廣泛地接受新知；以未來化的觀點規劃課程，培育出走在時代尖端的西語專才；以國際化的視野與全球相關領域的學者建立聯繫，擴展全系師生的學習管道。</span></p>