<p><img src="/storage/app/media/uploaded-files/8.jpg" style="width: 923px; height: 46.0499px;" class="fr-fic fr-dib" data-result="success"><img src="/storage/app/media/uploaded-files/7.jpg" style="width: 923px; height: 123.067px;" class="fr-fic fr-dib" data-result="success"></p>

<p>
	<br>
</p>