<p><a allowfullscreen="" frameborder="0" height="315" href="" src="https://www.youtube.com/embed/2aX2_lLLn3k">"&gt;<iframe width="560" height="315" src="https://www.youtube.com/embed/2aX2_lLLn3k" frameborder="0" allowfullscreen=""></iframe></a></p>

<p>
	<br>
</p>

<p><strong><span style="font-size: 24px;">Vocabulario:</span></strong></p>

<p><strong><span style="font-size: 14px;"><br></span></strong></p>

<p><strong><span style="font-size: 14px;">1. 小吃 aperitivo</span></strong></p>

<p><strong><span style="font-size: 14px;">2. 魚丸 bola de pescado / albóndiga de pescado</span></strong></p>

<p><strong><span style="font-size: 14px;">3. 魚酥 galleta de pescado frito</span></strong></p>

<p><strong><span style="font-size: 14px;">4. 鐵蛋 huevo de hierro</span></strong></p>

<p><strong><span style="font-size: 14px;">5. 地中海菜 cocina mediterránea</span></strong></p>

<p><strong><span style="font-size: 14px;">6. 大宴 banquete culinario</span></strong></p>

<p><strong><span style="font-size: 14px;">7. 夜市 mercado nocturno</span></strong></p>

<p><strong><span style="font-size: 14px;">8. 政治人物 político (persona dedicada a algún tipo de actividad política)</span></strong></p>

<p><strong><span style="font-size: 14px;">9. 貴賓 huésped</span></strong></p>

<p><strong><span style="font-size: 14px;">10. 國宴 banquete de Estado (banquete ofrecido por una entidad oficial de alto rango)</span></strong></p>

<p><strong><span style="font-size: 14px;">11. 衛生條件 requisitos sanitarios</span></strong></p>

<p><strong><span style="font-size: 14px;">12. 休閒食品 aperitivo de ocio (turismo gastronómico)</span></strong></p>

<p><strong><span style="font-size: 14px;">&nbsp; &nbsp; &nbsp; DIY / HTM (Hazlo tú mismo)</span></strong></p>

<p><strong><span style="font-size: 14px;">13. 坪 tsubo / 1坪 (pyeong) = 3.305785 metros cuadrados</span></strong></p>

<p><strong><span style="font-size: 14px;">14. 步槍 fusil / rifle / escopeta</span></strong></p>

<p><strong><span style="font-size: 14px;">15. 海軍陸戰隊 infantería de marina</span></strong></p>

<p><strong><span style="font-size: 14px;">16. 油豆腐 tofu frito</span></strong></p>

<p><strong><span style="font-size: 14px;">17. 挖空 ahuecar / hacer hueco</span></strong></p>

<p><strong><span style="font-size: 14px;">18. 填入 rellenar</span></strong></p>

<p><strong><span style="font-size: 14px;">19. 冬粉 fideo de lentejas</span></strong></p>

<p><strong><span style="font-size: 14px;">20. 魚漿 pasta de pescado</span></strong></p>

<p><strong><span style="font-size: 14px;">21. 調味 condimentar</span></strong></p>

<p><strong><span style="font-size: 14px;">22. 封口 sellar</span></strong></p>

<p><strong><span style="font-size: 14px;">23. 蒸熟 cocción al vapor / cocer al vapor</span></strong></p>

<p><strong><span style="font-size: 14px;">24. 甜辣醬 salsa de chile dulce</span></strong></p>

<p><strong><span style="font-size: 14px;">25. 湯汁 caldo / sopa</span></strong></p>

<p><strong><span style="font-size: 14px;">26. 浪費 desperdiciar / malgastar</span></strong></p>

<p><strong><span style="font-size: 14px;">27. 剩餘食材 ingrediente sobrante</span></strong></p>

<p><strong><span style="font-size: 14px;">28. 附加產品 producto adicional</span></strong></p>

<p><strong><span style="font-size: 14px;">29. 鯊魚 tiburón</span></strong></p>

<p><strong><span style="font-size: 14px;">30. 鬼頭刀 dorado</span></strong></p>

<p><strong><span style="font-size: 14px;">31. 研磨 moler / triturar</span></strong></p>

<p><strong><span style="font-size: 14px;">32. 太白粉 almidón</span></strong></p>

<p><strong><span style="font-size: 14px;">33. 滷蛋 huevo a la soja</span></strong></p>

<p><strong><span style="font-size: 14px;">34. 滷汁 caldo condimentado con especias</span></strong></p>

<p><strong><span style="font-size: 14px;">35. 嚼 masticar</span></strong></p>

<p><strong><span style="font-size: 14px;">36. 醬油 salsa de soja (soya)</span></strong></p>

<p><strong><span style="font-size: 14px;">37. 五香配方 cinco especias (anís estrellado, cardamomo negro, cassia y semillas de hinojo)</span></strong></p>

<p><strong><span style="font-size: 14px;">38. 風乾 secar al aire</span></strong></p>

<p><strong><span style="font-size: 14px;">39. 古早味 sabor tradicional / sabor original</span></strong></p>