<p><a href="" src="https://www.youtube.com/embed/qqNHnwXnx2I" height="315" frameborder="0" allowfullscreen="">"&gt;<iframe width="560" height="315" src="https://www.youtube.com/embed/qqNHnwXnx2I" frameborder="0" allowfullscreen=""></iframe></a></p>

<p>
	<br>
</p>

<p><span style="font-size: 24px;">Vocabulario:</span></p>

<p>1. 泥沙淤積 acumulación de arena / acumulación de estratos arenosos</p>

<p>2. 古董店 tienda de antigüedades</p>

<p>3. 民藝品店 tienda de artesanías</p>

<p>4. 呼籲 pedir / exigir / solicitar</p>

<p>5. 文史工作室 taller de historia y cultura</p>

<p>6. 網路集結 congregarse a través de internet</p>

<p>7. 滑手機 manipular el móvil ( teléfono)</p>

<p>8. 上坡階梯 escaleras inclinadas</p>

<p>9. 山丘 colina / macizo montañoso</p>

<p>10. 中國時報 China Times (periódico en Taiwán)</p>

<p>11. 新北市政府 Gobierno de la Ciudad Nuevo Taipéi</p>

<p>12. 拓寬工程 proyecto de ampliación / programa para la ampliación (de una obra de construcción)</p>

<p>13. 柔性訴求 demandas pacíficas</p>

<p>14. 保留 preservación</p>

<p>15. 古厝 casa antigua</p>

<p>16. 彈孔 agujero de bala</p>

<p>17. 興衰 auge y caída</p>

<p>18. 邊坡地 declive / pendiente / ladera</p>

<p>19. 猶太商行 comercio judío / empresa judía</p>

<p>20. 公寓雜院 apartamento multiuso</p>

<p>21. 失火 incendiarse / quemarse</p>

<p>22. 拆除改建 demoler y luego reconstruir</p>

<p>23. 淡水文化基金會 Fundación Cultural Tamsui</p>

<p>24. 委託 encargar / confiar / asignar ( a alguien una tarea específica)</p>

<p>25. 彩墨 pintura china policromática</p>

<p>26. 壁畫 mural / fresco / obra pictórica</p>

<p>27. 撞沉意外 naufragio / hundimiento (de un navío)</p>

<p>28. 雅號 nombre elegante y sofisticado</p>

<p>29. 魚丸 albóndigas de pescado / bolas de pescado</p>

<p>30. 複合式餐廳 restaurante mixto</p>