.top_bar {
    border-bottom-color: #d00c27;
}
.yellow_line {
    background-color: #001f7e;
}
.navbar-collapse {
    background-color: rgba(6,25,83,1);
}
.dropdown-menu > li > a {
    background-color: rgba(6,25,83,.8);
    border-bottom: 1px solid rgba(0,0,0,.6);
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fece00;
}
.navbar-default .navbar-nav .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu > li > a:focus {
    color: #fece00;
    background-color: rgba(6,25,83,1) !important;
}
.navbar-default .navbar-nav .dropdown-menu .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu .dropdown-menu > li > a:focus {
    color: #fece00;
    background-color: rgba(6,25,83,1) !important;
}
.header_fixed .fixed_layout {
    background-color: rgba(6,25,83,1);
}
.header_middle {
    background-image: url(../images/header_bg.jpg);
}