title = "pdfview"
url = "/pdfview"
layout = "pdf"
is_hidden = 0
==
<?php
function onStart() {

    $this->addCss('assets/bower_components/pdf.js-viewer/viewer.css');
    $this->addJs('assets/bower_components/pdf.js-viewer/pdf.js');
    $this->addJs('assets/bower_components/angular/angular.js');
    $this->addJs('assets/bower_components/angular-pdfjs-viewer/dist/angular-pdfjs-viewer.js');
    $this->addJs('assets/javascript/pdfapp.js');
    $this['source']=input('url');
}
?>
==
<div ng-app="app" ng-controller="AppCtrl">
        <div class="some-pdf-container">
		<pdfjs-viewer src="{{source}}"></pdfjs-viewer>
        </div>	
</div>