<h3><span style="font-family: Arial,Helvetica,sans-serif;">閱讀旅行工作坊 5 ─《丈量世界》</span></h3>

<p class="oc-text-spaced"><span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-size: 14px;"><span lang="EN-US">12/22(</span>二<span lang="EN-US">) &nbsp; 14:30 ~ 16:00&nbsp;</span>主題：《丈量世界》主講人<span lang="EN-US">:</span>鄭慧君<span lang="EN-US">&nbsp;</span><span lang="EN-US"><br></span>《丈量世界》是部虛構的傳記小說，當中兩位主角不但是德國史，甚至是世界史上的重量級人物。一位是數學家卡爾<span lang="EN-US">•</span>費德烈<span lang="EN-US">•</span>高斯，另一位則是有『哥倫布第二』之稱的亞歷山大<span lang="EN-US">•</span>封<span lang="EN-US">•</span>洪堡。高斯為了工作，不得已在德國境內四處遊走；洪堡則是為了要親自探索世界，而踏上漫長的旅途。兩人在旅程中的所見所聞，都在作家丹尼爾<span lang="EN-US">•</span>凱爾曼的生動描述下多了份幽默詼諧，以及對人生的深刻省思。</span>
	</span>
</p>

<p class="oc-text-spaced"><span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-size: 14px;"><img src="http://www.tf.tku.edu.tw/img.php?img=387_2a91fb7b.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=388_f5ecce5e.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=389_aee82a7e.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=390_0cba7d8b.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=391_a31d7f07.jpg&amp;dir=archive" class="fr-fic fr-dii"></span></span>
	<br>
</p>