<h1><strong>古巴文化研究中心文史資料</strong>
	<br>
	<br>
</h1>

<h4 class="oc-text-spaced"><span style="font-size: 24px;">遠在加勒比海的古巴，因有紅色閃電棒球隊而聲名遠播，</span>
	<br><span style="font-size: 24px;"><br>也因強人卡斯楚與美國總統之間的角力而頻頻登上國際新聞，</span>
	<br><span style="font-size: 24px;"><br>近來更因美、古破冰而再度興起古巴熱潮。</span>
	<br><span style="font-size: 24px;"><br>有鑑於國人對古巴十分陌生，淡江大學外國語文學院特成立古巴文化研究中心，</span>
	<br><span style="font-size: 24px;"><br>提供一個交流平台，讓有志學習西班牙文、且對古巴有興趣的同學，一起探索古巴文化。</span>&nbsp;
	<br>
	<br>
</h4>

<p><img src="/storage/app/media/uploaded-files/_archive_464_b3259fef.jpg" style="width: 454px; height: 715.807px;" class="fr-fic fr-dib fr-fil" data-result="success">
	<br>
	<br>
	<br>
</p>

<p><span style="font-size: 24px;"><strong>相關文章連結：</strong></span></p>

<p><span style="font-size: 24px;"><br></span></p>

<p><span style="font-size: 24px;">&nbsp; &nbsp; &nbsp; &nbsp; <a href="http://talk.ltn.com.tw/article/breakingnews/1654172">革命、人權與禁運（下）</a></span></p>

<p><span style="font-size: 24px;"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172"></a><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp; http://talk.ltn.com.tw/article/breakingnews/1654172</a><br><br></span></p>

<p><span style="font-size: 24px;"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>革命、人權與禁運（上）</span></p>

<p><span style="font-size: 24px;"><a href="http://talk.ltn.com.tw/article/breakingnews/1646953"></a> <a href="http://talk.ltn.com.tw/article/breakingnews/1646953"></a><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a><a href="http://talk.ltn.com.tw/article/breakingnews/1646953">http://talk.ltn.com.tw/article/breakingnews/1646953</a><br><br></span></p>

<p><span style="font-size: 24px;"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>美、古之間的恩怨（下）</span></p>

<p><span style="font-size: 24px;"><a href="http://talk.ltn.com.tw/article/breakingnews/1639637"></a> <a href="http://talk.ltn.com.tw/article/breakingnews/1639637"></a><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a><a href="http://talk.ltn.com.tw/article/breakingnews/1639637">http://talk.ltn.com.tw/article/breakingnews/1639637</a><br><br></span></p>

<p><span style="font-size: 24px;"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>美、古之間的恩怨（上）</span></p>

<p><span style="font-size: 24px;"><a href="http://talk.ltn.com.tw/article/breakingnews/1631992"></a> <a href="http://talk.ltn.com.tw/article/breakingnews/1631992"></a><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a><a href="http://talk.ltn.com.tw/article/breakingnews/1631992">http://talk.ltn.com.tw/article/breakingnews/1631992</a><br><br></span></p>

<p><span style="font-size: 24px;"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>切．格瓦拉的背包</span></p>

<p><span style="font-size: 24px;"><a href="http://talk.ltn.com.tw/article/breakingnews/1568680"></a> <a href="http://talk.ltn.com.tw/article/breakingnews/1568680"></a><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a><a href="http://talk.ltn.com.tw/article/breakingnews/1568680">http://talk.ltn.com.tw/article/breakingnews/1568680</a><br><br></span></p>

<p><span style="font-size: 24px;"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>游擊隊員vs.文學家：閱讀切．格瓦拉（下）</span></p>

<p><span style="font-size: 24px;"><a href="http://talk.ltn.com.tw/article/breakingnews/1561189"></a> <a href="http://talk.ltn.com.tw/article/breakingnews/1561189"></a><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a><a href="http://talk.ltn.com.tw/article/breakingnews/1561189">http://talk.ltn.com.tw/article/breakingnews/1561189</a><br><br></span></p>

<p><span style="font-size: 24px;"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>游擊隊員vs.文學家：閱讀切．格瓦拉（上）</span></p>

<p><span style="font-size: 24px;"><a href="http://talk.ltn.com.tw/article/breakingnews/1554077"></a> <a href="http://talk.ltn.com.tw/article/breakingnews/1554077"></a><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a><a href="http://talk.ltn.com.tw/article/breakingnews/1554077">http://talk.ltn.com.tw/article/breakingnews/1554077</a><br><br></span></p>

<p><span style="font-size: 24px;"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>游擊隊的抗暴史詩</span></p>

<p><span style="font-size: 24px;"><a href="http://talk.ltn.com.tw/article/breakingnews/1546923"></a> <a href="http://talk.ltn.com.tw/article/breakingnews/1546923"></a><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a> <a href="http://talk.ltn.com.tw/article/breakingnews/1546923"></a><a href="http://talk.ltn.com.tw/article/breakingnews/1546923">http://talk.ltn.com.tw/article/breakingnews/1546923</a></span></p>

<p><span style="font-size: 24px;"><br></span></p>

<p><span style="font-size: 24px;"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>古巴宗教藝術-探究聖得利亞的文化身影<br><br>&nbsp; &nbsp; &nbsp; &nbsp; <a class="fr-file" href="/storage/app/media/uploaded-files/.pdf">古巴文化研究中心文史資料.pdf</a></span></p>