<p style="text-align: center;"><img alt="" src="http://www.tf.tku.edu.tw/img.php?img=446_9d0eccde.png&amp;dir=archive" class="fr-fic fr-dii" style="width: 221px; height: 341.669px;"><img alt="" src="http://www.tf.tku.edu.tw/img.php?img=447_aeb7f029.png&amp;dir=archive" class="fr-fic fr-dii" style="width: 215px; height: 340.417px;">
	<br><span style="font-size: 24px;">淡江外語如何使你與眾不同報導系列三</span></p>

<p style="text-align: center;"><span style="font-size: 24px;">&nbsp;(職業－外交篇)</span></p>

<p><span style="font-size: 24px;">&nbsp;</span></p>

<p><span style="font-size: 24px;">去年，外語學院出版「大三那年，我不在台灣」，法文系畢業校友許譽曦（現任外交部國際傳播司秘書）認為留法一年，改變一生，受用一輩子。以許譽曦自身例子而言，由於在校時對法文的學習掌握，以及大三留法的深化精進，方能使他在退伍後即順利考取國家考試及任職於政府部門，隨後並代表國家外派歐盟首都布魯塞爾及法國巴黎等地工作。可以這麼說，學習法文並留法一年，確實改變他的人生，並讓他在日後的工作及生活上得以順遂發展，至今仍受用不盡！</span></p>

<p><span style="font-size: 24px;">西語系畢業校友陳致遠（現任外交部駐巴拿馬大使館秘書）感謝大三出國，是他外交生涯的第一步，任職外貿公司的俞介凡，同樣認為留學西班牙一年，是他人生的轉捩點。陳致遠第一次與西班牙家庭共同生活，第一次有外國室友，第一次和不同國籍背景及膚色的同學學習，這許許多多的第一次，都扎扎實實地逼者他必須加緊腳步去適應、成長及融入；語言、生活習慣及觀念的不同，讓他看見這世界太多不同面向的美好，增廣的不僅是所見所聞，更是一種脫離島國心態以及獨立積極面對人生及生活的態度，來自台灣的學生與世界知名大學共處一室，我們的表現絲毫不遜於任何人，這種抬頭挺胸的台灣精神，是最令人感動的。</span></p>

<p><span style="font-size: 24px;">陳致遠選擇繼續在母校拉丁美洲研究所就讀，並利用所上的研究交流計畫赴墨西哥收集撰寫碩士畢業論文資料，再次以學生的身份出國，一樣是代表者淡江大學。大三出國一年給予的養份持續讓他在拉美的土地上繼續成長與茁壯。2008年進入外交部後，國家選派新任外交人員赴西班牙馬德里大學進修，又一次回到熟悉的老地方，心中可謂是百感交集。現今進入外交工作已將邁入第8年。淡大西研所每年選派至巴拿馬就讀的交換生，總讓他回想到當初大三的青澀！大三出國，是他外交生涯的第一步，也是人生的轉捩點。（編者按：除作者群－洪家瑜（現任智邦集團歐洲業務顧問及西班牙電信集團業務）、蔡惠文（西班牙地中海學院商務中文教師暨亞洲國際事務負責人）、王信志（巨創實業有限公司總經理）外，西語系傑出校友尚有：前駐西班牙代表黃瀧元、前駐多明尼加大使陳顯祥、前駐巴拿馬大使周麟,前駐瓜地馬拉大使孫大成、前駐巴拉圭大使劉德立、前駐智利代表王明文、前駐多明尼加拉大使蔡孟宏等）</span></p>