<h3><span style="color: rgb(84, 172, 210);"><span style="font-size: 48px;"><strong>英語推薦自學網站:</strong></span></span>
	<br>
	<br>
</h3>

<h4>
	<a href="http://www.business-english.com/" target="_blank"></a><span style="font-size: 24px;"><a href="http://www.business-english.com/">http://www.business-english.com/</a></span></h4>

<dl>
	<dd><span style="font-size: 24px;">Business English Lessons 商業英文統合學習的好站，含關鍵字彙、聽力訓練、郵件寫作範例與測驗</span></dd>
	<dd>
		<br>
	</dd>
	<dt><span style="font-size: 24px;"><a href="http://grammar.ccc.commnet.edu/grammar/" target="_blank"></a><a href="http://grammar.ccc.commnet.edu/grammar/">http://grammar.ccc.commnet.edu/grammar/</a></span></dt>
	<dd><span style="font-size: 24px;">Guide to Grammar &amp; Writing 文法基礎與練習、寫作步驟、以及常見錯誤勘誤的優質網站</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.urbandictionary.com/" target="_blank"></a><a href="http://www.urbandictionary.com/">http://www.urbandictionary.com/</a></span></dt>
	<dd><span style="font-size: 24px;">已有10年歷史的線上英文俚語字典</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.word-power.us/" target="_blank"></a><a href="http://www.word-power.us/">http://www.word-power.us/</a></span></dt>
	<dd><span style="font-size: 24px;">字彙增進與情境英語學習</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.merriam-webster.com/" target="_blank"></a><a href="http://www.merriam-webster.com/">http://www.merriam-webster.com/</a></span></dt>
	<dd><span style="font-size: 24px;">Webster-Marriam Dictionary/Thesaurus online 美式英文的權威線上字典</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://eslvideo.com/index.php" target="_blank"></a><a href="http://eslvideo.com/index.php">http://eslvideo.com/index.php</a></span></dt>
	<dd><span style="font-size: 24px;">提供英語電影、歌曲以及相關練習訓練英語聽力能力</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.esl-lab.com/" target="_blank"></a><a href="http://www.esl-lab.com/">http://www.esl-lab.com/</a></span></dt>
	<dd><span style="font-size: 24px;">豐富的英語聽力練習資料庫，提供不同語言程度的練習</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.arts.uottawa.ca/writcent/hypergrammar/" target="_blank"></a><a href="http://www.arts.uottawa.ca/writcent/hypergrammar/">http://www.arts.uottawa.ca/writcent/hypergrammar/</a></span></dt>
	<dd><span style="font-size: 24px;">有系統的英語寫作教學及練習，能提升整體文法及英語寫作能力</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.lingual.net/lingualproductitems/category.php?categoryid=2" target="_blank"></a><a href="http://www.lingual.net">http://www.lingual.net</a></span></dt>
	<dd><span style="font-size: 24px;">提供各式各樣的英語動畫影片提升英語聽力能力</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.wordia.com/" target="_blank"></a><a href="http://www.wordia.com">http://www.wordia.com</a></span></dt>
	<dd><span style="font-size: 24px;">用影片呈現不同的英文字典用法以及情境意義</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.onelook.com/" target="_blank"></a><a href="http://www.onelook.com">http://www.onelook.com</a></span></dt>
	<dd><span style="font-size: 24px;">強大的線上字典功能，能查詢不同領域的專業用字</span></dd>
</dl>