<h4><span style="color: rgb(84, 172, 210);"><span style="font-size: 48px;"><strong>法文推薦自學網站:</strong></span></span>
	<br><span style="font-size: 24px;"><br><dt><a href="http://www.institut-francais.fr/cinefete/" target="_blank"></a><a href="http://www.institut-francais.fr/cinefete/">http://www.institut-francais.fr/cinefete/</a></dt><dd>看電影學法文: 電影及附加教育資料</dd></span>

	<p>
		<br>
	</p>
	<dt>
		<a href="http://big5.chinabroadcast.cn/3821/2004/10/27/153@341282.htm" target="_blank"></a><span style="font-size: 24px;"><a href="http://big5.chinabroadcast.cn/3821/2004/10/27/153@341282.htm">http://big5.chinabroadcast.cn/3821/2004/10/27/153@341282.htm</a></span></dt>
	<dd><span style="font-size: 24px;">法國歌曲</span></dd>

	<p><span style="font-size: 24px;"><br></span></p>
	<dt><span style="font-size: 24px;"><a href="http://www.songsforteaching.com/french/jeandelalune.php" target="_blank"></a><a href="http://www.songsforteaching.com/french/jeandelalune.php">http://www.songsforteaching.com/french/jeandelalune.php</a></span></dt>
	<dd><span style="font-size: 24px;">法國歌曲</span></dd>

	<p><span style="font-size: 24px;"><br></span></p>
	<dt><span style="font-size: 24px;"><a href="http://www.lirecreer.org/biblio/fables/index.html" target="_blank"></a><a href="http://www.lirecreer.org/biblio/fables/index.html">http://www.lirecreer.org/biblio/fables/index.html</a></span></dt>
	<dd><span style="font-size: 24px;">兒歌/童話</span></dd>

	<p><span style="font-size: 24px;"><br></span></p>
	<dt><span style="font-size: 24px;"><a href="http://www.rfi.fr/actucn/pages/001/page_55.asp" target="_blank"></a><a href="http://www.rfi.fr/actucn/pages/001/page_55.asp">http://www.rfi.fr/actucn/pages/001/page_55.asp</a></span></dt>
	<dd><span style="font-size: 24px;">法國國際廣播電台製作之法語教學及法國歌曲</span></dd>

	<p><span style="font-size: 24px;"><br></span></p>
	<dt><span style="font-size: 24px;"><a href="http://meilleursprenoms.com/index.htm" target="_blank"></a><a href="http://meilleursprenoms.com/index.htm">http://meilleursprenoms.com/index.htm</a></span></dt>
	<dd><span style="font-size: 24px;">法文名字</span></dd>

	<p><span style="font-size: 24px;"><br></span></p>
	<dt><span style="font-size: 24px;"><a href="http://www.leconjugueur.com/frconjonline.php" target="_blank"></a><a href="http://www.leconjugueur.com/frconjonline.php">http://www.leconjugueur.com/frconjonline.php</a></span></dt>
	<dd><span style="font-size: 24px;">動詞變化</span></dd>

	<p><span style="font-size: 24px;"><br></span></p>
	<dt><span style="font-size: 24px;"><a href="http://phonetique.free.fr/" target="_blank"></a><a href="http://phonetique.free.fr/">http://phonetique.free.fr/</a></span></dt>
	<dd><span style="font-size: 24px;">發音</span></dd>

	<p><span style="font-size: 24px;"><br></span></p>
	<dt><span style="font-size: 24px;"><a href="http://lexiquefle.free.fr/" target="_blank"></a><a href="http://lexiquefle.free.fr/">http://lexiquefle.free.fr/</a></span></dt>
	<dd><span style="font-size: 24px;">詞彙</span></dd>
</h4>