<h4>&nbsp; &nbsp;<span>&nbsp;</span><a href="https://youtu.be/ROwvD-ne-h8">2015 西語營</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://www.youtube.com/watch?v=ImHsOVACIak">2016 西語營</a>&nbsp; &nbsp; &nbsp; &nbsp;<a href="https://youtu.be/7znM0g7kBFI">2017 西語營</a><span>&nbsp;</span></h4>

<h4>
	<br>
</h4>

<h4>&nbsp; &nbsp; <a href="https://www.youtube.com/watch?v=3THSpuD1fB0&amp;feature=youtu.be">2015 法語營</a><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://www.youtube.com/watch?v=ws6SiSmDCBc">2016 法語營</a>&nbsp; &nbsp; &nbsp; &nbsp;<a href="https://youtu.be/LrYWY-H2l5U">2017 法語營</a></span>&nbsp;</h4>

<h4>
	<br>
</h4>

<h4><span>&nbsp; &nbsp; <a href="https://www.youtube.com/watch?v=S3Ffm80oi84&amp;feature=youtu.be">2015 德語營</a></span><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><a href="https://www.youtube.com/watch?v=DsjUdzmSI4E">2016 德語營</a>&nbsp; &nbsp; &nbsp; &nbsp;<a href="https://youtu.be/33GXLLTQg04">2017 德語營</a></h4>

<h4>
	<br>
</h4>

<h4>&nbsp; &nbsp; <a href="https://youtu.be/Mv-oNSfzBKk">2015 日語營</a><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://www.youtube.com/watch?v=-SqYhn_3GDM">2016 日語營</a>&nbsp; &nbsp; &nbsp; &nbsp;<a href="https://youtu.be/UH6s8BFhUo4">2017 日語營</a></span></h4>

<h4>&nbsp;<span>&nbsp;</span>
	<br>&nbsp; &nbsp; <a href="https://youtu.be/ADWBBr7FLGQ">2015 西德營閉幕式</a></h4>

<h4>
	<br>
</h4>

<p>
	<br>
</p>

<p>
	<a data-height="563" data-width="1000" href="javascript%3Ahtml5Lightbox.showLightbox(2,'https%3A//www.youtube.com/embed/ROwvD-ne-h8&amp;autoplay=1',%20'YouTube%20lightbox');" title="2015 淡江西語營"><img src="http://163.13.100.122/themes/foreign_language/assets/college_tw/images/video_play.png" alt="video_play" class="fr-fic fr-dii"></a>
</p>

<p><a data-height="563" data-width="1000" href="javascript%3Ahtml5Lightbox.showLightbox(2,'https%3A//www.youtube.com/embed/ROwvD-ne-h8&amp;autoplay=1',%20'YouTube%20lightbox');" title="2015 淡江西語營">2015 淡江西語營</a></p>

<p>
	<br>
</p>