<p style="text-align: center;"><span style="font-size: 18px;"><strong><span style="color: rgb(226, 80, 65);">使命 (Mission)</span></strong>&nbsp;</span>
</p>

<p style="text-align: center;">培養語言、文學及文化研究的專才</p>

<p style="text-align: center;">
	<br><span style="color: rgb(226, 80, 65);"><span style="font-size: 18px;"><strong>願景 (Vision)</strong></span></span>
</p>

<p style="text-align: center;">全球化時代全人教育的入門</p>

<p style="text-align: center;">深度國際化的起跑點</p>

<p style="text-align: center;">
	<br><span style="color: rgb(226, 80, 65);"><span style="font-size: 18px;"><strong>價值 (Values)</strong></span></span>
</p>

<p style="text-align: center;">一人多語，全球視野</p>

<p style="text-align: center;">三化學習，創新思考</p>

<p style="text-align: center;">文學研究，文化溝通</p>

<p style="text-align: center;"><strong><br><span style="font-size: 18px;"><span style="color: rgb(226, 80, 65);">策略 (Strategies)</span></span></strong></p>

<p style="text-align: center;">實施外語能力檢測</p>

<p style="text-align: center;">提升大三出國質量</p>

<p style="text-align: center;">加強特殊目的教學</p>

<p style="text-align: center;">推動 e 化學習環境</p>

<p style="text-align: center;">培育語言五技能力</p>

<p style="text-align: center;">
	<br>
</p>

<p style="text-align: center;"><span style="font-size: 18px;"><span style="color: rgb(226, 80, 65);"><strong>治理(Governance)</strong></span></span>
</p>

<p style="text-align: center;">六系協力合作，發揮多元一體的團隊績效</p>

<p style="text-align: center;">
	<br>
</p>

<p style="text-align: center;">
	<br>
</p>

<p style="text-align: center;"><img src="http://www.tf.tku.edu.tw/files/archive/62_e24381cd.jpg" alt="62_e24381cd.jpg" class="fr-fic fr-dii"></p>