<h4><strong><span style="color: rgb(84, 172, 210);"><span style="font-size: 48px;">德文推薦自學網站:</span></span></strong>
	<br>
	<br>
</h4>

<dl>
	<dt>
		<a href="http://www.learn-german-online.net/" target="_blank"></a><span style="font-size: 24px;"><a href="http://www.learn-german-online.net">http://www.learn-german-online.net</a></span></dt>
	<dd><span style="font-size: 24px;">德文網路學習</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.deutsche-kultur-international.de/daktuell.htm" target="_blank"></a><a href="http://www.deutsche-kultur-international.de/daktuell.htm">http://www.deutsche-kultur-international.de/daktuell.htm</a></span></dt>
	<dd><span style="font-size: 24px;">德國文化</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.klett.de/" target="_blank"></a><a href="http://www.klett.de">http://www.klett.de</a></span></dt>
	<dd><span style="font-size: 24px;">德文教材出版社：提供分級測試、各類補充資料和練習</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.langenscheidt.com/" target="_blank"></a><a href="http://www.langenscheidt.com">http://www.langenscheidt.com</a></span></dt>
	<dd><span style="font-size: 24px;">德文教材出版社：提供分級測試、各類補充資料和練習</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.hueber.de/deutsch-als-fremdsprache" target="_blank"></a><a href="http://www.hueber.de/deutsch-als-fremdsprache">http://www.hueber.de/deutsch-als-fremdsprache</a></span></dt>
	<dd><span style="font-size: 24px;">德文教材出版社：提供分級測試、各類補充資料和練習</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.cornelsen.de/" target="_blank"></a><a href="http://www.cornelsen.de">http://www.cornelsen.de</a></span></dt>
	<dd><span style="font-size: 24px;">德文教材出版社：提供分級測試、各類補充資料和練習</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.uncg.edu/~lixlpurc/publications/NetzUeb.html" target="_blank"></a><a href="http://www.uncg.edu/~lixlpurc/publications/NetzUeb.html">http://www.uncg.edu/~lixlpurc/publications/NetzUeb.html</a></span></dt>
	<dd><span style="font-size: 24px;">德文練習</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.germanfortravellers.com/" target="_blank"></a><a href="http://www.germanfortravellers.com">http://www.germanfortravellers.com</a></span></dt>
	<dd><span style="font-size: 24px;">德英雙語練習</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.tf.tku.edu.tw/web/www.mein-deutschbuch.de" target="_blank">www.mein-deutschbuch.de</a></span></dt>
	<dd><span style="font-size: 24px;">德文文法解說與練習</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.goethe.de/" target="_blank"></a><a href="http://www.goethe.de">http://www.goethe.de</a></span></dt>
	<dd><span style="font-size: 24px;">德語教學與學習</span></dd>
</dl>