<p style="text-align: center;"><img width="217" height="223" alt="" src="http://www.tf.tku.edu.tw/img.php?img=454_ebfbe79d.png&amp;dir=archive" class="fr-fic fr-dii" style="width: 386px; height: 396.673px;">
	<br><span style="font-size: 24px;">淡江外語如何使你與眾不同報導系列一</span></p>

<p style="text-align: center;"><span style="font-size: 24px;">(俄語)</span></p>

<p><span style="font-size: 24px;">&nbsp;</span></p>

<p><span style="font-size: 24px;">杜凱文（現任台俄協會主任）在「大三那年，我不在台灣」一書中，寫到「那是我人生中第一次出國，還記得與家人道別時，依依不捨，在機場嚎啕大哭，差點沒把國境給哭垮。」「雖有家人及高中同學陪伴送行，卻仍情緒激動，頻頻灑淚。那是我第一次對於要出國當交換生這個決定產生了動搖，若當時家人同意，或許我真會搭原車折返，當作一切都沒有發生過。不過，機票都買了，國外學費也付了，家人再多的不捨，終究半推半送把我趕上了飛機….」「在當地接我們的是一位留俄多年的何信翰學長，初抵的一週多虧他的照顧，讓我們在住宿、檢驗(當時留學生須做HIV檢驗)、換簽、入學、考試，以及生活上等大小事都得以省去許多麻煩，而一週後我們漸漸習慣當地的步調，並能夠開始獨立生活，四處遊走，不斷與俄國人過招，來加強本身的俄語能力。不過好景不常，身為一個外地來的學生，發現在當地意想不到且不合理的事總特別多，大事像宿舍換房、學校換班，小事如送洗衣服、申辦網路、領錢購物等，無不受挫，且當地人不如想像中般友善，讓我差點改過起躲在宿舍倒數返台日子的生活，而也就是那一年，我發現自己脾氣還蠻火爆的，舉凡學生宿舍的管理委員會、洗衣部、網咖，以及聖彼得堡國立大學語文學系系辦、當地的旅行社和瑞典駐聖彼得堡領事館，通通吵過一遍，俄語能力因此大幅提升，也為我在回國前通過二級檢定考試奠下良好利基。」「一年的時光其實轉眼即逝，回到台灣後除繼續大四的學程，也開始陸續接下與俄文相關的工作，從筆譯到口譯，中間也曾經待過俄商公司，再到目前已從事逾6年的台俄協會，無不與所學相關。尤其現職單位，必須帶團到俄國考察，這讓原已熟門熟路的我在這份工作上特別得心應手，而這些都是我當初沒有想到，也不曾想像過的。此外，近年來「俄羅斯概念」在台灣越來越普遍，俄文系也不再像以前被稱為所謂的冷門科系，如今在台灣買得到俄國伏特加、魚子醬、巧克力，甚至還有俄國卡通形象的儲值卡，而俄文系畢業生也成為大公司開發東歐市場的搶手人才，這樣的轉變讓我感到非常地驕傲。」</span></p>

<p><span style="font-size: 24px;">親愛的，你是否如同我一樣覺得人生可以不同，就在你的抉擇！世界可以不同，而淡江外語讓你與眾不同！&nbsp;（編者按：除作者群－許寬懷（現任外交部駐俄羅斯代表處秘書）、陳雅芳（現任台大國際華語研習所華語教師）、張興潔（廣穎電通股份有限公司品牌經營一處資深專員）</span></p>