<p style="text-align: center;">
	<br>
	<br>
</p>

<p style="text-align: center;"><span style="color: rgb(41, 105, 176);"><span style="font-size: 30px;"><strong>&lt;旅遊&amp;旅行文學&gt;，歡迎點選左列選單!</strong>&nbsp;</span></span>
</p>

<p style="text-align: center;"><strong><img src="http://163.13.100.122/storage/app/media/good-books-to-read-while-traveling-735x400.jpg" class="fr-fic fr-dii"></strong>&nbsp;</p>