<h3><span style="color: rgb(61, 142, 185);"><a href="http://www.tf.tku.edu.tw/page2/super_pages.php?ID=page201">國際大使團隊</a>(外語傳譯社) </span>/ 法文(French)</h3>

<p><span style="font-family: Arial,Helvetica,sans-serif;">Construire des ponts<b>&nbsp;d'amitié afin d’élargir les horizons internationaux<br></b><br>La Faculté des langues étrangères de l'Université Tamkang recrute des ambassadeurs afin de cultiver des liens d’amitié entre l’université et ses visiteurs ou invités étrangers.<br><br>L’université Tamkang recrute des étudiants locaux ou des étudiants d’échange. Il suffit que vous maîtrisiez l'anglais, l’espagnol, le français, l’allemand, le japonais ou le russe en vue d’être traducteur/interprète en simultané.</span></p>

<p><span style="font-family: Arial,Helvetica,sans-serif;">&nbsp;</span></p>

<p><span style="font-family: Arial,Helvetica,sans-serif;">Vous êtes les bienvenue dans&nbsp;l’équipe d’ambassadeurs traducteurs/interprètes de l'université Tamkang afin d’offrir un meilleur accueil aux visiteurs étrangers. Vous pratiquerez ainsi les techniques de traduction et d’interprétation, vous vous ferez des amis à l'étranger et vous élargirez votre horizon international.<br><br>Vous exercerez en tant que bénévole dans cette équipe, la Faculté des langues étrangères vous délivrera une attestation de service.</span></p>