<h4><strong><span style="color: rgb(84, 172, 210);"><span style="font-size: 48px;">日文推薦自學網站:</span></span></strong>
	<br>
	<br>
</h4>

<dl>
	<dt><span style="font-size: 24px;"><a href="http://dictionary.goo.ne.jp/" target="_blank"></a><a href="http://dictionary.goo.ne.jp/">http://dictionary.goo.ne.jp/</a></span></dt>
	<dd><span style="font-size: 24px;">goo辞書　線上字典</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.hiragana.jp/" target="_blank"></a><a href="http://www.hiragana.jp/">http://www.hiragana.jp/</a></span></dt>
	<dd><span style="font-size: 24px;">ひらひらのひらがなめがね　透過此網站再點選日本網站，所有漢字即自動加注假名注音</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www3.nhk.or.jp/news/" target="_blank"></a><a href="http://www3.nhk.or.jp/news/">http://www3.nhk.or.jp/news/</a></span></dt>
	<dd><span style="font-size: 24px;">NHK news 可同步閱讀及收聽NHK日本國家廣播電台的新聞播報</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.geocities.jp/niwasaburoo/index.html" target="_blank"></a><a href="http://www.geocities.jp/niwasaburoo/index.html">http://www.geocities.jp/niwasaburoo/index.html</a></span></dt>
	<dd><span style="font-size: 24px;">庭三郎の現代日本語文法 清楚條理的文法說明</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://opal.ecis.nagoya-u.ac.jp/~ijlc/#" target="_blank"></a><a href="http://opal.ecis.nagoya-u.ac.jp/%7Eijlc/#">http://opal.ecis.nagoya-u.ac.jp/%7Eijlc/#</a></span></dt>
	<dd><span style="font-size: 24px;">名古屋大学留学生センター　現代日本語コース中級　聴解 以留學生活為主題的聽解教材</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://dbms.kokken.go.jp/nknet/Onomatope" target="_blank"></a><a href="http://dbms.kokken.go.jp/nknet/Onomatope">http://dbms.kokken.go.jp/nknet/Onomatope</a></span></dt>
	<dd><span style="font-size: 24px;">擬音語って？擬態語って？ 可透過簡單的例句及漫畫，了解擬聲語、擬態語的意思和用法</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://momo.jpf.go.jp/sushi/tomainJsp.action?request_locale=ja" target="_blank"></a><a href="http://momo.jpf.go.jp/sushi/tomainJsp.action?request_locale=ja">http://momo.jpf.go.jp/sushi/tomainJsp.action?request_locale=ja</a></span></dt>
	<dd><span style="font-size: 24px;">国際交流基金 すしテスト(空1格)網路日語測驗(5級程度) ，member ID及 password 可填26215656</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.coelang.tufs.ac.jp/modules/index.html" target="_blank"></a><a href="http://www.coelang.tufs.ac.jp/modules/index.html">http://www.coelang.tufs.ac.jp/modules/index.html</a></span></dt>
	<dd><span style="font-size: 24px;">東京外国語大学 LANGUAGE MODULES 可從發音、會話、文法、語彙單元，擇一進入課程</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://jplang.tufs.ac.jp/account/login" target="_blank"></a><a href="http://jplang.tufs.ac.jp/account/login">http://jplang.tufs.ac.jp/account/login</a></span></dt>
	<dd><span style="font-size: 24px;">東京外国語大学JPLANG 初級課程28課，可自由點選假名、漢字、發音、翻譯等輔助學習工具</span></dd>

	<p>
		<br>
	</p>
	<dt><span style="font-size: 24px;"><a href="http://www.nhk.or.jp/lesson/chinese/" target="_blank"></a><a href="http://www.nhk.or.jp/lesson/chinese/">http://www.nhk.or.jp/lesson/chinese/</a></span></dt>
	<dd><span style="font-size: 24px;">NHK WORLD 100課日語教學廣播劇，初學者可學習到基本生活用語</span></dd>
</dl>