<p style="text-align: center;"><span style="color: rgb(44, 130, 201);"><strong><span style="font-size: 36px;">學分學程專區，歡迎點選左列選單!</span></strong>
	</span>
</p>

<p style="text-align: center;">
	<br><span style="color: rgb(44, 130, 201);"><strong><span style="font-size: 36px;"><img src="/storage/app/media/cropped-images/bn5-1-0-0-849-434-1515572555.jpg" style="width: 387px; height: 198.66px;" class="fr-fic fr-dib"></span></strong>
	</span>
</p>

<p>
	<br>
</p>