<p>學生的學習總是需要舞台，本系針對學生成果的展現，特別長期經營了下列兩項特別活動：大三法語戲劇公演及法語微電影競賽。</p>

<p>喜歡舞台劇的同學，可透過大三時選修「法語戲劇選讀」課程，並和同學分組完成一齣舞台劇演出。</p>

<p>喜歡影像創作作品的同學，亦可和同學組隊參加法語微電影競賽，透過拍攝過程的訓練，可以強化同學電腦剪輯技能及法語口說能力，優勝的組別，更可以獲得優渥的獎金喔!</p>

<p>
	<br>
</p>

<p>戲劇公演精彩片段</p>

<p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/nLA6JzOpy7s" frameborder="0" allowfullscreen=""></iframe>
</p>

<p>
	<br>
</p>

<p>微電影競賽得獎作品</p>

<p>淡江法文系<a href="https://www.youtube.com/channel/UCoXSJEsUfhbMIai_BCj8KzA" rel="noopener noreferrer" target="_blank">Youtube頻道連結</a></p>

<p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/Iv0hn9xgpUQ" frameborder="0" allowfullscreen=""></iframe>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/l6oU7j9Mp6E" frameborder="0" allowfullscreen=""></iframe>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/aF6TlO2VMRA" frameborder="0" allowfullscreen=""></iframe>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/HBOjeuqnaBs" frameborder="0" allowfullscreen=""></iframe>
	<br>
</p>