<p>申請資格：</p>

<p>本校在學學生對法語語言文化與企業管理相關領域有興趣，已修畢法語系8學分或企管系企業概論、管理學6學分以上(含)成績及格，且前一學期學業成績總平均70</p>

<p>分以上者，均可申請修習。</p>

<p>申請時間：</p>

<p>每學期開學後至加退選結束前，填妥「法語企管學分學程修習申請表」，檢附學生證影本及相關資料，法文系學生送交法國語文學系，企管系學生送至企業管理學系辦公室。</p>