<p>法文系大學部必修科目之重補（修）規定</p>

<p>［輔系生不適用本規定，請另詳<u>輔系應修科目表</u>］</p>

<p>說 &nbsp;明：</p>

<p>法文系<strong><span style="color:#0000cd;">104及105學年度入學</span></strong>同學重（補）修下列必修科目，請依表列規定辦理：</p>

<p><span style="color:#0000cd;"><strong>必修科目學分異動之重（補）修科目表</strong></span></p>

<table border="1" cellpadding="0" cellspacing="0" width="536">
	<thead>
		<tr>
			<td style="background-color: rgb(209, 213, 216); width: 19.9627%;" width="107">

				<p align="center"><strong>必修</strong><strong>科目</strong></p>
			</td>
			<td style="background-color: rgb(209, 213, 216); width: 10.6343%;" width="66">

				<p align="center"><strong>原開課學分數</strong></p>
			</td>
			<td style="background-color: rgb(209, 213, 216); width: 13.6194%;" width="60">

				<p align="center"><strong>108</strong><strong>學年度起學分數</strong></p>
			</td>
			<td style="background-color: rgb(209, 213, 216); width: 13.4328%;" width="57">

				<p align="center"><strong>109</strong><strong>學年度起學分數</strong></p>
			</td>
			<td colspan="2" style="background-color: rgb(209, 213, 216); width: 41.7911%;" width="245">

				<p align="center"><strong>重(補)修替代之 系選修 科目</strong></p>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="2" style="width: 19.9627%;" width="107">

				<p>法文文法(三)</p>
			</td>
			<td rowspan="2" style="width: 10.6343%;" width="66">

				<p align="center">2/2</p>
			</td>
			<td rowspan="2" style="width: 13.6194%;" width="60">

				<p align="center">停開</p>
			</td>
			<td rowspan="2" style="width: 13.4328%;" width="57">

				<p align="center">
					<br>
				</p>
			</td>
			<td style="width: 25.7463%;" width="154">

				<p>高級文法 (2學分)</p>
			</td>
			<td rowspan="2" style="width: 16.6044%;" width="91">

				<p align="center">單學期(每科)各2學分</p>
			</td>
		</tr>
		<tr>
			<td style="width: 25.7463%;" width="154">

				<p>法國思潮導讀 (2學分)</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width: 19.9627%;" width="107">

				<p>法語會話(四)</p>
			</td>
			<td rowspan="2" style="width: 10.6343%;" width="66">

				<p align="center">2/2</p>
			</td>
			<td rowspan="2" style="width: 13.6194%;" width="60">

				<p align="center">
					<br>
				</p>
			</td>
			<td rowspan="2" style="width: 13.4328%;" width="57">

				<p align="center">停開</p>
			</td>
			<td style="width: 25.7463%;" width="154">

				<p>法語會話(四) &nbsp;(2學分)</p>
			</td>
			<td rowspan="2" style="width: 16.6044%;" width="91">

				<p align="center">單學期(每科)各2學分</p>
			</td>
		</tr>
		<tr>
			<td style="width: 25.7463%;" width="154">

				<p>媒體法文 (2學分)</p>
			</td>
		</tr>
	</tbody>
</table>

<p>
	<br>
</p>

<p>法文系<strong><span style="color:#0000cd;">103學年度以前（含103學年度）入學</span></strong>同學重（補）修下列必修科目，請依表列規定辦理：</p>

<p><span style="color:#0000cd;"><strong>必修科目學分異動之重（補）修科目表</strong></span></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:536px;">
	<thead>
		<tr>
			<th rowspan="2" style="height:30px; width:111px;">

				<p>必修科目</p>
			</th>
			<th rowspan="2" style="height:30px; width:57px;">

				<p>原開課</p>

				<p>學分數</p>
			</th>
			<th rowspan="2" style="height: 30px; width: 12.8731%;">

				<p>104學年度</p>

				<p>起學分數</p>
			</th>
			<th rowspan="2" style="height: 30px; width: 12.8732%;">

				<p>105學年度</p>

				<p>起學分數</p>
			</th>
			<th colspan="2" style="height:30px; width:230px;">

				<p><strong><span style="color:#0000cd;">重（補）修科目</span></strong></p>
			</th>
		</tr>
		<tr>
			<th style="height:49px; width:115px;">

				<p><span style="color:#b22222;">必修科目/學分數</span></p>
			</th>
			<th style="height:49px; width:115px;">

				<p><strong><span style="color:#b22222;">其他可採認之</span></strong></p>

				<p><strong><span style="color:#b22222;">系選修科目</span></strong></p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="height:30px; width:111px;">

				<p>法語會話(一)</p>
			</td>
			<td style="height:30px; width:57px;">

				<p style="text-align:center;">4/4</p>
			</td>
			<td style="height: 30px; width: 12.8731%;">

				<p style="text-align:center;">3/3</p>
			</td>
			<td style="height: 30px; width: 12.8732%;">

				<p>&nbsp;</p>
			</td>
			<td style="height:30px; width:115px;">

				<p>法語會話(一)&nbsp;</p>

				<p>3/3</p>
			</td>
			<td style="height:30px; width:115px;">

				<p>法語語音學</p>

				<p>單學期，2學分</p>
			</td>
		</tr>
		<tr>
			<td style="height:30px; width:111px;">

				<p>法語會話(二)</p>
			</td>
			<td style="height:30px; width:57px;">

				<p style="text-align:center;">4/4</p>
			</td>
			<td style="height: 30px; width: 12.8731%;">

				<p style="text-align:center;">&nbsp;</p>
			</td>
			<td style="height: 30px; width: 12.8732%;">

				<p style="text-align:center;">3/3</p>
			</td>
			<td style="height:30px; width:115px;">

				<p>法語會話(二)&nbsp;</p>

				<p>3/3</p>
			</td>
			<td style="height:30px; width:115px;">

				<p>法文朗誦</p>

				<p>單學期，2學分</p>
			</td>
		</tr>
		<tr>
			<td style="height:30px; width:111px;">

				<p>閱讀與習作(一)</p>
			</td>
			<td style="height:30px; width:57px;">

				<p style="text-align:center;">4/4</p>
			</td>
			<td style="height: 30px; width: 12.8731%;">

				<p style="text-align:center;">3/3</p>
			</td>
			<td style="height: 30px; width: 12.8732%;">

				<p>&nbsp;</p>
			</td>
			<td style="height:30px; width:115px;">

				<p>閱讀與習作(一)</p>

				<p>&nbsp;3/3</p>
			</td>
			<td style="height:30px; width:115px;">

				<p>法國生活文化入門</p>

				<p>單學期，2學分</p>
			</td>
		</tr>
		<tr>
			<td style="height:30px; width:111px;">

				<p>閱讀與習作(二)</p>
			</td>
			<td style="height:30px; width:57px;">

				<p style="text-align:center;">4/4</p>
			</td>
			<td style="height: 30px; width: 12.8731%;">

				<p style="text-align:center;">&nbsp;</p>
			</td>
			<td style="height: 30px; width: 12.8732%;">

				<p style="text-align:center;">3/3</p>
			</td>
			<td style="height:30px; width:115px;">

				<p>閱讀與習作(二)</p>

				<p>&nbsp;3/3</p>
			</td>
			<td style="height:30px; width:115px;">

				<p>法國文學導讀</p>

				<p>單學期，2學分</p>
			</td>
		</tr>
	</tbody>
</table>

<p>備註：經採認為必修科目學分之系選修科目，如有剩餘學分，仍得計入畢業學分之系選修學分數。</p>