<p>輔系規定及選課須知</p>

<ol>
	<li>申請輔系及放棄輔系，請依教務處<a href="http://oa.tku.edu.tw/Law.nsf/8a19663a9342a6a748256e6b00446781/7c7266df4e2ec406482571780006ce1e?OpenDocument&amp;Highlight=0,%E8%BC%94%E7%B3%BB">規定</a>辦理。</li>
	<li><span style="color:#b22222">一年級</span>的輔系課程均開在<span style="color:#b22222">晚上六點至九點</span>，<span style="color:#0000cd">需另繳交學分費</span>；<span style="color:#b22222">輔系生須選修晚上的課程</span>。</li>
	<li><span style="color:#b22222">二年級</span>的輔系課程採<span style="color:#b22222">隨班修讀</span>方式上課。</li>
	<li>輔系班課程<span style="color:#800080">無擋修的限制</span>。</li>
	<li>修習科目及學分數，請詳<span style="color:#008080">法文系輔系應修科目表</span>。</li>
</ol>

<p>&nbsp;</p>