<p><a class="fr-file" href="/storage/app/media/uploaded-files/%E9%99%84%E4%BB%B6-%E6%B7%A1%E6%B1%9F%E5%A4%A7%E5%AD%B8%E6%B3%95%E6%96%87%E7%B3%BB%E6%96%B0%E7%94%9F%E6%8A%B5%E5%85%8D%E6%B3%95%E8%AA%9E%E8%AA%B2%E7%A8%8B%E7%94%B3%E8%AB%8B%E8%A1%A8.pdf">附件-淡江大學法文系新生抵免法語課程申請表.pdf</a></p>