<p><strong>獎學金公告/系學會公告 請由上方主選單之"最新消息"下瀏覽，右方的快速瀏覽窗格沒放喔。</strong></p>
<hr>

<p>歡迎光臨淡江法文系網站，如有任何關於課程、學程、法文系各學制的相關問題，都可以在這裡找到答案喔!!!!</p>

<p>若有資料找不到，或是網站連結錯誤、資訊過期，歡迎及時向法文系系辦反映，感謝各位的熱心!!</p>

<p>系辦開放時間：</p>

<p>學期間平日(9月-隔年6月) 星期一~五 0800-1200、1300-1700</p>

<p>暑假期間(7-8月) 星期一~四 0800-1200、1300-1600</p>

<p>午休時間及下班時間過後不接聽電話喔!!</p>