<p>淡江大學法國語文學系新生抵免法語專業課程實施要點</p>

<p>一、為使修習過法語之法國語文學系（以下簡稱本系）新生能抵免初級法語課程，特訂定「淡江大學法國語文學系新生抵免法語專業課程實施要點」（以下簡稱本要點），並自一百零九學年度入學新生起適用。</p>

<p>二、本系入學新生、輔系生及雙主修學生符合下列條件之一者，可於當學期開學後二週內，提出一年內有效之檢定文憑，並填寫「法國語文學系新生抵免法語課程申請表」，向本系申請抵免法語專業課程：</p>

<p>(一)具有法國教育部法語程度鑑定文憑DELF A1證書(Diplôme d’Etudes en Langue Française A1)，可抵免一年級上學期「法語語言練習(1/1)」一學分。</p>

<p>(二)具有法國教育部法語程度鑑定文憑DELF A2證書(Diplôme d’Etudes en Langue Française A2) ，可抵免一年級上下學期「法語語言練習(1/1)」二學分。</p>

<p>(三)具有法國教育部法語程度鑑定文憑DELF A2證書(Diplôme d’Etudes en Langue Française A2)，且聽力部分與口說部分皆為十二分以上，可抵免一年級上下學期「法語語言練習(1/1)」二學分及「法語會話(一)(3/3)」上學期三學分，共五學分。</p>

<p>(四)具有法國教育部法語程度鑑定文憑DELF B1證書(Diplôme d’Etudes en Langue Française B1)，可抵免一年級上下學期「法語語言練習(1/1)」二學分及「法語會話(一)(3/3)」上學期三學分，共五學分。</p>

<p>(五)具有法國教育部法語程度鑑定文憑DELF B1證書(Diplôme d’Etudes en Langue Française B1)且聽力部分與口說部分皆為十二分以上，可抵免一年級上下學期「法語語言練習(1/1)」二學分及「法語會話(一)(3/3)」六學分，共八學分。</p>

<p>三、前點核准抵免之課程，可計入畢業學分數內。</p>

<p>四、本要點經教務會議通過，報請校長核定後，自公布日實施；修正時亦同。</p>