<p><strong><span style="font-size:22px">碩士班雙聯學位計畫</span></strong></p>

<p>本系自民國93學年度起開始選送優秀學生前往里昂第三大學修讀雙聯學位，只要在本校修習完成畢業學分，並於碩士班第三年前往合作學校修習該校學分並完成論文，即可獲得淡江大學與合作學校雙邊碩士學位。</p>

<p>歷年修讀名單一覽表：</p>

<table align="left" border="1" cellpadding="1" cellspacing="0">
	<tbody>
		<tr>
			<td style="text-align:center">姓名</td>
			<td style="text-align:center">申請修讀學年度</td>
			<td style="text-align:center">獲得學位學年度</td>
			<td style="text-align:center">合作學校</td>
		</tr>
		<tr>
			<td>鄧O均</td>
			<td>93</td>
			<td>93</td>
			<td>里昂第三大學</td>
		</tr>
		<tr>
			<td>廖O苡、莊O惠</td>
			<td>94</td>
			<td>94</td>
			<td>里昂第三大學</td>
		</tr>
		<tr>
			<td>
			<p>林O芳、洪O婷、</p>

			<p>康O珮、林O鈞</p>
			</td>
			<td>95</td>
			<td>95</td>
			<td>里昂第三大學</td>
		</tr>
		<tr>
			<td>
			<p>黃O閎、王O如、</p>

			<p>余O儒、劉O岳</p>
			</td>
			<td>96</td>
			<td>96</td>
			<td>里昂第三大學</td>
		</tr>
		<tr>
			<td>黃O蘭、林O賢</td>
			<td>98</td>
			<td>98</td>
			<td>里昂第三大學</td>
		</tr>
		<tr>
			<td>鍾O霈</td>
			<td>98</td>
			<td>99</td>
			<td>里昂第三大學</td>
		</tr>
		<tr>
			<td>吳O葳、郭O瑄、楊O寧</td>
			<td>100</td>
			<td>100</td>
			<td>里昂第三大學</td>
		</tr>
		<tr>
			<td>陳O誼、張O渟</td>
			<td>101</td>
			<td>101</td>
			<td>里昂第三大學</td>
		</tr>
		<tr>
			<td>曾O閔、王O萱</td>
			<td>102</td>
			<td>102</td>
			<td>里昂第三大學</td>
		</tr>
		<tr>
			<td>曾O君、鍾O文</td>
			<td>103</td>
			<td>103</td>
			<td>里昂第三大學</td>
		</tr>
		<tr>
			<td>葉O青、徐O涵</td>
			<td>104</td>
			<td>104</td>
			<td>里昂第三大學</td>
		</tr>
		<tr>
			<td>鄭O慈、張O婷</td>
			<td>105</td>
			<td>105</td>
			<td>里昂第三大學</td>
		</tr>
		<tr>
			<td>顏O蓁、黃O翰</td>
			<td>106</td>
			<td>106</td>
			<td>里昂第三大學</td>
		</tr>
		<tr>
			<td>
			<p>李O凌、楊O淩、</p>

			<p>廖O君、張O暄</p>
			</td>
			<td>107</td>
			<td>107</td>
			<td>里昂第三大學</td>
		</tr>
		<tr>
			<td>吳O盈、林O蓁</td>
			<td>108</td>
			<td>109</td>
			<td>里昂第三大學</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:22px">雙聯學位合作學校</span></strong></p>

<p>目前與本校簽約的學校為法國里昂大三大學(淡江4學期年+里昂2學期)，目前正與比利時魯汶大學洽談新合作協議(3學期+3學期)。</p>

<p><img src="http://163.13.100.122/storage/app/media/French/Lyon3-3.jpg" style="height:337px; width:450px" /></p>

<p>法國里昂第三大學校區一隅</p>

<p><img src="http://163.13.100.122/storage/app/media/French/Lyon3-2.jpg" style="height:337px; width:450px" /></p>

<p>法國里昂第三大學校區一隅</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:22px">雙聯學位生徵選</span></strong></p>

<p>本系雙聯學位生為本校校交換生身分，故須於交換生徵選期間報名參加。獲選者可申請學海飛颺獎學金*，補助金額依教育部補助實際狀況調整。</p>

<p>*同一學制內，學海飛颺與學海築夢獎學金僅能擇一申請。</p>

<p>&nbsp;</p>