<p><strong>申請流程如下</strong></p>

<p>一、109學年度起新生抵免各外語（一）、（二）課程改採線上作業，請先詳閱法規與實施要點。</p>

<p>二、新生申請流程：</p>

<p><span style="color:#000000">　　(一)於入學當學期開學後二週內提出申請，<strong>109學年度請於九月十四日至九月二十五日下班前申請</strong></span>。</p>

<p><span style="color:#000000">　　(二)檢附申請表與相關證明之正本及影本各1份。</span></p>

<p><span style="color:#000000">　　(三)線上抵免網址: <a href="http://w3.emis.tku.edu.tw/">http://w3.emis.tku.edu.tw/</a></span></p>

<p>三、本系承辦人作業流程：</p>

<p>　　(一)檢核學生繳交之申請表與相關證明。歸還證明正本予學生，影本蓋通訊資料，留存承辦人。</p>

<p>　　(二) 抵免通過之科目，其成績欄位將顯示「抵免」，不會有成績；學分要等學期結束後，所有科目的成績都出來之後，註冊組才會登錄。</p>

<p>　　(三)將當日的申請表正本按順序造冊（附件3，右下角製有給註冊組簽收的欄位），並於當日下班前或翌日早上將該日清冊連同申請表正本送交註冊組黃瓊慧小姐（分機2362）。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;(四)註冊組會將簽收後的清冊影本（附件4）送交各語種承辦人留存。</p>