<p>109學年度專、兼任教師職等及人數統計表&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>

<table border="1" cellpadding="2" cellspacing="0">
	<tbody>
		<tr>
			<td style="text-align:center">專/兼任</td>
			<td style="text-align:center">職等&nbsp; &nbsp; &nbsp;</td>
			<td style="text-align:center">人數</td>
			<td style="text-align:center">合計</td>
		</tr>
		<tr>
			<td rowspan="3" style="text-align:center">專任老師</td>
			<td style="text-align:center">教授</td>
			<td style="text-align:center">5</td>
			<td rowspan="3" style="text-align:center">15</td>
		</tr>
		<tr>
			<td style="text-align:center">副教授</td>
			<td style="text-align:center">4</td>
		</tr>
		<tr>
			<td style="text-align:center">助理教授</td>
			<td style="text-align:center">6</td>
		</tr>
		<tr>
			<td rowspan="5" style="text-align:center">兼任老師</td>
			<td style="text-align:center">教授&nbsp;</td>
			<td style="text-align:center">1</td>
			<td rowspan="5" style="text-align:center">21</td>
		</tr>
		<tr>
			<td style="text-align:center">副教授</td>
			<td style="text-align:center">5</td>
		</tr>
		<tr>
			<td style="text-align:center">助理教授</td>
			<td style="text-align:center">4</td>
		</tr>
		<tr>
			<td style="text-align:center">講師</td>
			<td style="text-align:center">9</td>
		</tr>
		<tr>
			<td style="text-align:center">講師級專業技術人員</td>
			<td style="text-align:center">2</td>
		</tr>
		<tr>
			<td colspan="3" style="text-align:center">合計</td>
			<td style="text-align:center">36</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<hr />
<p>法文系大學部學生大三出國/交換生人數統計表</p>

<table border="1" cellpadding="1" cellspacing="1">
	<tbody>
		<tr>
			<td style="text-align:center">學年度</td>
			<td style="background-color:#ccff99; text-align:center">法國弗朗士孔泰大學</td>
			<td style="background-color:#ccff99; text-align:center">法國尼斯大學</td>
			<td style="background-color:#ccff99; text-align:center">法國普瓦捷大學</td>
			<td style="background-color:#ccff99; text-align:center">法國里昂第三大學</td>
			<td style="background-color:#ccff99; text-align:center">法國巴黎第四大學</td>
			<td style="background-color:#ccff99; text-align:center">法國巴黎第七大學</td>
			<td style="background-color:#ccff99; text-align:center">比利時魯汶大學</td>
			<td style="background-color:#ccff99; text-align:center">比利時達文西高等學院</td>
			<td style="background-color:#ccff99; text-align:center">加拿大布蘭登大學</td>
			<td style="background-color:#ccff99; text-align:center">美國維諾那大學</td>
			<td style="background-color:#ccff99; text-align:center">美國賓州印第安那大學</td>
			<td style="background-color:#ccff99; text-align:center">加拿大蒙特婁大學</td>
			<td style="background-color:#ccff99; text-align:center">復旦大學</td>
			<td style="background-color:#ccff99; text-align:center">華東師範大學</td>
			<td style="background-color:#ccff99; text-align:center">日本立命館大學</td>
		</tr>
		<tr>
			<td>108</td>
			<td>
			<div style="text-align: center;">9</div>
			</td>
			<td>
			<div style="text-align: center;">2</div>
			</td>
			<td>
			<div style="text-align: center;">4</div>
			</td>
			<td>
			<div style="text-align: center;">3</div>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">107</td>
			<td style="text-align:center">14</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">7</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">4</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">106</td>
			<td style="text-align:center">9</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">105</td>
			<td>
			<p style="text-align:center">15</p>
			</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">104</td>
			<td style="text-align:center">17</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">1</td>
		</tr>
		<tr>
			<td style="text-align:center">103</td>
			<td style="text-align:center">26</td>
			<td style="text-align:center">0</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">102</td>
			<td style="text-align:center">12</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">7</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">101</td>
			<td style="text-align:center">14</td>
			<td style="text-align:center">10</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">4</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">100</td>
			<td style="text-align:center">14</td>
			<td style="text-align:center">9</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">99</td>
			<td style="text-align:center">9</td>
			<td style="text-align:center">14</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">6</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">98</td>
			<td style="text-align:center">8</td>
			<td style="text-align:center">7</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">97</td>
			<td style="text-align:center">7</td>
			<td style="text-align:center">9</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">96</td>
			<td style="text-align:center">15</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">95</td>
			<td style="text-align:center">15</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">94</td>
			<td style="text-align:center">16</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">93</td>
			<td style="text-align:center">20</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">92</td>
			<td style="text-align:center">24</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">91</td>
			<td style="text-align:center">17</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">10</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">90</td>
			<td style="text-align:center">15</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">89</td>
			<td style="text-align:center">22</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">88</td>
			<td style="text-align:center">21</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">87</td>
			<td style="text-align:center">17</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">86</td>
			<td style="text-align:center">21</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">85</td>
			<td style="text-align:center">21</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">84</td>
			<td style="text-align:center">20</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">83</td>
			<td style="text-align:center">20</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">合計</td>
			<td style="background-color:#ccffff; text-align:center">418</td>
			<td style="background-color:#ccffff; text-align:center">63</td>
			<td style="background-color:#ccffff; text-align:center">17</td>
			<td style="background-color:#ccffff; text-align:center">81</td>
			<td style="background-color:#ccffff; text-align:center">5</td>
			<td style="background-color:#ccffff; text-align:center">13</td>
			<td style="background-color:#ccffff; text-align:center">2</td>
			<td style="background-color:#ccffff; text-align:center">3</td>
			<td style="background-color:#ccffff; text-align:center">3</td>
			<td style="background-color:#ccffff; text-align:center">1</td>
			<td style="background-color:#ccffff; text-align:center">1</td>
			<td style="background-color:#ccffff; text-align:center">4</td>
			<td style="background-color:#ccffff; text-align:center">2</td>
			<td style="background-color:#ccffff; text-align:center">1</td>
			<td style="background-color:#ccffff; text-align:center">1</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>法文系碩士班雙聯學位學生出國人數統計表</p>

<table border="1" cellpadding="1" cellspacing="1">
	<tbody>
		<tr>
			<td style="text-align:center">學年度</td>
			<td style="background-color:#ccff99; text-align:center">法國里昂第三大學</td>
			<td style="background-color:#ccff99; text-align:center">法國巴黎第四大學</td>
			<td style="background-color:#ccff99; text-align:center">比利時達文西高等學院</td>
		</tr>
		<tr>
			<td style="text-align:center">108</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">107</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">106</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">105</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">104</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">103</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">102</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">101</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">100</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">99</td>
			<td style="text-align:center">0</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">98</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">97</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">1</td>
		</tr>
		<tr>
			<td style="text-align:center">96</td>
			<td style="text-align:center">4</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">95</td>
			<td style="text-align:center">4</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">94</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">93</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">合計</td>
			<td style="background-color:#ccffff; text-align:center">39</td>
			<td style="background-color:#ccffff; text-align:center">1</td>
			<td style="background-color:#ccffff; text-align:center">1</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<hr />
<h1><span style="font-size:14px">本系所畢業生就業情形</span></h1>

<table border="1" cellpadding="1" cellspacing="1">
	<tbody>
		<tr>
			<td colspan="8" style="text-align:center">淡江大學法文系、所畢業生畢業滿1年就業情形</td>
		</tr>
		<tr>
			<td style="text-align:center">畢業學年度</td>
			<td style="text-align:center">畢業生總數</td>
			<td>
			<p style="text-align:center">已掌握就業情形學生數</p>

			<p style="text-align:center">(A+B+C+D)</p>
			</td>
			<td>
			<p style="text-align:center">已就業學生數</p>

			<p style="text-align:center">(A+B+C)</p>
			</td>
			<td>
			<p style="text-align:center">在職</p>

			<p style="text-align:center">A</p>
			</td>
			<td>
			<p style="text-align:center">服役中</p>

			<p style="text-align:center">B</p>
			</td>
			<td>
			<p style="text-align:center">繼續升學</p>

			<p style="text-align:center">C</p>
			</td>
			<td>
			<p style="text-align:center">待業中</p>

			<p style="text-align:center">D</p>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">108</td>
			<td style="text-align:center">112</td>
			<td style="text-align:center">73</td>
			<td style="text-align:center">65</td>
			<td style="text-align:center">63</td>
			<td style="text-align:center">0</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">8</td>
		</tr>
		<tr>
			<td style="text-align:center">107</td>
			<td style="text-align:center">127</td>
			<td style="text-align:center">90</td>
			<td style="text-align:center">74</td>
			<td style="text-align:center">57</td>
			<td style="text-align:center">0</td>
			<td style="text-align:center">17</td>
			<td style="text-align:center">16</td>
		</tr>
		<tr>
			<td style="text-align:center">106</td>
			<td style="text-align:center">112</td>
			<td style="text-align:center">68</td>
			<td style="text-align:center">53</td>
			<td style="text-align:center">44</td>
			<td style="text-align:center">0</td>
			<td style="text-align:center">9</td>
			<td style="text-align:center">44</td>
		</tr>
		<tr>
			<td style="text-align:center">105</td>
			<td style="text-align:center">104</td>
			<td style="text-align:center">71</td>
			<td style="text-align:center">52</td>
			<td style="text-align:center">43</td>
			<td style="text-align:center">0</td>
			<td style="text-align:center">9</td>
			<td style="text-align:center">19</td>
		</tr>
		<tr>
			<td style="text-align:center">104</td>
			<td style="text-align:center">123</td>
			<td style="text-align:center">87</td>
			<td style="text-align:center">73</td>
			<td style="text-align:center">56</td>
			<td style="text-align:center">0</td>
			<td style="text-align:center">17</td>
			<td style="text-align:center">14</td>
		</tr>
		<tr>
			<td style="text-align:center">103</td>
			<td style="text-align:center">139</td>
			<td style="text-align:center">74</td>
			<td style="text-align:center">59</td>
			<td style="text-align:center">48</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">10</td>
			<td style="text-align:center">15</td>
		</tr>
		<tr>
			<td style="text-align:center">102</td>
			<td style="text-align:center">157</td>
			<td style="text-align:center">76</td>
			<td style="text-align:center">66</td>
			<td style="text-align:center">55</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">8</td>
			<td style="text-align:center">10</td>
		</tr>
	</tbody>
</table>

<p style="text-align:center">&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1">
	<tbody>
		<tr>
			<td colspan="8" style="text-align:center">淡江大學法文系、所畢業生畢業當年就業情形</td>
		</tr>
		<tr>
			<td style="text-align:center">畢業學年度</td>
			<td style="text-align:center">畢業生總數</td>
			<td>
			<p style="text-align:center">已掌握就業情形學生數</p>

			<p style="text-align:center">(A+B+C+D)</p>
			</td>
			<td>
			<p style="text-align:center">已就業學生數</p>

			<p style="text-align:center">(A+B+C)</p>
			</td>
			<td>
			<p style="text-align:center">在職</p>

			<p style="text-align:center">A</p>
			</td>
			<td>
			<p style="text-align:center">服役中</p>

			<p style="text-align:center">B</p>
			</td>
			<td>
			<p style="text-align:center">繼續升學</p>

			<p style="text-align:center">C</p>
			</td>
			<td>
			<p style="text-align:center">待業中</p>

			<p style="text-align:center">D</p>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">109</td>
			<td style="text-align:center">111</td>
			<td style="text-align:center">56</td>
			<td style="text-align:center">42</td>
			<td style="text-align:center">34</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">14</td>
		</tr>
		<tr>
			<td style="text-align:center">108</td>
			<td style="text-align:center">112</td>
			<td style="text-align:center">57</td>
			<td style="text-align:center">47</td>
			<td style="text-align:center">42</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">10</td>
		</tr>
		<tr>
			<td style="text-align:center">107</td>
			<td style="text-align:center">127</td>
			<td style="text-align:center">65</td>
			<td style="text-align:center">52</td>
			<td style="text-align:center">38</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">11</td>
			<td style="text-align:center">13</td>
		</tr>
		<tr>
			<td style="text-align:center">106</td>
			<td style="text-align:center">112</td>
			<td style="text-align:center">67</td>
			<td style="text-align:center">54</td>
			<td style="text-align:center">37</td>
			<td style="text-align:center">8</td>
			<td style="text-align:center">9</td>
			<td style="text-align:center">13</td>
		</tr>
		<tr>
			<td style="text-align:center">105</td>
			<td style="text-align:center">104</td>
			<td style="text-align:center">60</td>
			<td style="text-align:center">51</td>
			<td style="text-align:center">38</td>
			<td style="text-align:center">4</td>
			<td style="text-align:center">9</td>
			<td style="text-align:center">9</td>
		</tr>
		<tr>
			<td style="text-align:center">104</td>
			<td style="text-align:center">123</td>
			<td style="text-align:center">85</td>
			<td style="text-align:center">70</td>
			<td style="text-align:center">53</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">16</td>
			<td style="text-align:center">15</td>
		</tr>
		<tr>
			<td style="text-align:center">103</td>
			<td style="text-align:center">139</td>
			<td style="text-align:center">92</td>
			<td style="text-align:center">63</td>
			<td style="text-align:center">50</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">8</td>
			<td style="text-align:center">29</td>
		</tr>
		<tr>
			<td style="text-align:center">102</td>
			<td style="text-align:center">157</td>
			<td style="text-align:center">80</td>
			<td style="text-align:center">71</td>
			<td style="text-align:center">49</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">17</td>
			<td style="text-align:center">9</td>
		</tr>
		<tr>
			<td style="text-align:center">101</td>
			<td style="text-align:center">151</td>
			<td style="text-align:center">113</td>
			<td style="text-align:center">99</td>
			<td style="text-align:center">78</td>
			<td style="text-align:center">11</td>
			<td style="text-align:center">10</td>
			<td style="text-align:center">14</td>
		</tr>
	</tbody>
</table>