<p>修習注意事項：</p>

<ol>
	<li>依據本系<span style="color:#0000ff">法語能力畢業標準檢定規則</span>第五條辦理。</li>
	<li>適用對象：97學年度起入學大學部學生及加修本系為雙主修學生。</li>
	<li>辦理時間：<span style="color:#b22222">四年級上學期期末考前一週</span>，攜帶已先於<a href="http://sinfo.ais.tku.edu.tw/MvcLicense/"><span style="color:#0000ff">「<u>外語能力檢定資料登錄暨審核系統</u>」</span></a>完成上傳考試未通過之成績單<span style="color:#b22222">正</span>、<span style="color:#0000cd">影</span>本(<span style="color:#b22222">正本核還、</span><span style="color:#0000cd">影本存系</span>)，至本系登記選課。未辦理登記選課者，不得修習本課程。</li>
	<li>修習「進修法文」(2學分)學期成績及格者，視同通過本系法語能力畢業標準。惟其學分不計入畢業學分及當學期學業成績二分之一或三分之二學分不及格計算，且該成績不列入學期學業成績及歷年學業成績平均計算。</li>
</ol>

<p>&nbsp;</p>