<p>話說淡水線上教學影片(法文版影音)：</p>

<p>CH1. 歷史上的淡水</p>

<p><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/cWJWxPtZKCE" width="560"></iframe></p>

<p>CH2.渡船頭</p>

<p><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/FF3cAEUKW00" width="560"></iframe></p>

<p>CH3.紅毛城</p>

<p><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/MROp3OF8NtI" width="560"></iframe></p>

<p>CH4.馬偕、教會</p>

<p><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/qSbU13y7070" width="560"></iframe></p>

<p>CH5.觀音山</p>

<p><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/_rkfmQzDASA" width="560"></iframe></p>

<p>CH6.淡水河岸</p>

<p><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/CGLDWrsuIDQ" width="560"></iframe></p>

<p>CH7.淡水老街</p>

<p><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/9qJih0w02WI" width="560"></iframe></p>

<p>CH8.殼牌倉庫</p>

<p><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/9pcWucU1jSo" width="560"></iframe></p>

<p>CH9.滬尾砲台</p>

<p><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/N-vLm7sLMWE" width="560"></iframe></p>

<p>CH10.漁人碼頭</p>

<p><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/S4R2rvd9rAA" width="560"></iframe></p>

<p>CH11.紅樹林</p>

<p><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/SP-bqBPuLfE" width="560"></iframe></p>

<p>CH12.淡水小吃</p>

<p><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/k5E_HM8t2D8" width="560"></iframe></p>

<p>CH13.淡水文藝</p>

<p><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/71HOESwoeOU" width="560"></iframe></p>

<p>CH14.淡江大學</p>

<p><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/wZOpzlVY_1U" width="560"></iframe></p>

<p>CH15.河岸自行車道</p>

<p><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/JfYqS1CberE" width="560"></iframe></p>