<p>&nbsp;<span><strong>設備介紹<br></strong></span><span><strong><br></strong>　<strong><span>硬體設備<br><br></span></strong><span>１、本系擁有設備齊全的會話和口譯教室Ｔ４０６，內有電視機、錄放影機、ＤＶＤ放影機、電腦及網路連線，同步口譯設備。<br>２、</span></span>法文文法、字典等工具書千餘本可供本系師生查閱。<span><span><br>３、</span></span><span>法語錄音帶、ＣＤ、ＶＨＳ及ＤＶＤ，典藏於覺生圖書館五樓「非書資料區」，數量計約6千餘片。</span><span><span><br>４、</span></span>法文漫畫圖書數套及其他法國語文、文化、哲學、文學...等書籍與期刊典藏於覺生圖書館。法文藏書計有3萬3千餘冊。<span><span><br>５、</span></span><span>本系老師將法語電視頻道ＴＶ５的節目錄製成ＤＶＤ放在系上供學生借閱，相關目錄可參考「系友與服務」中的</span>ＴＶ５錄影ＤＶＤ<span>，如需借閱，請至系辦洽詢系助理。</span><span><span><br></span><strong><br></strong></span><span>　<span><strong>法文系專屬使用空間<br><br></strong></span>ＦＬ４１５法文系資料室：圖書、期刊、網路連線電腦、衛星接受器、ＤＶＤ放影機。
	<br>ＦＬ１０４法語特區：網路連線電腦、衛星接收器、ＤＶＤ錄放影機、ＶＨＳ錄放影機。借用表請於「下載專區」內下載填寫。
	<br>Ｔ４０６法文系會話和口譯教室：網路連線電腦、ＤＶＤ錄放影機、投影機。</span>
</p>