<p>法文系自106學年度起，配合學校政策始推行「頂石課程計畫」，讓學生能於大四一年，結合過去三年在大學所學，製作出屬於自己和同學的成果展。主題內容相當廣泛，只要是與課程內容相關者，都可以當作研究主題。</p>

<p>執行計畫表請<a href="http://www.tffx.tku.edu.tw/french/file/1763">由此下載</a></p>

<p><img src="/storage/app/media/French/%E9%A0%82%E7%9F%B3%E6%88%90%E6%9E%9C%E5%B1%95/IMG_8484.jpg" style="height:427px; width:640px" /></p>

<p><img src="/storage/app/media/French/%E9%A0%82%E7%9F%B3%E6%88%90%E6%9E%9C%E5%B1%95/DSC08538-fixed.jpg" style="height:427px; width:640px" /></p>

<p><img src="/storage/app/media/French/%E9%A0%82%E7%9F%B3%E6%88%90%E6%9E%9C%E5%B1%95/DSC08541.jpg" style="height:427px; width:640px" /></p>

<p><img src="/storage/app/media/French/%E9%A0%82%E7%9F%B3%E6%88%90%E6%9E%9C%E5%B1%95/IMG_8417.jpg" style="height:427px; width:640px" /></p>

<p><img src="/storage/app/media/French/%E9%A0%82%E7%9F%B3%E6%88%90%E6%9E%9C%E5%B1%95/IMG_8784.jpg" style="height:427px; width:640px" /></p>