<p>法文系產學合作自103學年度始規劃執行以來，迄今已有多家合作廠商/企業/法人與本系簽訂合作契約，讓我們能夠固定選送學生前往實習，提早體驗企業生態。</p>

<p>簽訂合作關係之廠商如下：</p>

<table border="1" cellpadding="1" cellspacing="1">
	<tbody>
		<tr>
			<td>簽訂學年度</td>
			<td>合作對象</td>
			<td>營業項目</td>
		</tr>
		<tr>
			<td>103</td>
			<td>翔輝運通有限公司</td>
			<td>藝術品運輸、展覽之策展與佈展等</td>
		</tr>
		<tr>
			<td>103</td>
			<td>阿爾貝斯特樂器公司</td>
			<td>銅管、金管樂器之製造外銷、樂器配件進口</td>
		</tr>
		<tr>
			<td>103</td>
			<td>小茶栽堂</td>
			<td>各式台灣茶葉之生產製造、精緻化茶品銷售</td>
		</tr>
		<tr>
			<td>103</td>
			<td>小巴黎人麵包製作所</td>
			<td>法式麵包生產製作、銷售</td>
		</tr>
		<tr>
			<td>104</td>
			<td>藝高文創</td>
			<td>文創工作者、藝術家、策展人多元媒合平台</td>
		</tr>
		<tr>
			<td>104</td>
			<td>中華民國台法學術交流協會</td>
			<td>台灣及法國或法語區之交流業務</td>
		</tr>
		<tr>
			<td>105</td>
			<td>敦煌書局</td>
			<td>外文書籍進口貿易</td>
		</tr>
		<tr>
			<td>106</td>
			<td>財團法人金屬工業研究中心</td>
			<td>金屬工業等相關技術研發單位</td>
		</tr>
		<tr>
			<td>107</td>
			<td>大學市集(酷點校園迪化營業所)</td>
			<td>與迪化街文創規劃相關</td>
		</tr>
		<tr>
			<td>108</td>
			<td>飲君子有限公司</td>
			<td>葡萄酒品酒、酒類活動規劃相關</td>
		</tr>
		<tr>
			<td>109</td>
			<td>水水文創</td>
			<td>文創相關產業</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><img src="http://163.13.100.122/storage/app/media/French/IMG_8350.jpg" style="height:431px; width:320px" />0</p>

<p><img src="http://163.13.100.122/storage/app/media/French/%E6%9E%97%E6%98%B1%E5%9D%87%E5%B0%8F%E8%8C%B6.jpg" style="height:427px; width:320px" /></p>

<p><img src="http://163.13.100.122/storage/app/media/French/%E4%BB%B2%E6%96%8701.jpg" style="height:427px; width:320px" /></p>

<p><img src="http://163.13.100.122/storage/app/media/French/%E4%BB%B2%E6%96%8702.jpg" style="height:240px; width:320px" /></p>