<p><strong><span style="font-size:22px"><span style="font-family:Arial,Helvetica,sans-serif">淡江法文系碩士班簡介</span></span></strong></p>

<p>淡江法文系碩士班是國內法文系所首創辦理海外雙聯學位，更是目前唯一藉由教育部「學海獎學金-學海築夢」選送優秀碩士生*前往法國亞維儂進行「外亞維儂藝術節藝術行銷實習」的法文系所。藉由參與這兩個活動，同學們可以親至國外體驗國際學生生活，學習在全法語環境中自我成長並完成論文寫作，或是進入亞維儂的劇院，協助不同的國際劇團辦理劇場相關業務，實地進入劇場實習。</p>

<p>除了海外的生活外，在國內學習課程的過程中，我們也會要求同學自組讀書會，學習如何從學術的角度切入來蒐集資料、閱讀書籍。並在二年級時讓同學參加碩士生研討會，讓同學在真正撰寫畢業論文前，能夠體驗進行學術研究的過程中所將遇到的種種狀況，提前為自己的畢業論文做準備。</p>

<p>我們提供給同學完整的碩士生涯體驗。除此之外，我們也跟多所高中進行合作，選派碩士生前往教授第二外語課程；系上也提供獎學金及急難救助金，提供給經濟上有困難或急難的同學們；另外，業界轉介來的法語實習或工讀機會，也會優先提供給碩士班表現優異的同學。</p>

<p>淡江大學法文系碩士班就學進程表</p>

<p><img src="/storage/app/media/French/frmastersche.jpg" /></p>

<p><strong><span style="font-size:22px">淡江法文系碩士班入學管道</span></strong></p>

<p>本系碩士班入學管道有二：碩士班甄試(約在每年12月)及碩士班入學考試(約在每年3月)，詳細日程表及報名簡章請詳<a href="http://adms.tku.edu.tw/">淡江大學招生組網頁</a>。</p>

<p><strong><span style="font-size:22px">淡江法文系碩士班學習地圖</span></strong></p>

<p>本系碩士班的課程規劃如下圖，詳細的課程清單因每學期開課調整緣故，請見本校<a href="http://esquery.tku.edu.tw/acad/">課程查詢系統網頁</a>。</p>

<p><img src="/storage/app/media/French/TKFR-Mmap.jpg" /></p>

<p>*學海築夢計畫依每年計畫申請情形變更，補助金額也依選送人數調整。</p>

<p>&nbsp;</p>