<p>雙主修規定及選課須知</p>

<ol>
	<li>申請雙主修及放棄雙主修，請依教務處<a href="http://oa.tku.edu.tw/Law.nsf/8a19663a9342a6a748256e6b00446781/1cd341483ca0b3674825717800047d6c?OpenDocument">規定</a>辦理。</li>
	<li>選課時，請確定不會與原系必修課衝堂的情況下，以<u>網路加選</u>本系的必修課。如因必修課額滿，網路無法加選時，請<u>依本系公告時間辦理「人工加簽」</u>。</li>
	<li>本系一、二年級的「閱讀與習作」及「法語會話」選課人數幾乎都額滿，為維持教學品質及考量雙主修學生日間排課不易，雙主修學生可修習晚上6點至9點<span style="color:#b22222">開設於輔系班一年級「初級法語會話」及「初級閱讀與習作」課程</span><span style="color:#b22222">(需另繳交學分費)，承認為必修學分。</span></li>
	<li>雙主修生<span style="color:#800080">無擋修的限制</span>。</li>
	<li>雙主修生畢業前，須通過本系&quot;法語能力畢業標準&quot;檢定；但原主修系別之檢定登錄系統無&quot;法語&quot;檢定者，請至教務處註冊組&quot;成績業務相關&quot;下載<a href="http://www.acad.tku.edu.tw/RS/downs3/archive.php?class=306"><span style="color:#0000cd">「淡江大學學生修讀雙主修語言檢定證明書」</span></a>，填寫後<span style="color:#0000cd">檢附檢定通過之證明文件正、影本至本系初核</span>，再送教務處註冊組成績作業單位辦理後續事宜。</li>
</ol>

<p>&nbsp;</p>