<p>說明：</p>

<p>　一、新生抵免各外語（一）、（二）課程改採線上作業。</p>

<p>　二、新生申請流程：</p>

<p>　　(一)於入學當學期開學後二週內提出申請。</p>

<p>　　(二)檢附申請表與相關證明之正本及影本各1份。</p>

<p>　　(三)線上網址:&nbsp;<a href="http://w3.emis.tku.edu.tw/">http://w3.emis.tku.edu.tw/</a></p>

<p>　四、各語種承辦人作業流程：</p>

<p>　　(一)檢核學生繳交之申請表與相關證明。歸還證明正本予學生，影本附於申請表之後，於申請表核章。</p>

<p>　　(二)影印已核章之申請表，並將此影本交與學生留存至畢業為止。抵免通過之科目，其成績欄位將顯示「抵免」，不會有成績；學分要等學期結束後，所有科目的成績都出來之後，註冊組才會登錄，請學生不要急。可參考英文系給學生留存的回執內容（附件2）作修改，附於申請表影本上，一同交給學生留存。</p>

<p>　　(三)將當日的申請表正本按順序造冊（附件3，右下角製有給註冊組簽收的欄位），並於當日下班前或翌日早上將該日清冊連同申請表正本送交註冊組黃瓊慧小姐（分機2362）。</p>

<p>　　(四)註冊組會將簽收後的清冊影本（附件4）送交各語種承辦人留存。</p>