<p><strong>進修&nbsp;<br />
&nbsp;<br />
&nbsp;</strong>與法文有關的研究所有：本校法文研究所、歐洲研究所、中央大學法文研究所、輔仁大學法文研究所、文化大學法文研究所。<br />
出國留學：可至法國、比利時、瑞士和加拿大魁北克法語區等國進修有關文化、藝術、音樂、電影、翻譯或旅館管理等相關領域。<br />
<br />
<strong>就業&nbsp;<br />
&nbsp;<br />
&nbsp;</strong>可從事翻譯、外交、新聞、外貿、教育、秘書等相關領域的工作。<br />
語言是一種工具，鼓勵同學利用輔系、雙主修、或學分學程，修習第二專長，如此，必將為自己開創更寬廣的就業空間與機會。</p>

<p>&nbsp;</p>

<p><strong>系友名人榜</strong></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="background-color:#cccccc">校友姓名</td>
			<td style="background-color:#cccccc">(曾)服務單位</td>
			<td style="background-color:#cccccc">職稱/曾任職稱</td>
		</tr>
		<tr>
			<td>呂慶龍</td>
			<td>駐法代表處</td>
			<td>代表</td>
		</tr>
		<tr>
			<td>劉順一</td>
			<td>中央大學法文系</td>
			<td>副教授</td>
		</tr>
		<tr>
			<td>黃馨逸</td>
			<td>文化大學法文系</td>
			<td>副教授</td>
		</tr>
		<tr>
			<td>胡婉玲</td>
			<td>民視電視股份有限公司新聞部</td>
			<td>副總經理</td>
		</tr>
		<tr>
			<td>許仲江</td>
			<td>民視電視股份有限公司</td>
			<td>資深記者/新聞主播</td>
		</tr>
		<tr>
			<td>李幼新</td>
			<td>資深影評人</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>崔麗心</td>
			<td>藝人</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>桂綸鎂</td>
			<td>藝人</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>林俊逸</td>
			<td>歌手</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>鍾年晃</td>
			<td>民視電視股份有限公司</td>
			<td>資深記者</td>
		</tr>
		<tr>
			<td>馬雅芬</td>
			<td>50嵐中區總代理雅嵐有限公司</td>
			<td>執行長</td>
		</tr>
		<tr>
			<td>陳泰仁</td>
			<td>長榮桂冠飯店</td>
			<td>總經理</td>
		</tr>
		<tr>
			<td>繆惠南</td>
			<td>佳皇企業股份有限公司</td>
			<td>總經理</td>
		</tr>
		<tr>
			<td>蘇素珍</td>
			<td>中華國際觀光教育學會</td>
			<td>講師</td>
		</tr>
		<tr>
			<td>葉麗珠</td>
			<td>聖霖企業有限公司(出口貿易)負責人</td>
			<td>負責人</td>
		</tr>
		<tr>
			<td>葉雅琴</td>
			<td>世界留台校友會聯誼總會</td>
			<td>秘書長</td>
		</tr>
		<tr>
			<td>王 榮</td>
			<td>前BHL亞洲區處長</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>周品慧</td>
			<td>金石堂瑪德蓮書店咖啡</td>
			<td>負責人</td>
		</tr>
		<tr>
			<td>陳珍隆</td>
			<td>大倉久和飯店</td>
			<td>執行董事</td>
		</tr>
		<tr>
			<td>王瑞玲</td>
			<td>三和塑膠工業股份有限公司</td>
			<td>業務秘書</td>
		</tr>
		<tr>
			<td>朱立鈞</td>
			<td>巨登文教事業集團</td>
			<td>負責人</td>
		</tr>
		<tr>
			<td>秦世敏</td>
			<td>中華民國圍棋協會</td>
			<td>秘書長</td>
		</tr>
		<tr>
			<td>潘台芳</td>
			<td>國立台灣藝術大學藝術博物館</td>
			<td>助理研究員</td>
		</tr>
		<tr>
			<td>陳昭宏</td>
			<td>夏爾歐語教育中心</td>
			<td>班主任</td>
		</tr>
		<tr>
			<td>陳世明</td>
			<td>台北101</td>
			<td>總經理</td>
		</tr>
		<tr>
			<td>夏曼．藍波安</td>
			<td>作家</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>王俊超</td>
			<td>法商家樂福(家福股份有限公司)</td>
			<td>總經理</td>
		</tr>
		<tr>
			<td>黃惠玲</td>
			<td>久保雅司國際有限公司</td>
			<td>總經理</td>
		</tr>
		<tr>
			<td>簡文英</td>
			<td>台灣艾華電子工業股份有限公司</td>
			<td>董事</td>
		</tr>
	</tbody>
</table>