<p><span style="color:#0000cd"><strong>1.必修科目擋修規定</strong></span></p>

<p>(1)適用對象：97學年度入學新生起。</p>

<p>(2)一年級下學期起<span style="color:#0000ff"><strong>先修科目</strong></span>學期成績達<span style="color:#0000cd">50</span>分，即<span style="color:#0000cd">不予擋修</span>次學期<span style="color:#b22222"><strong>必修科目</strong></span>；惟仍應補修通過及格分數60分，始能取得畢業學分。</p>

<p>(3)<u>四年級（含延修生）</u>學生及<u>修習法文系為輔系或雙主修</u>學生<u>不受擋修限制</u>。</p>

<p>(4)擋修科目表列如下：</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:45px">
			<p style="text-align:center"><strong><span style="color:#b22222">年級</span></strong></p>
			</td>
			<td style="width:132px">
			<p style="text-align:center"><span style="color:#b22222"><strong>必修科目</strong></span></p>
			</td>
			<td style="width:57px">
			<p style="text-align:center"><span style="color:#b22222"><strong>學期序</strong></span></p>
			</td>
			<td style="width:47px">
			<p style="text-align:center"><strong><span style="color:#0000cd">年級</span></strong></p>
			</td>
			<td style="width:132px">
			<p style="text-align:center"><span style="color:#0000cd"><strong>先修科目</strong></span></p>
			</td>
			<td style="width:55px">
			<p style="text-align:center"><span style="color:#0000cd"><strong>學期序</strong></span></p>
			</td>
			<td style="width:68px">
			<p style="text-align:center"><span style="color:#0000cd">學期成績</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:45px">
			<p style="text-align:center"><span style="color:#b22222">2</span></p>
			</td>
			<td style="width:132px">
			<p style="text-align:center"><span style="color:#b22222">法語會話（二）</span></p>
			</td>
			<td style="width:57px">
			<p style="text-align:center"><span style="color:#b22222">1</span></p>
			</td>
			<td style="width:47px">
			<p style="text-align:center"><span style="color:#0000cd">1</span></p>
			</td>
			<td style="width:132px">
			<p style="text-align:center"><span style="color:#0000cd">法語會話（一）</span></p>
			</td>
			<td style="width:55px">
			<p style="text-align:center"><span style="color:#0000cd">2</span></p>
			</td>
			<td style="width:68px">
			<p style="text-align:center"><span style="color:#0000cd"><strong>50</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:45px">
			<p style="text-align:center"><span style="color:#b22222">2</span></p>
			</td>
			<td style="width:132px">
			<p style="text-align:center"><span style="color:#b22222">法語會話（二）</span></p>
			</td>
			<td style="width:57px">
			<p style="text-align:center"><span style="color:#b22222">2</span></p>
			</td>
			<td style="width:47px">
			<p style="text-align:center"><span style="color:#0000cd">2</span></p>
			</td>
			<td style="width:132px">
			<p style="text-align:center"><span style="color:#0000cd">法語會話（二）</span></p>
			</td>
			<td style="width:55px">
			<p style="text-align:center"><span style="color:#0000cd">1</span></p>
			</td>
			<td style="width:68px">
			<p style="text-align:center"><span style="color:#0000cd"><strong>50</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:45px">
			<p style="text-align:center"><span style="color:#b22222">3</span></p>
			</td>
			<td style="width:132px">
			<p style="text-align:center"><span style="color:#b22222">法語會話（三）</span></p>
			</td>
			<td style="width:57px">
			<p style="text-align:center"><span style="color:#b22222">1</span></p>
			</td>
			<td style="width:47px">
			<p style="text-align:center"><span style="color:#0000cd">2</span></p>
			</td>
			<td style="width:132px">
			<p style="text-align:center"><span style="color:#0000cd">法語會話（二）</span></p>
			</td>
			<td style="width:55px">
			<p style="text-align:center"><span style="color:#0000cd">2</span></p>
			</td>
			<td style="width:68px">
			<p style="text-align:center"><span style="color:#0000cd"><strong>50</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:45px">
			<p style="text-align:center"><span style="color:#b22222">2</span></p>
			</td>
			<td style="width:132px">
			<p style="text-align:center"><span style="color:#b22222">法文文法（二）</span></p>
			</td>
			<td style="width:57px">
			<p style="text-align:center"><span style="color:#b22222">1</span></p>
			</td>
			<td style="width:47px">
			<p style="text-align:center"><span style="color:#0000cd">1</span></p>
			</td>
			<td style="width:132px">
			<p style="text-align:center"><span style="color:#0000cd">法文文法（一）</span></p>
			</td>
			<td style="width:55px">
			<p style="text-align:center"><span style="color:#0000cd">2</span></p>
			</td>
			<td style="width:68px">
			<p style="text-align:center"><span style="color:#0000cd"><strong>50</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:45px">
			<p style="text-align:center"><span style="color:#b22222">2</span></p>
			</td>
			<td style="width:132px">
			<p style="text-align:center"><span style="color:#b22222">法文文法（二）</span></p>
			</td>
			<td style="width:57px">
			<p style="text-align:center"><span style="color:#b22222">2</span></p>
			</td>
			<td style="width:47px">
			<p style="text-align:center"><span style="color:#0000cd">2</span></p>
			</td>
			<td style="width:132px">
			<p style="text-align:center"><span style="color:#0000cd">法文文法（二）</span></p>
			</td>
			<td style="width:55px">
			<p style="text-align:center"><span style="color:#0000cd">1</span></p>
			</td>
			<td style="width:68px">
			<p style="text-align:center"><span style="color:#0000cd"><strong>50</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:45px">
			<p style="text-align:center"><span style="color:#b22222">2</span></p>
			</td>
			<td style="width:132px">
			<p style="text-align:center"><span style="color:#b22222">閱讀與習作（二）</span></p>
			</td>
			<td style="width:57px">
			<p style="text-align:center"><span style="color:#b22222">1</span></p>
			</td>
			<td style="width:47px">
			<p style="text-align:center"><span style="color:#0000cd">1</span></p>
			</td>
			<td style="width:132px">
			<p style="text-align:center"><span style="color:#0000cd">閱讀與習作（一）</span></p>
			</td>
			<td style="width:55px">
			<p style="text-align:center"><span style="color:#0000cd">2</span></p>
			</td>
			<td style="width:68px">
			<p style="text-align:center"><span style="color:#0000cd"><strong>50</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:45px">
			<p style="text-align:center"><span style="color:#b22222">2</span></p>
			</td>
			<td style="width:132px">
			<p style="text-align:center"><span style="color:#b22222">閱讀與習作（二）</span></p>
			</td>
			<td style="width:57px">
			<p style="text-align:center"><span style="color:#b22222">2</span></p>
			</td>
			<td style="width:47px">
			<p style="text-align:center"><span style="color:#0000cd">2</span></p>
			</td>
			<td style="width:132px">
			<p style="text-align:center"><span style="color:#0000cd">閱讀與習作（二）</span></p>
			</td>
			<td style="width:55px">
			<p style="text-align:center"><span style="color:#0000cd">1</span></p>
			</td>
			<td style="width:68px">
			<p style="text-align:center"><span style="color:#0000cd"><strong>50</strong></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p><span style="color:#0000cd"><strong>2.選課規定</strong></span></p>

<p>學校<span style="color:#0000cd">選課相關規定</span>請詳閱「<a href="http://oa.tku.edu.tw/Law.nsf/8a19663a9342a6a748256e6b00446781/1f54e17235547f69482570ee00089066?OpenDocument&amp;Highlight=0,%E9%81%B8%E8%AA%B2"><u>淡江大學學生選課規則</u></a>」、「<a href="http://oa.tku.edu.tw/Law.nsf/8a19663a9342a6a748256e6b00446781/692ea5274046b3dc48257b890021e9f2?OpenDocument&amp;Highlight=0,%E9%81%B8%E8%AA%B2"><u>淡江大學學生期中退選實施要點</u></a>」</p>

<p>學校<span style="color:#0000ff">網路選課時間及注意事項</span>請詳「<a href="http://esquery.tku.edu.tw/acad/"><u>課程查詢系統</u></a>」</p>

<p>法文系「<span style="color:#b22222">人工加選專業必修科目</span>」辦理時間及注意事項，每學期開學日於<span style="color:#ff0000">系網另行公告</span>。</p>

<p>(1)<strong><span style="color:#0000cd">不認列為法文系畢業學分之科目：</span></strong></p>

<p>(<span style="color:#ff0000"><strong>備註*法文系學生修讀<u>不可修習科目</u>者，<u>不承認為畢業學分</u>。</strong></span>)</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:102px">
			<p style="text-align:center">開課單位</p>
			</td>
			<td style="width:208px">
			<p style="text-align:center">科目名稱</p>
			</td>
			<td style="width:204px">
			<p style="text-align:center"><span style="color:#ff0000"><strong>備註*</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:102px">
			<p style="text-align:center">法文系<span style="color:#ff0000"><strong>輔系班</strong></span></p>

			<p style="text-align:center"><span style="color:#ff0000"><strong>(班別-MA)</strong></span></p>
			</td>
			<td style="width:208px">
			<p><span style="color:#800080">法語會話(一)、閱讀與習作(一)</span></p>
			</td>
			<td style="width:204px">
			<p>輔系生必修(106學年度前)；<strong><span style="color:#ff0000">法文系學生不可修習</span>。</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:102px">
			<p style="text-align:center">法文系<span style="color:#ff0000"><strong>輔系班</strong></span></p>

			<p style="text-align:center"><span style="color:#ff0000"><strong>(班別-MA)</strong></span></p>
			</td>
			<td style="width:208px">
			<p><span style="color:#800080">初級法語會話、初級閱讀與習作</span></p>
			</td>
			<td style="width:204px">
			<p>輔系生必修(107學年度起)：<strong><span style="color:#ff0000">法文系學生不可修習</span>。</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:102px">
			<p style="text-align:center">共同科、外系、外語學門</p>
			</td>
			<td style="width:208px">
			<p><span style="color:#800080">法文、法語聽講練習(含實習)、法文(一)(含實習)、法文(二)</span></p>

			<p>等有關法文科目</p>
			</td>
			<td style="width:204px">
			<p><strong><span style="color:#ff0000">法文系學生不可修習</span>。</strong></p>
			</td>
		</tr>
	</tbody>
</table>

<p>(2)<span style="color:#0000ff">法文系專業必修科目，採分班(組)上課及設限人數</span>；為維護教學及學習品質，各年級必修課程，由教務處代選，應於當學年修讀(一學年課程，先修上學期，再修下學期)，下學期更換班級或組別，如造成原班級組別選課人數低於學校規定開班人數時，系辦將強制換回原班級組別；亦<span style="color:#0000ff">不可重複加選相同科目小組2組以上，佔用小組名額會影響重補修同學無法選入</span>，系辦將通知重複修習小組2組以上同學退選，以原代選班(組)別上課，以維護全體同學選課公平。</p>

<p>(3)<span style="color:#0000cd">選修科目</span>(含法文系、校共同科、院共同科、核心課程)，須於學校規定<span style="color:#0000cd">選課時間自行網路選課</span>，不受理人工加選(遠距非同步課程選課方式請詳課程查詢系統-課程類別◎遠距教學◎注意事項說明)。</p>

<p>(4)<span style="color:#ff0000">初選擬更換課程班(組)別或因退選後無法選入擬修課程班(組)別者，均請於加退選期間內自行網路加退選。</span></p>

<p>(5)法文系選修「<span style="color:#800080"><strong>法國戲劇選讀</strong></span>」為<span style="color:#800080"><strong>一學年(上、下學期)</strong></span>科目，因須於開課學年之下學期演出戲劇，授課老師要求，<span style="color:#800080"><strong>修課同學須於同一學年上、下學期修讀</strong></span>，不可於不同開課學年修讀(亦即，<span style="color:#800080"><strong>不可於修課學年之下學期自行退選或加選</strong></span>)。</p>

<p>(6)<span style="color:#0000cd">法文系選修<strong>「創新創業企業實習」</strong></span>與<span style="color:#2f4f4f">外國語文學院共同科「創新創業企業實習」</span>為合班開課，<span style="color:#0000cd">法文系學生如欲修習，請務必修習開在本系之該選修課程，始能承認為本系系選修學分；</span><span style="color:#2f4f4f">修習外語學院該科，僅能承認為自由選修學分</span>。</p>

<p><span style="color:#0000cd"><strong>3.下列課程，依各該開課單位規定辦理：</strong></span></p>

<p>(1)<strong><u>英文、外語學門</u></strong>，請詳閱<u><a href="http://www.tflx.tku.edu.tw/english/">英文系網頁</a></u><strong>&gt;</strong>通識外語學門 項下公告或逕洽英文系辦公室。</p>

<p>(2)<strong><u>核心學門</u></strong>，請詳閱<u><a href="http://www.core.tku.edu.tw/main.php">教務處通核中心</a></u>網頁公告或逕洽各學門辦公室。</p>

<p>(3)<strong><u>體育課程</u></strong>，請詳閱<u><a href="http://www.sports.tku.edu.tw/main.php">體育事務處</a></u>網頁&gt;最新消息公告。</p>