<p><strong><span style="font-size:22px">學海築夢獎學金-外亞維儂藝術節藝術行銷實習計畫</span></strong></p>

<p><span style="font-size:18px">(僅限本系碩士班學生參加)</span></p>

<p><img src="http://163.13.100.122/storage/app/media/French/avignon01.bmp" style="height:225px; width:300px" /></p>

<p>105年度選送學生工作實況</p>

<p><a href="https://www.avignonleoff.com/">外亞維儂藝術節官網</a>&nbsp;Avignon OFF</p>

<p><a href="https://www.conditiondessoies.com/">絲品劇院官網</a>&nbsp;Condition des Soies</p>

<p>本系自98年度起，透過教育部「學海築夢計畫」，選送並補助優秀碩士生前往法國亞維儂絲品劇院進行「外亞維儂藝術節藝術行銷實習計畫」。藉由實地進入劇院擔任劇場工作人員實習生，學生可以親身參與劇場大大小小工作，以實踐課堂上所學。絲品劇院長期接待各國劇團演出，其中更有多個來自台灣的劇團。實習生除了可接觸劇場各項工作內容，有時更需擔綱台灣劇團與法國劇院間溝通的橋樑，訓練雙向口譯能力。</p>

<p><img src="http://163.13.100.122/storage/app/media/French/avignon02.jpg" style="height:225px; width:300px" /></p>

<p>106年度選送學生與劇團合影</p>

<p><img src="http://163.13.100.122/storage/app/media/French/avignon03.jpg" style="height:225px; width:300px" /></p>

<p>107年度選送學生工作留影</p>

<p><img src="http://163.13.100.122/storage/app/media/French/avignon04.jpg" style="height:169px; width:300px" /></p>

<p>107年度選送學生工作實況</p>

<p>前往外亞維儂藝術節投入長達一個月的實習工作相當具有挑戰性，但卻也是一生一次的難得機會，<strong><u>也更是除了本系之外，其他學校無法提供的特殊體驗</u></strong>。學生於碩士班一年級暑假前往法國，在實習結束後更可利用機會在法國四處遊歷，妥善利用這個身處法國的優閒時光，並在返國後繃緊神經，迎接下一學期的新挑戰。</p>

<p><img src="http://163.13.100.122/storage/app/media/French/avignon05.jpg" style="height:225px; width:300px" /></p>

<p>104年度選送學生工作實況</p>

<p><img src="http://163.13.100.122/storage/app/media/French/avignon06.jpg" style="height:225px; width:300px" /></p>

<p>103年度選送學生工作留影</p>

<p><img src="http://163.13.100.122/storage/app/media/French/avignon07.jpg" style="height:400px; width:300px" /></p>

<p>102年度選送學生與劇場人員合影</p>

<p>選送年度暨人數統計表</p>

<table border="1" cellpadding="1" cellspacing="1">
	<tbody>
		<tr>
			<td style="text-align:center">選送年度</td>
			<td style="text-align:center">選送人數</td>
		</tr>
		<tr>
			<td style="text-align:center">98</td>
			<td style="text-align:center">3</td>
		</tr>
		<tr>
			<td style="text-align:center">100</td>
			<td style="text-align:center">2</td>
		</tr>
		<tr>
			<td style="text-align:center">101</td>
			<td style="text-align:center">1</td>
		</tr>
		<tr>
			<td style="text-align:center">102</td>
			<td style="text-align:center">2</td>
		</tr>
		<tr>
			<td style="text-align:center">103</td>
			<td style="text-align:center">2</td>
		</tr>
		<tr>
			<td style="text-align:center">104</td>
			<td style="text-align:center">2</td>
		</tr>
		<tr>
			<td style="text-align:center">105</td>
			<td style="text-align:center">2</td>
		</tr>
		<tr>
			<td style="text-align:center">106</td>
			<td style="text-align:center">4</td>
		</tr>
		<tr>
			<td style="text-align:center">107</td>
			<td style="text-align:center">3</td>
		</tr>
		<tr>
			<td style="text-align:center">108</td>
			<td style="text-align:center">4</td>
		</tr>
	</tbody>
</table>

<p>選送辦法參考(以最新消息內公告之最新版為主)</p>