<p>論文題目及英文姓名填報系統網址：<a href="http://w4.emis.tku.edu.tw/thesis">http://w4.emis.tku.edu.tw/thesis</a></p>

<p>&nbsp;</p>

<p>請各位同學依照自己的狀況進行填報或繳交資料，請見以下(同學須於不同學期間依序完成)</p>

<p><strong>1. 指導教授提報</strong>：次一學期想提出大綱審查者，或想更換指導教授者</p>

<p>次一學期想提出大綱審查：請預先於本學期或次一學期填報期間前完成 表<a href="http://www.tffx.tku.edu.tw/french/file/1808#">A.論文指導教授同意書</a>並送交系助理，助理會統一在次一學期填報期間上系統填報。</p>

<p>次一學期想更換指導教授者：請預先於本學期或次一學期填報期間前完成表<a href="http://www.acad.tku.edu.tw/RS/download_archive.php?Sn=182&amp;file_num=1" title="A1-淡江大學論文指導教授變更同意書ATRX-Q03-001-FM046">A1-淡江大學論文指導教授變更同意書</a>，經新指導教授、原指導教授簽名同意後，送至系辦助理，助理會統一在次一學期填報期間上系統填報。</p>

<p style="margin-left:40px"><span style="color:#ff0000"><span style="font-size:16px">110-1學期填報期間(研究生填報時間自110年10月4日上午11時起至10月25日上午11時止)</span></span></p>

<p><strong>2. 大綱審查申請</strong>：請於當學期行事曆(<a href="http://www.acad.tku.edu.tw/app/super_pages.php?ID=OAA201">連結</a>)中「研究生學位考試申請」期間內完成<a href="http://www.tffx.tku.edu.tw/french/file/1808#" title="點選查閱詳細內容">Ｂ、研究生論文大綱審查申請表</a>、<a href="http://www.tffx.tku.edu.tw/french/file/1808#" title="點選查閱詳細內容">Ｃ、研究生論文大綱審查會委員表</a>並送至系辦助理。在大綱審查當天，請自行準備<a href="http://www.tffx.tku.edu.tw/french/file/1808#" title="點選查閱詳細內容">D、研究生論文大綱審查會結果表</a>，通過大綱審查後送交系辦助理。</p>

<p><strong>3. 填報論文題目</strong>：前一學期已完成大綱審查者，或前一學期已赴法國完成雙聯學位第一學期者(即本學期將提出論文答辯/口試者)</p>

<p><strong>4. 確認英文姓名</strong>：已填報論文題目者務必確認；<u>學籍為二年級下學期以上者可預先確認，一年級同學不需確認。</u></p>

<p style="margin-left:40px"><span style="color:#ff0000"><span style="font-size:16px">110-1學期填報期間(研究生填報時間自110年10月4日上午11時起至10月25日上午11時止)</span></span></p>

<p>&nbsp;</p>