<p>　<u><strong>計劃過程</strong></u></p>

<p>本校於民國７８年與法國弗朗士─孔泰大學簽訂姐妹校合約，並於暑期合作辦理短期赴法研習活動，成效良好。８３年配合本校國際化政策，首次辦理大三學生赴法修習學分。基於與該大學之合作淵源，本系決定與該校協商簽訂新約，安排２０位本系學生至該校修習學分並多次協商學生註冊、住宿及課程等問題。８３年校慶期間，該校校長WORONOFF亦曾訪問本校，實地了解本系開課情形並洽談大三學生赴法抵免學分細節與交換教師事宜。此項合作關係深獲法國方面肯定，因此，第二屆（８４學年）獲法國在台協會提供１名學生獎學金；第三屆至第十二屆（８５至９４學年）獲弗朗士─孔泰大學提供１名學生獎學金；第十三屆（９５學年）本校配合教育部補助２名學生獎學金。該校並於８４學年派一位交換講師至本系任教。第十五屆（９７學年）新增一所大學─尼斯大學CUEFLE。第二十三屆（105學年）新增一所大學─普瓦捷大學CFLE。83年至今統計約有超過500名本系同學參加大三出國及交換生活動。<strong>　<br />
<br />
&nbsp;&nbsp;</strong><u><strong>甄選方式</strong></u><br />
報名資格：</p>

<p>大一上、下學期成績平均７０分以上。（於二年級第１學期約於10月至11月報名並於期末考後舉行大三出國考試）</p>

<p>轉學生以<u>報名時當學期</u>所修法文學分二分之一以上為法文系大二之課程，經系上審核後視為同等資格<em>。</em></p>

<p>&nbsp;錄取人數：２５名。</p>

<p>甄選標準：大二第一學期(即報名當學年第一學期)法文學業成績（３０％）、法文筆試（２５％）、法文口試（２５％）、中文口試（含性向評估）（２０％）。</p>

<p>&nbsp;</p>

<p>　<u><strong>課程、學分安排及學分抵免</strong></u></p>

<p>課程與學分方面，法國方面在九月正式開學。三所學校均採程度分班，因此每位學生依其程度所須修之合適課程約８至26學分。經本系與該校協商之決議，學生所修之該校規定必修學分均可抵免本系之相對課程的學分；選修課程則視本系是否有相關之課程可辦理抵免而定。</p>

<p>&nbsp;</p>

<p>　<u><strong>留學費用</strong></u><br />
<br />
以下費用為本系粗估之結果，僅供參考，實際費用以當年度匯率變動及學生實際花費為主。</p>

<p>&nbsp;</p>

<p>保險費：約新台幣9,000元。</p>

<p>來回機票及證照費：約新台幣61,000元。</p>

<p>住宿費：約新台幣120,000元。</p>

<p>生活費(包含交通及三餐等)：約新台幣120,000元。</p>

<p>學雜費(註冊、學分及書籍等)：約新台幣120,000元。</p>

<p>其它費用：約新台幣70,000元。</p>

<p>費用總計：約新台幣500,000元。</p>

<p>&nbsp;</p>

<p>　<u><strong>學生在留學國之課業與生活安排</strong></u><br />
<br />
弗朗士─孔泰大學(Universit&eacute; de Franche-Comt&eacute;)語言中心CLA、普瓦捷大學(Universit&eacute; de Poitiers)外語學院法語中心CFLE及法國尼斯大學(Universit&eacute; de Nice Sophia Antipolis)語言中心CUEFLE的課程採程度分班，學生分別在合適的班級上課，三校教師教學經驗豐富並且教學活潑生動。法國校方安排輔導老師協助本校學生之課業及生活事宜。生活上，食衣住行各方面，除食物與氣候需時間適應外，其餘皆無太大的困難。學生出國前選出一位班代表，每月定期聚會並負責與系辦公室聯繫。據返國學生表示，法國的教學方法較活潑，例如：分組（不同國籍的學生一組）到街上進行調查活動並在課堂上報告；或因應時事（如法國總統大選）為主題做採訪報告，學習成效良好，並可使學生養成獨立思考的能力與積極求學的態度。法國校方均安排各項課外活動可深入當地生活文化。</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>　<u><strong>特色介紹</strong></u></p>

<p>弗朗士─孔泰大學(Universit&eacute; de Franche-Comt&eacute;)語言中心CLA的課程多元且活潑生動，例如藉由街頭訪問及古蹟調查等活動讓學生學習當地之歷史及文化，並特別安排國際交流節慶日讓各國學生表演或展示該國之文化特色，並成為當地的社區活動，促進各國學生與當地人之交流與互動。辦理大三出國活動20幾年來，學生反映良好，已成為本系招生之特色。</p>

<p>&nbsp;</p>

<p>法國尼斯大學(Universit&eacute; de Nice Sophia Antipolis)語言中心CUEFLE。該語言中心位於尼斯大學文學院校區，師資優良，教學嚴謹，當地學生與外籍生也相處融洽。尼斯當地氣候宜人風景優美，為歐洲最受青睞的度假勝地。</p>

<p>&nbsp;</p>

<p>法國普瓦捷大學(Universit&eacute; de Poitiers)語言中心CFLE，為 105 學年度起新增第3所合作學校，該校歷史悠久為歐洲最古老的大學之一。Poitiers至今仍保有法國古老城市的風貌。</p>

<p>&nbsp;</p>

<p>參考連結:</p>

<p><a href="http://www.junioryear.tku.edu.tw/plan/super_pages.php?ID=plan1">本計畫說明</a></p>

<p><a href="http://www.letram-grandbesancon.fr/">http://www.letram-grandbesancon.fr/</a>&nbsp; &nbsp;柏桑松Tramway交通資訊</p>

<p><a href="http://www.besancon-tourisme.com/hotelset-hebergements/gites-centre-de-vacances/fiche-lei/pag/1/lei/LOGEMENTS_ETUDIANTS_FRANC_COMTOIS.html">http://www.besancon-tourisme.com/hotelset-hebergements/gites-centre-de-vacances/fiche-lei/pag/1/lei/LOGEMENTS_ETUDIANTS_FRANC_COMTOIS.html</a>&nbsp; &nbsp;柏桑松學生宿舍</p>

<p><a href="http://www.lignesdazur.com/ftp/plans_FR/Nice%20Centre%20janvier%202015.pdf">http://www.lignesdazur.com/ftp/plans_FR/Nice%20Centre%20janvier%202015.pdf</a>&nbsp; &nbsp;尼斯交通尼斯</p>

<p><a href="http://www.crous-nice.fr/logements/residences-universitaires/">http://www.crous-nice.fr/logements/residences-universitaires/</a> 尼斯學生宿舍</p>

<p><a href="http://www.crous-poitiers.fr/logements/vistie-virtuelle-360">http://www.crous-poitiers.fr/logements/vistie-virtuelle-360</a>&nbsp; &nbsp;普瓦捷學生宿舍</p>

<p><a href="http://www.univ-poitiers.fr/universite/plans-d-acces/plans-d-acces-456331.kjsp">http://www.univ-poitiers.fr/universite/plans-d-acces/plans-d-acces-456331.kjsp</a>&nbsp; &nbsp;普瓦捷交通</p>