<p>淡江法文系目前有以下招生管道</p>

<p>本校招生組網站連結：<a href="http://adms.tku.edu.tw/">http://adms.tku.edu.tw/</a></p>

<p><span style="font-size:16px"><u><strong>大學部</strong></u></span></p>

<p><span style="font-size:8px">大學部簡介影片(若無法播放，請至<a href="https://youtu.be/5xGVOHDSQOY">本系youtube頻道</a>收看&quot;淡江法文系FAQ&quot;)</span></p>

<p><iframe frameborder="0" height="180" src="https://www.youtube.com/embed/5xGVOHDSQOY" width="320"></iframe></p>

<p>大學部簡介影片(學生作品-<a href="https://youtu.be/4fJJA0pkApk">我在淡江</a>)</p>

<p><iframe frameborder="0" height="180" src="https://www.youtube.com/embed/4fJJA0pkApk" width="320"></iframe></p>

<p><u>繁星推薦</u></p>

<p>請依照<a href="https://www.cac.edu.tw/star110/index.php">大學甄選入學委員會-繁星推薦</a>相關規定辦理，或參考本校有關<a href="https://adms.tku.edu.tw/Front/AdmissionInfo/Bachelortku/UniversityStarRecommendation/Page.aspx?id=1zIHtihbLDw=">繁星推薦招生網頁</a>。</p>

<p><u>個人申請</u></p>

<p>請依照<a href="https://www.cac.edu.tw/apply110/index.php">大學甄選入學委員會-個人申請</a>相關規定辦理，或參考本校有關<a href="https://adms.tku.edu.tw/Front/AdmissionInfo/Bachelortku/Universitypersonalapplication/Page.aspx?id=MRXwt7YbyKM=">個人申請招生網頁</a>。</p>

<p><u>指考分發</u></p>

<p>請依照<a href="https://www.uac.edu.tw/">大學考試入學分發委員會網站</a>相關規定辦理，或參考本校有關<a href="https://adms.tku.edu.tw/Front/AdmissionInfo/Bachelortku/Examadmissiondistribution/Page.aspx?id=pObQbACxrj4=">考試分發網頁</a>說明。</p>

<p><span style="font-size:16px"><u><strong>碩士班</strong></u></span></p>

<p>碩士班甄試(10-11月報名)</p>

<p>於每年12月舉辦，考試內容為書面審查及面試，各大專院校在校成績優異，具法文基礎且對本系碩士班教育理念認同的同學皆可報考。</p>

<p><a href="https://adms.tku.edu.tw/Front/AdmissionInfo/institutetku/Examination/Page.aspx?id=Tcnx67x3qlU=">碩士班甄試連結</a></p>

<p>碩士班入學考試(1-2月報名)</p>

<p>於每年3月舉辦，考試內容為筆試及面試，歡迎錯過甄試或甄試未能考取的同學參加考試。</p>

<p><a href="https://adms.tku.edu.tw/Front/AdmissionInfo/institutetku/Masterexam/Page.aspx?id=tUWbQyF97Ds=">碩士班入學考試連結</a></p>

<p><u><span style="font-size:16px"><strong>海外僑生、外國學生、陸生</strong></span></u></p>

<p>各項考試請見本校<a href="http://adms.tku.edu.tw/">招生組網頁</a>。</p>

<p>For English Information, please see the <a href="http://english.tku.edu.tw/index.asp">TKU website English version</a>.&nbsp;</p>