<p><strong>法文系品質屋</strong></p>

<p>本系品質屋以培育專業法語人才為使命、藉由打造以學生為中心的優質法語學習環境，偕同校內外各相關部門及廣大系友，透過課程、多元學習、國際合作、第二專長、產學合作五大策略，使學生具備外語能力五技並進、具人文素養、同時兼備理論與實務的高度價值。</p>

<p style="text-align: center;"><img src="/storage/app/media/uploaded-files/a4-1.jpg" style="width: 600px;" class="fr-fic fr-dib" data-result="success">
	<br>
</p>

<p><strong>法文系系徽</strong></p>

<p>法文系系徽以法國國旗為基底，並將象徵淡江的書卷廣場與艾菲爾鐵塔合併在圖案中間，意味著本系將提供最優良的法語學習環境，讓學生在淡江如同置身法國。龐大的教師群提供學生多元的學習內容，除了必修課程之外，學生更可依照興趣學習各式各樣的法國文化選修課程。</p>

<p style="text-align: center;"><img src="http://163.13.100.122/storage/app/media/uploaded-files/LOGO%E4%BF%AE%E6%94%B9%E6%AA%94.jpg" style="width: 300px;" class="fr-fic fr-dib" data-result="success"></p>

<p>
	<br>
</p>

<p><strong>高盧雄雞</strong></p>

<p>羅馬時代，法國人被稱為高盧人，而高盧在拉丁文中亦有雄雞之義，故雄雞時常用以代表法國人，並廣泛應用在代表法國的各種標誌中。本系的吉祥物高盧雞以更親民可人的樣貌出現，希望能時常陪伴在同學左右，和同學一同學習。</p>

<p style="text-align: center;"><img src="http://163.13.100.122/storage/app/media/uploaded-files/%E9%AB%98%E7%9B%A7%E9%9B%9E.jpg" style="width: 300px;" class="fr-fic fr-dib" data-result="success"></p>

<p>
	<br>
</p>

<p>
	<br>
</p>