<p>107學年度第二學期外語特區駐點時間表/地點：FL110</p>

<p>107-2 French Corner Consulting Schedule/Location：FL110</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td width="45">

				<p align="center">節次</p>
			</td>
			<td width="85">

				<p align="center">時間</p>
			</td>
			<td width="85">

				<p align="center">週一</p>
			</td>
			<td width="85">

				<p align="center">週二</p>
			</td>
			<td width="85">

				<p align="center">週三</p>
			</td>
			<td width="85">

				<p align="center">週四</p>
			</td>
			<td width="86">

				<p align="center">週五</p>
			</td>
		</tr>
		<tr>
			<td width="45">

				<p align="center">1</p>
			</td>
			<td width="85">

				<p align="center">08:10-</p>

				<p align="center">09:00</p>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="86">
				<br>
			</td>
		</tr>
		<tr>
			<td width="45">

				<p align="center">2</p>
			</td>
			<td width="85">

				<p align="center">09:10-</p>

				<p align="center">10:00</p>
			</td>
			<td width="85">

				<p align="center">梁 &nbsp;蓉</p>
			</td>
			<td width="85">

				<p align="center">吳錫德</p>
			</td>
			<td width="85">

				<p align="center">藍士盟</p>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="86">
				<br>
			</td>
		</tr>
		<tr>
			<td width="45">

				<p align="center">3</p>
			</td>
			<td width="85">

				<p align="center">10:10-</p>

				<p align="center">11:00</p>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">

				<p align="center">徐琿輝</p>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="86">
				<br>
			</td>
		</tr>
		<tr>
			<td width="45">

				<p align="center">4</p>
			</td>
			<td width="85">

				<p align="center">11:10-</p>

				<p align="center">12:00</p>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="86">
				<br>
			</td>
		</tr>
		<tr>
			<td width="45">

				<p align="center">5</p>
			</td>
			<td width="85">

				<p align="center">12:10-</p>

				<p align="center">13:00</p>
			</td>
			<td width="85">

				<p align="center">儲善平</p>
			</td>
			<td width="85">

				<p align="center">
					<br>
				</p>
			</td>
			<td width="85">

				<p align="center">張國蕾</p>
			</td>
			<td width="85">

				<p align="center">
					<br>
				</p>
			</td>
			<td width="86">

				<p align="center">馬朱麗</p>
			</td>
		</tr>
		<tr>
			<td width="45">

				<p align="center">6</p>
			</td>
			<td width="85">

				<p align="center">13:10-</p>

				<p align="center">14:00</p>
			</td>
			<td width="85">

				<p align="center">廖潤珮</p>
			</td>
			<td width="85">

				<p align="center">
					<br>
				</p>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">

				<p align="center">
					<br>
				</p>
			</td>
			<td width="86">
				<br>
			</td>
		</tr>
		<tr>
			<td width="45">

				<p align="center">7</p>
			</td>
			<td width="85">

				<p align="center">14:10-</p>

				<p align="center">15:00</p>
			</td>
			<td width="85">

				<p align="center">侯義如</p>
			</td>
			<td width="85">

				<p align="center">鄭安群</p>
			</td>
			<td width="85">

				<p align="center">徐鵬飛</p>
			</td>
			<td width="85">

				<p align="center">李佩華</p>
			</td>
			<td width="86">
				<br>
			</td>
		</tr>
		<tr>
			<td width="45">

				<p align="center">8</p>
			</td>
			<td width="85">

				<p align="center">15:10-</p>

				<p align="center">16:00</p>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="86">
				<br>
			</td>
		</tr>
		<tr>
			<td width="45">

				<p align="center">9</p>
			</td>
			<td width="85">

				<p align="center">16:10-</p>

				<p align="center">17:00</p>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="86">
				<br>
			</td>
		</tr>
		<tr>
			<td width="45">

				<p align="center">10</p>
			</td>
			<td width="85">

				<p align="center">17:10-</p>

				<p align="center">18:00</p>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="85">
				<br>
			</td>
			<td width="86">
				<br>
			</td>
		</tr>
	</tbody>
</table>

<p>本學期不須安排時段老師：</p>

<p>兼一二級主管：楊淑娟、朱嘉瑞</p>

<p>科技部(國科會)計劃案主持人：無</p>

<p>休假：無</p>

<p>助理教授服務滿7年：陳麗娟</p>

<p>執行期間：108/3/18-6/14(不含期中考週共10週)</p>

<p>停課期間：4/1-4/5教學觀摩週、4/22-26期中考週、其他各國定假日及公告休假日。</p>

<p>Start/End Date: 108/3/18-6/14(10 weeks not including Mid-term week and Teaching Observation Period).</p>

<p>French corner time off: 4/1-4/5Teaching Observation Period, 4/22-4/26Mid-term week、National holidays and other Day-off.</p>

<p>特區無人使用時間，開放老師借用，若學生有需要使用，請透過老師借用。</p>

<p>You may book FL110 in open hours if needed. Students may book FL110 through teachers.</p>

<p><strong>特區時間尚未開始前，若同學需要老師協助課業輔導或練習，亦請與老師約定好時間，由老師代為借用場地。</strong></p>