<p align="center"><strong><u>德文系系友父親陳根旺先生德語檢定獎學金辦法</u></strong><u>&nbsp;</u></p>

<p align="center">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 民國101年11月15日制定</p>

<p align="center">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;105.9.7修訂</p>

<p>一、德文系系友為紀念其父親陳根旺先生及獎勵母校績優學生，特訂定「德文系系友父親陳根旺先生德語檢定獎學金辦法」</p>

<p>二、獎助名額：每學年肆名，每名發給獎學金伍仟元整。</p>

<p>三、申請資格及說明：</p>

<p>（一）淡江大學德文系大二、大三、大四在學學生。</p>

<p>（二）需通過歌德學院德文檢定B1（含）以上，檢定通過日期需在該生具淡江大學德文系學籍者。</p>

<p>（三）獎學金分2類：</p>

<p>第一類：通過B2檢定依成績前2名。</p>

<p>第二類：通過B1檢定，另外依家境清寒、特殊需要協助或突遭重大變故者急需獎學金者獎勵2名，需檢附說明。</p>

<p>四、申請手續：(一)開學後二週，申請人應填具身請書併同德檢成績證書影本一份（正文需供查驗）送達德文系辦公室，逾期補予受理。</p>

<p>(二)獲獎同學名單及頒獎地點，於受理申請截止二週內公布於德文系系網頁。</p>

<p>五、應繳證件：(一)申請書乙份</p>

<p>(二)德語檢定成績證書。</p>

<p>(三)家境清寒、特殊需要協助或突遭重大變故說明表（第二類需繳交）</p>