<table align="left" border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="background-color: rgb(147, 101, 184);" valign="top" width="59">

				<p align="center"><strong>1</strong></p>
			</td>
			<td valign="top" width="332"><strong>Nachrichtenleicht.de</strong>
				<br>
			</td>
			<td valign="top" width="640"><strong><a href="http://www.nachrichtenleicht.de/">http://www.nachrichtenleicht.de/</a></strong>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(147, 101, 184);" valign="top" width="59">

				<p align="center"><strong>2</strong></p>
			</td>
			<td valign="top" width="332"><strong>Deutschlandradio</strong>
				<br>
			</td>
			<td valign="top" width="640"><a href="http://www.deutschlandfunkkultur.de/radiokunst.1656.de.html">http://www.deutschlandfunkkultur.de/radiokunst.1656.de.html</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(147, 101, 184);" valign="top" width="59">

				<p align="center"><strong>3</strong></p>
			</td>
			<td valign="top" width="332"><strong>ZDF</strong>德國第二電台
				<br>
			</td>
			<td valign="top" width="640"><a href="https://www.zdf.de/">https://www.zdf.de/</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(147, 101, 184);" valign="top" width="59">

				<p align="center"><strong>4</strong></p>
			</td>
			<td valign="top" width="332"><strong>ARD&nbsp;</strong>德國第一公共電視台
				<br>
			</td>
			<td valign="top" width="640"><a href="http://www.ard.de/home/ard/ARD_Startseite/21920/index.html">http://www.ard.de/home/ard/ARD_Startseite/21920/index.html</a>
				<br>
			</td>
		</tr>
	</tbody>
</table>