<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/tUVg9Ot5ZZc" frameborder="0" allowfullscreen=""></iframe></span></p>