<table align="left" border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="background-color: rgb(226, 80, 65);" valign="top" width="59">

				<p align="center"><strong>1</strong><strong>　</strong></p>
			</td>
			<td valign="top" width="332"><strong>Easy German&nbsp;</strong><strong>街頭德語系列</strong>
				<br>
			</td>
			<td valign="top" width="640"><strong><a href="https://www.youtube.com/channel/UCbxb2fqe9oNgglAoYqsYOtQ"></a><a href="https://www.youtube.com/channel/UCbxb2fqe9oNgglAoYqsYOtQ">https://www.youtube.com/channel/UCbxb2fqe9oNgglAoYqsYOtQ</a></strong>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(226, 80, 65);" valign="top" width="59">

				<p align="center"><strong>2</strong><strong>　</strong></p>
			</td>
			<td valign="top" width="332">Learn German with GermanPod101.com
				<br>(優點：顏直高、好玩實用)
				<br>
			</td>
			<td valign="top" width="640">
				<a href="https://www.youtube.com/channel/UCTobWZV_HWGSoaRrhHyrJ-A"></a><a href="https://www.youtube.com/channel/UCTobWZV_HWGSoaRrhHyrJ-A">https://www.youtube.com/channel/UCTobWZV_HWGSoaRrhHyrJ-A</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(226, 80, 65);" valign="top" width="59">

				<p align="center"><strong>3</strong><strong>　</strong></p>
			</td>
			<td valign="top" width="332">100個好記實用的德文形容詞
				<br>
			</td>
			<td valign="top" width="640">
				<a href="https://www.youtube.com/watch?v=KdhTg2l-iuw"></a><a href="https://www.youtube.com/watch?v=KdhTg2l-iuw">https://www.youtube.com/watch?v=KdhTg2l-iuw</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(226, 80, 65);" valign="top" width="59">

				<p align="center"><strong>4</strong><strong>　</strong></p>
			</td>
			<td valign="top" width="332">100 Common German Verbs - Part 1
				<br>
			</td>
			<td valign="top" width="640">
				<a href="https://www.youtube.com/watch?v=_Leaxp8jrYA"></a><a href="https://www.youtube.com/watch?v=_Leaxp8jrYA">https://www.youtube.com/watch?v=_Leaxp8jrYA</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; background-color: rgb(226, 80, 65);" valign="top" width="59">

				<p align="center"><strong>5</strong><strong>　</strong></p>
			</td>
			<td valign="top" width="332">Speaksli 動畫連想學德語
				<br>
			</td>
			<td valign="top" width="640">
				<a href="https://www.youtube.com/user/Speaksli/videos"></a><a href="https://www.youtube.com/user/Speaksli/videos">https://www.youtube.com/user/Speaksli/videos</a>
				<br>
			</td>
		</tr>
	</tbody>
</table>

<table align="left" border="1" cellpadding="0" cellspacing="0" class="oc-dashed-borders oc-alternate-rows">
	<thead>
		<tr>
			<th>
				<br>
			</th>
			<th>
				<br>
			</th>
			<th>
				<br>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="background-color: rgb(44, 130, 201); vertical-align: middle; text-align: justify;" valign="top" width="59">

				<p align="center" style="text-align: center;">6</p>
			</td>
			<td valign="top" width="332"><strong>Julien Bam(Youtuber)</strong>
				<br>
			</td>
			<td valign="top" width="640"><strong><a href="https://www.youtube.com/user/JulienBam"></a><a href="https://www.youtube.com/user/JulienBam">https://www.youtube.com/user/JulienBam</a></strong>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(44, 130, 201); vertical-align: middle; text-align: justify;" valign="top" width="59">

				<p align="center"><strong>&nbsp; &nbsp;7　</strong></p>
			</td>
			<td valign="top" width="332">Dagi bee
				<br>
			</td>
			<td valign="top" width="640">
				<a href="https://www.youtube.com/user/Dagibeee"></a><a href="https://www.youtube.com/user/Dagibeee">https://www.youtube.com/user/Dagibeee</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(44, 130, 201); vertical-align: middle; text-align: justify;" valign="top" width="59">

				<p align="center">8</p>
			</td>
			<td valign="top" width="332">Get Germanized
				<br>
			</td>
			<td valign="top" width="640">
				<a href="https://www.youtube.com/channel/UCesZBmRS6IgZ3uuiB8RdX0A"></a><a href="https://www.youtube.com/channel/UCesZBmRS6IgZ3uuiB8RdX0A">https://www.youtube.com/channel/UCesZBmRS6IgZ3uuiB8RdX0A</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(44, 130, 201); vertical-align: middle; text-align: justify;" valign="top" width="59">

				<p align="center">9</p>
			</td>
			<td valign="top" width="332">Die drei Hauptmahlzeiten in Deutschland
				<br>
			</td>
			<td valign="top" width="640">
				<a href="https://www.youtube.com/watch?v=CEPc34FAFS0"></a><a href="https://www.youtube.com/watch?v=CEPc34FAFS0">https://www.youtube.com/watch?v=CEPc34FAFS0</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(44, 130, 201); vertical-align: middle; text-align: justify;" valign="top" width="59">

				<p align="center">10</p>
			</td>
			<td valign="top" width="332"><a href="https://www.youtube.com/channel/UCOY3VWW4NGQAue_rqTBtdhA"><strong>SPACE RADIO</strong></a><strong>&nbsp;(B2)</strong>
				<br>
			</td>
			<td valign="top" width="640"><a href="https://www.youtube.com/user/SpaceFrogsRadio">https://www.youtube.com/user/SpaceFrogsRadio</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(44, 130, 201); vertical-align: middle; text-align: justify;" valign="top" width="59">

				<p align="center">11</p>
			</td>
			<td valign="top" width="332">Hallo Deutschschule (德文自學課程)
				<br>
			</td>
			<td valign="top" width="640">
				<a href="https://www.youtube.com/channel/UC5ZnpdkQIit8TWhGVDiDnQQ"></a><a href="https://www.youtube.com/channel/UC5ZnpdkQIit8TWhGVDiDnQQ">https://www.youtube.com/channel/UC5ZnpdkQIit8TWhGVDiDnQQ</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(44, 130, 201); vertical-align: middle; text-align: justify;" valign="top" width="59">

				<p align="center">12</p>
			</td>
			<td valign="top" width="332">extr@ auf Deutsch
				<br>
			</td>
			<td valign="top" width="640">
				<a href="https://www.youtube.com/watch?v=iGovllrEsF8&amp;list=PLRps6yTcWQbpoqIOCmqMeI1HLnLIRmO_t"></a><a href="https://www.youtube.com/watch?v=iGovllrEsF8&amp;list=PLRps6yTcWQbpoqIOCmqMeI1HLnLIRmO_t">https://www.youtube.com/watch?v=iGovllrEsF8&amp;list=PLRps6yTcWQbpoqIOCmqMeI1HLnLIRmO_t</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: rgb(44, 130, 201); vertical-align: middle; text-align: justify;" valign="top" width="59">

				<p align="center">13</p>
			</td>
			<td valign="top" width="332"><strong>ZDF</strong>德國第二電台(青少年)
				<br>
			</td>
			<td valign="top" width="640"><a href="https://www.zdf.de/kinder">https://www.zdf.de/kinder</a>
				<br>
			</td>
		</tr>
	</tbody>
</table>