@charset "UTF-8";
@import "animate.css";

body {
    font-family: "微軟正黑體", "Alef Hebrew", "Noto Sans TC", "cwTeXHei", "Arial", "新細明體", sans-serif;
    background-color: #f6f4f1;
    font-size: 14px;
    color: #262626;
    /*opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;*/
}

img {
	max-width: 100%;
}
img.member_photo {
    width: 100px;
    max-width: none;
}
table {
    max-width: 100% !important;
}
table th {
    white-space: nowrap;
}
table th.name {
    width: 100px;
}
.table > thead > tr > td {
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
.table > tfoot > tr > td {
    border-color: transparent;
}
.page-header {
    margin-top: 10px;
    font-size: 24px;
}

.article_block img {
    height: auto !important;
}

.table.active_table>tbody>tr.active>th {
    background-color: #2472AD;
    color: #fff;
}
.table-striped.active_table>tbody>tr:nth-of-type(even) {
    background-color: #F5F5F5;
}
.table-striped.active_table>tbody>tr:nth-of-type(odd) {
    background-color: #E0EAF3;
}
#rndbox_body .table h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.4;
}

a {
    color: #308c95;
}
a:hover,
a:focus {
    color: #107476;
}

.w_70px {
    width: 70px;
}
.portrait {
    width: 120px;
}

.pt_20 {
	padding-top: 20px;
}
.pt_30 {
    padding-top: 30px;
}
.pt_40 {
	padding-top: 40px;
}
.pb_40 {
	padding-bottom: 40px;
}

.mb_0 {
	margin-bottom: 0;
}
.mb_10 {
    margin-bottom: 10px;
}
.mb_15 {
    margin-bottom: 15px;
}
.mt_20 {
    margin-top: 20px;
}

.inline-block {
	display: inline-block;
}

.nowrap {
	white-space: nowrap;
}

.va_top {
	vertical-align: top;
}

.relative {
	position: relative;
}

.dp_table {
	display: table;
	width: 100%;
}
.dp_table > div {
	display: table-cell;
	float: none;
	vertical-align: top;
}
.bg_white {
	background-color: #fff;
}
.bg_gray {
	background-color: #f7f7f7;
}
.bg_green {
	background-color: #777346;
}
.bg_yellow {
	background-color: #ced46a;
}
.bg_brown {
	background-color: #d9906d;
}
.bg_blue {
	background-color: #6a8bd4;
}
.bg_pink {
	background-color: #eb9598;
}
.bg_indigo {
	background-color: #9a96e4;
}
.bg_powder_blue {
	background-color: #6ebadf;
}
.bg_light_purple {
	background-color: #de8cca;
}
.bg_light_green {
	background-color: #6dd985;
}

.page-header {
    margin-top: 10px;
    font-size: 24px;
}
.article_block {
    margin-bottom: 20px;
}
.main_block {
    position: relative;
}
#main {
    position: absolute;
    top: -60px;
    left: 0;
}
.section_bg {
	background: #dedede;
	background: -moz-linear-gradient(top,  #dedede 0%, #ffffff 50%, #ffffff 100%);
	background: -webkit-linear-gradient(top,  #dedede 0%,#ffffff 50%,#ffffff 100%);
	background: linear-gradient(to bottom,  #dedede 0%,#ffffff 50%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#ffffff',GradientType=0 );
	position: relative;
	z-index: 99;
}
.section_bg >.container {
    margin-top: -60px;
}
.main_block {
    background-color: #fff;
}
.main_block > .container {
    padding-top: 30px;
    padding-bottom: 40px;
}
.area_layout {
	padding: 20px 10px 15px;
	margin-bottom: 30px;
	min-height: 290px;
}
.area_layout.right_side {
    padding-left: 0;
    padding-right: 0;
}
.scroll_layout {
	position: relative;
	padding: 20px 0 15px;
	margin-bottom: 30px;
	border-bottom: 1px solid #e7e5e4;
	min-height: 290px;
}
.fixed_height {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}
.fixed_height .news {
	position: absolute;
	top: 0;
	right: 25px;
	bottom: 0;
	left: 25px;
	padding: 20px 15px 10px 5px;
	margin-bottom: 10px;
}

.fixed_height .news {
	right: 0;
	left: 0;
}

/* .breadcrumb {
    background-color: #e9e9e9;
} */

.input-group .form-control {
    box-shadow: none;
}
.red_btn {
	display: inline-block;
	padding: 8px 24px;
	color: #fff;
	background-color: #730707;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 10px;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.red_btn:hover {
	text-decoration: none;
	color: #fff;
	background-color: #434343;
}


/*index_title*/
.index_title {
	color: #000;
	font-size: 20px;
	/*padding: 0;*/
	margin-bottom: 10px;
	margin-top: 30px;
	font-weight: bold;
	border-bottom: 1px solid #bcbcbc;
	background-repeat: no-repeat;
	background-size: auto 25%;
	background-position: 2px 30px;
	padding-right: 80px;
}
.index_title .title_tw {
	display: inline-block;
	border-bottom: 7px solid #31adab;
	line-height: 34px;
	margin-bottom: -4px;
}
.index_title .title_tw strong {
    font-size: 26px;
}
.index_title.right_title .title_tw {
	border-color: #ad3170;
}
.index_title .title_en {
	display: inline-block;
	font-size: 0.8em;
	padding-left: 0.3em;
}
.index_title .list_icon {
	float: right;
	color: #4c4c4c;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.index_title .list_icon:hover {
	color: #000;
}
.more {
	float: right;
	color: #696969;
	font-size: 16px;
	margin-top: 14px;
}
.more:hover,
.more:focus {
	color: #31adab;
	text-decoration: none;
}
.right_title .more:hover,
.right_title .more:focus {
	color: #ad3170;
}

/* ==============================
   Page loader
   ============================== */

.page-loader{
    display:block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fefefe;
    z-index: 100000;    
}

.loader{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 1px solid rgba(0,0,0, 0.08);
    border-right: 1px solid rgba(0,0,0, 0.08);
    border-bottom: 1px solid rgba(0,0,0, 0.08);
    border-left: 1px solid rgba(0,0,0, 0.5);
  
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  
    -webkit-animation: spinner 700ms infinite linear;
    -moz-animation: spinner 700ms infinite linear;
    -ms-animation: spinner 700ms infinite linear;
    -o-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
  
    z-index: 100001;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/*header_top*/
.header_top {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
.top_bar {
	padding-top: 10px;
	background-color: #000;
	border-bottom: 11px solid #dd0000;
	position: relative;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.yellow_line {
    position: absolute;
    bottom: -11px;
    right: 0;
    height: 11px;
    width: calc(50% - 220px);
    background-color: #ffce00;
}
.top_contact {
	float: left;
	font-size: 14px;
	color: #fff;
	line-height: 32px;
	margin-bottom: 10px;
}
.top_contact img {
	float: left;
	margin-right: 10px;
	margin-top: 3px;
	margin-left: 2px;
}
.top_contact span {
	display: inline-block;
	margin-right: 10px;
}

#search {
	float: right;
	width: 350px;
	max-width: 100%;
	margin-bottom: 10px;
}
#s {
	background-color: #e1e1e1;
	color: #4a4a4a;
	border: none;
	height: 32px;
	font-size: 14px;
	border-radius: 0;
    border-right: 2px solid #000;
}
#s::-webkit-input-placeholder {
	color: #4a4a4a;
}
#s:-moz-placeholder {
	color: #4a4a4a;
}
#s::-moz-placeholder {
	color: #4a4a4a;
}
#s:-ms-input-placeholder {
	color: #4a4a4a;
}
.search_btn {
	background-color: #e1e1e1;
	color: #4a4a4a;
	font-size: 18px;
	line-height: 32px;
	height: 32px;
	border: none;
	border-left: 1px solid #000;
	padding: 0 8px;
	border-radius: 0;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.search_btn:hover,
.search_btn:focus {
	color: #e1e1e1;
	background-color: #4a4a4a;
	border-color: #003d45;
}
#search .form-control:focus {
	box-shadow: none;
}


/*header_middle*/
.header_middle {
	padding: 20px 0 25px;
    background-color: #fff;
    background-image: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-position: right calc(50% - 249px) top;
}
.header_link {
	font-size: 12px;
}
.header_link > div {
	margin-bottom: -17px;
}
.header_link a {
	color: #161715;
	font-weight: bold;
    text-decoration: underline;
	-webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.header_link a:hover,
.header_link a:focus {
	color: #f29300;
}


/*header_bottom*/
.header_bottom {
	position: relative;
    z-index: 999;
    background-color: #fff;
}
.navbar {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	margin-bottom: -30px;
    margin-left: 150px;
    margin-right: 150px;
    min-height: 50px;
}
.header_page .navbar {
    margin-bottom: 0;
}
.navbar-brand {
	display: none;
}
.navbar-nav {
	float: none;
}
.navbar>.container-fluid .navbar-brand {
	height: 50px;
	padding: 10px;
	margin: 0;
	line-height: 50px;
    color: #98978b;
    font-weight: bold;
    margin-left: 15px;
}
.navbar-brand img {
	margin-top: -96px;
}
.navbar-collapse {
	background-color: rgba(115,188,90,1);
}
.navbar-nav>li {
    /* width: calc(100% / 9); */
    padding: 0 1px;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	/*font-weight: bold;*/
	text-align: center;
	-webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    padding: 15px 10px 15px;
    position: relative;
    z-index: 99;
    text-transform: none;
    /* text-shadow: 2px 2px 10px #434a54; */
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	/* color: #fff; */
	color: #2B4953;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #2B4953;
}
/* .navbar-default .navbar-nav>li>a:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    opacity: 0;
}
.navbar-default .navbar-nav>li:nth-child(1)>a:after {
    background-color: #d23ecf;
}
.navbar-default .navbar-nav>li:nth-child(2)>a:after {
    background-color: #3eb2d2;
}
.navbar-default .navbar-nav>li:nth-child(3)>a:after {
    background-color: #d26f3e;
}
.navbar-default .navbar-nav>li:nth-child(4)>a:after {
    background-color: #8dd23e;
}
.navbar-default .navbar-nav>li:nth-child(5)>a:after {
    background-color: #833ed2;
}
.navbar-default .navbar-nav>li:nth-child(6)>a:after {
    background-color: #3ed2a0;
}
.navbar-default .navbar-nav>li:nth-child(7)>a:after {
    background-color: #3e68d2;
}
.navbar-default .navbar-nav>li:nth-child(8)>a:after {
    background-color: #d23e6c;
}
.navbar-default .navbar-nav>li:nth-child(9)>a:after {
    background-color: #d2c53e;
}
.navbar-default .navbar-nav>li>a:hover:after {
    opacity: 1;
} */

.navbar-nav li .dropdown-menu {
    width: 200px;
    /* background-color: rgba(214, 214, 214, .9); */
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    border: none;
    /*border-bottom: 5px solid #c92023;*/
    /* border-bottom: 5px solid #3198a1; */
    border-radius: 0;
    /* -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.38) !important;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.38) !important; */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}
.navbar-nav > li:nth-last-child(1) > .dropdown-menu,
.navbar-nav > li:nth-last-child(2) > .dropdown-menu {
    left: auto;
    right: 0;
}
.navbar-nav li .dropdown-menu .dropdown-menu {
	border-color: #6d6d6d;
	/* background-color: rgba(255, 255, 255,.9); */
}
.dropdown-menu > li > a {
    padding: 10px 15px;
    /* color: #262525; */
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    white-space: normal;
    font-weight: bold;
    background-color: rgba(115,188,90,.7);
    border-bottom : 1px solid rgba(0,0,0,.6);
    font-size: 14px;
    text-transform: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #f3ad00;
    border-color: #316515;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    margin-top: 8px;
    margin-bottom: 8px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #1274ad;
    /* -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; */
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #1274ad;
}
.navbar-toggle.collapsed .icon-bar {
    background-color: #98978b;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}
.navbar-default .navbar-nav .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu > li > a:focus {
    /* color: #262525; */
    /* background-color: #fff; */
    color: #fff;
    background-color: rgba(115,188,90,1) !important;
    padding-left: 18px;
    padding-right: 12px;
}
.navbar-default .navbar-nav .dropdown-menu .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu .dropdown-menu > li > a:focus {
	color: #730707;
	background-color: rgba(214, 214, 214, .9)
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > a > i {
    line-height: 22px;
    font-size: 16px;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    bottom: auto;
    left: 100%;
}
.navbar-nav > li:nth-last-child(1) > .dropdown-menu .dropdown-menu,
.navbar-nav > li:nth-last-child(2) > .dropdown-menu .dropdown-menu {
    left: auto;
    right: 100%;
}
.navbar-default .navbar-nav .open .dropdown-menu > li.dropdown-submenu.open > a.dropdown-toggle {
    color: #fff;
    background-color: #316515;
    padding-left: 18px;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
}
.header_fixed .fixed_layout {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(115,188,90,1);
	/* -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	    box-shadow: 0 5px 10px rgba(0,0,0,0.5); */
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
}
.header_fixed .navbar-toggle.collapsed .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #dfd7ca;
}
.header_fixed .fixed_layout .navbar-collapse {
    background-color: transparent;
}
.header_fixed .navbar {
	margin-bottom: 0;
}


/*nav-tabs*/
.news_tab {
    border-bottom: 1px solid #e7e5e4;
    height: 100%;
}
.nav-tabs > li > a {
    font-size: 14px;
}
.tab-content {
   position: relative;
   margin-top: 10px;
   margin-bottom: 10px;
}
.tab-content > .tab-pane {
    padding: 15px 20px 15px 10px;
    position: absolute;
    top: 0;
    left: 5px;
    right: 0;
    height: 100%;
}
.news_item {
    margin-bottom: 20px;
}
.news_date {
    width: 55px;
    text-align: center;
}
.news_day {
    display: block;
    color: #434343;
    background-color: #f6f6f6;
    border: 1px solid #ebebeb;
    font-size: 16px;
    line-height: 30px;
}
.news_month {
    display: block;
    color: #f6f6f6;
    background-color: #434343;
    border: 1px solid #323232;
    font-size: 12px;
    line-height: 20px;
}
.news_content {
    padding-left: 20px;
}
.news_content h5 {
    display: inline-block;
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 2.5em;
}
.news_content h5 a {
    color: #434343;
    line-height: 1.5em;
}
.news_content h5 a:hover {
    color: #000;
}
.news_category {
    display: block;
    color: #308c95;
}
.thumbnail {
    padding: 0;
    border-radius: 0;
    border: 1px solid #e1e5e4;
    background-color: #fff;
}
.thumbnail h3 {
    font-size: 18px;
    margin-top: 5px;
}
.thumbnail p {
    margin-bottom: 10px;
}
.news_tab_more {
    float: right;
    margin-right: 15px;
}


/*index_slider*/
#index_slider.owl-carousel .item {
	/*-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;*/
    /*height: calc(100vh - 165px);*/
    /*padding-top: 30%;*/
}
#index_slider.owl-theme .owl-nav {
   height: 0;
   margin: 0;
   display: none;
}
#index_slider.owl-theme .owl-nav [class*='owl-'] {
    background: #308c95;
    color: #fff;
    font-size: 24px;
    border: none;
    border-radius: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    margin: 2.5px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#index_slider.owl-theme .owl-nav [class*='owl-']:hover {
    background: #2e7999;
}
#index_slider.owl-theme .owl-nav .owl-next {
    left: auto;
    right: 0;
}
#index_slider.owl-theme .owl-dots {
	background-color: #0064a9;
	display: none;
}
#index_slider.owl-theme .owl-dots .owl-dot span {
	background-color: transparent;
	border: 1px solid #fff;
	width: 12px;
	height: 12px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 2px;
}
#index_slider.owl-theme .owl-dots .owl-dot.active span,
#index_slider.owl-theme .owl-dots .owl-dot:hover span {
	background-color: #fff;
}
.slider_title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    padding: 20px 25px;
    width: 980px;
    max-width: calc(100% - 30px);
    background-color: rgba(0,0,0,.5);
}
.slider_title h3 {
    font-size: 28px;
    margin-bottom: 0.6em;
    margin-top: 0;
    font-family: "新細明體", sans-serif;
    font-weight: bold;
}
.slider_title p {
    font-size: 14px;
    line-height: 1.8em;
    text-align: justify;
    margin-bottom: 0;
}
.slider_more {
    display: inline-block;
    padding: 8px 50px;
    color: #fff;
    background-color: #308c95;
    font-size: 18px;
    margin-bottom: 10px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
}
.slider_more:hover,
.slider_more:focus {
    text-decoration: none;
    color: #fff;
    background-color: #2e7999;
}
.banner_owl_nav {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
}
.banner_owl_nav [class*='banner_owl_'] {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    background-color: #308c95;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.banner_owl_nav [class*='banner_owl_']:hover {
    background-color: #2e7999;
}
#index_slider .owl-item:first-child .banner_owl_prev {
    opacity: 0.3;
    cursor: default;
}
#index_slider .owl-item:last-child .banner_owl_next {
    opacity: 0.3;
    cursor: default;
}
#index_slider .owl-item:first-child .banner_owl_prev:hover {
    background-color: #308c95;
}
#index_slider .owl-item:last-child .banner_owl_next:hover {
    background-color: #308c95;
}


/*video_slider*/
.video_slider .owl_img_block {
    margin-bottom: 20px;
}
.video_slider .owl_img_block {
    position: relative;
}
.video_slider .owl_img_block > a {
    display: block;
}
.video_slider .owl_img {
    display: block;
    padding-top: 60%;
    position: relative;
    overflow: hidden;
}
.video_slider .owl_img iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* .video_slider .owl_img > img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    -webkit-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
} */
.video_slider .img_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.video_slider .play_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: rgba(0,0,0,.2);
}
.video_slider .play_bg img {
    width: auto !important;
    max-height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.video_slider .html5lightbox:hover .img_bg {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.video_slider .html5lightbox:hover .play_bg {
    background-color: rgba(0,0,0,.5);
}
.video_slider .owl_text {
    display: block;
    font-size: 16px;
    color: #4a4e57;
    padding: 10px 0;
    background-color: rgba(255,255,255,.95);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.video_slider .owl_text span {
    display: block;
    margin-bottom: 10px;
}
.video_slider .owl_img_block:hover .owl_text {
    color: #107476;
}
/* .video_slider .owl_img_block:hover .owl_img img {
    -webkit-transform: translate3d(0,-50%,0) scale(1.1);
    transform: translate3d(0,-50%,0) scale(1.1);
} */
.video_slider .owl-theme .owl-nav {
    position: absolute;
    top: -70px;
    right: -10px;
    margin: 0;
}
.video_slider .owl-theme .owl-nav [class*='owl-'] {
    background: #fff;
    color: #b9b9b9;
    font-size: 20px;
    border: 1px solid #b9b9b9;
    width: 28px;
    height: 28px;
    line-height: 24px;
    padding: 0;
    text-align: center;
    margin: 2.5px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.video_slider .owl-theme .owl-nav [class*='owl-']:hover {
    background: #b9b9b9;
    color: #fff;
    border-color: #b9b9b9;
}


/*recommand*/
.row.recommand {
    margin-left: -8px;
    margin-right: -8px;
}
.recommand > div {
    padding-left: 8px;
    padding-right: 8px;
}
.recommand_link {
    display: block;
    margin-bottom: 30px;
}
.recommand_img {
    display: block;
    padding-top: 61.8%;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}
.recommand_img img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.recommand_layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.recommand_link:hover .recommand_img img {
    -webkit-transform: translate3d(0,-50%,0) scale(1.1);
    transform: translate3d(0,-50%,0) scale(1.1);
}
.recommand_link:hover .recommand_layout {
    opacity: 1;
}
.recommand_text {
    display: block;
    font-size: 14px;
}

.owl_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.owl_img_block:hover .owl_overlay {
    opacity: 1;
}


/*heading news*/
.heading_news .row {
	margin-left: -10px;
	margin-right: -10px;
}
.heading_news .row > div {
	padding-left: 10px;
	padding-right: 10px;
}
.news_img {
    margin-bottom: 20px;
}
.news_img img {
	width: 100%;
	margin-top: 5px;
}
.news_img_link {
	background-color: #c6006c;
	color: #fff;
	position: relative;
	padding: 8px 51px 8px 15px;
	font-size: 14px;
}
.news_img_link a {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 36px;
	height: 100%;
	text-align: center;
	color: #fff;
	border-left: 1px solid #fff;
	font-size: 14px;
	padding: 8px;
	-webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.news_img_link a:hover {
	background-color: rgba(0,0,0,.3);
}
.news_title {
	font-size: 16px;
	color: #308c95;
	line-height: 1.4em;
	margin-top: 0;
    margin-bottom: 20px;
}
.news_date {
    margin-top: 5px;
    color: #c6006c;
    font-size: 14px;
}
.news_date i {
    color: #525252;
    padding-left: 2px;
    padding-right: 7px;
}
.heading_news p {
	font-size: 14px;
    line-height: 1.5em;
	text-align: justify;
    margin-bottom: 20px;
}
.heading_news p.tab_more {
	text-align: right;
	font-size: 16px;
}

/*lightbox*/
#html5-watermark {
	display: none !important;
}


/*event*/
/*.news_item {
    margin-bottom: 20px;
}
.event .news_item:last-child {
	margin-bottom: 0;
}
.news .row > div:last-child .news_item {
	margin-bottom: 0;
}
.news_item h5 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #fa8d00;
    font-size: 14px;
}
.news_item a {
	display: block;
	color: #4a4e57;
	font-weight: bold;
}
.news_item a:hover,
.news_item a:focus {
	color: #107476;
}
.news_item p {
	margin-top: 5px;
    color: #c6006c;
    font-size: 14px;
}
.news_item p i {
	color: #525252;
	padding-left: 2px;
	padding-right: 7px;
}
.img_icon {
	display: block;
	width: 100%;
	padding-top: 100%;
    position: relative;
    overflow: hidden;
}
.img_icon div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.img_icon:hover div {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.news_day {
    display: block;
    color: #434343;
    background-color: #f6f6f6;
    border: 1px solid #ebebeb;
    font-size: 16px;
    line-height: 30px;
}
.news_month {
    display: block;
    color: #f6f6f6;
    background-color: #434343;
    border: 1px solid #323232;
    font-size: 12px;
    line-height: 20px;
}
.video_img {
	margin-bottom: 10px;
	width: 100%;
}*/


/*news*/
.bg_purple {
	background-color: #620035;
	padding-left: 25px;
	padding-right: 25px;
}
.bg_purple .news {
	border-color: #fff;
}
.bg_purple .news_item a {
	color: #fff;
}
.bg_purple .index_title {
	color: #fff;
	border-color: #fff;
}
.bg_purple .index_title .title_en {
	color: #fff;
}
.bg_purple .index_title .list_icon {
	color: #fff;
}
.bg_purple .news_item {
	padding-left: 0;
}

.bg_white .mCS-light-thick.mCSB_scrollTools .mCSB_draggerRail,
.bg_white .mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail {
	background-color: rgba(0,0,0,.1);
}
.bg_white .mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.bg_white .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: rgba(0,0,0,.75);
}
.bg_white .mCS-light-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {

}
.mCSB_outside + .mCSB_scrollTools {
	right: -5px;
}


/*img_block*/
/*.img_content {
	display: inline-block;
	margin-bottom: 30px;
	border: 10px solid #eae8df;
}
.img_content iframe {
	max-width: 100%;
}
.img_box {
	display: block;
	padding-top: 70%;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
}
.img_box.p60 {
	padding-top: 61.8%;
}
.img_box.mb_0 {
	margin-bottom: 0;
}
.img_box .img_layout {
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}
.img_box iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 10px solid #eae8df;
}
.img_layout img {
	width: 100%;
	-webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.img_title {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-color: rgba(0,0,0,.5);
	z-index: 99;
	color: #fff;
	padding: 15px;
}
.img_block:hover .img_box .img_layout img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.img_box.red {
	border-color: #c4120e;
}
.img_box.green {
	border-color: #45ab27;
}
.img_box.purple {
	border-color: #a842d7;
}
.img_box.light_blue {
	border-color: #2aa4cb;
}
.img_box.blue {
	border-color: #0e4fc4;
}
.img_box.dark_red {
	border-color: #c40e3d;
}
.img_box.golden {
	border-color: #a87b2a;
}
.img_box.dark_green {
	border-color: #1f7b66;
}
.img_box.map {
	border-color: #a82a7c;
}
.text_box {
	margin-bottom: 20px;
	color: #003262;
}*/

/*quick_link*/
/*.quick_link {
	list-style: none;
	padding-left: 0;
}
.quick_link li {
	border-bottom: 1px solid #d7d7d7;
}
.quick_link li:last-child {
	border-bottom: none;
}
.quick_link li a {
	display: block;
	color: #003262;
	padding: 6px 0;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.quick_link li a i {
    width: 30px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}
.quick_link li a:hover i {
    text-decoration: none;
}
*/
.quick_link a {
    color: #003262;
    font-size: 14px;
}
.noborder {
    border-top: none !important;
}


/*map_location*/
.map_location .tab_more {
    text-align: left;
}
.map_block {
	position: relative;
	padding-top: 61.8%;
	border-bottom: 8px solid #a82a7c;
}
.map_block iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.map_layout {
    width: 100%;
    padding-top: 61.8%;
    min-height: 200px;
    position: relative;
    overflow: hidden;
}
.map_layout iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*side_menu*/
.side_menu h2 {
	font-size: 24px;
	font-weight: bold;
}
.side_menu .panel {
    /* background-color: rgba(255, 255, 255, .5); */
    /* background-color: rgba(242, 242, 242, 1); */
    background-color:#f6f4f1;
    border: none;
    -webkit-box-shadow: noen;
    box-shadow: noen;
}
.side_menu .panel-default > .panel-heading {
    background-color: #3198a1;
    padding: 0;
}
.side_menu .panel .panel-heading,
.side_menu .panel .panel-title {
    font-size: 14px;
    position: relative;
}
.side_menu .panel-title > a:hover,
.side_menu .panel-title > a:focus {
    text-decoration: none;
   /*  color: #1d1c13;
   background-color: #ddd; */
}
.side_menu ul {
    padding-left: 0px;
    list-style: none;
    margin-bottom: 0;
    /* list-style-image: url(../images/icon_hole.png); */
}
.side_menu ul li {
    padding: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.side_menu ul li a {
    color: #444;
    font-size: 14px;
    display: block;
    line-height: 1.1em;
    padding: 15px;
    font-weight: bold;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.side_menu ul li a:hover,
.side_menu ul li a:focus {
    background-color: #e5e5e5;
    text-decoration: none;
}
.side_menu ul li.active > a {
    /* background-color: #ddd; */
    /* color: #fff; */
    background-color: #D9CCFF;
    text-decoration: none;
}
.side_menu ul li.current > a {
    /* background-color: rgba(87, 195, 234, 1);*/
    background-color: #8261a7;
    color: #fff;
}
/* .side_menu li:hover {
    list-style-image: url(../images/icon_hammer.png);
} */
.side_menu .panel-group .panel,
.side_menu .panel-group .panel + .panel {
    margin-top: 0;
    border-radius: 0;
    border-top: none;
}
/* .side_menu .panel-group .panel:first-child {
    border-top: 1px solid #dfd7ca;
} */
.side_menu .panel-title > a {
    display: block;
    color: #fff;
    font-weight: bold;
	padding: 15px;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.side_menu .panel-title > a[data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f067";
    float: right;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.side_menu .panel-title > a[data-toggle="collapse"][aria-expanded="true"]:after {
    /* content: "\f0d8"; */
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
}
.side_menu .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: none;
    padding: 0;
}
.has_sub > a:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0d7";
    float: right;
}
.panel.current .panel-title > a {
    color: #fff;
    background-color: rgba(87, 195, 234, 1);
}
.has_sub.active > a:after {
    content: "\f0d8";
}
.side_menu ul li.has_sub {
    overflow: hidden;
    position: relative;
}
.has_sub > .sub_menu2 {
    /* height: 0; */
    position: absolute;
    width: 100%;
    background-color: #efefff;
    /* background-color: #D9CCFF; */
    /* background-color: rgba(255, 244, 224, 1); */
    /* -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; */
}
.has_sub.active > .sub_menu2 {
    margin-bottom: 0 !important;
    position: static;
   /* height: auto; */
}
.side_menu ul.sub_menu2 li a {
    /* color: #fa8d00; */
    color: #919191;
}
.side_menu ul.sub_menu2 li a:hover,
.side_menu ul.sub_menu2 li a:focus {
    color: #620035;
    background-color: transparent;
}
.side_menu ul.sub_menu2 li.current a {
    color: #620035;
    background-color: transparent;
}
.side_title_link {
    position: absolute;
    top: 0;
    left: 0;
    right: 41px;
    height: 100%;
    z-index: 99;
}


/*more_link*/
.more_link {
	background-color: #dfddcf;
}
.more_link .index_title {
	border-top: none;
}
.channel {
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
	/*padding-top: 15px;*/
	margin-bottom: 40px;
}
.channel li {
	float: left;
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
}
.channel li a {
	display: block;
	position: relative;
	padding-top: 45.45%;
    font-size: 20px;
    font-weight: bold;
    line-height: 45px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
	/*-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;*/
}
.channel li a:hover {
	/*-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);*/
}
.channel li a:after {
	background: #fff;
    content: "";
    height: 400px;
    left: -181px;
    opacity: .2;
    position: absolute;
    top: -100px;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 100px;
    z-index: 10;
}
.channel li a:hover:after {
	left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.channel li a span {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 10px 10px 10px 50px;
	max-width: 100%;
	max-height: 100%;
	white-space: nowrap;
	-webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: 10px center;
}



/*footer*/
footer {
	color: rgba(255,255,255,.9);
}
footer a {
	color: rgba(255,255,255,.9);
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
footer a:hover,
footer a:focus {
	color: #f3ad00;
}
.footer {
	padding-top: 40px;
	padding-bottom: 20px;
	background-color: #003d45;
    font-size: 14px;
}
.footer_logo {
    display: inline-block;
    margin-bottom: 20px;
}
/* .footer_logo:hover {
    text-decoration: none;
}
.footer_logo > span {
    display: table-cell;
}
.footer_logo_text {
    padding-left: 15px;
}
.footer_tw {
    display: block;
    font-size: 30px;
    line-height: 1em;
    font-weight: bold;
}
.footer_en {
    display: block;
    font-size: 12px;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    white-space: nowrap;
    margin-left: -3em;
} */
.footer_contact {
    padding-left: 15px;
}
.footer_contact p {
    margin-bottom: 0;
    line-height: 1.8em;
}
.footer_contact a {
    text-decoration: underline;
}
.footer_contact span {
    display: inline-block;
}
.flag_list {
    list-style: none;
    padding-left: 0;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.flag_list li {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    width: 16.66%;
    min-width: 108px;
}
.flag_list li a {
    display: block;
}
.flag_list li img {
    display: block;
    margin-bottom: 10px;
}
.flag_list li span {
    display: block;
    text-align: center;
}
.world_map {
    text-align: center;
    margin-bottom: 20px;
}
.world_map img {
    display: inline-block;
}
.copyright {
	font-size: 14px;
	padding: 20px 0 10px;
	background-color: #000;
}
.copyright a {
	text-decoration: underline;
    display: inline-block;
}
.totop {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    color: #fff;
    background-color: #ffb600;
    position: fixed;
    right: 40px;
    bottom: 14px;
    z-index: 9999;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    text-decoration: none;
}
.totop:hover,
.totop:focus {
    text-decoration: none;
    color: #fff;
    background-color: #f29300;
}
.totop i {
    font-size: 24px;
    line-height: 32px;
}


/*tree*/
.sitemap {
    float: left
}

.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

/* modal */
.modal-backdrop {
    z-index: auto;
}


@media (min-width: 768px) {
    .dropdown > .dropdown-menu {
	    display: block;
	}
	.dropdown:hover > .dropdown-menu {
	    visibility: visible;
        opacity: 1;
	}
	.dropdown-submenu > .dropdown-menu {
	    display: block;
	}
	.dropdown-submenu:hover > .dropdown-menu {
	    visibility: visible;
	    opacity: 1;
	}
}

/*@media (min-width: 1200px) {
	.container {
	    width: 1270px;
	    max-width: 100%;
	}
	.pr_0 {
		padding-right: 0 !important;
	}
}*/

/*@media (min-width: 1588px) {
	.container {
	    width: 80%;
	    max-width: 100%;
	}
}*/

@media only screen and (max-width: 1199px) {
    /*.slider_title {
        left: 140px;
        padding: 0;
        -webkit-transform: translate3d(0,-50%,0);
        transform: translate3d(0,-50%,0);
    }*/
    /*.slider_title h3 {
        font-size: 24px;
        margin-bottom: 0.5em;
    }
    .slider_title p {
        margin-bottom: 10px;
    }
    .slider_more {
        padding: 6px 18px;
        font-size: 14px;
    }*/
    .yellow_line {
        width: 365px;
    }
    .header_link > div {
        margin-bottom: 10px;
    }
    .navbar {
        margin-left: 0;
        margin-right: 0;
    }
	.navbar-nav:before {
		display: none;
	}
	.navbar-nav:after {
		display: none;
	}
    .container {
	    width: 100% !important;
	}
    .section_bg >.container {
        margin-top: 0;
    }
}

@media only screen and (max-width: 991px) {
    .header_middle {
        background-image: none;
    }
	.scroll_layout {
		height: auto !important;
	}
	.fixed_height {
		position: static;
	}
	.fixed_height .news {
		position: relative;
		height: 355px;
	}
	/*#index_slider.owl-carousel .item {
	    padding-top: 50%;
	}*/
	.navbar-default .navbar-nav>li>a {
    	padding: 10px 5px 15px;
    	font-size: 16px;
    }
    .flag_list {
        margin-left: 10px;
        margin-right: 10px;
    }

    .slider_title {
        padding: 15px 15px 10px;
    }
    .slider_title h3 {
        font-size: 18px;
        margin-bottom: 0.4em;
    }
    .slider_title p {
        font-size: 12px;
        line-height: 1.4em;
        margin-bottom: 0.5em;
    }
    .slider_more {
        font-size: 14px;
        padding: 6px 18px;
    }
    .news_tab .tab-content {
        height: 338px !important;
    }
    .area_layout.eqh-1 {
        height: auto !important;
    }
    
}
	

@media only screen and (max-width: 767px) {
    .yellow_line {
        width: 50%;
    }
	.header_link {
		font-size: 13px;
	}
	.top_contact {
		width: 100%;
	}
	.top_contact span:last-child {
		margin-right: 0;
	}
	#search {
		width: 100%;
	}
	.slider_title {
		left: 30px;
		display: none;
	}
	.slider_title span {
		font-size: 14px;
	}

    /*index_slider*/
	#index_slider.owl-theme .owl-nav {
		display: none;
	}
	#index_slider.owl-theme .owl-nav [class*='owl-'] {
		right: 20px;
	}
	#index_slider.owl-theme .owl-nav .owl-prev {
		right: auto;
		left: 20px;
	}
	#index_slider.owl-theme .owl-dots {
		display: block;
	}

    /*nav*/
	.navbar-nav>li {
		width: 100%;
	}
	.navbar-default .navbar-nav>li>a {
		padding: 8px 15px;
	}
	.navbar-default .navbar-nav>li>a:after {
		height: 1px;
	}
	.navbar {
		margin-bottom: 0;
		/*background-color: rgba(246,244,241,.8);*/
	}
	.navbar-nav {
		float: none;
		margin-top: 0;
		margin-bottom: 0;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: rgba(0, 0, 0, .3);
		visibility: visible;
        opacity: 1;
	}
	.header_fixed .fixed_layout .navbar-collapse {
	    max-height: calc(100vh - 60px);   
	}
	.fixed_top .navbar-brand {
		display: inline-block;
	}
	.fixed_top .navbar-header {
		background-color: rgba(0,0,0,.8);
		background-image: url(../images/header_bg.png);
	}

	.post_title {
        float: none;
    }
    .post_note {
        color: #888;
        font-size: 13px;
        padding-top: 5px;
    }
    .flag_list li {
        width: 33.33%;
    }
    .index_title .title_en {
        padding-left: 0;
    }
    .index_title .title_tw strong {
        font-size: 20px;
    }
}

@media only screen and (max-width: 599px) {
	.gallery_slider.three_item .owl-theme .owl-nav {
		margin-top: 35%;
	}
}

@media only screen and (max-width: 480px) {
	.col-xs-6 {
		width: 100%;
	}
	.top_contact {
		font-size: 12px;
	}
}





