@charset "UTF-8";
@import "animate.css";

body {
    font-family: "微軟正黑體", "Alef Hebrew", "Noto Sans TC", "cwTeXHei", "Arial", "新細明體", sans-serif;
    background-color: #f6f4f1;
    font-size: 14px;
    color: #262626;
    /*opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;*/
}

img {
	max-width: 100%;
}
img.member_photo {
    width: 100px;
    max-width: none;
}
table {
    width: 100% !important;
}
table th {
    white-space: nowrap;
}
table th.name {
    width: 100px;
}
.table > thead > tr > td {
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}
.table > tfoot > tr > td {
    border-color: transparent;
}
.page-header {
    margin-top: 10px;
    font-size: 24px;
}

.article_block img {
    height: auto !important;
}

.table.active_table>tbody>tr.active>th {
    background-color: #2472AD;
    color: #fff;
}
.table-striped.active_table>tbody>tr:nth-of-type(even) {
    background-color: #F5F5F5;
}
.table-striped.active_table>tbody>tr:nth-of-type(odd) {
    background-color: #E0EAF3;
}
form {
    margin-bottom: 15px;
}

.pt_20 {
	padding-top: 20px;
}
.pt_40 {
	padding-top: 40px;
}
.pb_40 {
	padding-bottom: 40px;
}

.mb_0 {
	margin-bottom: 0;
}
.mb_10 {
    margin-bottom: 10px;
}
.mb_15 {
    margin-bottom: 15px;
}
.mb_20 {
    margin-bottom: 20px;
}
.mt_20 {
    margin-top: 20px;
}

.inline-block {
	display: inline-block;
}

.nowrap {
	white-space: nowrap;
}

.va_top {
	vertical-align: top;
}

.relative {
	position: relative;
}

.dp_table {
	display: table;
	width: 100%;
}
.dp_table > div {
	display: table-cell;
	float: none;
	vertical-align: top;
}
.bg_white {
	background-color: #fff;
}
.bg_gray {
	background-color: #f7f7f7;
}
.bg_green {
	background-color: #777346;
}
.bg_yellow {
	background-color: #ced46a;
}
.bg_brown {
	background-color: #d9906d;
}
.bg_blue {
	background-color: #6a8bd4;
}
.bg_pink {
	background-color: #eb9598;
}
.bg_indigo {
	background-color: #9a96e4;
}
.bg_powder_blue {
	background-color: #6ebadf;
}
.bg_light_purple {
	background-color: #de8cca;
}
.bg_light_green {
	background-color: #6dd985;
}

.page-header {
    margin-top: 10px;
    font-size: 1.5em;
    border-color: #e9e9e9;
}
.article_block {
    margin-bottom: 20px;
}
.main_block {
    position: relative;
}
#main {
    position: absolute;
    top: -60px;
    left: 0;
}
.section_bg {
	background: #dedede;
	background: -moz-linear-gradient(top,  #dedede 0%, #ffffff 50%, #ffffff 100%);
	background: -webkit-linear-gradient(top,  #dedede 0%,#ffffff 50%,#ffffff 100%);
	background: linear-gradient(to bottom,  #dedede 0%,#ffffff 50%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#ffffff',GradientType=0 );
	position: relative;
	z-index: 99;
}
.section_bg .bg_white {
    margin-top: 60px;
}
.area_layout {
	padding: 20px 10px 15px;
	margin-bottom: 30px;
	min-height: 150px;
}
.area_layout.right_side {
    padding-left: 0;
    padding-right: 0;
}
.scroll_layout {
	position: relative;
	padding: 20px 0 15px;
	margin-bottom: 30px;
	border-bottom: 1px solid #e7e5e4;
	min-height: 290px;
}
.fixed_height {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}
.fixed_height .news {
	position: absolute;
	top: 0;
	right: 25px;
	bottom: 0;
	left: 25px;
	padding: 20px 15px 10px 5px;
	margin-bottom: 10px;
}

.fixed_height .news {
	right: 0;
	left: 0;
}

.breadcrumb {
    background-color: #e9e9e9;
}

.input-group .form-control {
    box-shadow: none;
}
.red_btn {
	display: inline-block;
	padding: 8px 24px;
	color: #fff;
	background-color: #730707;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 10px;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.red_btn:hover {
	text-decoration: none;
	color: #fff;
	background-color: #434343;
}


/*index_title*/
.index_title {
	color: #161715;
	font-size: 20px;
	/*padding: 0;*/
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: bold;
	border-bottom: 1px solid #e7e5e4;
	background-repeat: no-repeat;
	background-size: auto 25%;
	background-position: 2px 30px;
}
.index_title .title_tw {
	display: inline-block;
	border-bottom: 5px solid #31adab;
	line-height: 44px;
	margin-bottom: -3px;
}
.index_title.right_title .title_tw {
	border-color: #ad3170;
}
.index_title .title_en {
	display: inline-block;
	color: #7a7a7a;
	font-size: 18px;
	line-height: 46px;
	padding-left: 0.3em;
}
.index_title .list_icon {
	float: right;
	color: #4c4c4c;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.index_title .list_icon:hover {
	color: #000;
}
.more {
	float: right;
	color: #696969;
	font-size: 16px;
	margin-top: 14px;
}
.more:hover,
.more:focus {
	color: #31adab;
	text-decoration: none;
}
.right_title .more:hover,
.right_title .more:focus {
	color: #ad3170;
}


/* flexslider */
#news_slider {
    margin-bottom: 30px;
    position: relative;
}
.flex-direction-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

.flex-direction-nav a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: -15px 0 0;
    filter: alpha(Opacity=0, Style=0);
    -moz-opacity: 0;
    opacity: 0;
}

.flex-direction-nav a:before {
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0,0,0,.7);
}

.flexslider:hover .flex-prev {
    filter: alpha(Opacity=70, Style=0);
    -moz-opacity: 0.7;
    opacity: 0.7;
}

.flexslider:hover .flex-next {
    filter: alpha(Opacity=70, Style=0);
    -moz-opacity: 0.7;
    opacity: 0.7;
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    filter: alpha(Opacity=100, Style=0);
    -moz-opacity: 1;
    opacity: 1;
}



/* ==============================
   Page loader
   ============================== */

.page-loader{
    display:block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fefefe;
    z-index: 100000;    
}

.loader{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 1px solid rgba(0,0,0, 0.08);
    border-right: 1px solid rgba(0,0,0, 0.08);
    border-bottom: 1px solid rgba(0,0,0, 0.08);
    border-left: 1px solid rgba(0,0,0, 0.5);
  
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  
    -webkit-animation: spinner 700ms infinite linear;
    -moz-animation: spinner 700ms infinite linear;
    -ms-animation: spinner 700ms infinite linear;
    -o-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
  
    z-index: 100001;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/*header_top*/
.header_top {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
.top_bar {
	padding-top: 25px;
	padding-bottom: 10px;
	background-color: #003d45;
	border-bottom: 9px solid #3198a1;
	position: relative;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.pull_btn {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-top: -27px;
	margin-left: -29px;
	width: 58px;
	height: 58px;
	background-color: #3198a1;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	z-index: -1;
	text-align: center;
	color: #fff;
}
.pull_btn:hover,
.pull_btn:focus {
	color: #fff;
}
.pull_btn i {
	margin-top: 36px;
	-webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.top_bar_close .pull_btn i {
	-webkit-transform: rotate(0);
    transform: rotate(0);
}
.top_contact {
	float: left;
	font-size: 14px;
	color: #fff;
	line-height: 32px;
	margin-bottom: 15px;
}
.top_contact img {
	float: left;
	margin-right: 10px;
	margin-top: 3px;
	margin-left: 2px;
}
.top_contact span {
	display: inline-block;
	margin-right: 10px;
}

#search {
	float: right;
	width: 350px;
	max-width: 100%;
	margin-bottom: 15px;
}
#s {
	background-color: #658f90;
	color: #fff;
	border: none;
	height: 32px;
	font-size: 14px;
	border-radius: 0;
	border-right: 1px solid #003d45;
}
#s::-webkit-input-placeholder {
	color: #fff;
}
#s:-moz-placeholder {
	color: #fff;
}
#s::-moz-placeholder {
	color: #fff;
}
#s:-ms-input-placeholder {
	color: #fff;
}
.search_btn {
	background-color: #559da0;
	color: #33757c;
	font-size: 18px;
	line-height: 32px;
	height: 32px;
	border: none;
	border-left: 1px solid #003d45;
	padding: 0 8px;
	border-radius: 0;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.search_btn:hover,
.search_btn:focus {
	color: #559da0;
	background-color: #33757c;
	border-color: #003d45;
}
#search .form-control:focus {
	box-shadow: none;
}


/*header_middle*/
.header_middle {
	padding: 15px 0 10px;
	text-align: center;
}
.header_link {
	font-size: 14px;
	margin-top: -30px;
}
.header_link > div {
	margin-bottom: 10px;
}
.header_link a {
	color: #161715;
	font-weight: bold;
	-webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.header_link a:hover,
.header_link a:focus {
	color: #f29300;
	text-decoration: none;
}


/*header_bottom*/
.header_bottom {
	position: relative;
    z-index: 999;
}
.navbar {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	margin-bottom: -30px;
}
.header_page .navbar {
    margin-bottom: 0;
}
.navbar-brand {
	display: none;
}
.navbar-nav {
	float: none;
}
.navbar>.container-fluid .navbar-brand {
	height: 50px;
	padding: 10px;
	margin: 0;
	line-height: 50px;
    color: #98978b;
    font-weight: bold;
    margin-left: 15px;
}
.navbar-brand img {
	margin-top: -96px;
}
.navbar-collapse {
	background-color: #161715;
}
.navbar-nav>li {
    /* width: calc(100% / 9); */
    padding: 0 1px;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 18px;
	line-height: 25px;
	font-weight: bold;
	text-align: center;
	-webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    padding: 15px 15px 20px;
    position: relative;
    z-index: 99;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #fff;
}
.navbar-default .navbar-nav>li>a:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	z-index: -1;
	-webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.navbar-default .navbar-nav>li:nth-child(1)>a:after {
	background-color: #d23ecf;
}
.navbar-default .navbar-nav>li:nth-child(2)>a:after {
	background-color: #3eb2d2;
}
.navbar-default .navbar-nav>li:nth-child(3)>a:after {
	background-color: #d26f3e;
}
.navbar-default .navbar-nav>li:nth-child(4)>a:after {
	background-color: #8dd23e;
}
.navbar-default .navbar-nav>li:nth-child(5)>a:after {
	background-color: #833ed2;
}
.navbar-default .navbar-nav>li:nth-child(6)>a:after {
	background-color: #3ed2a0;
}
.navbar-default .navbar-nav>li:nth-child(7)>a:after {
	background-color: #3e68d2;
}
.navbar-default .navbar-nav>li:nth-child(8)>a:after {
	background-color: #d23e6c;
}
.navbar-default .navbar-nav>li:nth-child(9)>a:after {
	background-color: #d2c53e;
}
.navbar-default .navbar-nav>li:nth-child(10)>a:after {
	background-color: #3198a1;
}
.navbar-default .navbar-nav>li:nth-child(11)>a:after {
	background-color: #cd56aa;
}
.navbar-default .navbar-nav>li:nth-child(12)>a:after {
	background-color: #2196f3;
}
.navbar-default .navbar-nav>li:hover>a:after,
.navbar-default .navbar-nav>.active>a:after,
.navbar-default .navbar-nav>.active>a:focus:after,
.navbar-default .navbar-nav>.active>a:hover:after {
	height: 100%;
}
.navbar-nav li .dropdown-menu {
    width: 200px;
    background-color: rgba(214, 214, 214, .9);
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0;
    border: none;
    /*border-bottom: 5px solid #c92023;*/
    border-bottom: 5px solid #3198a1;
    border-radius: 0;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.38) !important;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.38) !important;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.navbar-nav > li:nth-last-child(1) > .dropdown-menu,
.navbar-nav > li:nth-last-child(2) > .dropdown-menu {
    left: auto;
    right: 0;
}
.navbar-nav li .dropdown-menu .dropdown-menu {
	border-color: #6d6d6d;
	background-color: rgba(255, 255, 255,.9);
}
.dropdown-menu > li > a {
    padding: 10px 15px;
    color: #262525;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    white-space: normal;
    font-weight: bold;
    display: inline-block;
    width: 100%;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #f3ad00;
    border-color: #316515;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #1274ad;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #1274ad;
}
.navbar-toggle.collapsed .icon-bar {
    background-color: #98978b;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #605f54;
}
.navbar-default .navbar-nav .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu > li > a:focus {
    color: #262525;
    background-color: #fff;
    padding-left: 18px;
    padding-right: 12px;
}
.navbar-default .navbar-nav .dropdown-menu .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu .dropdown-menu > li > a:focus {
	color: #730707;
	background-color: rgba(214, 214, 214, .9)
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > a > i {
    line-height: 22px;
    font-size: 16px;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    bottom: auto;
    left: 100%;
}
.navbar-nav > li:nth-last-child(1) > .dropdown-menu .dropdown-menu,
.navbar-nav > li:nth-last-child(2) > .dropdown-menu .dropdown-menu {
    left: auto;
    right: 100%;
}
.navbar-default .navbar-nav .open .dropdown-menu > li.dropdown-submenu.open > a.dropdown-toggle {
    color: #fff;
    background-color: #316515;
    padding-left: 18px;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
}
.header_fixed .fixed_layout {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #161715;
}
.header_fixed .navbar {
	margin-bottom: 0;
}


/*nav-tabs*/
.nav-tabs {
    border-color: #107476;
}
.nav-tabs > li {
    width: 20%;
    margin-bottom: 0;
    position: relative;
}
.nav-tabs > li > a {
    color: #464a53;
    background-color: #f1f2f6;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-radius: 6px 6px 0 0;
    padding: 15px 10px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #ddd;
    border-color: #ddd;
}
.nav-tabs > li .arrow_down {
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -15.5px;
    -moz-transform: rotate(-3.14159rad);
    -webkit-transform: rotate(-3.14159rad);
    -o-transform: rotate(-3.14159rad);
    -ms-transform: rotate(-3.14159rad);
    transform: rotate(-3.14159rad);
    -webkit-transition: transform .3s linear;
    -o-transition: transform .3s linear;
    transition: transform .3s linear;
    visibility: hidden;
}
.nav-tabs > li.active .arrow_down {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    visibility: visible;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #107476;
    border-color: #107476;
    padding: 10px 10px 20px;
}
.tab-pane {
    padding: 20px 0;
}
.tab-content .row {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #eee;
}
.tab-content .row > div {
    padding-left: 0;
    padding-right: 0;
}
.tab-content .row a {
    display: block;
}
.post_title {
    float: right;
}
.post_title a {
    color: #107476;
}
.post_title a:hover,
.post_title a:focus {
    color: #3b881a;
}
.post_note span {
    float: left;
    padding-right: 20px;
}
.tab_more {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tab-content .tab_more {
    margin-top: 30px;
}
.tab_more a {
    display: inline-block;
    padding-left: 35px;
    color: #107476;
    font-weight: bold;
    position: relative;
}
.tab_more img {
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translate3d(0,-50%,0) rotate(0);
    transform: translate3d(0,-50%,0) rotate(0);
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.tab_more a:hover img {
	-webkit-transform: translate3d(0,-50%,0) rotate(-3.14159rad);
    transform: translate3d(0,-50%,0) rotate(-3.14159rad);
}


/*index_slider*/
#index_slider.owl-carousel .item {

}
/* #index_slider.owl-theme .owl-nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0;
}
#index_slider.owl-theme .owl-nav [class*='owl-'] {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 );
}
#index_slider.owl-theme .owl-nav [class*='owl-']:before {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-transform-origin:left center;
    transform-origin:left center;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-40deg);
    transform: translate3d(-50%,-50%,0) rotate(-40deg);
}
#index_slider.owl-theme .owl-nav [class*='owl-']:after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-transform-origin:left center;
    transform-origin:left center;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(40deg);
    transform: translate3d(-50%,-50%,0) rotate(40deg);
}
#index_slider.owl-theme .owl-nav [class*='owl-']:hover:before {
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-25deg);
    transform: translate3d(-50%,-50%,0) rotate(-25deg);
}
#index_slider.owl-theme .owl-nav [class*='owl-']:hover:after {
    -webkit-transform: translate3d(-50%,-50%,0) rotate(25deg);
    transform: translate3d(-50%,-50%,0) rotate(25deg);
}
#index_slider.owl-theme .owl-nav .owl-next {
    left: auto;
    right: 0;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=1 );
}
#index_slider.owl-theme .owl-nav .owl-next:before {
    -webkit-transform-origin:right center;
    transform-origin:right center;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(40deg);
    transform: translate3d(-50%,-50%,0) rotate(40deg);
}
#index_slider.owl-theme .owl-nav .owl-next:after {
    -webkit-transform-origin:right center;
    transform-origin:right center;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-40deg);
    transform: translate3d(-50%,-50%,0) rotate(-40deg);
}
#index_slider.owl-theme .owl-nav .owl-next:hover:before {
    -webkit-transform: translate3d(-50%,-50%,0) rotate(25deg);
    transform: translate3d(-50%,-50%,0) rotate(25deg);
}
#index_slider.owl-theme .owl-nav .owl-next:hover:after {
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-25deg);
    transform: translate3d(-50%,-50%,0) rotate(-25deg);
} */
#index_slider.owl-theme .owl-dots {
	background-color: #0064a9;
	display: none;
}
#index_slider.owl-theme .owl-dots .owl-dot span {
	background-color: transparent;
	border: 1px solid #fff;
	width: 12px;
	height: 12px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 2px;
}
#index_slider.owl-theme .owl-dots .owl-dot.active span,
#index_slider.owl-theme .owl-dots .owl-dot:hover span {
	background-color: #fff;
}

#index_slider.owl-theme .owl-nav {
	position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}
#index_slider.owl-theme .owl-nav [class*='owl-'] {
	margin: 0;
	background-color: #8c8989;
	border-radius: 0;
	width: 50px;
	height: 50px;
	padding: 0;
}
#index_slider.owl-theme .owl-nav .owl-prev {
	border-right: 1px solid #777346;
	width: 51px;
}
.slider_title {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 101px;
	color: #fff;
	padding: 8px 20px;
	background-color: rgba(0,0,0,.5);
}
.slider_title a {
	line-height: 34px;
	font-size: 16px;
	color: #fff;
}
.count_list {
	background-color: #070707;
	float: right;
	padding: 0 10px;
	line-height: 34px;
}
/* .slider_title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate3d(-100%,-50%,0);
    transform: translate3d(-100%,-50%,0);
    padding: 0 40px;
    width: 530px;
}
.slider_title h3 {
    font-size: 28px;
    margin-bottom: 1em;
    margin-top: 0;
    font-family: "新細明體", sans-serif;
    font-weight: bold;
}
.slider_title p {
    font-size: 14px;
    line-height: 1.8em;
    text-align: justify;
    margin-bottom: 20px;
}
.slider_more {
    display: inline-block;
    padding: 15px 45px;
    color: #fff;
    background-color: #3ea6d2;
    font-size: 18px;
    margin-bottom: 10px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.slider_more:hover,
.slider_more:focus {
    text-decoration: none;
    color: #fff;
    background-color: #2e7999;
}
.count_list {
    background-color: #070707;
    float: right;
    padding: 0 10px;
    line-height: 34px;
} */


/*menu_slider*/
.menu_slider {
	margin-bottom: 25px;
	margin-top: -42px;
}
.menu_slider_title {
	width: 25%;
	background-image: url(../images/slider_title_bg.png);
	font-size: 20px;
	color: #fff;
	margin-top: 0;
	margin-bottom: 0;
	padding: 10px 15px;
	text-align: center;
}
.menu_slider .owl-carousel {
	background-color: #fff;
}
.menu_slider .owl-theme .owl-nav {
	position: absolute;
	top: 50%;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 0;
}
.menu_slider .owl-theme .owl-nav [class*='owl-'] {
	margin: 0;
	padding: 0;
	-webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    position: absolute;
    left: 0;
    /*opacity: 0.75;*/
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #223e40;
}
.menu_slider .owl-theme .owl-nav [class*='owl-']:before {
	content: "";
	display: block;
	width: 15px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
	-webkit-transform-origin:left center;
	transform-origin:left center;
	-webkit-transform: translate3d(-50%,-50%,0) rotate(-40deg);
    transform: translate3d(-50%,-50%,0) rotate(-40deg);
}
.menu_slider .owl-theme .owl-nav [class*='owl-']:after {
	content: "";
	display: block;
	width: 15px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-transform-origin:left center;
	transform-origin:left center;
	-webkit-transform: translate3d(-50%,-50%,0) rotate(40deg);
    transform: translate3d(-50%,-50%,0) rotate(40deg);
}
.menu_slider .owl-theme .owl-nav [class*='owl-']:hover:before {
	-webkit-transform: translate3d(-50%,-50%,0) rotate(-25deg);
    transform: translate3d(-50%,-50%,0) rotate(-25deg);
}
.menu_slider .owl-theme .owl-nav [class*='owl-']:hover:after {
	-webkit-transform: translate3d(-50%,-50%,0) rotate(25deg);
    transform: translate3d(-50%,-50%,0) rotate(25deg);
}
.menu_slider .owl-theme .owl-nav .owl-next {
	left: auto;
	right: 0;
	-webkit-transform: translate3d(50%,-50%,0);
    transform: translate3d(50%,-50%,0);
}
.menu_slider .owl-theme .owl-nav .owl-next:before {
	-webkit-transform-origin:right center;
	transform-origin:right center;
	-webkit-transform: translate3d(-50%,-50%,0) rotate(40deg);
    transform: translate3d(-50%,-50%,0) rotate(40deg);
}
.menu_slider .owl-theme .owl-nav .owl-next:after {
	-webkit-transform-origin:right center;
	transform-origin:right center;
	-webkit-transform: translate3d(-50%,-50%,0) rotate(-40deg);
    transform: translate3d(-50%,-50%,0) rotate(-40deg);
}
.menu_slider .owl-theme .owl-nav .owl-next:hover:before {
	-webkit-transform: translate3d(-50%,-50%,0) rotate(25deg);
    transform: translate3d(-50%,-50%,0) rotate(25deg);
}
.menu_slider .owl-theme .owl-nav .owl-next:hover:after {
	-webkit-transform: translate3d(-50%,-50%,0) rotate(-25deg);
    transform: translate3d(-50%,-50%,0) rotate(-25deg);
}
.menu_slider .owl-theme .owl-nav .disabled {
	opacity: 0.5;
}
.menu_slider .owl_img_block {
	position: relative;
}
.menu_slider .owl_img_block > a {
	display: block;
}
.menu_slider .owl_img_block > a:hover,
.menu_slider .owl_img_block > a:focus {
    text-decoration: none;
}
.menu_slider .owl_img {
	display: block;
	padding-top: 58%;
	position: relative;
	overflow: hidden;
}
.menu_slider .owl_img img {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	-webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    -webkit-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
}
.menu_slider .owl_img_block:hover .owl_img img {
	-webkit-transform: translate3d(0,-50%,0) scale(1.1);
	transform: translate3d(0,-50%,0) scale(1.1);
}
.menu_slider .owl_text {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 38px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 10px #434a54;
	padding: 5px 10px;
	background-color: rgba(0,0,0,.3);
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.menu_slider .owl_text.bg_pink {
	background-color: #c6006c;
}
.index_location {
	font-size: 14px;
	margin-bottom: 0;
}


/*topic_slider*/
.topic_slider .owl_img_block {
    margin-bottom: 70px;
}
.topic_slider .owl_img_block {
    position: relative;
}
.topic_slider .owl_img_block > a {
    display: block;
}
.topic_slider .owl_img {
    display: block;
    padding-top: 60%;
    position: relative;
    overflow: hidden;
}
.topic_slider .owl_img img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    -webkit-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
}
.owl_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.topic_slider .owl_text {
    display: block;
    position: absolute;
    bottom: -50px;
    left: 15px;
    right: 15px;
    font-size: 16px;
    color: #107476;
    padding: 10px 20px;
    min-height: 74px;
    background-color: rgba(255,255,255,.95);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.topic_slider .owl_text span {
    display: block;
    margin-bottom: 10px;
}
.topic_slider .owl_img_block:hover .owl_img img {
    -webkit-transform: translate3d(0,-50%,0) scale(1.1);
    transform: translate3d(0,-50%,0) scale(1.1);
}
.owl_img_block:hover .owl_overlay {
    opacity: 1;
}
.topic_slider .owl-theme .owl-nav {
    position: absolute;
    top: -70px;
    right: 0;
    margin: 0;
}
.topic_slider .owl-theme .owl-nav [class*='owl-'] {
    background: #fff;
    color: #b9b9b9;
    font-size: 20px;
    border: 1px solid #b9b9b9;
    width: 28px;
    height: 28px;
    line-height: 24px;
    padding: 0;
    text-align: center;
    margin: 2.5px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.topic_slider .owl-theme .owl-nav [class*='owl-']:hover {
    background: #b9b9b9;
    color: #fff;
    border-color: #b9b9b9;
}


/*event_slider*/
.event_slider .owl-theme .owl-nav {
    position: absolute;
    top: -70px;
    right: 0;
    margin: 0;
}
.event_slider .owl-theme .owl-nav [class*='owl-'] {
    background: #fff;
    color: #b9b9b9;
    font-size: 20px;
    border: 1px solid #b9b9b9;
    width: 28px;
    height: 28px;
    line-height: 24px;
    padding: 0;
    text-align: center;
    margin: 2.5px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.event_slider .owl-theme .owl-nav [class*='owl-']:hover {
    background: #b9b9b9;
    color: #fff;
    border-color: #b9b9b9;
}


/*video_slider*/
.video_slider .owl_img_block {
    margin-bottom: 20px;
}
.video_slider .owl_img_block {
    position: relative;
}
.video_slider .owl_img_block > a {
    display: block;
}
.video_slider .owl_img {
    display: block;
    padding-top: 60%;
    position: relative;
    overflow: hidden;
}
.video_slider .owl_img iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video_slider .img_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.video_slider .play_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: rgba(0,0,0,.2);
}
.video_slider .play_bg img {
    width: auto !important;
    max-height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.video_slider .html5lightbox:hover .img_bg {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.video_slider .html5lightbox:hover .play_bg {
    background-color: rgba(0,0,0,.5);
}
.video_slider .owl_text {
    display: block;
    font-size: 16px;
    color: #4a4e57;
    padding: 10px 0;
    background-color: rgba(255,255,255,.95);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.video_slider .owl_text span {
    display: block;
    margin-bottom: 10px;
}
.video_slider .owl_img_block:hover .owl_text {
    color: #107476;
}
/* .video_slider .owl_img_block:hover .owl_img img {
    -webkit-transform: translate3d(0,-50%,0) scale(1.1);
    transform: translate3d(0,-50%,0) scale(1.1);
} */
.video_slider .owl-theme .owl-nav {
    position: absolute;
    top: -70px;
    right: -10px;
    margin: 0;
}
.video_slider .owl-theme .owl-nav [class*='owl-'] {
    background: #fff;
    color: #b9b9b9;
    font-size: 20px;
    border: 1px solid #b9b9b9;
    width: 28px;
    height: 28px;
    line-height: 24px;
    padding: 0;
    text-align: center;
    margin: 2.5px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.video_slider .owl-theme .owl-nav [class*='owl-']:hover {
    background: #b9b9b9;
    color: #fff;
    border-color: #b9b9b9;
}


/*news_slider*/
.news_slider {
    margin-bottom: 20px;
    position: relative;
}
.news_slider .owl_img_block {
    position: relative;
}
.news_slider .owl_img_block > a {
    display: block;
}
.news_slider .owl_img {
    display: block;
    padding-top: 60%;
    position: relative;
    overflow: hidden;
}
.news_slider .owl_img img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    -webkit-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
}
.news_controll {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    width: 37px;
    height: 35px;
    /* border-left: 1px solid #fff; */
    background-color: #c6006c;
}
.news_play,
.news_stop {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 8px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.news_stop {
    opacity: 0;
    visibility: hidden;
}
.news_play:hover,
.news_stop:hover,
.news_play:focus,
.news_stop:focus {
    background-color: rgba(0,0,0,.3);
    color: #fff;
}
.playing .news_play {
    opacity: 0;
    visibility: hidden;
}
.playing .news_stop {
    opacity: 1;
    visibility: visible;
}
/* .news_slider .owl_img_block:hover .owl_img img {
    -webkit-transform: translate3d(0,-50%,0) scale(1.1);
    transform: translate3d(0,-50%,0) scale(1.1);
} */


/*snap_slider*/
.snap {
    background: url(../images/snap_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
}
.snap_slider {
    padding-left: 220px;
    padding-right: 60px;
}
.snap_slider_title {
    font-size: 30px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    position: relative;
}
.snap_title_en {
    display: inline-block;
    font-size: 0.6em;
    position: absolute;
    bottom: -25px;
    margin-left: -50px;
    font-weight: normal;
}
.snap_slider .owl-theme .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0;
}
.snap_slider .owl-theme .owl-nav [class*='owl-'] {
    margin: 0;
    padding: 0;
    -webkit-transform: translate3d(-100%,-50%,0);
    transform: translate3d(-100%,-50%,0);
    position: absolute;
    left: -10px;
    /*opacity: 0.75;*/
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #223e40;
}
.snap_slider .owl-theme .owl-nav [class*='owl-']:before {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-transform-origin:left center;
    transform-origin:left center;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-40deg);
    transform: translate3d(-50%,-50%,0) rotate(-40deg);
}
.snap_slider .owl-theme .owl-nav [class*='owl-']:after {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-transform-origin:left center;
    transform-origin:left center;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(40deg);
    transform: translate3d(-50%,-50%,0) rotate(40deg);
}
.snap_slider .owl-theme .owl-nav [class*='owl-']:hover:before {
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-25deg);
    transform: translate3d(-50%,-50%,0) rotate(-25deg);
}
.snap_slider .owl-theme .owl-nav [class*='owl-']:hover:after {
    -webkit-transform: translate3d(-50%,-50%,0) rotate(25deg);
    transform: translate3d(-50%,-50%,0) rotate(25deg);
}
.snap_slider .owl-theme .owl-nav .owl-next {
    left: auto;
    right: -10px;
    -webkit-transform: translate3d(100%,-50%,0);
    transform: translate3d(100%,-50%,0);
}
.snap_slider .owl-theme .owl-nav .owl-next:before {
    -webkit-transform-origin:right center;
    transform-origin:right center;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(40deg);
    transform: translate3d(-50%,-50%,0) rotate(40deg);
}
.snap_slider .owl-theme .owl-nav .owl-next:after {
    -webkit-transform-origin:right center;
    transform-origin:right center;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-40deg);
    transform: translate3d(-50%,-50%,0) rotate(-40deg);
}
.snap_slider .owl-theme .owl-nav .owl-next:hover:before {
    -webkit-transform: translate3d(-50%,-50%,0) rotate(25deg);
    transform: translate3d(-50%,-50%,0) rotate(25deg);
}
.snap_slider .owl-theme .owl-nav .owl-next:hover:after {
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-25deg);
    transform: translate3d(-50%,-50%,0) rotate(-25deg);
}
.snap_slider .owl-theme .owl-nav .disabled {
    opacity: 0.5;
}
.snap_slider .owl_img_block {
    position: relative;
}
.snap_slider .owl_img_block > a {
    display: block;
}
.snap_slider .owl_img_block > a:hover,
.snap_slider .owl_img_block > a:focus {
    text-decoration: none;
}
.snap_slider .owl_img {
    display: block;
    padding-top: 61.8%;
    position: relative;
    overflow: hidden;
}
.snap_slider .owl_img img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    -webkit-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
}
.snap_slider .owl_img_block:hover .owl_img img {
    -webkit-transform: translate3d(0,-50%,0) scale(1.1);
    transform: translate3d(0,-50%,0) scale(1.1);
}
.snap_slider .owl_text {
    display: block;
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-shadow: 2px 2px 10px #434a54;
    padding: 10px 15px;
    background-color: rgba(0,60,69,.7);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.snap_slider .owl_text.bg_pink {
    background-color: #c6006c;
}
.index_location {
    font-size: 14px;
    margin-bottom: 0;
}



/*gallery_slider*/
/*.gallery_slider {
	padding: 0px 30px;
	margin-bottom: 30px;
}
.gallery_slider .owl-theme .owl-nav {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 0;
	margin-top: calc(11.666% - 4.666px);
}
.gallery_slider .owl-theme .owl-nav [class*='owl-'] {
	margin: 0;
	padding: 0;
	-webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    position: absolute;
    left: 0;
    opacity: 0.75;
}
.gallery_slider .owl-theme .owl-nav .owl-next {
	left: auto;
	right: 0;
	-webkit-transform: translate3d(50%,-50%,0);
    transform: translate3d(50%,-50%,0);
}
.gallery_slider .owl-theme .owl-nav .disabled {
	opacity: 0.5;
}
.gallery_slider .text_box {
	margin-bottom: 0;
}
.gallery_slider .text_box p {
	margin-top: 10px;
	margin-bottom: 0;
	color: #2b2b2b;
	font-size: 12px;
}
.gallery_slider.two_item .img_block > a {
	display: block;
	border: 10px solid #eae8df;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.gallery_slider.two_item a:hover {
	border-color: #ddd;
}
.gallery_slider.two_item .text_box {
	padding-left: 10px;
	padding-right: 10px;
}
.gallery_slider.two_item .owl-theme .owl-nav {
	top: 50%;
	margin-top: 0;
}
.gallery_slider .slide_title {
	color: #730707;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 16px;
}
.gallery_slider .slide_title a {
	color: #730707;
}
*/

/*heading news*/
.heading_news .row {
	margin-left: -10px;
	margin-right: -10px;
}
.heading_news .row > div {
	padding-left: 10px;
	padding-right: 10px;
}
.news_img {
    margin-bottom: 20px;
}
.news_img img {
	width: 100%;
	margin-top: 5px;
}
.news_img_link {
	background-color: #c6006c;
	color: #fff;
	position: relative;
	padding: 10px 15px;
	font-size: 14px;
	min-height: 40px;
	text-align: justify;
}
.news_img_link a {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 36px;
	height: 100%;
	text-align: center;
	color: #fff;
	border-left: 1px solid #fff;
	font-size: 14px;
	padding: 8px;
	-webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.news_img_link a:hover {
	background-color: rgba(0,0,0,.3);
}
.news_title {
	font-size: 18px;
	color: #0a9997;
	line-height: 1.4em;
	font-weight: bold;
	margin-top: 0;
}
.news_date {
    margin-top: 5px;
    color: #c6006c;
    font-size: 14px;
}
.news_date i {
    color: #525252;
    padding-left: 2px;
    padding-right: 7px;
}
.heading_news p {
	font-size: 14px;
	text-align: justify;
}
.heading_news p.tab_more {
	text-align: right;
	font-size: 16px;
}

/*lightbox*/
#html5-watermark {
	display: none !important;
}


/*event*/
.news {
	/*margin-bottom: 20px;*/
}
.news_item {
    margin-bottom: 20px;
}
.event .news_item:last-child {
	margin-bottom: 0;
}
.news .row > div:last-child .news_item {
	margin-bottom: 0;
}
.news_item h5 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #fa8d00;
    font-size: 12px;
}
.news_item a {
	display: block;
	color: #4a4e57;
	font-weight: bold;
	/*-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;*/
}
.news_item a:hover,
.news_item a:focus {
	color: #107476;
}
.news_item p {
	margin-top: 5px;
    /*margin-bottom: 0;*/
    color: #c6006c;
    font-size: 14px;
    /*font-weight: bold;*/
}
.news_item p i {
	color: #525252;
	padding-left: 2px;
	padding-right: 7px;
}
.img_icon {
	display: block;
	width: 100%;
	padding-top: 100%;
    position: relative;
    overflow: hidden;
}
.img_icon div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.img_icon:hover div {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.news_day {
    display: block;
    color: #434343;
    background-color: #f6f6f6;
    border: 1px solid #ebebeb;
    font-size: 16px;
    line-height: 30px;
}
.news_month {
    display: block;
    color: #f6f6f6;
    background-color: #434343;
    border: 1px solid #323232;
    font-size: 12px;
    line-height: 20px;
}
.video_img {
	margin-bottom: 10px;
	width: 100%;
}


/*news*/
.bg_purple {
	background-color: #620035;
	padding-left: 25px;
	padding-right: 25px;
}
.bg_purple .news {
	border-color: #fff;
}
.bg_purple .news_item a {
	color: #fff;
}
.bg_purple .index_title {
	color: #fff;
	border-color: #fff;
}
.bg_purple .index_title .title_en {
	color: #fff;
}
.bg_purple .index_title .list_icon {
	color: #fff;
}
.bg_purple .news_item {
	padding-left: 0;
}

.bg_white .mCS-light-thick.mCSB_scrollTools .mCSB_draggerRail,
.bg_white .mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail {
	background-color: rgba(0,0,0,.1);
}
.bg_white .mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.bg_white .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: rgba(0,0,0,.75);
}
.bg_white .mCS-light-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {

}
.mCSB_outside + .mCSB_scrollTools {
	right: -5px;
}


/*img_block*/
.img_content {
	display: inline-block;
	/*margin-top: 15px;*/
	margin-bottom: 30px;
	border: 10px solid #eae8df;
	/*padding-bottom: 20px;*/
	/*margin-bottom: 25px;*/
}
.img_content iframe {
	max-width: 100%;
}
.img_box {
	display: block;
	padding-top: 70%;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
}
.img_box.p60 {
	padding-top: 61.8%;
}
.img_box.mb_0 {
	margin-bottom: 0;
}
.img_box .img_layout {
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}
.img_box iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 10px solid #eae8df;
}
.img_layout img {
	width: 100%;
	-webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.img_title {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-color: rgba(0,0,0,.5);
	z-index: 99;
	color: #fff;
	padding: 15px;
}
/*.img_content .img_box:hover .img_layout img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}*/
.img_block:hover .img_box .img_layout img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.img_box.red {
	border-color: #c4120e;
}
.img_box.green {
	border-color: #45ab27;
}
.img_box.purple {
	border-color: #a842d7;
}
.img_box.light_blue {
	border-color: #2aa4cb;
}
.img_box.blue {
	border-color: #0e4fc4;
}
.img_box.dark_red {
	border-color: #c40e3d;
}
.img_box.golden {
	border-color: #a87b2a;
}
.img_box.dark_green {
	border-color: #1f7b66;
}
.img_box.map {
	border-color: #a82a7c;
}
.text_box {
	margin-bottom: 20px;
	color: #003262;
	/*height: 40px;*/
}


/* album */
.portfolio-item {
    text-align: center;
}
.imgWrap {
    position:relative;
    width:100%;
    z-index:90;
    margin-bottom:30px;
    display:inline-block;
}
.imgWrap .bg1 {
    position:absolute;
    right:-6px;
    bottom:-6px;
    background-color:#E3E3E3;
    width:100%;
    height:100%;
    z-index:91;
}
.imgWrap .bg2 {
    position:absolute;
    left:0px;
    top:0px;
    background-color:#fff;
    width:100%;
    height:100%;
    border:1px solid #E3E3E3;
    z-index:92;
}
.imgWrap > a {
    display: block;
    width:100%;
    height:100%;
    color: #161715;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.imgWrap > a:hover,
.imgWrap > a:focus {
    color: #3198a1;
    text-decoration: none;
}
.imgWrap .imgDiv {
    width:100%;
    height:100%;
    position:relative;
    z-index:98;
    padding:15px;
    text-align: left;
}
.imgWrap .imgDiv > div {
    position: relative;
}
.imgWrap .imgDiv > div img {
    width:100%;
}
.imgWrap .imgDiv .img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    opacity: 0;
    z-index: 9;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.imgWrap > a:hover .imgDiv .img_overlay {
    opacity: 1;
}
.imgWrap .imgDiv h3 {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4em;
}
.imgWrap .info {
    position:relative;
    z-index:99;
    padding:10px;
}
.list-group-item {
    display: inline-block;
    width: 100%;
}
#content figure a {
    display: block;
    background-color: #000;
}
#content figure a img {
   -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#content figure a:hover img {
    opacity: 0.7;
}


/*quick_link*/
.quick_link {
	list-style: none;
	padding-left: 0;
}
.quick_link li {
	border-bottom: 1px solid #d7d7d7;
}
.quick_link li:last-child {
	border-bottom: none;
}
.quick_link li a {
	display: block;
	color: #003262;
	padding: 6px 0;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.quick_link li a i {
    width: 30px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}
.quick_link li a:hover i {
    text-decoration: none;
}


/*map_location*/
.map_location .tab_more {
    text-align: left;
}
.map_block {
	position: relative;
	padding-top: 61.8%;
	border-bottom: 8px solid #a82a7c;
}
.map_block iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.map_layout {
    width: 100%;
    padding-top: 61.8%;
    min-height: 200px;
    position: relative;
    overflow: hidden;
}
.map_layout iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*side_menu*/
.side_menu h2 {
	font-size: 24px;
	font-weight: bold;
}
.side_menu .panel {
    /* background-color: rgba(255, 255, 255, .5); */
    /* background-color: rgba(242, 242, 242, 1); */
    background-color:#fff;
    border: none;
    -webkit-box-shadow: noen;
    box-shadow: noen;
}
.side_menu .panel-default > .panel-heading {
    background-color: #3198a1;
    padding: 0;
}
.side_menu .panel .panel-heading,
.side_menu .panel .panel-title {
    font-size: 14px;
}
.side_menu .panel-title > a:hover,
.side_menu .panel-title > a:focus {
    text-decoration: none;
   /*  color: #1d1c13;
   background-color: #ddd; */
}
.side_menu ul {
    padding-left: 0px;
    list-style: none;
    margin-bottom: 0;
    /* list-style-image: url(../images/icon_hole.png); */
}
.side_menu ul li {
    padding: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.side_menu ul li a {
    color: #444;
    font-size: 14px;
    display: block;
    line-height: 1.1em;
    padding: 15px;
    font-weight: bold;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.side_menu ul li a:hover,
.side_menu ul li a:focus {
    background-color: #e9e9e9;
    text-decoration: none;
}
.side_menu ul li.active > a {
    /* background-color: #ddd; */
    /* color: #fff; */
    background-color: #D9CCFF;
    text-decoration: none;
}
.side_menu ul li.current > a {
    /* background-color: rgba(87, 195, 234, 1);*/
    background-color: #8261a7;
    color: #fff;
}
/* .side_menu li:hover {
    list-style-image: url(../images/icon_hammer.png);
} */
.side_menu .panel-group .panel,
.side_menu .panel-group .panel + .panel {
    margin-top: 0;
    border-radius: 0;
    border-top: none;
}
/* .side_menu .panel-group .panel:first-child {
    border-top: 1px solid #dfd7ca;
} */
.side_menu .panel-title > a {
    display: block;
    color: #fff;
    font-weight: bold;
	padding: 15px;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.side_menu .panel-title > a[data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f067";
    float: right;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.side_menu .panel-title > a[data-toggle="collapse"][aria-expanded="true"]:after {
    /* content: "\f0d8"; */
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
}
.side_menu .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: none;
    padding: 0;
}
.has_sub > a:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0d7";
    float: right;
}
.panel.current .panel-title > a {
    color: #fff;
    background-color: rgba(87, 195, 234, 1);
}
.has_sub.active > a:after {
    content: "\f0d8";
}
.side_menu ul li.has_sub {
    overflow: hidden;
    position: relative;
}
.has_sub > .sub_menu2 {
    /* height: 0; */
    position: absolute;
    width: 100%;
    background-color: #efefff;
    /* background-color: #D9CCFF; */
    /* background-color: rgba(255, 244, 224, 1); */
    /* -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; */
}
.has_sub.active > .sub_menu2 {
    margin-bottom: 0 !important;
    position: static;
   /* height: auto; */
}
.side_menu ul.sub_menu2 li a {
    /* color: #fa8d00; */
    color: #919191;
}
.side_menu ul.sub_menu2 li a:hover,
.side_menu ul.sub_menu2 li a:focus {
    color: #620035;
    background-color: transparent;
}
.side_menu ul.sub_menu2 li.current a {
    color: #620035;
    background-color: transparent;
}


/*more_link*/
.more_link {
	background-color: #dfddcf;
}
.more_link .index_title {
	border-top: none;
}
.channel {
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
	/*padding-top: 15px;*/
	margin-bottom: 40px;
}
.channel li {
	float: left;
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
}
.channel li a {
	display: block;
	position: relative;
	padding-top: 45.45%;
    font-size: 20px;
    font-weight: bold;
    line-height: 45px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
	/*-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;*/
}
.channel li a:hover {
	/*-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);*/
}
.channel li a:after {
	background: #fff;
    content: "";
    height: 400px;
    left: -181px;
    opacity: .2;
    position: absolute;
    top: -100px;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 100px;
    z-index: 10;
}
.channel li a:hover:after {
	left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.channel li a span {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 10px 10px 10px 50px;
	max-width: 100%;
	max-height: 100%;
	white-space: nowrap;
	-webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: 10px center;
}



/*footer*/
footer {
	color: rgba(255,255,255,.9);
}
footer a {
	color: rgba(255,255,255,.9);
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
footer a:hover,
footer a:focus {
	color: #f3ad00;
}
.footer {
	padding-top: 40px;
	padding-bottom: 20px;
	background-color: #003d45;
    font-size: 14px;
}
.footer_logo {
    display: inline-block;
    margin-bottom: 20px;
}
.footer_contact {
    padding-left: 15px;
}
.footer_contact p {
    margin-bottom: 0;
    line-height: 1.8em;
}
.footer_contact a {
    text-decoration: underline;
}
.footer_contact span {
    display: inline-block;
}
.flag_list {
    list-style: none;
    padding-left: 0;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.flag_list li {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    width: 16.66%;
    min-width: 108px;
}
.flag_list li a {
    display: block;
}
.flag_list li img {
    display: block;
    margin-bottom: 10px;
}
.flag_list li span {
    display: block;
    text-align: center;
}
.world_map {
    text-align: center;
    margin-bottom: 20px;
}
.world_map img {
    display: inline-block;
}
.copyright {
	font-size: 14px;
	padding: 20px 0 10px;
	background-color: #000;
}
.copyright a {
	text-decoration: underline;
    display: inline-block;
}
.totop {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    color: #fff;
    background-color: #ffb600;
    position: fixed;
    right: 40px;
    bottom: 14px;
    z-index: 9999;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    text-decoration: none;
}
.totop:hover,
.totop:focus {
    text-decoration: none;
    color: #fff;
    background-color: #f29300;
}
.totop i {
    font-size: 24px;
    line-height: 32px;
}


/*tree*/
.sitemap {
    float: left
}

.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}



/* page */
#header_03 ul {
    padding-left: 0;
}
#header_03 li {
    list-style: none;
}
#header_03 h5 {
    font-size: 1.5em;
    padding-bottom: 9px;
    margin: 10px 0 20px;
    border-bottom: 1px solid #e9e9e9;
}


@media (min-width: 768px) {
	.dropdown:hover > .dropdown-menu {
	    display: block;
	}
	.dropdown-submenu:hover > .dropdown-menu {
	    display: block;
	}
	.form-inline .form-group {
	    padding-left: 5px;
	    padding-right: 5px;
	    margin-bottom: 15px;
	}
	.form-inline .control-label {
	    padding-right: 5px;
	}
}

/*@media (min-width: 1200px) {
	.container {
	    width: 1270px;
	    max-width: 100%;
	}
	.pr_0 {
		padding-right: 0 !important;
	}
}*/

/*@media (min-width: 1588px) {
	.container {
	    width: 80%;
	    max-width: 100%;
	}
}*/

@media only screen and (max-width: 1199px) {
    .slider_title {
        left: 140px;
        padding: 0;
        -webkit-transform: translate3d(0,-50%,0);
        transform: translate3d(0,-50%,0);
    }
    .slider_title h3 {
        font-size: 24px;
        margin-bottom: 0.5em;
    }
    .slider_title p {
        margin-bottom: 10px;
    }
    .slider_more {
        padding: 6px 18px;
        font-size: 14px;
    }
	.menu_slider {
		padding-left: 15px;
		padding-right: 15px;
        margin-top: -42px;
	}
	.menu_slider_title {
		width: 33.33%;
	}
	.menu_slider .owl-theme .owl-nav [class*='owl-'] {
		left: -10px;
		-webkit-transform: translate3d(0,-50%,0);
    	transform: translate3d(0,-50%,0);
	}
	.menu_slider .owl-theme .owl-nav .owl-next {
		left: auto;
		right: -10px;
		-webkit-transform: translate3d(0,-50%,0);
    	transform: translate3d(0,-50%,0);
	}
	.navbar-nav:before {
		display: none;
	}
	.navbar-nav:after {
		display: none;
	}
    .container {
	    width: 100% !important;
	}
    .snap_slider_title {
        margin-bottom: 40px;
    }
    .snap_slider {
        padding-left: 60px;
    }
    .section_bg {
        background: #fff;
    }
}

@media only screen and (max-width: 991px) {
	.header_link {
		margin-top: 15px;
	}
	.scroll_layout {
		height: auto !important;
	}
	.fixed_height {
		position: static;
	}
	.fixed_height .news {
		position: relative;
		height: 355px;
	}
	/*#index_slider.owl-carousel .item {
	    padding-top: 50%;
	}*/
	.navbar-default .navbar-nav>li>a {
    	padding: 10px 10px 15px;
    	font-size: 16px;
    }
    .flag_list {
        margin-left: 10px;
        margin-right: 10px;
    }
    .area_layout.eqh-2 {
        height: auto !important;
    }
    .area_layout.eqh-3 {
        height: auto !important;
    }
    
}
	

@media only screen and (max-width: 767px) {
    .section_bg .bg_white {
        margin-top: 0;
    }
	.header_link {
		font-size: 13px;
	}
	.top_contact {
		width: 100%;
	}
	.top_contact span:last-child {
		margin-right: 0;
	}
	#search {
		width: 100%;
	}
	.slider_title {
		left: 30px;
		display: none;
	}
	.slider_title span {
		font-size: 14px;
	}

    /*index_slider*/
	#index_slider.owl-theme .owl-nav {
		display: none;
	}
	#index_slider.owl-theme .owl-nav [class*='owl-'] {
		right: 20px;
	}
	#index_slider.owl-theme .owl-nav .owl-prev {
		right: auto;
		left: 20px;
	}
	#index_slider.owl-theme .owl-dots {
		display: block;
	}

    /*nav*/
	.navbar-nav>li {
		width: 100%;
	}
	.navbar-default .navbar-nav>li>a {
		padding: 8px 15px;
	}
	.navbar-default .navbar-nav>li>a:after {
		height: 1px;
	}
	.navbar {
		margin-bottom: 0;
		/*background-color: rgba(246,244,241,.8);*/
	}
	.navbar-nav {
		float: none;
		margin-top: 0;
		margin-bottom: 0;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: rgba(214, 214, 214, .9);
	}
	.fixed_top .navbar-brand {
		display: inline-block;
	}
	.fixed_top .navbar-header {
		background-color: rgba(0,0,0,.8);
		background-image: url(../images/header_bg.png);
	}

    .menu_slider {
        margin-top: 30px;
    }
	.menu_slider_title {
		width: 50%;
	}

    /*snap_slider*/
    .snap_slider {
        padding-left: 20px;
        padding-right: 20px;
    }
    .snap_slider .owl-theme .owl-nav [class*='owl-'] {
        width: 40px;
        height: 40px;
        left: 0;
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
    }
    .snap_slider .owl-theme .owl-nav .owl-next {
        left: auto;
        right: 0;
        -webkit-transform: translate3d(50%,-50%,0);
        transform: translate3d(50%,-50%,0);
    }
    .snap_slider .owl_text {
        font-size: 16px;
    }

	.post_title {
        float: none;
    }
    .post_note {
        color: #888;
        font-size: 13px;
        padding-top: 5px;
    }
    .flag_list li {
        width: 33.33%;
    }
    .portfolio-item {
        width: 50%;
    }
}

@media only screen and (max-width: 599px) {
	.gallery_slider.three_item .owl-theme .owl-nav {
		margin-top: 35%;
	}
}

@media only screen and (max-width: 480px) {
	.col-xs-6 {
		width: 100%;
	}
	.top_contact {
		font-size: 12px;
	}
	.menu_slider_title {
		width: 100%;
	}
	.portfolio-item {
	    width: 100%;   
	}
}

/* modal */
.modal-backdrop {
    z-index: auto;
}




