<p>1993.10</p>

<p>淡江大學俄國語文學系正式成立，戴萬欽教授為第1任系主任，本系專任師資除系主任外皆為俄國籍。</p>

<p>
	<br>1994.08
	<br>楊棨教授接任第2任系主任。</p>

<p>
	<br>1995.09
	<br>「大三出國」計畫開始。</p>

<p>
	<br>1996.08
	<br>劉克甫教授接任第3任系主任。</p>

<p>
	<br>1997.08
	<br>彼薩列夫教授接任第4任系主任。</p>

<p>&nbsp;
	<br>1997.09
	<br>與莫斯科語言大學進行公費交換生計畫。</p>

<p>
	<br>2000.09
	<br>「俄國政府獎學金」甄選計畫，提供本系學生赴俄公費留學一年。</p>

<p>
	<br>2001.08
	<br>首次聘任2位本國籍教師為專任教師。</p>

<p>
	<br>2002.08
	<br>聘任本系第1屆畢業校友劉皇杏小姐擔任本系專任教師。</p>

<p>
	<br>2003.08
	<br>馬良文教授接任第5任系主任。本系創立十週年。</p>

<p>
	<br>2006.12
	<br>本系第4屆校友趙世絢小姐考上當年度外交領事乙等特考。</p>

<p>
	<br>2007.08
	<br>張慶國副教授接任第6任系主任。</p>

<p>
	<br>2008.12
	<br>本系第4屆校友許寬懷小姐考上當年度外交領事乙等特考。</p>

<p>
	<br>2009.04
	<br>本系接受高等教育評鑑中心「系所評鑑」。</p>

<p>
	<br>2011.08
	<br>張慶國副教授續任第7任系主任。</p>

<p>
	<br>2011.12
	<br>舉辦「淡江大學2011第一屆俄國語文能力測驗」(TORFL)。</p>

<p>
	<br>2012.06
	<br>舉辦「淡江大學2012第二屆俄國語文能力測驗」(TORFL)。</p>

<p>&nbsp;
	<br>2013.08
	<br>蘇淑燕副教授接任第8任系主任。本系創立二十週年。</p>

<p>
	<br>2015.08
	<br>蘇淑燕副教授續任第9任系主任。
	<br>
	<br>
	<br>2017.08
	<br>劉皇杏副教授接任第10任系主任。</p>