/*************************************************************/
/*   Design:  SCU Webbuilder 2.0 (Screen)                    */
/*   Author:  Akira Lin (akira.lin@gmail.com)                */
/*   Date:    Nov 22, 2007                                   */
/*-----------------------------------------------------------*/
/*   Recommended CSS-Editor: TopStyle Pro 3.12               */
/*-----------------------------------------------------------*/
/*   You can use this stylesheet any way you want!           */
/*   Check out our web site, http://www.morelink.com.tw      */
/*************************************************************/

/*************************/
/* SECTION 1 - MAIN BODY */
/*************************/

body {
	font-size: 11px; 
	margin: 0px auto; 
	padding: 0px; 
	background: url(../img/bg_body_style1b.gif);
	background-repeat: repeat-y;
	font-family: arial, sans-serif;
	background-color: #375c16;
}
.page-container-1 {
	width: 990px; 
	/*width: 827px; */
	/*width: 770px; */
	/*margin: 0px auto; */
	margin: 0px 0px 0px 0px;
	/*margin: 10px 0px 0px 99px;*/
	padding: 0px 0px 0px 0px;
	background-image: url(../img/bg_page-container-1.gif);
	background-repeat: repeat-y;
	/*background: url(../img/background_layout_1.gif) top left repeat-y;*/ 
	/*border-left: solid 1px rgb(165,165,165);
	border-right: solid 1px rgb(165,165,165);*/
}
.page-container-2 {
	width: 770px; 
	margin: 0px auto; 
	padding: 0px; 
	background: url(../img/background_layout_2.gif) top left repeat-y; 
	border: solid 1px rgb(100,100,100);
}
.page-container-3 {
	width: 770px; 
	margin: 0px auto; 
	padding: 0px; 
	background: url(../img/background_layout_3.gif) top left repeat-y; 
	border: solid 1px rgb(100,100,100);
}

/*************************************/
/* SECTION 2 - HEADER AND NAVIGATION */
/*************************************/

/*-----------------------------------*/
/* 2.1 - Sitename, slogan and banner */
/*-----------------------------------*/
.site-header{
	background-image: url(../img/bg_site_header.gif);
	background-repeat: repeat-x;
	height: 81px;
}

.site-logo{
	background-image: url(../img/bg_scu_logo.gif);
	background-position: 225px;
	background-repeat: no-repeat;
	width: 550px; 
	height: 81px; 
	top: 0px; 
	left: 0px;
	position: relative;
	overflow: hidden; 
	margin: 0px; 
	padding-right: 0px;
	float: left;
}
*/
.site-name {
	float: right;
	background-color: transparent;
	width: 300px; 
	height: 45px; 
	position: absolute;
	z-index: 4; 
	overflow: hidden; 
	margin: 50px 0px 0px 0px; 
	padding-right: 10px; 
	color: rgb(69,140,204);
}
.site-name p.title  {
	margin: 20px 0px 0px 0px; 
	padding: 7px 32px 0px 0px; 
	font-family: Arial, Helvetica, ?啁敦??, sans serif, "trebuchet ms"; 
	font-weight: bold; 
	font-size: 1.3em;
	line-height: 1.3em;
	float: right;
	height: 28px;
	width:350px;
	text-align: right;
	background-image: url(../img/bg_sitename_ptitle.gif);
	background-position: right top;
	background-repeat: no-repeat;
}
.site-name span.subtitle  {
	margin: -8px 0px 0px 0px;
	padding: 4px 33px 0px 0px;
	width: 380px;
	height: 30px;
	background-image: url(../img/bg_sitename_subtitle.gif);
	background-position: right top;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, ?啁敦??, sans serif, "trebuchet ms"; 
	font-size: 12px;
	float: right;
	color: rgb(0,0,0);
	text-align: right;
}
.site-name a {
	margin: 0px; 
	padding: 0px; 
	text-decoration: none; 
	color: rgb(0,0,0);
}
.site-name a:hover {
	text-decoration: none;
}
.site-slogan-container  {
	/*width: 617px; 
	height: 100px; 
	position: static; 
	z-index: 1;
	overflow:; */
	margin: 0px 0px 0px 0px;
}
.site-slogan {
	float: right; 
	width: 632px; 
	height: 100px; 
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px;
	font-size: 10px;
}
.site-slogan p.title {
	float: right; 
	width: 632px; 
	margin: 0px; 
	padding: 0px; 
	color: rgb(234,239,247); 
	font-family: arial, sans serif;
	font-weight: bold; 
	font-size: 220%;
}
.site-slogan p.subtitle {
	clear: both; 
	float: right; 
	width: 632px; 
	margin: -5px 0px 0px 0px; 
	padding: 0px; 
	color: rgb(234,239,247); 
	font-family: arial, sans serif;
	font-weight: bold; 
	font-size: 200%;
}
.site-slogan p.text {
	clear: both; 
	float: right; 
	width: 632px; 
	margin: 10px 0px 0px 0px; 
	padding: 0px; 
	color: rgb(234,239,247); 
	font-family: arial, sans serif;
	font-weight: bold; 
	line-height: 1.0em; 
	font-size: 140%;
}
.site-slogan p.readmore {
	clear: both; 
	float: right; 
	width: 632px; 
	margin: 10px 0px 0px 0px; 
	padding: 0px; 
	color: rgb(234,239,247); 
	font-family: arial, sans serif; 
	font-weight: bold; 
	line-height: 1.0em; 
	font-size: 120%;
}
.site-slogan a {
	color: rgb(234,239,247); 
	text-decoration: underline;
}
.site-slogan a:hover {
	text-decoration: none; 
	color: rgb(50,50,50);
}
.img-header {
	clear: both;
	float: left;
	width: 770px; 
	height: 250px; 
	margin: 0px; 
	padding: 0px;
}

/*-----------------------------*/
/* 2.15 - Language - Switcher  */
/*-----------------------------*/

.lang-container {
	width: 990px; 
	/*width: 770px; */
	top: 20px; 
	position: absolute; 
	z-index: 2; 
	height: 20px;
	background-color:;
	background-image: url(../img/bg_lang-container.gif);
	background-position: right top;
	background-repeat: no-repeat;
	margin: -3px 0px 0px 0px;
}
.navlang {
	margin: 0px 0px 0px 0px; 
	padding: 2px 9px 0px 0px;  
	font-family: Arial, Helvetica, ?啁敦??, sans serif, "trebuchet ms"; 
	font-size: 12px;
	color: #AEAEAE;
	/*color: #5F5F5F;*/
}	
.navlang ul {
	float: right; 
	margin: 0px; 
	padding: 0px 14px 0px 0px;
}	
.navlang li {
	display: inline; 
	list-style: none; 
	margin: 0px; 
	padding: 0px;
}
.navlang li a {
	text-decoration: none;
	color: #FFFFFF;
}
.navlang li a:hover {
	text-decoration: none;
}
.navlang li a {
	margin: 0px; 
	padding: 0px 0px 0px 1px;
}
.navlang a:hover {
	color: #FFA500; 
	text-decoration: none;
}
.img-navlang {
	display: inline; 
	height: 14px; 
	margin: 0px; 
	padding: 0px; 
	border: none;
}


/*--------------------------*/
/* 2.2 - Navigation - Flags */
/*--------------------------*/

.navflag-container {
	width: 989px; 
	height: 20px;
	top: 0px; 
	position: absolute; 
	z-index: 2; 
	background-image: url(../img/bg_navflag_container.gif);
	background-position: right top;
	background-repeat: no-repeat;
	padding: 2px 0px 0px 1px;
}
.navflag {
	margin: 0px; 
	padding: 1px 0px 0px 0px; 
	font-size: 1.0em;
}	
.navflag ul {
	float: right; 
	margin: 0px; 
	padding: 0px 34px 0px 0px;
}	
.navflag li {
	display: inline; 
	list-style: none; 
	margin: 0px; 
	padding: 0px;
}
.navflag li a {
	margin: 0px; 
	padding: 0px 0px 0px 1px;
	color: rgb(212,138,71); 
}
.navflag a:hover {
	color: rgb(0,0,0); 
	text-decoration: none;
}
.img-navflag {
	display: inline; 
	height: 14px; 
	margin: 0px; 
	padding: 0px; 
	border: none;
}

/*----------------------------*/
/* 2.3 - Navigation - Level 1 */
/*----------------------------*/

.nav1-container {
	width: 770px; 
	top: 35px; 
	position: absolute; 
	z-index: 3; 
	background: transparent;
}
.nav1 {
	margin: 0px; 
	padding: 0px;  
	font-family: Arial, Helvetica, ?啁敦??, sans serif, "trebuchet ms";  
	font-size: 1.0em;
}
.nav1 ul {
	float: right; 
	margin: 0px; 
	padding: 0px 20px 0px 0px; 
	border-left: solid 1px rgb(115,162,182); 
	background-color: rgb(255,255,255); 
}	
.nav1 li {
	display: inline; 
	list-style: none; 
	margin: 0px; 
	padding: 0px;
}
.nav1 li a {
	display: block; 
	float: left; 
	margin: 0px; 
	padding: 2px 5px 2px 5px; 
	border-right: solid 1px rgb(115,162,182); 
	color: rgb(115,162,182); 
	text-decoration: none; 
	font-size: 12px;
}
.nav1 a:hover, .nav2 a.selected {
	color: rgb(50,50,50); 
	text-decoration: none;
}

/*----------------------------*/
/* 2.4 - Navigation - Level 2 */
/*----------------------------*/

.nav2 {
	/*clear: both;*/ 
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 0px 0px;
	/*padding: 0px;*/ 
	font-family: Arial, Helvetica, ?啁敦??, sans serif, "trebuchet ms"; 
	font-size: 1.2em !important;
	font-size: 1.1em;
	/*height: 30px;*/
	min-height: 30px;
	background-image: url(../img/bg_nav2_ul.gif);
	background-repeat: repeat-x;
	
}
.nav2 ul {
	float: left; 
	width: 990px; 
	/*width: 770px;*/ 
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px; 
	/*border-top: solid 1px rgb(54,83,151); */
	/*border-bottom: solid 1px rgb(54,83,151); */
	/*background-color: rgb(127,162,202); */
	background-image: url(../img/bg_nav2_ul_r.gif);
	background-repeat: no-repeat;
	background-position: right top;
}	
.nav2 li {
	display: inline; 
	/*margin: 0px 0px 0px 15px; */
	/*padding: 0px 0px 0px 15px;*/
	word-break: keep-all;
}
.nav2 li a.left-start{
	float: !important; 
	float: left; 
	margin: 0px 0px 0px 0px !important; 
	margin: 0px 0px 0px 0px; 
	width: 122px;
	height: 30px;
	background-image: url(../img/bg_leftstart.gif);
	background-repeat: no-repeat;
}
.nav2 li a.middle{
	/*display: block; */
	float: left; 
	margin: 0px 0px 0px 0px; 
	padding: 6px 12px 0px 12px;
	/*border-right: solid 1px rgb(54,83,151); */
	background-image: url(../img/bg_nav2_a.gif);
	background-repeat: repeat-x;
	/*border-left: solid 1px rgb(142,142,142);*/
	color: rgb(75,75,75); 
	text-decoration: none; 
	font-size:100% !important;
	font-size:88%;
	word-break: keep-all;
}
.nav2 li a.selected{
	/*display: block; */
	float: left; 
	margin: 0px 0px 0px 0px; 
	padding: 6px 12px 0px 12px;
	/*border-right: solid 1px rgb(54,83,151); */
	background-image: url(../img/bg_nav2_a.gif);
	background-repeat: repeat-x;
	/*border-left: solid 1px rgb(142,142,142);*/
	color: rgb(0,0,0); 
	text-decoration: none; 
	font-size:100% !important;
	font-size:88%;
}
.nav2 li a.right-side{
	background-image: url(../img/bg_nav2_li_r.gif);
	background-position: right;
	background-repeat: no-repeat;
	float: left; 
	margin: 0px; 
	padding: 0px 4px 0px 0px;
	height: 30px;
}
.nav2 li a.right-end{
	background-image: url(../img/bg_nav2_li_r_end.gif);
	background-position: right;
	background-repeat: no-repeat;
	float: left; 
	margin: 0px; 
	padding: 0px 3px 0px 0px;
	height: 30px;
}
.nav2 li a:hover {
	color: rgb(0,0,0); 
	text-decoration: underline;
}
.nav2 li a.selected {
	color: rgb(0,0,0); 
	text-decoration: none;
}
.nav2 li a.selected:hover {
	color: rgb(0,0,0); 
	text-decoration: underline;
}
.buffer {
	clear: both; 
	width: 770px; 
	height: 30px; 
	margin: 0px; 
	padding: 0px; 
	background-color: rgb(255,255,255);
}
.com_func{
	width: 990px; 
	height: 30px !important; 
	height: 30px; 
	background-color:;
	background-image: url(../img/bg_com_func.gif);
	background-repeat: repeat;
	padding: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.location{
	background-image: url(../img/bg_location_l.gif);
	background-position: left bottom;
	background-repeat: no-repeat;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 6px 129px !important;
	/*padding: 4px 0px 0px 143px;*/
	padding: 0px 0px 6px 122px;
	font-family: Arial, Helvetica, ?啁敦??, sans serif, "trebuchet ms"; 
	font-size: 1.2em !important;
	font-size: 1em;
	float: left;
	height: 20px;
}
.func_bar{
	background-image: url(../img/bg_func_bar_r21.gif);
	background-repeat: no-repeat;
	background-position: right top;
	float: right;
	margin: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px;
	padding: 0px 30px 6px 0px;
	font-family: Arial, Helvetica, ?啁敦??, sans serif, "trebuchet ms"; 
	font-size: 1.1em !important;
	font-size: 1em;
	vertical-align: baseline;
}
.func_bar a {
	color: rgb(75,75,75); 
	text-decoration: none;
}
.func_bar a:hover {
	color: rgb(0,0,0); 
	text-decoration: underline;
}
.func_bar select{
	font-size: 12px;
	margin: 0px 0px 0px 0px;
}

/*----------------------------*/
/* 2.5 - Navigation - Level 3 */
/*----------------------------*/

.nav3 {
	/*overflow: hidden;
	clear: both; */
	float: left; 
	width: 109px; 
	min-height: 760px; 
	margin: -4px 0px 0px 0px; 
	padding: 0px 0px 0px 0px; 
	color: rgb(75,75,75); 
	font-size: 1.0em;
	/*background-image: url(../img/bg_sidemenu_academic.jpg);
	background-repeat: no-repeat;
	background-position: 6px 0px;*/
}
#AD-Banner{
	clear: both;
	height: 55px;
	margin: 0px 4px 0px 8px;
	position: relative;
}
#AD-Banner img{
	border: 0px;
}
#AD-Banner a{
	margin: 0px 0px 0px 0px;
}
#AD-Banner a:hover{
	margin: 2px 0px 0px 2px;
}
#sidemenu{
	min-height: 350px !important;
	height: 324px;
	background-position: 0px 14px;
	background-repeat: no-repeat;
	margin: 14px 0px 0px 0px;
}
#sidemenu.home {
	min-height: 350px;
	height: 324px;
	background-image: url(../img/bg_sidemenu.gif);
	background-position: 0px 14px;
	background-repeat: no-repeat;
	margin: 14px 0px 0px 0px;
}
.nav3 ul {
	width: 109px; 
	margin: 0px 0px 20px 0px; 
	padding: 1px 0px 0px 0px; 
	border-bottom: solid 0px rgb(216,206,159); 
	min-height: 250px;
	clear: both;
}	
.nav3 li {
	list-style:none; 
	margin: 0px; 
	padding: 0px;
}
.nav3 li.title {
	margin: 0px 0px 0px 0px; 
	padding: 3px 5px 2px 15px; 
	background-color: rgb(156,186,214); 
	color: rgb(255,255,255); 
	text-transform: uppercase; 
	font-weight: bold; 
	font-size: 120%;
}
.nav3 li.default_h{
	height: 200px;
}
/*nav3 li.group{
	list-style: url(../img/bullet_nav3_li_off.gif);
}*/
.nav3 li.group a {
	display: block; 
	min-height: 1.7em; 
	height: auto !important; 
	height: 1.7em; 
	line-height: 1.7em; 
	margin: 0px 0px 0px 0px; 
	padding: 4px 7px 0px 22px !important; 
	padding: 4px 7px 0px 22px; 
	border-top: solid 0px rgb(255,250,211); 
	border-left: solid 0px rgb(201,245,187);  
	border-bottom: solid 1px rgb(230,230,230); 
	color: rgb(75,75,75); 
	filter : alpha(opacity=70); 
	opacity: 0.7;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 120%;
	background-color: #FFFFFF;
	background-image: url(../img/bg_nav3_li_off.gif);
	background-repeat: no-repeat;
}
.nav3 li.group a {
	display: block; 
	min-height: 1.7em; 
	height: auto !important; 
	height: 1.7em; 
	line-height: 1.7em; 
	margin: 0px;  
	padding: 4px 7px 0px 22px !important; 
	padding: 4px 7px 0px 22px; 
	border-left: solid 0px rgb(219,230,241); 
	border-bottom: solid 1px rgb(230,230,230); 
	filter : alpha(opacity=90); 
	opacity: 0.9;
	color: rgb(75,75,75); 
	text-decoration: none; 
	font-size: 120%;
}
.nav3 li.group a:hover {
	display: block; 
	min-height: 1.7em; 
	height: auto !important; 
	height: 1.7em; 
	line-height: 1.7em; 
	margin: 0px 0px 0px 0px; 
	padding: 4px 7px 0px 22px !important; 
	padding: 4px 7px 0px 22px; 
	border-top: solid 0px rgb(255,250,211);
	filter : alpha(opacity=70); 
	opacity: 0.7;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 120%; 
	color: rgb(35,35,35); 
	background-color: #FFFFFF;
	border-left: solid 0px rgb(170,214,156);
	border-bottom: solid 1px rgb(230,230,230); 
	background-image: url(../img/bg_nav3_li_on.gif);
	background-repeat: no-repeat;
}
.nav3 li.igroup a {
	display: block; 
	min-height: 1.7em; 
	height: auto !important; 
	height: 1.7em; 
	line-height: 1.7em; 
	margin: 0px 0px 0px 0px; 
	padding: 4px 7px 0px 22px !important; 
	padding: 4px 7px 0px 22px; 
	border-top: solid 0px rgb(255,250,211);
	filter : alpha(opacity=90); 
	opacity: 0.9;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 120%; 
	color: rgb(75,75,75); 
	background-color: #FFFFFF;
	border-left: solid 0px rgb(170,214,156); 
	border-bottom: solid 1px rgb(230,230,230);  
	background-image: url(../img/bg_nav3_li_on.gif);
	background-repeat: no-repeat;
}
/*.nav3 li.igroup a {
	display: block; 
	min-height: 1.7em; 
	height: auto !important; 
	height: 1.7em; 
	line-height: 1.7em; 
	margin: 0px;  
	padding: 4px 7px 0px 22px !important; 
	padding: 4px 7px 0px 22px; 
	border-left: solid 0px rgb(219,230,241); 
	border-bottom: solid 1px rgb(230,230,230); 
	filter : alpha(opacity=90); 
	opacity: 0.9;
	color: rgb(75,75,75); 
	text-decoration: none; 
	font-size: 120%;
}*/
.nav3 li.igroup a:hover {
	display: block; 
	min-height: 1.7em; 
	height: auto !important; 
	height: 1.7em; 
	line-height: 1.7em; 
	margin: 0px 0px 0px 0px; 
	padding: 4px 7px 0px 22px !important; 
	padding: 4px 7px 0px 22px; 
	border-top: solid 0px rgb(255,250,211);
	filter : alpha(opacity=70); 
	opacity: 0.7;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 120%; 
	color: rgb(35,35,35); 
	background-color: #FFFFFF;
	border-left: solid 0px rgb(170,214,156);
	border-bottom: solid 1px rgb(230,230,230); 
	background-image: url(../img/bg_nav3_li_on.gif);
	background-repeat: no-repeat;
}
.nav3 li a {
	display: block; 
	min-height: 1.7em; 
	height: auto !important; 
	height: 1.7em; 
	line-height: 1.7em; 
	margin: 0px;
	border-left: solid 0px rgb(219,230,241); 
	border-bottom: solid 1px rgb(230,230,230); 
	/*filter : alpha(opacity=70); 
	opacity: 0.7;*/
	color: rgb(75,75,75); 
	text-decoration: none; 
	font-size: 120%;
}
.nav3 li a.sublinks {
	background-color: #FFFFFF;
	border-left: solid 0px rgb(95,158,160);
	border-bottom: solid 1px rgb(230,230,230); 
	text-decoration: none;
	padding: 2px 0px 0px 28px;
	filter : alpha(opacity=90); 
	opacity: 0.9;
}
.nav3 li a.sublinks_selected {
	background-color: #FFFFFF;
	border-left: solid 0px rgb(95,158,160);
	border-bottom: solid 1px rgb(230,230,230); 
	text-decoration: none;
	padding: 2px 0px 0px 28px;
	color:rgb(75,75,75);
	filter : alpha(opacity=40); 
	opacity: 0.4;
}
.nav3 li a.sublinks:hover {
	background-color: #FFFFFF;
	border-left: solid 0px rgb(84,141,143);
	padding: 2px 0px 0px 28px;
	filter : alpha(opacity=70); 
	opacity: 0.7;
}
.nav3 li a.selected {
	background-color: #FFFFFF;
	border-left: solid 0px rgb(84,141,143); 
	padding: 4px 7px 0px 28px !important; 
	padding: 4px 7px 0px 28px; 
	color:rgb(75,75,75);
	filter : alpha(opacity=80); 
	opacity: 0.8;
}
.nav3 li a.selected:hover {
	background-color: #FFFFFF;
	border-left: solid 0px rgb(84,141,143); 
	padding: 4px 7px 0px 28px !important; 
	padding: 4px 7px 0px 28px; 
	color:rgb(35,35,35);
	filter : alpha(opacity=90); 
	opacity: 0.9;
}

/******************************************************************************/
/* SECTION 3 - SPECIFIC CLASSES FOR LAYOUT #1 (With navigation, with sidebar )*/
/******************************************************************************/

.content1 {
	float: left; 
	/*width: 428px; */
	width: 640px;
	margin: 0px 0px 10px 0px; 
	padding: 0px 6px 10px 15px; 
	color: rgb(75,75,75);
	/*background-image: url(../img/bg_content1.gif)
	background-position: top;
	background-repeat: repeat-x;;*/
}
.promotion {
	clear: both;
	float: left;
	width: 667px;
	height: 100px;
	margin: 0px 0px 0px -20px;
	padding: 0px;
}
/**/
#guide_txt{
	margin: 0px 7px 10px 7px;
	padding: 0px 0px 10px 0px;
	background-color: transparent;
	/*background-image: url(../img/title_img_02.jpg);*/
	background-repeat: no-repeat;
	background-position: 12px 12px !important;
	background-position: 4px 12px;
	min-height: 80px;
	height: auto;
	font-size: 1.1em;
}
#guide_txt div.date{
	position : relative;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #669999;
	padding: 5px 0px 5px 0px;
	margin : 0px 0px 0px 0px;;
}
#guide_txt p{
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	color: #333333;
	letter-spacing : 0.1em;
	line-height: 1.3em;
	margin: 0px 0px 0px 0px;
	padding : 15px 0px 10px 120px;
	background-color: transparent;
	min-height: 55px;
	height: auto !important;
	height: 55px;
	vertical-align: bottom;
}
/**/
.guide_txt_01{
	background-image: url(../img/title_img_01.jpg);
}
/*#guide_txt_01{
	margin: 0px 7px 10px 7px;
	padding: 0px 0px 10px 0px;
	background-color: transparent;
	background-image: url(../img/title_img_01.jpg);
	background-repeat: no-repeat;
	background-position: 12px 12px !important;
	background-position: 4px 12px;
	min-height: 80px;
	height: auto;
	
	margin: -7px 0px 0px 0px;
	padding: 10px 10px 30px 10px;
	background-color: #FFFFE1;
	background-image: url(../img/title_img_01.jpg);
	background-repeat: no-repeat;
	background-position: 12px 12px;
	min-height: 50px;
	height: auto;
	*/
	
/*#guide_txt img.left{
	position: relative;
	border : none;
	margin : 12px 12px 5px 3px;
	float : left;
}

#guide_txt img.right{
	position: relative;
	border : none;
	margin : 6px 5px 5px 12px;
	float : right;
}
#guide_txt h3{
	position : relative;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 16px;
	line-height : 1.3em;
	color: #334d55;
	margin: 0px 0px 0px 0px;
	padding: 8px 0px 0px 0px;
	background-color : transparent;
}*/
/*
#guide_txt_01 div.date{
	position : relative;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #669999;
	padding: 5px 0px 5px 0px;
	margin : 0px 0px 0px 0px;;
}
#guide_txt_01 p{
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	color: #333333;
	letter-spacing : 0.1em;
	line-height: 1.3em;
	margin: 0px 0px 0px 0px;
	padding : 15px 0px 10px 120px;
	background-color: transparent;
	min-height: 55px;
	height: auto !important;
	height: 55px;
	vertical-align: bottom;
}
/*#guide_txt span{
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	color: #333333;
	letter-spacing : 0.1em;
	margin: 0px 0px 0px 0px;
	padding : 10px 0px 20px 0px;
	background-color: transparent;
}*/
.guide_txt_02{
	background-image: url(../img/title_img_02.jpg);
}
.guide_txt_03{
	background-image: url(../img/title_img_03.jpg);
}
.guide_txt_04{
	background-image: url(../img/title_img_04.jpg);
}
.guide_txt_05{
	background-image: url(../img/title_img_05.jpg);
}
.guide_txt_06{
	background-image: url(../img/title_img_06.jpg);
}
.guide_txt_07{
	background-image: url(../img/title_img_07.jpg);
}
.guide_txt_08{
	background-image: url(../img/title_img_08.jpg);
}
.guide_txt_09{
	background-image: url(../img/title_img_09.jpg);
}
.guide_txt_10{
	background-image: url(../img/title_img_10.jpg);
}
.guide_txt_11{
	background-image: url(../img/title_img_11.jpg);
}
.guide_txt_12{
	background-image: url(../img/title_img_12.jpg);
}
.guide_txt_13{
	background-image: url(../img/title_img_13.jpg);
}
.guide_txt_14{
	background-image: url(../img/title_img_14.jpg);
}
.guide_txt_15{
	background-image: url(../img/title_img_15.jpg);
}
.guide_txt_16{
	background-image: url(../img/title_img_16.jpg);
}
.guide_txt_21{
	background-image: url(../img/title_img_21.jpg);
}
.guide_txt_22{
	background-image: url(../img/title_img_22.jpg);
}
#news_header{
	margin: -7px 0px 0px 0px;
	padding: 10px 10px 30px 10px;
	background-color: #FFFFE1;
	background-image: url(../img/title_img_01.jpg);
	background-repeat: no-repeat;
	background-position: 12px 12px;
	min-height: 50px;
	height: auto;
}
/*#news_header img.left{
	position: relative;
	border : none;
	margin : 12px 12px 5px 3px;
	float : left;
}

#news_header img.right{
	position: relative;
	border : none;
	margin : 6px 5px 5px 12px;
	float : right;
}*/
#news_header h3{
	position : relative;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 16px;
	line-height : 1em;
	color: #334d55;
	margin: 0px 0px 0px 110px;
	padding: 5px 0px 5px 0px;
}
/*#news_header h2{
	position :;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height : 1.4em;
	color: #334d55;
	margin: 0px 0px 5px 110px;
	padding: 5px 0px 0px 0px;
	background-color : transparent;
}*/
#news_header li{
	margin: 0px 0px 0px 110px;
	padding: 2px 0px 2px 2px;
	list-style-position: outside;
	list-style-type: none;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 1.1em;
	text-decoration: none;
	color: rgb(6,62,98);
}
#news_header li a{
	text-decoration: none;
	color: rgb(80,80,80);
	font-size: 0.8em;
}
#news_header li a:hover{
	text-decoration: none;
	color: rgb(30,30,30);
}
#news_header span.date{
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(80,80,80);
	padding: 0px 0px 5px 0px;
	margin : -2px 0px 0px 0px;
}
/*#news_header p{
	margin: 0px 0px 0px 110px;
	padding : 0px 0px 10px 0px;
}*/
#header{
	margin: -7px 0px 0px 0px;
	padding: 10px 10px 30px 10px;
	background-color: #FFFFE1;
	background-repeat: no-repeat;
	background-position: 12px 12px;
	min-height: 50px;
	height: auto;
}
/*#news_header img.left{
	position: relative;
	border : none;
	margin : 12px 12px 5px 3px;
	float : left;
}

#news_header img.right{
	position: relative;
	border : none;
	margin : 6px 5px 5px 12px;
	float : right;
}*/
#header h3{
	position : relative;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 16px;
	line-height : 1em;
	color: rgb(212,138,71);
	margin: 0px 0px 0px 110px;
	padding: 5px 0px 5px 0px;


	background-color :;
}
/*#news_header h2{
	position :;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height : 1.4em;
	color: #334d55;
	margin: 0px 0px 5px 110px;
	padding: 5px 0px 0px 0px;
	background-color : transparent;
}*/
#header li{
	margin: 0px 0px 0px 110px;
	padding: 2px 0px 2px 2px;
	list-style-position: outside;
	list-style-type: none;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 1em;
	text-decoration: none;
	color: rgb(212,138,71);
}
#header li a{
	text-decoration: none;
	color: rgb(80,80,80);
	font-size: 1em;
}
#header li a:hover{
	text-decoration: none;
	color: rgb(30,30,30);
}
#header span.date{
	position :;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(80,80,80);
	padding: 0px 0px 5px 0px;
	margin : -2px 0px 0px 0px;
}
.header_01{
	background-image: url(../img/title_img_01.jpg);
}
.header_02{
	background-image: url(../img/title_img_02.jpg);
}
.header_03{
	background-image: url(../img/title_img_03.jpg);
}
.header_11{
	background-image: url(../img/title_img_11.jpg);
}
.header_12{
	background-image: url(../img/title_img_12.jpg);
}
.header_13{
	background-image: url(../img/title_img_13.jpg);
}
.header_21{
	background-image: url(../img/title_img_21.jpg);
}
.header_22{
	background-image: url(../img/title_img_22.jpg);
}
#article{
	margin: 0px 7px 0px 7px;
	padding: 10px 0px 20px 0px;
	background-color:;
}
#article img.left{
	position: relative;
	border : none;
	margin : 12px 12px 5px 3px;
	float : left;
}

#article img.right{
	position: relative;
	border : none;
	margin : 6px 5px 5px 12px;
	float : right;
}
#article h3{
	position : relative;

	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 16px;
	line-height : 1.3em;
	color: rgb(212,138,71);
	margin: 0px 0px 0px 0px;
	padding: 8px 0px 0px 0px;
	background-color : transparent;
}
#article div.date{
	position : relative;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(212,138,71);
	padding: 5px 0px 5px 0px;
	margin : 0px 0px 0px 0px;;
}
#article div.schooling{
	position : relative;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #669999;
	padding: 40px 0px 5px 0px;
	margin : 0px 0px 0px 0px;;
}
#article div.title{
	position : relative;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #669999;
	padding: 15px 0px 5px 0px;
	margin : 0px 0px 0px 0px;;
}
#article div.duty{
	position : relative;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #669999;
	padding: 5px 0px 5px 0px;
	margin : 0px 0px 0px 0px;;
}
#article p{
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	color: #333333;
	letter-spacing : 0.1em;
	line-height: 1.4em;
	margin: 0px 0px 0px 0px;
	padding : 20px 0px 10px 0px;
	background-color: transparent;
}
#article p.desc{
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	color: #333333;
	letter-spacing : 0.1em;
	line-height: 1.4em;
	margin: 0px 0px 0px 0px;
	padding : 20px 0px 10px 0px;
	background-color: transparent;
}
#article span{
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	color: #333333;
	letter-spacing : 0.1em;
	margin: 0px 0px 0px 0px;
	padding : 4px 0px 0px 0px;
	/*padding : 10px 0px 20px 0px;*/
	background-color: transparent;
}
#index{
	position : relative;
	margin : 15px 12px 25px 18px;
	clear: both;
}
#index div.album_cover{
	position : relative;
	margin : 0px 10px 30px 0px;
	height: 75px;
	float : left;
}
#index div.albumname{
	position : relative;
	padding : 3px 3px 10px 118px;
	font-size : 1.2em;
	/*padding : 3px 3px 10px 18px;
	margin-left : 100px;*/
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
}
#index div.albumname a{
	padding : 3px 3px 0px 0px;
	color: rgb(212,138,71);
	line-height:  1.5em;
	font-family: 新細明體, 細明體, Arial, Verdana, Tahoma, Helvetica, sans-serif;
	text-decoration : none;
}
#index div.album_intro{
	position : static;
	text-indent : 1em;
	color : #484848;
	line-height : 1.4em;
	min-height: 80px;
	margin : 0px 0px 20px 120px;
	font-size: 13px;
}
#index_subtitle{
	position : relative;
	/*font-family: 新細明體, 細明體, Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;*/
	color: #124E7F;
	padding: 13px 0px 10px 6px;
	width :  570px;
	margin-top : 5px;
	margin-right : 0px;
	margin-bottom : 0px;
	margin-left : 7px;
}
#index_subtitle li {
	list-style-type : square;
	list-style-position :  inside;
	padding :  0px 0px 0px 0px;
}
#index_subtitle div.tb_page_l {
	position : relative;
	padding:0px 0px 0px 15px;
	font-family:Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin-top : 1.4em;
}
#index_subtitle div.tb_page_r{
	position : absolute;
	padding:0px 15px 0px 15px;
	font-family:Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	right : 15px;
	margin-top : -3px;
}
#more2{
	position : static;
	padding: 0px 10px 0px 15px;
	font-family:Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	color : #124E7F;
	margin-top : -16px;
	float: right;
}
#browse_bar{
	position : relative;
	padding : 14px 10px 10px 4px;
	vertical-align : middle;
	text-align : center;
	white-space : nowrap;
	word-break : keep-all;
	clear : both;
}
#browse_bar img.arrow_back{
	margin : 0px 0px 0px 0px;
	border : 0px;
}
#browse_bar img.photo_s{
	margin : 0px 0px 0px 8px;
	border : 0px;
	width : 100px;
}
#browse_bar a.selected{
	background-color : Fuchsia;
	padding : 2px;
}
#browse_bar img.arrow_next{
	margin : 0px 0px 0px 8px;
	border : 0px;
}
#resume{
	margin: 0px 7px 0px 7px;
	padding: 10px 0px 0px 0px;
	background-color:;
}
#resume img.left{
	position: relative;
	border : none;
	margin : 12px 12px 5px 3px;
	float : left;
}

#resume img.right{
	position: relative;
	border : none;
	margin : 6px 5px 5px 12px;
	float : right;
}
#resume h3{
	position : relative;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 16px;
	line-height : 1.3em;
	color: #A26228;
	margin: 0px 0px 0px 0px;
	padding: 8px 0px 0px 0px;
	background-color : transparent;
}
#resume div.date{
	position : relative;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #669999;
	padding: 5px 0px 5px 0px;
	margin : 0px 0px 0px 0px;;
}
#resume div.schooling{
	position : relative;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(212,138,71);
	padding: 40px 0px 5px 0px;
	margin : 0px 0px 0px 0px;;
}
#resume div.title{
	position : relative;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(212,138,71);
	padding: 15px 0px 5px 0px;
	margin : 0px 0px 0px 0px;;
}
#resume div.duty{
	position : relative;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(212,138,71);
	padding: 5px 0px 5px 0px;
	margin : 0px 0px 0px 0px;;
}
#resume p{
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	color: #333333;
	letter-spacing : 0.1em;
	line-height: 1.4em;
	margin: 0px 0px 0px 0px;
	padding : 20px 0px 10px 0px;
	background-color: transparent;
}
#resume span{
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	color: #333333;
	letter-spacing : 0.1em;
	margin: 0px 0px 0px 0px;
	padding : 10px 0px 20px 0px;
	background-color: transparent;
}
#attachment{
	position: relative;
	/*margin : 0px 30px 30px 50px;*/
	margin: 0px 30px 0px 50px;
	padding: 0px 0px 30px 0px;
	background-color : ;
	font: 1em;
}
#attachment li.url{
	margin : 3px 0px 0px 0px;
	padding : 0px 0px 0px 0px;
	position: relative;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 1em;
	list-style-image : url(../img/bullet_qlink.gif);
	list-style-position : outside;
	BORDER-BOTTOM: #969599 1px dotted;
	/*height : 2em;
	line-height : 2em;*/
	color : rgb(212,138,71);
}
#attachment li.file{
	margin : 3px 0px 0px 0px;
	padding : 0px 0px 0px 0px;
	position: relative;
	font-family: ?啁敦??, 蝝唳?擃? Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 1em;
	list-style-image : url(../img/bullet_doc_y.gif);
	list-style-position : outside;
	BORDER-BOTTOM: #969599 1px dotted;
	/*height : 2em;
	line-height : 2em;*/
	color : rgb(212,138,71);
}
#attachment a{
	margin : 0px 0px 0px 0px;
	padding : 0px 0px 0px 0px;
	text-decoration: none;
	color : #555555;
	/*height : 1.8em;
	line-height : 1.6em;*/
}
#attachment a:hover{
	color : #333333;
}
.content1-container {
	/*clear: both; */
	/*float: left; */
	width: 690px; 
	/*width: 428px; */
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 20px 0px;
}
.content1-container-1col {
	width: 690px; 
	/*width: 408px; */
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px;
}
.content1-container-list5 {
	width: 690px;
	/*width: 408px; */
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
}
.content1-container-1col-txtright-200px {
	float: right; 
	width: 196px; 
	margin: 0px; 
	padding: 0px;
}
.content1-container-1col-txtright-160px {
	float: right; 
	width: 236px; 
	margin: 0px; 
	padding: 0px;
}
.content1-container-1col-txtright-120px {
	float: right; 
	width: 276px; 
	margin: 0px; 
	padding: 0px;
}
.content1-container-1col-txtright-100px {
	float: right; 
	width: 296px; 
	margin: 0px; 
	padding: 0px;
}
.content1-container-1col-txtright-80px {
	float: right; 
	width: 316px; 
	margin: 0px; 
	padding: 0px;
}
.content1-container-1col-txtright-60px {
	float: right; 
	width: 336px; 
	margin: 0px; 
	padding: 0px;
}
.content1-container-1col-txtright-40px {
	float: right; 
	width: 356px; 
	margin: 0px; 
	padding: 0px;
}
.content1-container-2col-left {
	overflow: hidden; 
	float: left; 
	width: 305px; 
	/*width: 191px; */
	margin: 0px; 
	padding: 0px;
}
.content1-container-2col-right {
	overflow: hidden; 
	float: right; 
	width: 305px; 
	/*width: 191px; */ 
	/*margin: 0px; */
	/*padding: 0px;*/
}
.content1-container-2col-txtright-100px {
	float: right; 
	width: 79px; 
	margin: 0px; 
	padding: 0px;
}
.content1-container-2col-txtright-80px {
	float: right; 
	width: 99px; 
	margin: 0px; 
	padding: 0px;
}
.content1-container-2col-txtright-60px {float: right; width: 119px; margin: 0px; padding: 0px;}
.content1-container-2col-txtright-40px {float: right; width: 139px; margin: 0px; padding: 0px;}
.content1-container-2col-txtright-20px {float: right; width: 159px; margin: 0px; padding: 0px;}
.content1-container-3col-left {
	overflow: hidden; 
	float: left; 
	width: 195px; 
	/*width: 119px;*/
	margin: 0px 25px 0px 0px; 
	padding: 0px;
}
.content1-container-3col-middle {
	overflow: hidden; 
	float: left; 
	width: 195px; 
	/*width: 119px;*/
	margin: 0px; 
	padding: 0px;
}
.content1-container-3col-right {
	overflow: hidden; 
	float: right; 
	width: 195px; 
	/*width: 119px;*/
	margin: 0px; 
	padding: 0px;
}
.content1-container-3col-txtright-60px {float: right; width: 47px; margin: 0px; padding: 0px;}
.content1-container-3col-txtright-40px {float: right; width: 67px; margin: 0px; padding: 0px;}
.content1-container-3col-txtright-20px {float: right; width: 87px; margin: 0px; padding: 0px;}
.content1-container-3col-txtright-10px {float: right; width: 97px; margin: 0px; padding: 0px;}
.content1-pagetitle {
	width: 690px;
	/*width: 408px; */
	margin: 16px 0px 10px 0px; 
	padding: 0px 0px 2px 0px; 
	border-bottom: solid 3px rgb(177,108,46););
	color: rgb(212,138,71); 
	font-weight: bold; 
	font-size: 180%;
}
.content1-pagebanner {
	overflow: hidden; 
	width: 690px;
	/*width: 408px; */
	height: 100px;
	background-color: #F1EDC5;
	margin: 20px 0px 8px 0px; 
	padding: 4px 0px 2px 0px; 
	color: rgb(212,138,71);
}

/******************************************************/
/* SECTION 4 - SPECIFIC CLASSES FOR LAYOUTS #2 and #3 */
/******************************************************/

.content2 {float: left; width: 590px; min-height: 500px; margin: 0px; padding: 0px 0px 0px 20px; color: rgb(75,75,75); font-size: 1.0em;}
.content3 {float: left; width: 590px; min-height: 500px; margin: 0px; padding: 0px 0px 0px 20px; color: rgb(75,75,75); font-size: 1.0em;}
.content2-container, .content3-container {clear: both; float: left; width: 569px; margin: 0px 0px 15px 0px; padding: 0px;}
.content2-container-1col, .content3-container-1col {overflow: hidden; width: 569px; margin: 0px; padding: 0px;}
.content2-container-1col-txtright-200px, .content3-container-1col-txtright-200px {float: right; width: 357px; margin: 0px; padding: 0px;}
.content2-container-1col-txtright-160px, .content3-container-1col-txtright-160px {float: right; width: 397px; margin: 0px; padding: 0px;}
.content2-container-1col-txtright-120px, .content3-container-1col-txtright-120px {float: right; width: 437px; margin: 0px; padding: 0px;}
.content2-container-1col-txtright-100px, .content3-container-1col-txtright-100px {float: right; width: 457px; margin: 0px; padding: 0px;}
.content2-container-1col-txtright-80px, .content3-container-1col-txtright-80px {float: right; width: 477px; margin: 0px; padding: 0px;}
.content2-container-1col-txtright-60px, .content3-container-1col-txtright-60px {float: right; width: 497px; margin: 0px; padding: 0px;}
.content2-container-1col-txtright-40px, .content3-container-1col-txtright-40px {float: right; width: 517px; margin: 0px; padding: 0px;}
.content2-container-2col-left, .content3-container-2col-left {overflow: hidden; float: left; width: 272px; margin: 0px; padding: 0px;}
.content2-container-2col-right, .content3-container-2col-right {overflow: hidden; float: right; width: 272px; margin: 0px; padding: 0px;}
.content2-container-2col-txtright-100px, .content3-container-2col-txtright-100px {float: right; width: 160px; margin: 0px; padding: 0px;}
.content2-container-2col-txtright-80px, .content3-container-2col-txtright-80px {float: right; width: 180px; margin: 0px; padding: 0px;}
.content2-container-2col-txtright-60px, .content3-container-2col-txtright-60px {float: right; width: 200px; margin: 0px; padding: 0px;}
.content2-container-2col-txtright-40px, .content3-container-2col-txtright-40px {float: right; width: 220px; margin: 0px; padding: 0px;}
.content2-container-2col-txtright-20px, .content3-container-2col-txtright-20px {float: right; width: 240px; margin: 0px; padding: 0px;}
.content2-container-3col-left, .content3-container-3col-left {overflow: hidden; float: left; width: 173px; margin: 0px 25px 0px 0px; padding: 0px;}
.content2-container-3col-middle, .content3-container-3col-middle {overflow: hidden; float: left; width: 173px; margin: 0px; padding: 0px;}
.content2-container-3col-right, .content3-container-3col-right {overflow: hidden; float: right; width: 173px; margin: 0px; padding: 0px;}
.content2-container-3col-txtright-60px, .content3-container-3col-txtright-60px {overflow: hidden; float: right; width: 101px; margin: 0px; padding: 0px;}
.content2-container-3col-txtright-40px, .content3-container-3col-txtright-40px {overflow: hidden; float: right; width: 121px; margin: 0px; padding: 0px;}
.content2-container-3col-txtright-20px, .content3-container-3col-txtright-20px {overflow: hidden; float: right; width: 141px; margin: 0px; padding: 0px;}
.content2-container-3col-txtright-10px, .content3-container-3col-txtright-10px {overflow: hidden; float: right; width: 151px; margin: 0px; padding: 0px;}
.content2-pagetitle, .content3-pagetitle {overflow: hidden; width: 569px; margin: 0px 0px 10px 0px; padding: 0px 0px 2px 0px; border-bottom: solid 3px rgb(88,144,168); color: rgb(88,144,168); font-weight: bold; font-size: 180%;}

/*********************************/
/* SECTION 6 - COMMON PARAMETERS */
/*********************************/

/*--------------------*/
/* 6.1 - Content Area */
/*--------------------*/

/* Titles and textboxes*/
.content-title-noshade-size1 {
	margin: 0px; 
	padding: 0px; 
	color: rgb(88,144,168); 
	font-weight: bold; 
	font-size: 130%;
}
.content-title-noshade-size2 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 150%;}
.content-title-noshade-size3 {
	margin: 0px; 
	padding: 0px; 
	color: rgb(88,144,168); 
	font-weight: bold; 
	font-size: 160%;
}
.content-title-noshade-size4 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 180%;}
.content-title-noshade-size5 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 200%;}
.content-title-shade-size1 {margin: 0px; padding: 0px 10px 0px 10px; background-color: rgb(215,215,215); color: rgb(100,100,100); color: rgb(88,144,168); font-weight: bold; font-size: 130%;}
.content-title-shade-size2 {margin: 0px; padding: 0px 10px 0px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168); font-weight: bold; font-size: 150%;}
.content-title-shade-size3 {margin: 0px; padding: 0px 10px 0px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168); font-weight: bold; font-size: 160%;}
.content-title-shade-size4 {margin: 0px; padding: 0px 10px 0px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168);  font-weight: bold; font-size: 180%;}
.content-title-shade-size5 {margin: 0px; padding: 0px 10px 0px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168);  font-weight: bold; font-size: 200%;}
.content-subtitle-noshade-size1 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 110%;}
.content-subtitle-noshade-size2 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 120%;}
.content-subtitle-noshade-size3 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 130%;}
.content-subtitle-noshade-size4 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 140%;}
.content-subtitle-noshade-size5 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 150%;}
.content-subtitle-shade-size1 {margin: 0px; padding: 0px 10px 3px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168); font-weight: bold; font-size: 110%;}
.content-subtitle-shade-size2 {margin: 0px; padding: 0px 10px 3px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168); font-weight: bold; font-size: 120%;}
.content-subtitle-shade-size3 {margin: 0px; padding: 0px 10px 3px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168); font-weight: bold; font-size: 130%;}
.content-subtitle-shade-size4 {margin: 0px; padding: 0px 10px 3px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168); font-weight: bold; font-size: 140%;}
.content-subtitle-shade-size5 {margin: 0px; padding: 0px 10px 3px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168); font-weight: bold; font-size: 150%;}
.content-txtbox-noshade {
	position: relative;
	margin: 0px 0px 0px 0px; 
	padding: 7px 0px 10px 0px; 
	background-color:;
	/*width: 630px;*/
}
.content-txtbox-shade {
	margin: 0px 0px 0px 0px; 
	padding: 0px 10px 15px 10px; 
	background-color: rgb(235,235,235);
}
#page_nav{
	background-color : #FFFACD;
	padding: 0px 10px 8px 0px;
	border : 1px;
	font-family: Arial, Helvetica, ?啁敦??, sans serif, "trebuchet ms"; 
	font-size: 1.1em;
	letter-spacing : 2px;
	border-top-color : #BEC49E;
	border-top-style : dotted;
	border-bottom-color : #BEC49E;
	border-bottom-style : dotted;
	height: 24px;
	margin: 0px 0px 2px 0px;
}
#page_nav li{
	list-style : none;
	list-style-position: outside;
	margin: 0px 0px 0px 0px;
	padding: 8px 0px 0px 6px;
}
#page_nav a{
	margin : 0px 8px 0px 6px;
	font-family: Arial, Helvetica, ?啁敦??, sans serif, "trebuchet ms"; 
	font-size: 1em;
	text-decoration: none;
}
#page_nav a:hover{
	text-decoration: underline;
}
#page_nav select.page{
	margin : 7px 0px 0px 0px; 
	font-family: Arial, Helvetica, ?啁敦??, sans serif, "trebuchet ms"; 
	font-size: 1em;
}
#page_nav li input.btn{
	height : 19px;
	padding : 0px 0px 0px 0px;
	margin : 8px 0px 0px 0px;
}
#page_nav span{
	float : right;
	margin: -28px 0px 0px 0px;
	padding: 0px 0px 0px 0px !important;
}
#rndbox_top {
	position: static;
	PADDING: 0px 0px 0px 0px;
	BACKGROUND: url(../img/bg_corner_top.gif) repeat-x;
	margin :  5px 0px 0px 0px;
	background-color: transparent;
	}
#rndtop{
	background : url(../img/corner_tl.gif) no-repeat;
	background-position : top left;
	width : 100%;
	height : 5px;
}
#rndtop p{
	background : url(../img/corner_tr.gif) no-repeat;
	background-position : top right;
	width : 100%;
	height : 5px;
}
#rndbox_body {
	PADDING: 6px 12px 0px 12px;
	border-left : #EAE8E3 2px solid;
	border-right : #EAE8E3 2px solid;
	margin : 0px 0px 0px 0px;
	}
#title_bar{
	background-color : #FFFACD;
	padding: 8px 10px 0px 0px;
	border : 1px;
	letter-spacing : 2px;
	border-top-color : #BEC49E;
	border-top-style : dotted;
	border-bottom-color : #BEC49E;
	border-bottom-style : dotted;
	height: 20px;
	margin: 0px 0px 8px 0px;
	font-size: 1em;
}
#title_bar li{
	list-style : disc;
	list-style-position : inside;
	margin: 0px 0px 0px 0px;
	padding: 0px 4px 0px 8px;
}
#title_bar a{
	margin : 0px 8px 0px 0px;
	font-size:10px;
	text-decoration: none;
}
#title_bar li span a{
	float : right;
	margin-top : -17px;
	line-height : 20px;
	font-size:1em;
	text-decoration: none;
	
}
#title_bar li span a:hover{
	text-decoration: underline;
}
#news_list{
	position : relative;
	width : 100%;
	color : #6E715F;
	padding : 0px 0px 10px 0px;
}
#news_list li{	
	list-style-type : none;
	list-style-image : url(../img/bullet_doc_2.gif);
	margin : 6px 10px 4px 16px !important;
	margin : 6px 10px 4px 20px;
	list-style : outside;
	BORDER-BOTTOM: #969599 1px dotted;
	padding: 0px 0px 6px 0px;
}
#news_list li A{
	color : #555;
	text-decoration : none;
	margin : 0px 0px 0px 0px;
	line-height : 1.8em;
}
#news_list li A:hover {
	color : #333333;
}
#news_list li A.category{
	color : rgb(212,138,71);
	text-decoration : none;
	margin : 0px 6px 0px 0px;
}
#news_list li A.category:hover {
	color : #666600;
}
#news_list li span {
	color : #FFFFFF;
	float:;
	top:;
	padding: 1px 7px 0px 7px;
	margin: 1px 7px 0px 7px;
	position: relative;
	background-color : #F08080;
}
#table5{
	position: relative;
	background: #F6DBC4;
	width: 99%;
	top : 10px;
	left : 4px;
	height: auto;
	/*margin: 1.4em 1em 1.4em 1.6em;*/
	padding:  0em 0.2em 0.2em 0em;
}
#table5 table{
	position : relative;
	top : -4px;
	left : -4px;
	width : 100%;
	border : 1px solid #666666;
	background : #8B4513;
	table-layout : auto;
}
#table5 table caption{
	margin : 0;
	padding : 8px 8px 8px 8px;
	font-size : 1.1em;
	color : #F8F8FF;
	text-align : left;
	border : 1px solid #8B4513;
	border-bottom : none;
	background : #8B4513;
}
#table5 table th{
	margin : 0px;
	padding : 8px 8px 8px 8px;
	font-size : 1em;
	color : #F5FBE1;
	text-align : left;
	border-bottom : 1px solid #BC955E;
	background-color : #DEB887;
}
#table5 table td{
	margin : 0px;
	padding : 8px 8px 8px 8px;
	font-size : 1.1em;
	color : #333333;
	vertical-align: top;
	border-bottom : 1px solid #D2B48C;
}
#table5 table th.name{
	text-align : left;
	word-break : keep-all;
	width: 80px;
}
#table5 table th.portrait{
	text-align : left;
	word-break : keep-all;
	width: 100px;
}
#table5 table th.purpose{
	text-align : left;
	word-break : break-all;
	width: 80px;
}
#table5 table th.minutes{
	text-align : left;
	word-break : keep-all;
	width: 80px;
}
#table5 table th.date{
	text-align : left;
	word-break : keep-all;
	width: 80px;
}
#table5 table th.role{
	text-align : left;
	word-break : keep-all;
	width: 80px;
}
#table5 table th.ext{
	text-align : left;
	word-break : keep-all;
	width: 80px;
}
#table5 table th.tel{
	text-align : left;
	word-break : keep-all;
	width: 80px;
}
#table5 table th.email{
	text-align : left;
	word-break : keep-all;
	width: 80px;
}
#table5 table th.annual{
	text-align : left;
	word-break : keep-all;
	width: 35px;
}
#table5 table th.member{
	text-align : left;
	word-break : keep-all;
	width: 50px;
}
#table5 table th.meeting{
	text-align : left;
	word-break : keep-all;
	width: 50px;
}
#table5 table th.duration{
	text-align : left;
	word-break : keep-all;
	width: 150px;
}
#table5 table th.w_70px{
	text-align : left;
	word-break : keep-all;
	width: 70px;
}
#table5 table.center{
	text-align : center;
	padding : .7em .2em .7em .2em;
	width : 12%;
	word-break : keep-all;
}

#table5 table td.date{
	text-align : left;
	word-break : keep-all;
	color : rgb(212,138,71);
	width: 80px;
	font-size: 12px;
}

#table5 table tr{
	background : #F6F7EA;
}

#table5 table tr.alt{
	background : #F1EFC5;
}

#table5 table td a{
	display : block;
	line-height : 1.5em;
	padding : 0px;
	font-size: 10px;
}
#spacer{
	position: relative;
	height: 18px;
}
#spacer_h350{
	position: relative;
	height: 350px;
	height: 0px !important;
	clear: both;
}
#rndbox_bottom {
	PADDING: 0px 0px 0px 0px;
	BACKGROUND: url(../img/bg_corner_bottom.gif) repeat-x;
	background-position : bottom;
	margin :  0px 0px 16px 0px;
	background-color : transparent;
	}
#rndbottom{
	background : url(../img/corner_bl.gif) no-repeat;
	background-position : bottom left;
	height : 5px;
	position: relative;
	margin : 0px;
}
#rndbottom p{
	background : url(../img/corner_br.gif) no-repeat;
	background-position : bottom right;
	height : 5px;
	position : relative;
	margin : 0px;
}

/* Headings */
h1 {margin: 1.0em 0px 0.5em 0px; font-weight: bold; font-size: 160%;}
h2 {
	margin: 1.0em 0px 1em 0px; 
	font-weight: normal; 
	font-size: 150%;
}
h2.title {
	font-family : Arial, Helvetica, 新細明體, sans-serif;
	BACKGROUND: url(../img/arrow_ico.gif) no-repeat left; 
	background-color: rgb(229,165,95);
	font-weight: bold; 
	/*color:rgb(88,144,168);*/
	color:rgb(255,255,255);
	font-size: 140%;
	MARGIN: 0px 2px 0px 0px; 
	PADDING: 4px 12px 2px 28px;
	}
h2.title SPAN{
	padding : 0px 0px 0px 0px;
	margin : 2px 0px 0px 8px;
	/*color:rgb(158,193,206);*/
	color:rgb(255,255,255);
	font-size: 110%;
}
h3 {
	margin: 1.0em 0px 0.5em 0px; 
	font-weight: bold; 
	font-size: 140%;
}
h4 {margin: 1.0em 0px 0.5em 0px; font-weight: bold; font-size: 130%;}
h5 {margin: 0px 0px 0.2em 0px; font-weight: bold; font-size: 130%;}
h6 {margin: 0px 0px 0.2em 0px;font-weight: bold; font-style: italic; font-size: 130%;}

/* Paragraphs */
p {
	margin: 0px 0px 0.2em 0px; 
	padding: 0px; 
	font-family: Arial, Helvetica, ?啁敦??, sans serif, "trebuchet ms"; 
	font-size: 1em !important;
	font-size: 1em;
	background-color: transparent;
	/*font-family: arial, sans serif; 
	font-size: 120%; */
}
/*
p.readmore {
	margin: 1.0em 0px 0.1em 0px; 
	padding: 0px; 
	line-height: 1.2em; 
	font-size: 110%; 
}
*/
p.readmore{
	float: right;
	margin: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px;
	padding: 5px 10px 1px 0px;
	font-size: 1em !important;
	font-size: 0.9em;
	vertical-align: baseline;
}
p.readmore a:link {
	color: rgb(75,75,75); 
	text-decoration: none;
	background-color:;
	padding: 0px 3px 1px 3px;
}
p.readmore a:hover {
	color: rgb(0,0,0); 
	text-decoration: none;
	border-bottom: dashed 1px #333;
}
p.quote {margin: 0em 30px 0.6em 30px;	line-height: 120%; font-size: 120%;}
p.embed {float: left; width: 120px; margin: 7px 7px 5px 0px; padding: 5px 5px 5px 5px; background-color: rgb(238,237,249); font-style: italic; font-weight: bold;  line-height: 1.2em; font-size: 140%;}
p.embed-caption {float: left; margin: 5px 0px 0px 0px; padding: 0px; font-style: italic; font-weight: normal; line-height: 1.2em; font-size: 70%;}

/* Quote */
p.quote {clear: left; margin: 0em 30px 0.6em 30px;	line-height: 120%; font-size: 110%;}

/* Embedded emphasis */
.embed {float: left; width: 120px; margin: 2px 7px 2px 0px; padding: 5px 5px 5px 5px; background-color: rgb(238,237,249); font-style: italic; font-weight: bold;  line-height: 1.2em; font-size: 140%;}
.embed-caption {float: left; margin: 5px 0px 0px 0px; padding: 0px; font-style: italic; font-weight: normal; line-height: 1.2em; font-size: 70%;}

/* Lists */
ul.noindent {margin: 0px 0px 7px 15px; padding: 0px; list-style-type: disc; list-style-position: outside; font-size: 120%;}
ul.indent {margin: 0px 0px 7px 15px; padding: 0px 0px 0px 15px; list-style-type: disc; font-family: arial; font-size: 120%;}
ol {margin: 0px 0px 0px 9px; padding: 0px 0px 0px 25px; list-style-type: decimal; list-style-position: outside; font-size: 120%;}
ul.linklist-noindent {margin: -0.3em 0px 0.5em 0px; padding: 0px; list-style-type: none; line-height: 1.2em; font-size: 120%; }
ul.linklist-indent {margin: -0.3em 0px 0.5em 0px; padding: 0px 0px 0px 10px; list-style-type: none; line-height: 1.2em; font-size: 120%; }

/* Tables */
.table {clear: left; margin: 0.5em 0px 0.2em 30px; border: solid 1px rgb(150,150,150); empty-cells: show; border-collapse: collapse; background-color: rgb(233,232,244);}
.table tr {margin: 0px; padding: 0px;}
.table td {padding: 2px 7px 2px 7px; border: solid 1px rgb(150,150,150); text-align: left; font-size: 120%;}
.table th {margin: 0px; padding: 2px 7px 2px 7px; border: solid 1px rgb(150,150,150); empty-cells: show; text-align: left; font-size: 120%; 	}
.table-caption {margin: 0.5em 0px 1.0em 30px; padding: 0px; clear: both; text-align: left; font-size: 120%;}

/* Images */
.img-left-noborder-notopmargin {float: left; margin: 0px 10px 0px 0px;}
.img-left-noborder-topmargin {float: left; margin: 3px 10px 0px 0px;}
.img-left-border-notopmargin {float: left; margin: 0px 10px 0px 0px; border: solid 1px rgb(150,150,150);}
.img-left-border-topmargin {float: left; margin: 3px 10px 0px 0px; border: solid 1px rgb(150,150,150);}
.img-right-noborder-notopmargin {float: right; margin: 0px 0px 0px 10px;}
.img-right-noborder-topmargin {float: right; margin: 3px 0px 0px 10px;}
.img-right-border-notopmargin {float: right; margin: 0px 0px 0px 10px; border: solid 1px rgb(150,150,150);}
.img-right-border-topmargin {float: right; margin: 3px 0px 0px 10px; border: solid 1px rgb(150,150,150);}

/*--------------------*/
/* 6.2 - Sidebar Area */
/*--------------------*/
.sidebar {
	overflow: hidden; 
	float: right; 
	width: 156px; 
	min-height: 450px; 
	margin: 4px 0px 0px 0px; 
	padding: 0px 0px 10px 0px; 
	text-align: left; 
	color: rgb(15,15,15);
	background-image: url(../img/bg_content1.gif);
	background-repeat: repeat-x;
	background-position: top;
}
.sidebar-maintitle {
	padding: 0px 0px 0px 0px;
	background-image: url(../img/bg_sidebar-maintitle.gif);
	background-repeat: repeat-x;
	/*border-top: rgb(91,125,49) solid 3px;*/
	/*background-color: rgb(156,186,214); */
	color: rgb(255,255,255); 
	font-weight: normal; 
	font-family: Arial, Helvetica, ?啁敦??, sans serif, "trebuchet ms"; 
	font-size: 1.2em !important;
	font-size: 1em;
}
.sidebar-maintitle li{
	list-style-position: outside;
	background-image: url(../img/bg_sidebar-maintitle_l.gif);
	background-position: left top;
	background-repeat: no-repeat;
	padding: 4px 0px 0px 17px; 
	height: 23px;
	
}
.sidebar-title-noshade {
	margin: 10px 0px 0px 0px; 
	padding: 2px 10px 3px 10px; 
	border-top: solid 0px rgb(215,215,215); 
	color: rgb(15,15,15);
	font-weight: normal; 
	font-family: Arial, Helvetica, ?啁敦??, sans serif, "trebuchet ms"; 
	font-size: 1.2em !important;
	font-size: 1em;
	/*font-weight: bold; 
	font-size: 120%;*/
}
.sidebar-title-shade {
	margin: 0px; 
	padding: 2px 10px 3px 10px;
	/*background-color: rgb(215,215,215); */
	color: rgb(75,75,75); 
	font-weight: bold; 
	font-size: 120%;
}
.sidebar-txtbox-noshade {
	margin: 0px 5px 10px 0px; 
	padding: 16px 5px 3px 15px;
}
.sidebar-txtbox-noshade img{
	border: 0px;
}
.sidebar-txtbox-noshade div{
	margin: 0px 5px 0px 0px; 
	padding: 0px 15px 0px 0px;
	height: 55px;
}
.sidebar-txtbox-noshade a{
	margin: 0px 0px 0px 0px;
}
.sidebar-txtbox-noshade a:hover{
	margin: 2px 0px 0px 0px;
}
.sidebar-txtbox-shade {
	margin: 0px 0px 10px 0px; 
	padding: 2px 10px 3px 10px; 
	background-color: rgb(235,235,235);
}
.sidebar-txtbox-noshade p {
	margin: 0px 0px 10px 0px; 
	padding: 0px 0px 10px 0px; 
	border-bottom: dashed 1px rgb(220,219,223);
	line-height: 1.25em; 
	font-size: 110%;
}
.sidebar-txtbox-noshade li {
	margin: 0px 0px 5px 0px; 
	padding: 0px 0px 5px 0px; 
	list-style-type: none !important;
	list-style: outside none;
	line-height: 1.6em; 
	font-size: 110%;
	border-bottom: dashed 1px rgb(220,219,223);
}
.sidebar-txtbox-noshade li a{
	text-decoration: none;
	color:rgb(75,75,75);
	padding: 0px 0px 0px 0px;
	font-family: Arial, Helvetica, ?啁敦??, sans serif, "trebuchet ms"; 
	font-size: 1.1em !important;
	font-size: 0.9em;
}
.sidebar-txtbox-noshade li a:hover{
	color:rgb(0,0,0);
	text-decoration: none;
}
.sidebar-txtbox-shade p {
	margin: 0px 0px 5px 0px; 
	padding: 0px; 
	line-height: 1.25em; 
	font-size: 110%;
}

/*--------------------*/
/* 6.3 - Footer Area  */
/*--------------------*/
.footer {
	overflow: hidden; 
	clear: both; 
	width: 998px; 
	/*width: 770px; */
	height: 28px; 
	margin: 0px; 
	padding: 8px 0px 4px 0px; 
	border-top: solid 0px rgb(125,125,125);
	background-image: url(../img/bg_footer.gif);
	background-position: bottom;
	background-repeat: no-repeat;
	color: rgb(50,52,47); 
	font-size: 1.0em;
}
.footer p a{
	color: #3A3A3A;
}
.footer p {
	position: absolute;
	padding: 0px 0px 0px 128px !important;
	padding: 0px 0px 0px 124px;
	margin: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px;
	line-height: ; 
	font-size: 110%;
	float: left;
}
.footer p.en{
	position: absolute;
	padding: 0px 0px 0px 126px !important;
	padding: 0px 0px 0px 122px;
	margin: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px;
	line-height: ; 
	font-size: 110%;
	float: left;
}
.footer a.enable{
	background-color:;
	float: right;
	margin: -5px 40px 0px 0px !important;
	margin: -5px 40px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.footer a.enable:hover{
	margin: -5px 40px 0px 0px !important;
	margin: -5px 40px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.footer2 {
	overflow: hidden; 
	clear: both; 
	width: 998px; 
	/*width: 770px; */
	height: 30px; 
	margin: 0px; 
	padding: 0px 0px 8px 0px; 
	border-top: solid 0px rgb(125,125,125);
	/*background-image: url(../img/bg_footer.gif);
	background-position: bottom;
	background-repeat: no-repeat;*/
	color: rgb(255,255,255); 
	font-size: 1.0em;
	background-color: rgb(133,90,47);
}
.footer2 p a{
	color: #3A3A3A;
}
.footer2 p {
	position: absolute;
	padding: 4px 0px 4px 122px !important;
	padding: 4px 0px 4px 118px;
	margin: 0px 0px 4px 0px !important;
	margin: 0px 0px 4px 0px;
	font-size: 110%;
	float: left;
}
.footer2 p.en {
	position: absolute;
	padding: 0px 0px 0px 122px !important;
	padding: 0px 0px 0px 118px;
	margin: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px;
	font-size: 110%;
	float: left;
}
.footer2 a.enable{
	background-color:;
	float: right;
	margin: -5px 40px 0px 0px !important;
	margin: -5px 40px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.footer2 a.enable:hover{
	margin: -5px 40px 0px 0px !important;
	margin: -5px 40px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/*******************************/
/* SECTION 7 - GENERIC CLASSES */
/*******************************/

/*----------------------------*/
/* 7.1 - Title decoration box */
/*----------------------------*/
.box-on {
	float: left; 
	min-width: 0.3em; 
	margin-right: 0.2em; 
	padding: 0px 0.2em 0px 0.3em;
}
.box-off {
	display: none;
}
/* html box-on {width: 1%;} /* IE6-Hack for min-width. Also compliant with IE7-Beta2 */ 

/*-----------------------------*/
/* 7.2 - Horizontal alignments */
/*-----------------------------*/
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}

/*------------------*/
/* 7.3  Text colors */
/*------------------*/
.txt-white {color: rgb(255,255,255);}
.txt-black {color: rgb(0,0,0);}

.txt-grey01 {color: rgb(242,242,242);}
.txt-grey02 {color: rgb(230,230,230);}
.txt-grey03 {color: rgb(217,217,217);}
.txt-grey04 {color: rgb(204,204,204);}
.txt-grey05 {color: rgb(191,191,191);}
.txt-grey06 {color: rgb(178,178,178);}
.txt-grey07 {color: rgb(153,153,153);}
.txt-grey08 {color: rgb(127,127,127);}
.txt-grey09 {color: rgb(89,89,89);}
.txt-grey10 {color: rgb(51,51,51);}

.txt-yellow01 {color: rgb(254,252,232);}
.txt-yellow02 {color: rgb(253,249,201);}
.txt-yellow03 {color: rgb(253,246,185);}
.txt-yellow04 {color: rgb(252,243,162);}
.txt-yellow05 {color: rgb(251,239,139);}
.txt-yellow06 {color: rgb(250,236,116);}
.txt-yellow07 {color: rgb(249,233,93);}
.txt-yellow08 {color: rgb(249,230,69);}
.txt-yellow09 {color: rgb(248,227,46);}
.txt-yellow10 {color: rgb(247,224,23);}

.txt-blue01 {color: rgb(238,237,249);}
.txt-blue02 {color: rgb(222,220,242);}
.txt-blue03 {color: rgb(205,202,236);}
.txt-blue04 {color: rgb(189,185,229);}
.txt-blue05 {color: rgb(172,167,223);}
.txt-blue06 {color: rgb(155,149,217);}
.txt-blue07 {color: rgb(139,132,210);}
.txt-blue08 {color: rgb(122,114,204);}
.txt-blue09 {color: rgb(106,97,197);}
.txt-blue10 {color: rgb(89,79,191);}

.txt-green01 {color: rgb(237,246,229);}
.txt-green02 {color: rgb(220,238,204);}
.txt-green03 {color: rgb(202,229,178);}
.txt-green04 {color: rgb(185,220,153);}
.txt-green05 {color: rgb(167,211,127);}
.txt-green06 {color: rgb(149,203,102);}
.txt-green07 {color: rgb(132,194,76);}
.txt-green08 {color: rgb(114,185,51);}
.txt-green09 {color: rgb(97,177,25);}
.txt-green10 {color: rgb(79,168,0);}

.txt-red01 {color: rgb(252,235,233);}
.txt-red02 {color: rgb(248,216,211);}
.txt-red03 {color: rgb(245,196,188);}
.txt-red04 {color: rgb(242,177,166);}
.txt-red05 {color: rgb(238,157,144);}
.txt-red06 {color: rgb(235,137,122);}
.txt-red07 {color: rgb(232,118,100);}
.txt-red08 {color: rgb(229,98,77);}
.txt-red09 {color: rgb(225,79,55);}
.txt-red10 {color: rgb(222,59,33);}

/*-------------------------*/
/* 7.4 - Background colors */
/*-------------------------*/
.bg-white {background-color: rgb(255,255,255);}
.bg-black {background-color: rgb(0,0,0);}

.bg-grey01 {background-color: rgb(242,242,242);}
.bg-grey02 {background-color: rgb(230,230,230);}
.bg-grey03 {background-color: rgb(217,217,217);}
.bg-grey04 {background-color: rgb(204,204,204);}
.bg-grey05 {background-color: rgb(191,191,191);}
.bg-grey06 {background-color: rgb(178,178,178);}
.bg-grey07 {background-color: rgb(153,153,153);}
.bg-grey08 {background-color: rgb(127,127,127);}
.bg-grey09 {background-color: rgb(89,89,89);}
.bg-grey10 {background-color: rgb(51,51,51);}

.bg-yellow01 {background-color: rgb(254,252,232);}
.bg-yellow02 {background-color: rgb(253,249,201);}
.bg-yellow03 {background-color: rgb(253,246,185);}
.bg-yellow04 {background-color: rgb(252,243,162);}
.bg-yellow05 {background-color: rgb(251,239,139);}
.bg-yellow06 {background-color: rgb(250,236,116);}
.bg-yellow07 {background-color: rgb(249,233,93);}
.bg-yellow08 {background-color: rgb(249,230,69);}
.bg-yellow09 {background-color: rgb(248,227,46);}
.bg-yellow10 {background-color: rgb(247,224,23);}

.bg-blue01 {background-color: rgb(238,237,249);}
.bg-blue02 {background-color: rgb(222,220,242);}
.bg-blue03 {background-color: rgb(205,202,236);}
.bg-blue04 {background-color: rgb(189,185,229);}
.bg-blue05 {background-color: rgb(172,167,223);}
.bg-blue06 {background-color: rgb(155,149,217);}
.bg-blue07 {background-color: rgb(139,132,210);}
.bg-blue08 {background-color: rgb(122,114,204);}
.bg-blue09 {background-color: rgb(106,97,197);}
.bg-blue10 {background-color: rgb(89,79,191);}

.bg-green01 {background-color: rgb(237,246,229);}
.bg-green02 {background-color: rgb(220,238,204);}
.bg-green03 {background-color: rgb(202,229,178);}
.bg-green04 {background-color: rgb(185,220,153);}
.bg-green05 {background-color: rgb(167,211,127);}
.bg-green06 {background-color: rgb(149,203,102);}
.bg-green07 {background-color: rgb(132,194,76);}
.bg-green08 {background-color: rgb(114,185,51);}
.bg-green09 {background-color: rgb(97,177,25);}
.bg-green10 {background-color: rgb(79,168,0);}

.bg-red01 {background-color: rgb(252,235,233);}
.bg-red02 {background-color: rgb(248,216,211);}
.bg-red03 {background-color: rgb(245,196,188);}
.bg-red04 {background-color: rgb(242,177,166);}
.bg-red05 {background-color: rgb(238,157,144);}
.bg-red06 {background-color: rgb(235,137,122);}
.bg-red07 {background-color: rgb(232,118,100);}
.bg-red08 {background-color: rgb(229,98,77);}
.bg-red09 {background-color: rgb(225,79,55);}
.bg-red10 {background-color: rgb(222,59,33);}

/*---------------------------*/
/* 7.5  Bottom border colors */
/*---------------------------*/
.line-box {
	border-bottom: dashed 1px rgb(200,200,200); 
	padding: 10px 0px 0px 0px; 
	margin: 0px 0px 0px 0px;
}
.line-white {border-bottom: solid 1px rgb(255,255,255); padding-bottom: 2px; margin: 0px 0px 1px 0px;}
.line-black {border-bottom: solid 1px rgb(0,0,0); padding-bottom: 2px; margin: 0px 0px 1px 0px;}

.line-grey01 {border-bottom: solid 1px rgb(242,242,242); padding-bottom: 2px; margin-bottom: 1px;}
.line-grey02 {border-bottom: solid 1px rgb(230,230,230); padding-bottom: 2px; margin-bottom: 1px;}
.line-grey03 {border-bottom: solid 1px rgb(217,217,217); padding-bottom: 2px; margin-bottom: 1px;}
.line-grey04 {border-bottom: solid 1px rgb(204,204,204); padding-bottom: 2px; margin-bottom: 1px;}
.line-grey05 {border-bottom: solid 1px rgb(191,191,191); padding-bottom: 2px; margin-bottom: 1px;}
.line-grey06 {border-bottom: solid 1px rgb(178,178,178); padding-bottom: 2px; margin-bottom: 1px;}
.line-grey07 {border-bottom: solid 1px rgb(153,153,153); padding-bottom: 2px; margin-bottom: 1px;}
.line-grey08 {border-bottom: solid 1px rgb(127,127,127); padding-bottom: 2px; margin-bottom: 1px;}
.line-grey09 {border-bottom: solid 1px rgb(89,89,89); padding-bottom: 2px; margin-bottom: 1px;}
.line-grey10 {border-bottom: solid 1px rgb(51,51,51); padding-bottom: 2px; margin-bottom: 1px;}

.line-yellow01 {border-bottom: solid 1px rgb(254,252,232); padding-bottom: 2px; margin-bottom: 1px;}
.line-yellow02 {border-bottom: solid 1px rgb(253,249,201); padding-bottom: 2px; margin-bottom: 1px;}
.line-yellow03 {border-bottom: solid 1px rgb(253,246,185); padding-bottom: 2px; margin-bottom: 1px;}
.line-yellow04 {border-bottom: solid 1px rgb(252,243,162); padding-bottom: 2px; margin-bottom: 1px;}
.line-yellow05 {border-bottom: solid 1px rgb(251,239,139); padding-bottom: 2px; margin-bottom: 1px;}
.line-yellow06 {border-bottom: solid 1px rgb(250,236,116); padding-bottom: 2px; margin-bottom: 1px;}
.line-yellow07 {border-bottom: solid 1px rgb(249,233,93); padding-bottom: 2px; margin-bottom: 1px;}
.line-yellow08 {border-bottom: solid 1px rgb(249,230,69); padding-bottom: 2px; margin-bottom: 1px;}
.line-yellow09 {border-bottom: solid 1px rgb(248,227,46); padding-bottom: 2px; margin-bottom: 1px;}
.line-yellow10 {border-bottom: solid 1px rgb(247,224,23); padding-bottom: 2px; margin-bottom: 1px;}

.line-blue01 {border-bottom: solid 1px rgb(238,237,249); padding-bottom: 2px; margin-bottom: 1px;}
.line-blue02 {border-bottom: solid 1px rgb(222,220,242); padding-bottom: 2px; margin-bottom: 1px;}
.line-blue03 {border-bottom: solid 1px rgb(205,202,236); padding-bottom: 2px; margin-bottom: 1px;}
.line-blue04 {border-bottom: solid 1px rgb(189,185,229); padding-bottom: 2px; margin-bottom: 1px;}
.line-blue05 {border-bottom: solid 1px rgb(172,167,223); padding-bottom: 2px; margin-bottom: 1px;}
.line-blue06 {border-bottom: solid 1px rgb(155,149,217); padding-bottom: 2px; margin-bottom: 1px;}
.line-blue07 {border-bottom: solid 1px rgb(139,132,210); padding-bottom: 2px; margin-bottom: 1px;}
.line-blue08 {border-bottom: solid 1px rgb(122,114,204); padding-bottom: 2px; margin-bottom: 1px;}
.line-blue09 {border-bottom: solid 1px rgb(106,97,197); padding-bottom: 2px; margin-bottom: 1px;}
.line-blue10 {border-bottom: solid 1px rgb(89,79,191); padding-bottom: 2px; margin-bottom: 1px;}

.line-green01 {border-bottom: solid 1px rgb(237,246,229); padding-bottom: 2px; margin-bottom: 1px;}
.line-green02 {border-bottom: solid 1px rgb(220,238,204); padding-bottom: 2px; margin-bottom: 1px;}
.line-green03 {border-bottom: solid 1px rgb(202,229,178); padding-bottom: 2px; margin-bottom: 1px;}
.line-green04 {border-bottom: solid 1px rgb(185,220,153); padding-bottom: 2px; margin-bottom: 1px;}
.line-green05 {border-bottom: solid 1px rgb(167,211,127); padding-bottom: 2px; margin-bottom: 1px;}
.line-green06 {border-bottom: solid 1px rgb(149,203,102); padding-bottom: 2px; margin-bottom: 1px;}
.line-green07 {border-bottom: solid 1px rgb(132,194,76); padding-bottom: 2px; margin-bottom: 1px;}
.line-green08 {border-bottom: solid 1px rgb(114,185,51); padding-bottom: 2px; margin-bottom: 1px;}
.line-green09 {border-bottom: solid 1px rgb(97,177,25); padding-bottom: 2px; margin-bottom: 1px;}
.line-green10 {border-bottom: solid 1px rgb(79,168,0); padding-bottom: 2px; margin-bottom: 1px;}

.line-red01 {border-bottom: solid 1px rgb(252,235,233); padding-bottom: 2px; margin-bottom: 1px;}
.line-red02 {border-bottom: solid 1px rgb(248,216,211); padding-bottom: 2px; margin-bottom: 1px;}
.line-red03 {border-bottom: solid 1px rgb(245,196,188); padding-bottom: 2px; margin-bottom: 1px;}
.line-red04 {border-bottom: solid 1px rgb(242,177,166); padding-bottom: 2px; margin-bottom: 1px;}
.line-red05 {border-bottom: solid 1px rgb(238,157,144); padding-bottom: 2px; margin-bottom: 1px;}
.line-red06 {border-bottom: solid 1px rgb(235,137,122); padding-bottom: 2px; margin-bottom: 1px;}
.line-red07 {border-bottom: solid 1px rgb(232,118,100); padding-bottom: 2px; margin-bottom: 1px;}
.line-red08 {border-bottom: solid 1px rgb(229,98,77); padding-bottom: 2px; margin-bottom: 1px;}
.line-red09 {border-bottom: solid 1px rgb(225,79,55); padding-bottom: 2px; margin-bottom: 1px;}
.line-red10 {border-bottom: solid 1px rgb(222,59,33); padding-bottom: 2px; margin-bottom: 1px;}

/*****************************/
/* SECTION 8 - MISCELLANEOUS */
/*****************************/
.showcode {
	font-family: monospace; 
	font-weight: bold; 
	font-size: 13px; 
	color: rgb(255,0,0);
}
.clear {
	clear: both;
}
.hide {
	display: none;
}
br {
	clear: none;
}
