description = "頁尾部分(Footer)各學系連結"
==
<ul class="flag_list clearfix">
    <li>
        <a href="http://www.tflx.tku.edu.tw" target="_blank">
            <img src='{{"assets/images/flag_britain.jpg" | theme}}' alt="flag">
            <span>Department of English</span>
        </a>
    </li>
    <li>
        <a href="http://www.tffx.tku.edu.tw"  target="_blank">
            <img src='{{"assets/images/flag_france.jpg" | theme}}' alt="flag">
            <span>Department of French</span>
        </a>
    </li>
    <li>
        <a href="http://www.tfjx.tku.edu.tw"  target="_blank">
            <img src='{{"assets/images/flag_japan.jpg" | theme}}' alt="flag">
            <span>Department of Japanese</span>
        </a>
    </li>
    <li>
        <a href="http://www.tfgx.tku.edu.tw"  target="_blank">
            <img src='{{"assets/images/flag_spain.jpg" | theme}}' alt="flag">
            <span>Department of Spanish</span>
        </a>
    </li>
    <li>
        <a href="http://www.tfgx.tku.edu.tw"  target="_blank">
            <img src='{{"assets/images/flag_germany.jpg" | theme}}' alt="flag">
            <span>Department of German</span>
        </a>
    </li>
    <li>
        <a href="http://www.tfux.tku.edu.tw"  target="_blank">
            <img src='{{"assets/images/flag_russia.jpg" | theme}}' alt="flag">
            <span>Department of Russian</span>
        </a>
    </li>
</ul>
<div class="world_map">
    <img src='{{"assets/images/world_map.png" | theme}}' alt="world_map">
</div>