description = "共同政策"
==
<p><a href="http://english.tku.edu.tw/Information_Statement.asp" rel="noopener noreferre" target="_blank">Information Statement</a> | <a href="http://english.tku.edu.tw/privacy.asp" rel="noopener noreferre" target="_blank">Privacy & Security</a> | <a href="http://english.tku.edu.tw/doc/Policy.docx" rel="noopener noreferre" target="_blank">Personal Information Declaration</a></p>