description = "通用網頁使用"
==
<?php
function onStart() {


    $this['locale'] = 'zh-tw';

}
?>
==
<!doctype html>
<html lang="en">
{% partial 'department_dark/head'%}

<body>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    
    {% partial 'department_dark/header'%}

    {% partial 'department_dark/content'%}

</body>
</html>