description = "圖示連結"
==
{% if links %}
<h2 class="index_title">
    <span class="title_tw">相關連結<span class="title_en"> / Recommand</span></span>
</h2>
<div class="area_layout">
    <div class="quick_link">
        <table class="table">
            <tbody>
                {% for link in links %}
                {% if loop.index %2==1 %}
                <tr>                    
                {% endif %}
                    <td class="noborder">
                        <a href="{{link.url}}" title="開啟「{{link.title}}」頁面" target="_blank">
                            <i class="fa {{link.icon}}" aria-hidden="true"></i>{{link.title}}
                        </a>
                    </td>
                {% if loop.index %2==0 or loop.last %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}