<p style="text-align: center;">淡江大學實驗劇場 - 場地借用辦法</p>

<p>
	<br>
</p>

<p>一、劇場出借使用時間：</p>

<p>學期中(考試週及考試前一週除外)，每週一至週五 08:00 - 18:00，劇場可出借供本校師生教學、戲劇公演等目的使用。</p>

<p style="color:red;">劇場出借使用時，須有實驗劇團工讀生在場內值班，維護管理場地設備。</p>

<p style="color:red;">因此，可出借時段須視當學期的工讀生排班狀況而定。無工讀生可排班的時段，劇場無法出借。</p>

<p>
	<br>
</p>

<p>二、劇場出借對象：</p>

<ol>
	<li>1. &nbsp; &nbsp;外語學院師生，因戲劇公演需要，得申請在劇場彩排、演出。公演日期時段、彩排日期時段、使用總時數等事項，皆於戲劇公演協調會召開時，與實驗劇團工讀生協商決定。</li>
	<li>2. &nbsp; &nbsp;本校教師因教學需要，得申請在劇場可供出借時段當中，於劇場內授課。教師授課時間如與外語學院戲劇公演彩排演出時間重疊，以外語學院戲劇公演彩排演出需要為優先。</li>
</ol>

<p>
	<br>
</p>

<p>三、劇場借用申請流程：</p>

<p>每學期開學第二週起，於實驗劇團辦公室工讀生值班時間受理申請。(工讀生值班時間表每學期更新，張貼於實驗劇團辦公室 L213 門口。)</p>

<ol>
	<li>1. &nbsp; &nbsp;下載或向工讀生索取「劇場借用申請表」填寫。</li>
	<li>2. &nbsp; &nbsp;請活動指導老師確認申請表內容無誤後簽名。</li>
	<li>3. &nbsp; &nbsp;請該年度實驗劇場指導老師簽名。</li>
	<li>4. &nbsp; &nbsp;於工讀生值班時間內送交申請表至實驗劇團辦公室。</li>
	<li>5. &nbsp; &nbsp;申請表各項內容經實驗劇團工讀生確認符合借用條件後，即完成申請。</li>
</ol>

<p>※一張申請借用表，僅供填寫一個借用時段。</p>

<p>※申請流程請於借用日期開始二週以前完成。</p>

<p>
	<br>
</p>

<p>四、劇場使用規定：</p>

<ol>
	<li>1. &nbsp; &nbsp;因實驗劇場須由工讀生在場管控設備，故借用期間，借用單位須按借用時數、基本時薪支付</li>
</ol>

<p><strong>&nbsp;</strong>工讀金。工讀金於借用結束前結算、交給負責該借用時段的工讀生。</p>

<ol>
	<li><strong>2. &nbsp; &nbsp;</strong><strong>&nbsp;</strong>劇場禁止飲食。口中食物吞下後才可進劇場；請將食物集中放置劇場外木椅，離開時帶走。</li>
	<li>3. &nbsp; &nbsp;劇場黑膠地板舞台區，為防黑膠脆化，禁止於黑膠地板喝水。</li>
	<li>4. &nbsp; &nbsp;劇場後門(L208)、化妝間門皆請輕聲關閉，嚴禁大聲碰撞、摔門。</li>
	<li>5. &nbsp; &nbsp;為維護劇場黑膠避免刮傷，搬動道具嚴禁拖、拉，請將道具抬起、輕放。</li>
	<li>6. &nbsp; &nbsp;使用劇場後請恢復原狀，與工讀生一同巡查填妥活動後檢查表，帶走隨身物品、活動道具。</li>
</ol>

<p>如不當使用，造成劇場設備、道具、衣物損壞，則照價賠償。</p>

<p>
	<br>
</p>

<p>
	<br>
</p>