<p><a class="fr-file" href="https://www.tf.tku.edu.tw/storage/app/media/uploaded-files/%E6%B7%A1%E6%B1%9F%E5%A4%A7%E5%AD%B8%E5%A4%96%E8%AA%9E%E8%88%AA%E5%A4%AA%E5%AD%B8%E5%88%86%E5%AD%B8%E7%A8%8B%E5%AF%A6%E6%96%BD%E8%A6%8F%E5%89%87.docx">淡江大學外語航太學分學程實施規則.docx</a></p>