<p>&nbsp;</p>

<p>行政團隊介紹</p>

<p>&nbsp;</p>

<table border="1" cellpadding="5" cellspacing="5" class="Table" style="background:white; border:inset #cccc99 1.0pt; width:99.0%">
	<tbody>
		<tr>
			<td style="width:10%">
			<p style="text-align:center"><br />
			<strong><span style="color:black">職稱</span></strong></p>
			</td>
			<td style="width:10%">
			<p style="text-align:center"><br />
			<strong><span style="color:black">姓名</span></strong></p>
			</td>
			<td style="width:20%">
			<p style="text-align:center"><br />
			<strong><span style="color:black">聯絡電話</span></strong></p>
			</td>
			<td>
			<p style="text-align:center"><br />
			<strong><span style="color:black">負責業務</span></strong></p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align:center"><span style="color:black">秘書</span></p>
			</td>
			<td>
			<p style="text-align:center"><span style="color:black">劉育惠</span></p>
			</td>
			<td>
			<p style="text-align:center">&nbsp;（02）26215656<br />
			&nbsp; 分機：2551、2558</p>
			</td>
			<td>
			<p style="text-align:center">&nbsp;</p>

			<ul>
				<li><span style="color:black">1. 文書處理事項。</span></li>
				<li><span style="color:black">2. 資料蒐集、彙整、提陳等。</span></li>
				<li><span style="color:black">3. 預算編製及執行控管。</span></li>
				<li><span style="color:black">4. 各項會議承辦事項。</span></li>
				<li><span style="color:black">5. 共同業務之聯繫、協調事項，以及執行方案規劃事項。</span></li>
				<li><span style="color:black">6. 主管行程及機要業務等事項。</span></li>
				<li><span style="color:black">7. 個資業務。</span></li>
				<li><span style="color:black">8. 臨時交辦事項。</span></li>
			</ul>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align:center"><span style="color:black">助理</span></p>
			</td>
			<td>
			<p style="text-align:center"><span style="color:black">劉靜華</span></p>
			</td>
			<td>
			<p style="text-align:center">&nbsp;（02）26215656<br />
			&nbsp; 分機：2551、2558</p>
			</td>
			<td>
			<p style="text-align:center">&nbsp;</p>

			<ul>
				<li><span style="color:black">1. 文書處理事項(公文簽發、敘稿、粘存單、會核)事項。</span></li>
				<li><span style="color:black">2. 資料蒐集、彙整、提陳等事項。</span></li>
				<li><span style="color:black">3. 預算編製及執行控管。</span></li>
				<li><span style="color:black">4. 會議承辦事項（包括開會通知、議事籌辦、提案彙整）。</span></li>
				<li><span style="color:black">5. 共同業務之聯繫、協調事項，以及執行方案規劃事項。</span></li>
				<li><span style="color:black">6. 主管行程及機要業務等事項</span></li>
				<li><span style="color:black">7. 工讀生管理事項。</span></li>
				<li><span style="color:black">8. 臨時交辦事項。</span></li>
			</ul>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align:center"><span style="color:black">助理<br />
			&nbsp;(進學班)</span></p>
			</td>
			<td>
			<p style="text-align:center"><span style="color:black">施惠娜</span></p>
			</td>
			<td>
			<p style="text-align:center">&nbsp;（02）26215656<br />
			&nbsp; 分機：2194</p>
			</td>
			<td>
			<p style="text-align:center">&nbsp;</p>

			<ul>
				<li><span style="color:black">1. 院網頁維護與更新。</span></li>
				<li><span style="color:black">2. 個資維護、資料更新與內稽業務。</span></li>
				<li><span style="color:black">3. 院簡介製作及資料更新。</span></li>
				<li><span style="color:black">4. 環安相關業務。</span></li>
				<li><span style="color:black">5. 院財產保管相關業務。</span></li>
				<li><span style="color:black">6. 院OA及OD承辦。</span></li>
				<li><span style="color:black">7. 院學分學程。</span></li>
				<li><span style="color:black">8. 進學班教師及學生相關業務。</span></li>
				<li><span style="color:black">9.臨時交辦事項。</span></li>
			</ul>

			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>