<p>President Flora Chang, as a chairman of the<br />
Chinese Excellent Management Association,<br />
led a group to Bangkok, Thailand. The group<br />
intended to give a boost to development in<br />
inter-industrial information and management.<br />
Among the participant industries, Namchow<br />
Co., a Thailand-based, Tamkang alumni-owned<br />
company, displayed its contents and results of<br />
multi-faceted development. Besides, to go on<br />
the trend of Industry 4.0, Cal-Comp Electronics<br />
&amp; Communications Co. adopted a strategy<br />
of International Management and Global Collaboration<br />
that increased units of manufacturing<br />
facilities at home and abroad, and involved<br />
systematic, instantaneous management APP.<br />
All efforts devoted to this visit had its origin<br />
both in the visits of Founder Clement C. P. Chang<br />
to Thailand 20 years ago and Tai Wan-Chin,<br />
vice president for international affairs, to Bangkok<br />
University (a partner institute of Tamkang).<br />
President Chang&rsquo;s visit intended to have this momentum<br />
furthered and in particular to have it respond<br />
to the New Southbound Policy of the ROC<br />
Government. Furthermore, Tamkang Secretary-<br />
General He Qi-dong elaborated, &ldquo;Chulalongkorn<br />
University has four major research fields that<br />
deserve our attention. They are Aging Society,<br />
Inclusive Community &amp; Smart City, Sustainable<br />
Development, and Digital Economy &amp; Robotics.<br />
All these set up an ideal role model for globalization<br />
and localization at Tamkang.&rdquo; (Wu Yue-Feng)<br />
T a m k a n g A l u m n i G l o w i n T h a i l a n d<br />
(Photo contributed by Tamkang Times)<br />
1 0 6 - 1 - 3 G i l l Z h o u , V i c e P r e s i d e n t o f I B M &rsquo; s G r e a t C h i n a<br />
G r o u p : S e i z e T h r e e K e y s t o C a r e e r T h a t B e l o n g s O n l y t o Yo u<br />
TKU Intelligent Control Laboratory<br />
(I. C. Lab) attended the MOE-sponsored<br />
2017 International Competition on<br />
Intelligent Humanoid Robotics on<br />
September 20th and 21st. In the robotics<br />
contest, Tamkang competed with nine<br />
other teams and won two golds, one<br />
silver and two bronzes. TKU Team 1 had<br />
two golds in Sprint and Weight Lifting,<br />
and one silver in All Round and TKU<br />
Team 2 two bronzes in Spartan Race and<br />
Marathon. Elaborating on the essence of<br />
TKU&rsquo;s participation, Team Captain Yu<br />
Ke-han, double E major, said, &ldquo;This is a<br />
launching pad. International Competition<br />
on Intelligent Humanoid Robotics is<br />
really a great arena for robotics research.<br />
Different from our previous operation<br />
system, the team has overcome barriers<br />
and one another. The efforts devoted into<br />
robotics make Tamkang robotics visible<br />
to international society.&rdquo; (Wu Yue-Feng)<br />
i n I n t e l l i g e n t H u m a n o i d R o b o t i c s<br />
(Photo contributed by Tamkang Times)<br />
(Photo contributed by Tamkang Times)<br />
Vice President of IBM&rsquo;s Great China Group<br />
and Chief Marketing Officer, Gill Zhou, came<br />
for a visit to Tamkang campus on September<br />
26 and gave a speech in Carrie Chang Music<br />
Hall. In her speech, which was entitled, &ldquo;How<br />
to pursue a career life that belongs only to<br />
you,&rdquo; Gill Zhou proposed three crucial keys to<br />
career, &ldquo;Self and Non-self, Change and Nonchange,<br />
Skills and Super-skills,&rdquo; emphasizing<br />
that the abilities to cross boundaries and to<br />
embrace diversity are highly regarded in today&rsquo;s<br />
workplace. In the Q&amp;A session full of interaction,<br />
she encouraged students to pursue their dreams,<br />
&ldquo;no imagination of the future is far-fetched.&rdquo;<br />
In this issue, the summary of Zhou&rsquo;s speech is<br />
posted as follows to give readers food for thought.<br />
N o n - s e l f a n d S e l f : n o t t o i n g r a t i a t e<br />
y o u r s e l f , b u t t o f i t i n w i t h o t h e r s<br />
No matter what kind of job you have, do not be<br />
self-centered. If you work in a business company,<br />
keep it in mind that you are part of the company.<br />
You have to understand your supervisor&rsquo;s ideas,<br />
and this does not mean you have to ingratiate<br />
yourself with others, implying dependence on<br />
others or establishing yourself in the favor or<br />
good graces of others. Instead, you have to fit<br />
in with others, which suggests your work is<br />
based on professionalism. With opportunities<br />
offered, you have to seize opportunities to do<br />
your best. Be confident and express yourself<br />
clearly, so that your talents will be seen. In this<br />
situation, your self cannot cancel itself out.<br />
C h a n g e a n d N o n - c h a n g e : To<br />
p r o m p t l y p e r c e i v e c h a n g e s<br />
Steve Jobs, the late CEO of Apple, used to<br />
promote small and lightweight cell phones, but<br />
the current CEO Tim Cook successively launched<br />
iphone8 and iphone X, featuring big screens.<br />
It was said that Tim Cook betrayed Steve Jobs.<br />
But in my view, it was not betrayal but continual<br />
changes. Apple is always pursuing to change the<br />
world, isn&rsquo;t it? Marketing, technology, customers,<br />
and the whole environment are changing every<br />
second. Unexpected change is a common thing.<br />
For this reason, everyone has to be a boat upon<br />
entering the workplace, promptly perceive the<br />
changing wind and accordingly sail the boat with<br />
the wind. IBM&rsquo;s Watson System is so far the<br />
most powerful cognitive computing system, and<br />
after close observation, our marketing strategy<br />
of business to person is designated and based on<br />
its unique feature. Watson can file a lawsuit and<br />
compose a Tang poem or a song. To show Watson<br />
to the world, we adopt a creative and innovative<br />
marketing strategy. (Chiou-Rung Deng)<br />
TKU I. C. Laboratory Earns a Good Reputation 1 0 6 - 1 - 4 T h u m b - u p S u p p l y :<br />
Program of Teaching Chinese in Foreign Languages<br />
To motivate students with foreign language skills to join the<br />
field of Chinese teaching, &ldquo;Program of Teaching Chinese in Foreign<br />
Languages&rdquo; has been designed by the joint efforts of English<br />
Department, Spanish Department, French Department, German<br />
Department, Japanese Department, Russian Department, Department<br />
of Chinese Literature, and Department of Educational Technology.<br />
With grades above 70% in the previous semester, both<br />
undergraduate and graduate students can apply for this program.<br />
The curricula for this program includes 6 credits of required common<br />
courses, 6 credits of required professional courses, and 8<br />
credits of selective professional courses, with a total of 20 credits.<br />
As students complete at least 20 credits of courses, among<br />
which at least 9 credits of courses are beyond the fi eld of students&rsquo;<br />
major, and pass exams, a certificate will be issued. For more information<br />
on how to apply, please contact the office of the College<br />
of Foreign Languages and Literatures. (Chiou-Rung Deng)<br />
Tamkang News Nov 17, 2017<br />
T a m k a n g &rsquo; s P o p u l a r S c i e n c e s T r a n s f o r m C h e m i s t r y E d u c a t i o n<br />
T a m k a n g S t u d e n t s G o o n<br />
S e n i o r Y e a r A b r o a d P r o g r a m<br />
Tamkang signed a scientifi c education memorandum of understanding<br />
with Merck Taiwan on July 31st. Through university and industry<br />
cooperation, Tamkang and Merck will collaborate and improve scientific<br />
education in remote areas of Taiwan. Xie Zhi-hong, president of Merck,<br />
expressed his gratitude toward the collaboration and agreed with Tamkang&rsquo;s<br />
concept of Chemistry Vehicle, which brought chemistry education close to<br />
children in remote areas. Xie said, &ldquo;Direct subsidies for three straight years<br />
will be granted and resources in manpower and raw materials as well,&rdquo; and<br />
&ldquo;Out of our philosophy of industry, Creativity comes from curiosity, another<br />
vehicle will be subsidized for the wellbeing of children.&rdquo;<br />
In response to the long-term financial support of Merck and alumni,<br />
President Flora Chia-I Chang said gratefully, &ldquo;Chemistry Vehicle originated<br />
in 2011, which was the International Year of Chemistry. Tamkang has<br />
performed over 350 events of chemical popular science in remote areas,&rdquo;<br />
and she emphasized, &ldquo;Chemistry Vehicle has three remarkable points: fi rst,<br />
support for education in popular sciences; second, realization in university<br />
social responsibility; third, in-depth collaboration between industry,<br />
government and university. All these three will transform education from<br />
within and without.&rdquo; (Wu Yue-Feng)<br />
See you again a year later. Tamkang<br />
International Offi ce held the 106th academic<br />
year flag-presentation ceremony for the<br />
Senior Year Abroad Program. President Flora<br />
Chia-I Chang presided over the ceremony<br />
and it was attended by Deputy Director Ms.<br />
Charmaine Stanley, the Canadian Trade<br />
Office in Taipei (CTOT); Commissioner<br />
Ms. Anne-Laure Vincent, French Office in<br />
Taipei; Commissioner Mr. Miguel De Felipe<br />
Tena, Spaish Chamber of Commerce; and<br />
Japanese Language Specialist Ms. Fujishima<br />
Yukiyo, Japan-Taiwan Exchange Association.<br />
In the ceremony the international VIPs<br />
and Tamkang top echelon administrators<br />
gave a wholehearted blessing for the 597<br />
students and wished them good luck in 102<br />
universities located in 19 foreign countries.<br />
In the ceremony speech given to the<br />
exchange students, President Chang<br />
encouraged them, saying &ldquo;Build up both<br />
in language competence and language<br />
profundity. Make up the gap in between<br />
cultures. By doing this, hope you come<br />
back with all-around value.&rdquo; The ceremony<br />
also invited exchange students of the<br />
105th academic year to give talks about<br />
their experiences abroad. On her way to<br />
Ritsumeikan University, Qiu Zi-xuan,<br />
Department of Diplomacy and International<br />
Relations, opened herself up, saying,<br />
&ldquo;Globalization makes foreign language<br />
ability and international views from being an<br />
advantage into basic skills. This is nothing<br />
more than a beginning. There is a long way<br />
to go. Let&rsquo;s go for it.&rdquo; (Wu Yue-Feng)<br />
Ta m k a n g G r a d u a t e s L a u n c h t o w a r d N e w L i v e s<br />
The temperature went up along with the blooming of fl ame trees dotted<br />
on Tamkang campus. Summer again. It was also the time when students<br />
were on the way to graduate. Exactly, university commencement. The<br />
Tamkang commencement of the 105th academic year was held on June<br />
10th in Shao-mo Memorial Gymnasium. There were 7,200 graduates,<br />
among which there were 469 foreign students from 33 countries. The<br />
commencement was a beginning from which graduates launched toward<br />
their future.<br />
Before the commencement ceremony was a Tamsui campus roundabout<br />
excursion. President Flora Chia-I Chang, along with the three vice presidents<br />
and all the graduates, took this roundabout excursion. Presided by President<br />
Chang, the commencement also invited former Tamkang presidents, Alumni<br />
Association presidents, an ambassador and congressman of the Marshal<br />
Islands, and many other international VIPs. In the ceremony, awards were<br />
given to graduates who excelled in academic research, conduct, service<br />
and athletics. Moreover, President Chang commended six outstanding<br />
professors whose unconditional devotion to education really fascinated<br />
everyone. Following the award ceremony was the Tamkang School Anthem<br />
and Song of Farewell. The songs signifi ed the ending of days at school and<br />
commencement of new life. (Wu Yue-Feng)<br />
(Photo contributed by Tamkang Times)<br />
(Photo contributed by Tamkang Times)<br />
(Photo contributed by Tamkang Times)<br />
106-1-2 Miguel Tsao, TKU Alumnus,<br />
serves as Representative of the Offi ce<br />
of Economy and Culture in Peru<br />
Assuming office on August 14, Miguel Tsao, TKU&rsquo;s<br />
Alumnus of the Graduate Institute of European Studies,<br />
serves as the representative of the Office of Economy<br />
and Culture of Taipei in Peru. Miguel Tsao has abundant<br />
professional experience in diplomacy, including Director<br />
of Protocol Section of Protocol Department, Embassy<br />
Counselor in Costa Rica, Vice Director of Protocol<br />
Department of Ministry of Foreign Affairs, Director<br />
of Taipei Economic and Cultural Office in Miami,<br />
Ambassador of Republic of China in Saint Christopher and<br />
Nevis, and Director of the Department of Latin American<br />
and Caribbean Affairs of Ministry of Foreign Affairs. With<br />
his responsibility as ambassador to Panama ending in June,<br />
Miguel Tsao was soon assigned to a new post. As Tsao<br />
pointed out, &ldquo;Since there is no offi cial diplomatic relation<br />
between Taiwan and Peru, there is still a lot of room to<br />
strengthen the cooperation between the two countries in<br />
terms of tourism as well as information and communication<br />
technology. As a diplomatic professional at the forefront, I<br />
would go all out for the battle as long as the chance offers<br />
itself.&rdquo; (Chiou-Rung Deng)<br />
Chen Jin-cai, alumnus of Department of<br />
Accounting, was awarded with the Special<br />
Contribution Award at the 2017 Spring Banquet<br />
out of his selflessness and sponsorship in<br />
education, scholarship and academic research.<br />
As Director-general and President of the board<br />
at Win Semiconductors Co., Chen has laid<br />
a solid foundation for Win to be a leading<br />
manufacturer in global gallium arsenide wafers<br />
and was awarded with EY Entrepreneur of<br />
the Year 2015. Even though in his 70s, he still<br />
devotes his full efforts in his field. He always<br />
says, &ldquo;Every day is the stepping stone of<br />
tomorrow. Grow up strong, or you lose ground.&rdquo;<br />
Specialized in the composition and application<br />
of gallium arsenide, Chen considers himself<br />
a trail blazer whose primary work is to get rid<br />
of barriers that hinder every single employee<br />
of the industry and create lubricant that makes<br />
the industry go on smoothly without backlash.<br />
In short, he is responsible for development and<br />
research, and eyes on the technological trend.<br />
With insistence on independent techniques,<br />
Chen moves on in optimistic spirit, saying, &ldquo;I<br />
am making responsibility and team efforts the<br />
core value of the industrial culture. Precision and<br />
synergy will make the industry a globe trotter.&rdquo;<br />
As renowned as he is, Chen shows gratitude<br />
for Tamkang and sets up foundations in the hope<br />
of subsidizing accounting academic research<br />
and scholarship. He also returns to Tamkang and<br />
shares his experience in the industry in the hope of<br />
inspiring students. He often says, &ldquo;Don&rsquo;t make the<br />
value of your diploma depreciate. The top priority<br />
of yours in university is to develop professionalism<br />
and the momentum to realize your own idea.<br />
Your dream is in vain if it is not realized. I find<br />
most young people concern themselves about<br />
nothing but having their own business and eyeing<br />
a quick profit. However, it is in vain if not with<br />
realization and professionalism.&rdquo; (Wu Yue-Feng)<br />
Tamkang News Nov 17, 2017<br />
P a s s t h e M o m e n t u m o n , S c h o l a r s h i p R e c i p i e n t s !<br />
The English Department held a scholarship<br />
awards ceremony in Ching-sheng International<br />
Conference Hall on June 5th. The scholarships<br />
were issued to 41 recipients by Chen Xiao-que,<br />
Dean of Foreign Languages and Literatures;<br />
Huang Yong-yu, Chairman of the English<br />
Department; and Hou Deng-jian, President of<br />
Kojen English School. In the ceremony, Dean<br />
Chen expressed her gratitude to committee<br />
members, saying, &ldquo;You are our greatest assets. You<br />
are our momentum. Without you, we will advance<br />
nowhere, but spin around,&rdquo; and Chairman Huang<br />
expressed his wish to the scholarship recipients,<br />
saying, &ldquo;Pass on this momentum all around you.&rdquo;<br />
Having benefi ted from the equipment and facilities<br />
of the English Department and feeling grateful,<br />
Gao Guo-pei, English Department, said, &ldquo;This is<br />
glory. I will never ever forget what I have learned<br />
and experienced at Tamkang.&rdquo; (Wu Yue-Feng)<br />
Chen Jin-cai, Entrepreneur of the Year, Encourages Students to Polish Professionalism<br />
T h e F o u r t h W a v e T r a n s f o r m s T a m k a n g<br />
Tamkang&rsquo;s fourth wave is the period of 2005~2017. In this period of<br />
time, Lanyang Campus was founded and Tamkang began its fourth wave<br />
in the time of Lanyang&rsquo;s fi rst student recruitment. From then on, Tamkang<br />
developed into four campuses: Tamsui, Taipei, Lanyang and Cyber. Smart<br />
management in these resources made Tamkang&rsquo;s potential develop fourfold<br />
both in academic fi elds and in cultural and historical assets.<br />
Founder Clement C. P. Chang made a clear statement in 2005 Teaching<br />
&amp; Administration Reformatory Symposium, saying, &ldquo;The Fourth Wave is<br />
characterized by a discrete era that makes it indispensable to expand history,<br />
tradition and culture along with thinking, innovation and breakthroughs.<br />
By doing this, Tamkang will be a hallmark that has its signature style and<br />
ultimately will become pillars and foundation of a nation.&rdquo;<br />
In response to the highly competitive market of higher education,<br />
Tamkang adopted an inclusive, innovative strategy along with scholars,<br />
bureaucrats, politicians and industry leaders. Its essence was to rejuvenate<br />
education, administration and management teams, and further to collaborate<br />
with international academic partner institutes. All these efforts made<br />
Tamkang&rsquo;s international interaction strategy, a Blue Ocean Strategy,<br />
possible, which was an optimal synergy in cooperation, resources, benign<br />
competition and win-win situations.<br />
Based on the latest research results of 2017 Webometrics Rankings of<br />
World Universities (WRWU), Tamkang ranked 394th globally, 39th in Asia,<br />
and 6th nationwide, top all the private-run universities and fi rst of its type<br />
coming in top 400 in Taiwan. This was Tamkang&rsquo;s best performance in<br />
the past fi ve years. Furthermore, according to the research results of 2017<br />
Industries&rsquo; Favorite University Graduates done by Cheers, a Taiwan-based<br />
magazine, Tamkang ranked 9th nationwide, top 1 in 20 straight years. The<br />
research analysis indicated that pliability and multi-faceted management in<br />
higher education made Tamkang a favorite of industries.<br />
In an interview with President Flora Chia-I Chang, she expressed her<br />
hope, saying that ever since 1950 Tamkang has laid its foundation in<br />
Globalization, Computerization and Futurization, and further developed into<br />
eight colleges, 2,700 students and 1,400 faculty and staff members among<br />
four campuses. This year, the Shou-qian International Conference Center<br />
is going to be fully constructed, which signifi es the beginning of the Fifth<br />
Wave. Its features will be designed in collaborated efforts of both teachers<br />
and students in the hope of inviting international, prestigious scholars<br />
and experts to Tamkang and further developing life-long education and<br />
realization of the spirit in Tamkang&rsquo;s DNA. (Wu Yue-Feng)<br />
(Photo contributed by Tamkang Times)<br />
(Photo contributed by Tamkang Times)<br />
(Photo contributed by Tamkang Times)<br />
Tamkang News Nov 17, 2017<br />
Tamkang Initiates Industry-University Cooperation with IBM and Teco Restaurants<br />
Ta m k a n g P a s s e s t h e M O E &rsquo; s<br />
E v a l u a t i o n o n U n i v e r s i t i e s<br />
The current Vice Minister of<br />
Foreign Affairs, also an alumnus of<br />
the Spanish Department, Jos&eacute; Mar&iacute;a<br />
Liu, paid a visit to President Flora<br />
Chia-I Chang on September 18. Those<br />
who joined the meeting included Vice<br />
President for International Affairs, Dr.<br />
Wan-chin Tai; Dean of the College of<br />
Foreign Languages and Literatures,<br />
Prof. Lucy Chen; Dean of the College<br />
of International Studies, Prof. Kaochen<br />
Wang; and Chair of Graduate Institute<br />
of Latin American Studies, Prof.<br />
Emilio Kwo-wei Kung, all having<br />
an enjoyable talk. According to Prof.<br />
Lucy Chen, &ldquo;Jos&eacute; Mar&iacute;a Liu, who<br />
used to be the ambassador in Paraguay<br />
and Panama, is one of the outstanding<br />
alumni of the Spanish Department. In<br />
today&rsquo;s talk, he is invited by President<br />
Chang to share his experience and<br />
achievements with students. We also<br />
look forward to some cooperation in<br />
the future.&rdquo;<br />
Graduating from the Department of<br />
Spanish in 1980, Jos&eacute; Mar&iacute;a Liu has<br />
acquired professional qualifications<br />
and experience in the field of foreign<br />
affairs, including important positions<br />
in Spain and Honduras. Interviewed by<br />
Tamkang Times in October 2011 (No.<br />
838), Liu expressed his gratitude to<br />
Tamkang University, his alma mater,<br />
and shared with students his experience<br />
in diplomatic services. In particular,<br />
he mentioned that extracurricular<br />
experience helped to lay the foundation<br />
for his work as the Director of<br />
Department of Protocol. (Chiou-Rung<br />
Deng)<br />
Tamkang has had around 250,000 alumni<br />
home and abroad since the buildup 66 years<br />
ago. They have relevant achievements in their<br />
fields. In gratitude toward Tamkang, the alumni<br />
and their industries launched industry-university<br />
cooperation and deem it a practical conduct for<br />
Tamkang to gain ground in this competitive<br />
society. A good example is that in April,<br />
2017, IBM Taiwan initiated Watson Artificial<br />
Intelligence Project, collaborating with Tamkang<br />
in the hope of consolidating professionalism<br />
in AI and its market share. Another example is<br />
that in 2016 Teco Restaurants initiated Catering<br />
Service Program and Tourism Industry Program<br />
at Tamkang with its subsidiary companies: Mos<br />
Burger, Royal Host and Fujio Food in the hope<br />
of bridging the gap in theories and practices. Still<br />
another example is that Media Tek Co. organized<br />
a science camp for high school students with<br />
Tamkang&rsquo;s assistance for broadening their<br />
horizons in information technology. (Wu Yue-<br />
Feng)<br />
The Higher Education and Accreditation Council commissioned<br />
by the Ministry of Education (MOE) showed the 105th academic year<br />
results of evaluation on universities in June. Among the 28 universities,<br />
there were 24 that passed all the eight evaluative items including<br />
Tamkang. Elaborating on the strategy of Tamkang in evaluation, Chief<br />
Audit Executive Bai Di-qing said, &ldquo;Tamkang has carried out an internal<br />
evaluation, in the perspective of Total Quality Management and<br />
continuous improvement, prior to that of the Council commissioned by<br />
the MOE. The optimal result comes from unselfi sh devotion to integral<br />
administration and management.&rdquo;<br />
The eight evaluative items involved Student Recruitment by<br />
Recommendation, Private University Administration &amp; Planning,<br />
Campus Environment Monitoring and Execution, Intellectual<br />
Properties and Information Security, E-learning, Consultation for the<br />
Disabled, Students&rsquo; Affairs and Consultation, and Sex Equality. In<br />
response to the evaluative report that indicated the commissioners had<br />
positive comments on Tamkang, Chief Audit Executive Bai mapped out<br />
the blueprint for Tamkang, saying, &ldquo;All the present efforts in carbon<br />
reduction, ISO certification, consultation for the underprivileged,<br />
sexual equality and wholesome budget mechanisms contribute to the<br />
optimal results. Building upon these, Tamkang will be gaining ground.&rdquo;<br />
(Wu Yue-Feng)<br />
(Photo contributed by Tamkang Times) (Photo contributed by Tamkang Times)<br />
(Photo contributed by Tamkang Times)<br />
106-1-1 Jos&eacute; Mar&iacute;a Liu, Vice Minister of Foreign Affairs<br />
and an Alumnus of TKU, Paid a Visit to President Chang<br />
W R W U I n d i c a t e s T a m k a n g T o p s<br />
Webometrics Rankings of World Universities (WRWU), undertaken<br />
by Cybermetrics Lab of Spanish National Research Committee, has<br />
been issuing biannual report results on higher education institutes since<br />
2004. The rankings are renewed every January and July. According to<br />
the latest research result by WRWU, Tamkang ranks 596th globally,<br />
115th in Asia, 8th nationwide, and number one among the privaterun<br />
universities of Taiwan. Among all the indicators, Tamkang ranks<br />
93rd in Presence, 213th in Impact, 1,066th in Openness and 1,170th in<br />
Excellence. (Wu Yue-Feng)<br />
A l l t h e P r i v a t e - r u n<br />
U n i v e r s i t i e s i n Ta i w a n</p>