<p>&nbsp;</p>

<p><img class="fr-dii fr-fic" src="https://www.tf.tku.edu.tw/storage/app/media/%E6%8A%95%E5%BD%B1%E7%89%872.jpg" style="height:366px; width:650px" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>