<p>&nbsp;</p>

<table cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>

				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tbody>
						<tr>
							<td>
								<div>

									<p>&nbsp;</p>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<p><strong>淡江大學外語航太學分學程實施規則</strong></p>

<p>&nbsp;</p>

<p style="margin-left:36.35pt;">第一條&nbsp;&nbsp;&nbsp; 設立宗旨：為因應時代潮流及配合產業需求，培養淡江大學學生兼具第二外語與民航等專業能力，特訂定「淡江大學外語航太學分學程」實施規則 （以下簡稱本規則）。</p>

<p style="margin-left:37.65pt;">第二條 &nbsp;&nbsp;&nbsp;申請資格：凡本校大學部二年級（含）以上在學學生，對第二外語與民航實務相關領域有興趣，且前一學期學業成績總平均70分以上者，均可申請修習。</p>

<p style="margin-left:38.55pt;">第三條 &nbsp;&nbsp;&nbsp;修習學程之申請：於每學期開學後一週內，填妥「淡江大學外語航太學分學程修習申請表」，並檢附學生證影本及歷年成績單正本，向外語學院院辦提出申請。</p>

<p style="margin-left:42.5pt;">第四條 &nbsp;&nbsp;&nbsp;修習科目及學分數：</p>

<p style="margin-left:84.6pt;">一、修習本學程之學生必須修畢基礎課程 4 學分、民航課程至少 8 學分、第二外語語言課程至少 4 學分、第二外語文化課程至少 6 學分，其中至少應有9學分不屬於學生主修系、所之應修科目，方可取得核發學程證明書之資格。</p>

<p style="margin-left:25.45pt;">&nbsp;&nbsp;&nbsp;&nbsp; 二、&nbsp; 學程修習科目表詳見「淡江大學外語航太學分學程」課程清單。</p>

<p style="margin-left:42.5pt;">第五條 &nbsp;&nbsp;&nbsp;學程認證：</p>

<p style="margin-left:84.6pt;">一、申請時間：修畢學程規定學分數，填妥「淡江大學外語航太學分學程認證申請表」，檢附歷年成績單正本乙份，向外語學院辦公室提出認證申請。</p>

<p style="margin-left:84.6pt;">二、學程審查：依第四條規定修畢最低應修習學分數且成績及格者，經審查通過後，報請學校發給「淡江大學外語航太學分學程學分證明」。</p>

<p style="margin-left:84.0pt;">三、申請修習本學分學程前，已修習學程指定科目，亦可被採認，並列入審 查。</p>

<p style="margin-left:42.5pt;">第六條 &nbsp;&nbsp;&nbsp;學生不得以修習本學程作為申請延畢之理由。</p>

<p style="margin-left:42.5pt;">第七條 &nbsp;&nbsp;&nbsp;本學程課程名稱及學分數如有調整，悉依公布之課程清單為準。</p>

<p style="margin-left:42.5pt;">第八條 &nbsp;&nbsp;&nbsp;本規則未盡事宜，悉依教育部及本校相關規定辦理。</p>

<p style="margin-left:42.5pt;">第九條 &nbsp;&nbsp;&nbsp;本規則經教務會議通過，報請校長核定後，自公布日實施；修正時亦同。</p>