<h1><strong><img alt="" class="fr-dii fr-fic" src="http://www.tf.tku.edu.tw/img.php?img=316_3c51bcf6.jpg&amp;dir=archive" style="height:150px; width:200px" />Wu&nbsp; Wan-Bau</strong></h1>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://www.tf.tku.edu.tw/storage/app/media/thumb_6194_200_200_0_0_auto.jpg" /></p>