<div stryle="position: relative; padding-bottom: 56.25%; overflow: hidden;">
<iframe src="https://onedrive.live.com/embed?resid=B197B693B6FB0944%215985&amp;authkey=%21AJ2XBAECuO00zKo&amp;em=2&amp;wdAr=1.3333333333333333" width="722px" height="565px" frameborder="0">這是 <a target="_blank" href="https://office.com/webapps">Office Online</a> 提供的內嵌 <a target="_blank" href="https://office.com">Microsoft Office</a> 簡報。</iframe></div>