<p style="text-align:center"><span style="font-size:20px"><span style="color:#0000ff">歡迎點選左列 英/西/法/德/日/俄 版本 !</span></span><br />
<br />
ch1歷史上的淡水</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/chaaZb7GFuM?list=PLLjFczJG_IOq2vq3_9PkCD-mr02SgmJYo" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch2渡船頭</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/IOH76KhKUNY?list=PLLjFczJG_IOq2vq3_9PkCD-mr02SgmJYo" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch3紅毛城</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/7MTe0wTNdpc?list=PLLjFczJG_IOq2vq3_9PkCD-mr02SgmJYo" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch4 馬偕、教會、學校</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/hIhbZaOFpbQ?list=PLLjFczJG_IOq2vq3_9PkCD-mr02SgmJYo" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch5觀音山</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/SKoqOTZ3LUU?list=PLLjFczJG_IOq2vq3_9PkCD-mr02SgmJYo" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch6 淡水河岸</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/L-tbZ2xrrU8?list=PLLjFczJG_IOq2vq3_9PkCD-mr02SgmJYo" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch7淡水老街</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/GcYVq1wSCwI?list=PLLjFczJG_IOq2vq3_9PkCD-mr02SgmJYo" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch8殼牌倉庫</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/IVkoSY5rKsY?list=PLLjFczJG_IOq2vq3_9PkCD-mr02SgmJYo" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch9滬尾砲台</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/y4_25gh-3-w?list=PLLjFczJG_IOq2vq3_9PkCD-mr02SgmJYo" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch10漁人碼頭</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/hwZ3ZoVuM_k?list=PLLjFczJG_IOq2vq3_9PkCD-mr02SgmJYo" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch11紅樹林</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/Xi3TPO54eLU?list=PLLjFczJG_IOq2vq3_9PkCD-mr02SgmJYo" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch12淡水小吃</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/rtd5YVPu2Tg?list=PLLjFczJG_IOq2vq3_9PkCD-mr02SgmJYo" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch13淡水文藝</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/T5A4PSFCXGk?list=PLLjFczJG_IOq2vq3_9PkCD-mr02SgmJYo" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch14淡江大學</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/mSR4nf4Ljf0?list=PLLjFczJG_IOq2vq3_9PkCD-mr02SgmJYo" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch15河岸自行車道</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/qIeUnXEhqrw?list=PLLjFczJG_IOq2vq3_9PkCD-mr02SgmJYo" width="560"></iframe></p>