<p style="text-align:center;"><span style="color:#2c82c9;"><strong><span style="font-size:36px;">學分學程專區，歡迎點選左列選單!</span></strong>&nbsp;</span></p>

<p style="margin-left:29.45pt;">一、本院各學程「實施規則」及「修習科目認定表」修訂案，自107學年度申請學生適用。</p>

<p style="margin-left:27.3pt;">二、各系若因故暫停開設學程相關課程，得以修習各語系之其他學分數相同選修科目替代，從寬進行學分學程認證。</p>

<p style="text-align:center;">
	<br><span style="color:#2c82c9;"><strong><span style="font-size:36px;"><img class="fr-dib fr-fic" src="/storage/app/media/cropped-images/bn5-1-0-0-849-434-1515572555.jpg" style="height:198.66px; width:387px;"></span></strong>&nbsp;</span></p>

<p>&nbsp;</p>