<p style="text-align:center"><span style="font-size:22px"><img src="http://www.tf.tku.edu.tw/storage/app/media/uploaded-files/chinglong.jpg" style="height:375px; width:500px" /></span></p>

<p style="text-align:center"><span style="font-size:22px"><strong>淡江時報 第 979 期</strong></span></p>

<p style="text-align:center"><span style="font-size:22px">前駐法大使<strong>呂慶龍</strong>&nbsp;稱讚淡江學生靈活</span></p>

<p style="text-align:center"><span style="font-size:22px">學聲大代誌</span></p>

<p style="text-align:center">&nbsp;</p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; 【記者林妍君淡水校園報導】商管學院於19日在學生活動中心舉行週會，會中特別邀請前駐法大使、法文系校友呂慶龍以「淡江人的國際競爭力」為題演講，期勉所有在校同學。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; 呂慶龍以生動活潑的布袋戲開場，吸引全場目光，再以自身40年的外交實務經驗為例說明，譬如日前受邀法國BFM Business電視台節目「頂級品味」介紹臺灣觀光，從邀請到上台，僅短短3天準備，他表示必須隨時預備好自己，強調機會往往留給準備好的人，也和大家分享：「當有機會表達的時候，你一定要把握住！」</span></p>

<p>&nbsp;</p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; &nbsp;「你當然可以玩4年！」一句話，嚴厲地給予在場大學生當頭棒喝，「面對未來職場的定位、社會競爭，你該如何面對？」他表示，現在處於一個溝通的時代，語文溝通能力、論述、談吐，以及對生活價值觀是否有正確認知是極為重要的，「千萬不要只專注於玩樂，想想怠惰的同時別人正在進步。」但他也稱讚淡江優質的地方在於學生相當靈活，即使不是最高學府的學生，上大舞台也能游刃有餘。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; &nbsp;演講中，呂慶龍分享法國某雜誌來訪時，自己曾拿著臺灣製造的羽毛球，積極行銷臺灣，並指出，「沒有文化，國家就沒有前途。」他盼更多的年輕人能積極投入國際參與，讓更多外國人能認識臺灣。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; 「自助而後天助，自己是最重要的貴人。」競爭無窮，實力才是最為重要的，呂慶龍提醒學弟妹們處理事情定要沉得住氣，並在事情上多花點巧思！最後他感性且高聲地說：「與在場各位同學共勉之。」管科一呂承恩分享，「聽完演講，讓我了解如何在有限的資源下提升自己，我也期許自己把握機會、努力學習。」</span></p>

<p><span style="font-size:22px">2015/10/25</span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p style="text-align:center"><span style="font-size:22px">----------------------------------------------------------------------------<br />
<br />
<br />
<strong><img alt="" src="http://www.tf.tku.edu.tw/storage/app/media/uploaded-files/.jpg" style="height:358px; width:500px" /></strong>&nbsp;<br />
<strong>【校友企業點燈】小茶栽堂　共辦學程提升就業力</strong><strong>&nbsp;</strong></span></p>

<p style="text-align:center"><span style="font-size:22px">學習新視界</span></p>

<p style="text-align:center"><span style="font-size:22px">現職：貫達國際-小茶栽堂創辦人<strong>黃世杰</strong></span></p>

<p style="text-align:center">&nbsp;</p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; 黃世杰於2006年創立「小茶栽堂」自有品牌，結合法式甜點與臺灣茶兩者特色，開創「小茶栽堂Le Salon」，提供各式臺灣有機茶和法式個性甜品，而黃世杰所設計茶具用品獲得國際大獎，茶罐於2010年獲得日本Good Design Award產品包裝大獎，茶壺旅行組則獲2012年德國iF Product Design大獎、馬克杯杯奪下2013年德國Red Dot Design Honorable Mention大獎。目前在臺北、德國各有直營門市外，於2014年結合臺灣有機茶、法式甜點之經營經驗，成立「小巴黎人麵包製作所」，把「不加香精」、「不用化學肥料」的概念延伸到烘焙。&nbsp;</span></p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; 同時身為2015淡江大學系所友會聯合總會傑出系友的他，黃世杰感念母校培育，於105學年度起與法文系合作，推出「法國美食就業學分學程」，讓學生能運用法文所學，並增進法國歷史、社會背景與美食文化之認識，充分運用在實務領域中；該學程分為3階段，一是在課堂上幫助學生了解法國美食和文化知識後，二是進入企業中進行實務訓練後，三在實習完成後，學生依據個人意願與公司需求條件，得優先錄取進入該公司就業。他曾於接受本報1022期之卓爾不群專訪時強調，「得知獲得2015母校傑出系友時，這榮譽比領設計獎還開心！所以藉由學分學程的合作，提供機會幫助學弟妹。」2017/03/27</span></p>