<p style="text-align: center;"><img src="https://www.tf.tku.edu.tw/storage/app/media/uploaded-files/0130041.jpg" style="width: 434px; height: 243.278px;" class="fr-fic fr-dib" data-result="success"></p>

<p>德國啤酒節(Oktoberfest)</p>

<p>&nbsp; &nbsp; 慕尼黑啤酒節緣起於1810年10月17日，乃是為慶祝皇室婚禮而舉辦的，時至今日已成為全世界最大的慶典活動。來到啤酒節若沒大口喝啤酒，那就等於沒來過！此外，啤酒節美食當然也少不了一整隻香噴噴的烤雞、煎香腸、炸豬排、扭結麵包以及德國豬腳等德國傳統菜餚，而熱鬧的街道上也隨處可見充滿文字藝術巧思的心型薑餅(Lebkuchen Herz)。德文系每年10月初在牧羊草坪舉辦啤酒節活動，讓我們一起舉起酒杯，乾杯吧！Prost!</p>

<p style="text-align: center;"><img src="https://www.tf.tku.edu.tw/storage/app/media/uploaded-files/0130042.jpg" style="width: 436px; height: 244.396px;" class="fr-fic fr-dib" data-result="success"></p>

<p>德國聖誕節(Weihnachten)</p>

<p>&nbsp; &nbsp; 聖誕節是德國人一整年中最重要的節日，也是家庭聚會日，從12月初起，德國家庭便開始準備聖誕節的到來。聖誕樹、蠟燭、各式禮物是少不了的裝飾。熱紅酒(Glühwein)、香腸、德式聖誕蛋糕(Stollen)、薑餅(Lebkuchen)更是聖誕節才有的必備美食。德文系每年12月的聖誕晚會少不了這些德國傳統美食。在這個德國最重要的節日裡，別忘了對身邊的人說聲Frohe Weihnachten!</p>