<p style="text-align:center">ch1 Tamsui in history.</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/lZy1GPLUZn0" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch2 The ferry.</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/BTSFFHBg8Is" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch3 Fort San Domingo.</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/YuIBxK-DRVM" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch4 Doctor Mackay, the churches, and schools.</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/ZULDyTmYdzE" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch5 Guanyin mountain.</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/lnHKvALto-U" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch6 The Tamsui river bank.</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/Gy6DaHb3uyQ" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch7 Old street in Tamsui.</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/9dXLvZxYYS0" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch8 The&nbsp;Shell Warehouse.</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/wr4bAoYP4pE" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch9&nbsp;Hobe Fortress.</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/-PoK8_9SNaA" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch10 Fisherman&#39;s wharf.</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/V9RJFr0pC54" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch11&nbsp;The&nbsp;Mangrove (Hong Shu Lin).</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/aT0_mAXkKVo" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch12 The snacks in Tamsui.</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/HJ2nr1Dtuqk" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch13 The arts in Tamsui.</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/PFWqGWgMiXU" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch14 Tamkang University.</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/cF1eqaDHCO4" width="560"></iframe></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">ch15 The bikeway by the riverbank.</p>

<p style="text-align:center"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/PkKUDhj6uio" width="560"></iframe></p>