<p style="text-align: center;"><img src="https://www.tf.tku.edu.tw/storage/app/media/uploaded-files/013005.jpg" style="width: 444px; height: 197.757px;" class="fr-fic fr-dib" data-result="success"></p>

<p>白色情人節源自1977年，是由日本福岡市博多區石村萬盛堂的甜點製造商所發起。1905年創業的石村萬盛堂，以製作日本傳統甜點「鶴乃子」聞名。第三代傳人石村僐悟，為了刺激消費，便想到以3月14日作為情人節後向愛人回禮的日子，來推銷白色的鶴乃子。此節日最早的名稱為糖果贈送日。自1980年起，由於糖果所使用的砂糖為白色，因此改稱為白色情人節。</p>

<p>&nbsp; &nbsp; 2月14日西洋情人節，日本女生會送巧克力給自己喜歡的男生，到了3月14日則是男生要回禮的日子，如果男生願意與女生交往，一定要回禮。隨著白色情人節逐漸廣為大眾接受後，又推出代表不同意義的巧克力。像是純粹表達感謝的義理巧克力，是送給一般的男生朋友，而本命巧克力則是送給心儀的男生。由於白色情人節源起日本，因此日文系以白色情人節為主題，做為每年一度的日文系專屬節日活動。不管是單純想來玩，或是想藉機向心儀已久的對象告白，只要是想一同參與這項活動的師生，都非常歡迎。3月14日白色情人節當日會邀請廠商擺攤，販賣巧克力與小禮品等，各位同學，請把握機會，一同修習戀愛學分吧！</p>