<p><span style="font-size: 24px;"><strong>本系簡介</strong></span></p>

<p>
	<br>
</p>

<p><span style="font-family: Georgia,serif;"><strong><span class="fr-video fr-dvb fr-draggable fr-fvl" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/j3QryOfBECs" frameborder="0" allowfullscreen=""></iframe></span></strong>&nbsp;</span>
</p>

<p>
	<br>
</p>

<p>
	<br>
	<br>
	<br>外語學院成立於1992年，以語文訓練、文學、翻譯、應用文等課程為特色，培養從事翻譯、貿易、外交、文學、文化研究等多元外語人才。</p>

<p>
	<br>
</p>

<p>
	<a href="http://www.tf.tku.edu.tw/intro/super_pages.php?ID=intro" rel="noopener noreferrer" target="_blank"><img src="/storage/app/media/uploaded-files/28_fc465544.jpg" style="width: 90%;" class="fr-fic fr-dib fr-fil" data-result="success"></a>
</p>

<p>
	<br>
</p>

<p>本院設立跨學院外語翻譯學分學程，推動外語教學創意工作坊，建置多語莫敵線上學習網站、外語學習特區、口譯教室、文化教室，加強學生聽、說、讀、寫、譯五技能力。本院英、西、法、德、日、俄6系舉辦大三出國至姐妹校留學1年，並與本校國際研究學院合作，提供國際區域研究課程，鼓勵本院學生積極涉獵國際政治、經濟、文化等領域，以擴大國際化的學習面向。為掌握產業界脈動，各系亦規劃實務課程與業界機構建立實習機制。</p>

<p>
	<br>
</p>

<p>未來將持續延聘學有專長的教師並改進外語教學軟硬體設施與教學方法，定期與國際和大陸重點外語大學舉辦研討會，進行教學與研究的合作及交流。</p>

<p>
	<br>
</p>