<p><span style="color:#e25041"><span style="font-size:18px"><strong>組織結構</strong></span></span></p>

<p>&nbsp;</p>

<p><img src="/storage/app/media/College/110%E5%AD%B8%E5%B9%B4%E5%BA%A6%E8%B5%B7%E7%B5%90%E6%A7%8B%E5%9C%96.jpg" /></p>

<p><strong><span style="color:#e25041"><span style="font-size:18px">系所簡介</span></span></strong></p>

<p>&nbsp;</p>

<p><span style="color:#3d8eb9"><strong>英文系</strong></span></p>

<p><span style="font-size:14px">創立於1950年，設立已有一甲子之悠久歷史，設有學士班，碩士班以及博士班。研究所課程重英美文學與英語教學．1970年創刊之&lt;&lt;淡江評論&gt;&gt;(Tamkang Review)，被國科會收錄於「台灣人文學引文索引核心期刊」（THCI Core）資料庫．已舉辦過數屆國際生態論述會議，並協助創立ASLE-Taiwan（中華民國文學與環境學會）．</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px">電話：（０２）２６２１－５６５６轉２３４２、２３４３</span></p>

<p><span style="font-size:14px">傳真：（０２）２６２０－９９１２</span></p>

<p><span style="font-size:14px">email：tflx@oa.tku.edu.tw</span></p>

<p>&nbsp;</p>

<p><span style="color:#3d8eb9"><strong>西語系</strong></span></p>

<p>&nbsp;</p>

<p>成立於1962年，下設學士班及碩士班．學術領域涵蓋文學、語言、翻譯、歷史、法律等學科．目前於政府機構服務之系友總數達一百二十餘名．未來將持續提升西班牙語檢定通過率；增加語言實習機會，推動赴西班牙語系國家擔任青年大使或至西語相關之政府機關及企業實習；並配合當前趨勢鼓勵學生取得華語教學師資資格．</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>電話：（０２）２６２１－５６５６轉２３３６、２３３７</p>

<p>傳真：（０２）２６２０－9902</p>

<p>email：<a href="mailto:spanish@mail.tku.edu.tw">spanish@mail.tku.edu.tw</a></p>

<p>&nbsp;</p>

<p><span style="color:#3d8eb9"><strong>法文系</strong></span></p>

<p>&nbsp;</p>

<p>成立於1964年，下設學士班以及碩士班．歷來著重於法國語言暨文化教材之教學培育，培養學生深厚之人文學識基礎，造就國內翻譯、外交、文化暨學術研究及貿易方面之專才．學生畢業後投身於就業市場可從事學術研究、文化產業、</p>

<p>外交公職、商業秘書、翻譯員、教師、外貿、新聞產業等其他服務業．</p>

<p>&nbsp;</p>

<p>電話：（０２）２６２１－５６５６轉２３３８、２３３９</p>

<p>傳真：（０２）２６２０－９９１３</p>

<p>email：tffx@mail.tku.edu.tw</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="color:#3d8eb9"><strong>德文系</strong></span></p>

<p>&nbsp;</p>

<p>成立於１９６３年，旨在培育德語能力，傳播德與語言及文化、促進與德語國家文化學術交流的人才．課程規劃包括語言、人文、跨學科與實務等４個方向．推動學生在學期間皆能至德語區國家研習，與企業訂定實習機制，讓學生能及早體驗職場之生態，裝備相關專長．</p>

<p>&nbsp;</p>

<p>電話：（０２）２６２１－５６５６轉２３３２、２３３３</p>

<p>傳真：（０２）２６２０－９９０６</p>

<p>email：ger@mail.tku.edu.tw</p>

<p>&nbsp;</p>

<p><span style="color:#3d8eb9"><strong>日文系</strong></span></p>

<p>&nbsp;</p>

<p>成立於1966年，原名「東方語言文學系」，1985年正改為現名．設有大學部、進學班、二年制在職專班、碩士班及碩士在職專班．每年頒發系友獎學金超過新台幣１００萬元．</p>

<p>將與日本麗澤大學、長崎外國語大學、城西大學、城西國際大學等姐妹校進行雙學位交流．並透過遠距與海外大學進行交流．</p>

<p>&nbsp;</p>

<p>電話：（０２）２６２１－５６５６轉２３４０、２３５８</p>

<p>傳真：（０２）２６２０－９９１５</p>

<p>email：tfjx@mail.tku.edu.tw</p>

<p>&nbsp;</p>

<p><span style="color:#3d8eb9"><strong>俄文系</strong></span></p>

<p>&nbsp;</p>

<p>成立於1993年，所有專任教師皆擁有俄羅斯知名大學之博士學位，在語音學、修辭學、語法、翻譯、歷史、文化、哲學、其專業素養．除培養學生基礎語言之五技能力，亦安排歷史，文化、文學課程．派遣優秀學生於暑假期間赴與俄羅斯有商務往來之廠商或政府機構實習．推動「雙學位」、交換教師制．</p>

<p>&nbsp;</p>

<p>電話：（０２）２６２１－５６５６轉２７７１、２１１６</p>

<p>傳真：（０２）２６２０－９９０７</p>

<p>email：tfux@mail.tku.edu.tw</p>

<p style="text-align:center">&nbsp;</p>

<p><span style="color:#e25041"><strong><span style="font-size:18px">學生人數統計</span></strong>&nbsp;</span></p>

<p><img src="/storage/app/media/College/CLA/110-1%E5%AD%B8%E7%94%9F.jpg" /></p>

<p>&nbsp;</p>

<p><span style="color:#e25041"><span style="font-size:18px"><strong>教師人數統計</strong></span></span></p>

<p><img src="/storage/app/media/College/110-1%E5%A4%96%E9%99%A2%E6%95%99%E5%B8%AB%E4%BA%BA%E6%95%B8.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>