<p>
	<br>
</p>

<p style="text-align: center;"><img src="https://www.tf.tku.edu.tw/storage/app/media/uploaded-files/013001.jpg" style="width: 489px; height: 335.185px;" class="fr-fic fr-dib" data-result="success"></p>

<p>感恩節在美國是國定節日，於每年11月的第4個禮拜四慶祝。感恩節當天，家人和朋友聚在一起，感恩收成及在當年發生的美好事物。</p>

<p>&nbsp; &nbsp; 感恩節可追溯至清教徒移民美洲大陸時期。清教徒於冬天抵達美洲大陸，由於所攜帶的食物不足，致使許多人死於飢餓。幸好印地安人教導他們如何耕種農作物，到何處捕獵，才使情況轉危為安。為感謝印地安人的無私教導，倖存的人們邀請印地安人參加盛宴，一起玩遊戲和比賽射擊。整個感恩的活動持續三天，日後也成為美國的傳統節日。時至今日，感恩節盛宴通常包含火雞、馬鈴薯、蔬菜和南瓜派，在享受美食前，會花一些時間說說感恩的對象與由來。</p>

<p>&nbsp; &nbsp; 英文系每年在學生活動中心舉辦「英文系師生感恩節晚會」。晚會除了供應美食外，也搭配學生表演節目，共同營造美好的氣氛和向心力。活動期間，希望全體師生能靜下心來聊聊天，說說美好的事物，增進彼此的情感交流。在此，我們也熱情邀請大家一同參與，期待您的蒞臨！</p>