<p style="text-align: center;"><span style="font-size:22px"><strong>International Youth Ambassador&nbsp;── 吳馨怡</strong><br />
<br />
<img src="/storage/app/media/uploaded-files/2016-g200-youth-hforum-germany-g200.jpg" /><br />
<br />
2016 G200 Youth Forum, Germany<br />
<br />
<strong><img src="/storage/app/media/uploaded-files/2016-g200-youth-forum-germany-g200.jpg" style="height:532px; width:800px" /></strong><br />
<br />
Document Download: <a href="/storage/app/media/uploaded-files/2016-g200-youth-forum-germany-g200.pdf">2016 G200 Youth Forum, Germany &ndash; G200 青年論壇交流感想.pdf</a></span><br />
&nbsp;</p>

<p style="text-align: center;"><span style="font-size:22px"><img src="/storage/app/media/uploaded-files/2016-g200-youth-lforum-germany-g200.jpg" style="height:534px; width:800px" />&nbsp;<br />
<br />
<img src="/storage/app/media/uploaded-files/2016-g200-youth-nforum-germany-g200.jpg" style="height:599px; width:800px" /></span></p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;"><br />
<br />
&nbsp;</p>

<p style="text-align: center;">&nbsp;</p>