<p style="text-align: center;"><span style="font-size:22px"><img src="http://www.tf.tku.edu.tw/storage/app/media/extraordinary%20alumni/mai%20ye%20chen.jpg" style="height:350px; width:370px" /><img alt="" src="http://www.tf.tku.edu.tw/img.php?img=507_f6f612e9.jpg&amp;dir=archive" /><br />
<strong>香港元朗區議員麥業成第28屆金鷹獎得主</strong></span></p>

<p style="text-align: center;">&nbsp;</p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp;&nbsp;<strong>麥業成</strong>為本校1985年東方語文學系（現為日本語文學系）畢業校友 人生重要3個關鍵：1981-1985：就讀本校，1985-1990：從事翻譯，往來大陸、香港以及日本1991-至今：當選民選區議員，投入為民服務以積極貢獻社會。<br />
<br />
　　恰好歷經臺灣由解嚴時期走向民主選舉的過程；畢業後返港從事語言翻譯工作，經常往來香港、大陸以及日本，親身體驗到三地政治體制的差異，也因八九民運、六四天安門事件的影響，投入民主運動至今。1991年當選為民選區議員，2011年連任第六屆元朗區議會議員，並擔任民主陣線主席，同時也是淡江大學香港校友會副會長；他除了時時關心港生來臺灣就學相關事宜外，還關切畢業校友動向，幫助他們就業。這一切的開始，是因為飄洋過海的種子在淡江時萌芽，麥業成十分珍惜在本校留學的難得緣分，他笑說：「我特別想將臺灣的大學，介紹給香港的學生。」</span></p>

<p><br />
<span style="font-size:22px">&nbsp;　　　憶起校園生活，麥業成特別喜歡淡江校園環境，尤其是圖書館，他自豪地說：「年輕時的我，非常喜歡看書，帶著一杯咖啡，就可以在圖書館待上一整天，終日徜徉於書海中的知識裡，讓我覺得很快樂。」校園中經常看見許多外籍生，在這國際化且自由校風，帶給麥業成許多新的思考，對他畢業後的規劃有極大的啟蒙。麥業成表示，求學時系上老師會因他不是臺灣人而特別關照，例如細心指導發音問題，讓他備感溫暖。麥業成笑著說：「因此，我特別發奮努力用功讀書，希望能回報老師們的關懷。」在讀書之餘，他也加入柔道校隊，參與大專盃團體賽並奪得季軍。這些都成為麥業成大學時期難忘的回憶。因為在臺求學得到許多幫助，讓麥業成想傳承這份溫度，便開始協助香港中學生赴臺就學。<br />
儘管從政擔任區議員一職，他除汲汲營營投入服務選民的工作外，仍持續協助港生赴臺求學相關事項。麥業成認為，港生來臺讀書除了在學業上有所收穫外，也受民主養分的潛移默化，他期盼這些學生返港後能帶回新思維，為香港發揮影響力。「民主就是未來！」對麥業成不僅是口號，更是他極欲傳達的想法。<br />
因著過去經驗，麥業成了解想留學臺灣的港生所面臨的問題，例如關心如何前來、畢業後的就業情形及學歷是否能被承認等，這些情況讓他感同身受，因此麥業成以區議員身份，不僅協助中華民國駐港機構舉辦升學講座、畢業校友講座、幫助留臺返港的畢業生就業外、積極向香港政府爭取成立學歷評審局，讓在外地就學的學歷獲得認可。麥業成堅定地說，「這些是我的責任。」此外，他更協助本校前往香港的中學進行招生工作，「希望有更多好的選擇，能介紹給每位香港中學生。」</span></p>

<p><br />
<span style="font-size:22px">&nbsp; &nbsp; &nbsp; 談及對於學弟妹的期許時，麥業成強調，淡江大學是個有國際觀的大學，又蟬連20年企業最愛私校第一名，盼學弟妹在學時能利用校內豐富的資源開拓視野，接觸不同的聲音，並多元參與活動以增廣見聞，培養國際觀及獨立思考的能力。他強調，在大學時除了研讀本科系的專業內容，更要多看、多學習不同的領域，以及培養第二外語能力等，方能以所學為利器，完成自己未來想做的事。</span></p>