<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-size:28px"><strong><span style="color:#0099ff">國際青年大使 ── 吳馨怡</span></strong></span><br />
<br />
<span style="font-size:22px"><span style="color:#2c82c9"><img class="fr-dib fr-fic" src="/storage/app/media/uploaded-files/2016-g200-youth-hforum-germany-g200.jpg" style="height:531px; width:300px" /></span></span><br />
<br />
<span style="font-size:28px"><span style="color:#0099ff">2016 G200 Youth Forum, Germany &ndash; G200 <strong>青年論壇交流</strong></span></span><br />
<br />
<span style="font-size:22px"><span style="color:#2c82c9"><strong><img class="fr-dib fr-fic" src="/storage/app/media/uploaded-files/2016-g200-youth-forum-germany-g200.jpg" style="height:531px; width:798px" /></strong></span></span><br />
<br />
<span style="font-size:24px"><span style="color:#54acd2">檔案下載: <a class="fr-file" href="/storage/app/media/uploaded-files/2016-g200-youth-forum-germany-g200.pdf">2016 G200 Youth Forum, Germany &ndash; G200 青年論壇交流感想.pdf</a></span></span><br />
&nbsp;</p>

<p style="text-align:center"><img class="fr-dib fr-fic" src="/storage/app/media/uploaded-files/2016-g200-youth-lforum-germany-g200.jpg" style="font-size:22px; height:531px; width:796px" />&nbsp;<br />
<br />
<span style="font-size:22px"><img class="fr-dib fr-fic" src="/storage/app/media/uploaded-files/2016-g200-youth-nforum-germany-g200.jpg" style="height:596px; width:796px" /></span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><br />
<br />
&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>