<h3><span style="font-family: Arial,Helvetica,sans-serif;">閱讀旅行工作坊 6 ─《馬可波羅遊記》</span></h3>

<p class="oc-text-spaced"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;">主題：《馬可波羅遊記》主講人：吳錫德 &nbsp; 與談人：倪安宇<br>《馬可波羅遊記》，首先是一本奇書，法文的原書名就叫「不可思議的的書」（Le Livre des merveilles）。其次它是被捧讀了幾百年的書，它可以是遊記、探險小說、也可以是第一手觀察的民俗誌，是西方讀者窺見東方高度文明的唯一窗口。最終，它還是一本改變人類歷史的書，西方的哲士如伏爾泰引為樂土及楷模，海上探險家如哥倫布視為航向天堂的指南。</span></span>
</p>

<p class="oc-text-spaced"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;"><img src="http://www.tf.tku.edu.tw/img.php?img=392_5a8fd710.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=394_51a2a440.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=395_5d19ff9c.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=397_6413a8cf.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=398_14fb07da.jpg&amp;dir=archive" class="fr-fic fr-dii"></span></span>
	<br>
</p>