<p style="text-align:center"><span style="font-size:22px"><strong><img alt="" src="http://www.tf.tku.edu.tw/img.php?img=453_f3b67519.png&amp;dir=archive" />淡江外語如何使你與眾不同報導系列五</strong></span></p>

<p style="text-align:center"><span style="font-size:22px"><strong>(職業－外貿商業)</strong></span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-size:22px">&nbsp;<img src="/storage/app/media/junior abroad/Rau chen hua.jpg" style="height:299px; width:800px" /></span></p>

<p style="text-align:center"><span style="font-size:22px"><strong>Alumni of Japanese Department-&nbsp;饒政華</strong></span></p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; 日文系畢業校友饒政華（現任太陽誘電營業部）他至日本千葉縣麗澤大學做交換生，不只學會了日語，也讓他日後在職場上的獨立操作有了一定的基礎。陳郁虹（現任全家便利商店商品採購經理）京都的京都橘大學，讓她多了一個「家」，每逢京都當地民俗節慶等紀念日，細見爸媽都會找她一同參與活動，大至京都各大祭典，小至一般習俗節慶與社區活動等，另外，細見爸媽也會帶著她參與家族小旅行，開車或搭車參訪週邊城市的風景名勝更細細解說各地歷史民情，他們就如同對待自己的家人般一樣不吝於分享生活中的每一刻。</span></p>

<p>&nbsp;</p>

<p style="text-align:center"><span style="font-size:22px"><img src="/storage/app/media/junior abroad/Lin fun pun 1-1.jpg" style="height:301px; width:800px" /></span></p>

<p style="text-align:center"><span style="font-size:22px"><strong>Alumni of Japanese Department-&nbsp;林鳳鵬</strong></span></p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; 林鳳鵬（現任富景翔貿易有限公司負責人）至日本城西大學留學一年，在與日本人相處的過程中，日本人對於事前的準備以及事後的檢討，及分析事情上的精細和嚴謹的態度讓他感到非常的驚訝。第一份工作是在半導體廠上班，對於初出茅廬的林鳳鵬來說，真的十分疲累不堪。加上日本人複雜的分工組織、嚴謹仔細的處事態度及不輕易放棄每一個小細節的做法，讓他再一次感受到挫折。從早上的反省會開始，接下來的檢討會、試作會跟產量會議，各式各樣的會議，壓得喘不過氣，頻頻想要放棄，但在每次放棄前就會想起那段在日本留學的日子及日本老師們的鼓勵，又讓他咬緊牙根，繼續努力。在這樣子的環境下，逐漸培養出林鳳鵬不認輸、不服輸、勇於面對問題和樂於接受挑戰的堅韌毅力。</span></p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; 2008年是林鳳鵬人生中最大的一個轉捩點，在因緣際會之下所負責的一個日本客戶，建議他獨資開貿易公司；在慎重的考慮以及多方鼓勵之下，終於成功的自行創業。其中的艱辛與困難自不必多說，憑藉著在日本讀書時跟日本人相處的經驗及那時跨越異國所開拓的眼界和膽量，讓他不會懼怕跟日本人交談、做生意，更可以與支持他的客戶們一起打江山、拼天下，開創了屬於自我的一方天地。能夠有這樣令人喜悅的成績，全是要感謝那一年有機會去日本學習。在這之前他只是一名體保生。</span></p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; 語言只是工具，淡江外語除了使語言變為優勢，在大三出國進修一年的訓練，更是人生的轉捩點，也是培養出職場不認輸、不服輸、勇於面對問題和樂於接受挑戰的堅韌毅力。（編者按：除作者群－梁蘊嫻（元智大學應用外語學系助理教授）、林美秀（吳鳳科技大學應用日語系主任）柯遵哲（海外電通股份有限公司業務）外，傑出校友尚有：高雄餐旅大學日文系主任黃招憲</span></p>