<h1><span style="color:#b22222"><span style="font-size:28px"><strong>實驗劇場開始申請囉！</strong></span></span></h1>

<h1><img class="fr-dii fr-fic" src="/storage/app/media/IMG_1700.jpg" /><img class="fr-dii fr-fic" src="/storage/app/media/IMG_1705.jpg" /><img class="fr-dii fr-fic" src="/storage/app/media/IMG_1707.jpg" /><img class="fr-dii fr-fic" src="/storage/app/media/IMG_1709.jpg" /><img class="fr-dii fr-fic" src="/storage/app/media/IMG_1710.jpg" /><img class="fr-dii fr-fic" src="/storage/app/media/IMG_1713.jpg" /></h1>

<p><a href="/storage/app/media/%E5%AF%A6%E9%A9%97%E5%8A%87%E5%A0%B4-%E5%8A%87%E5%A0%B4%E5%80%9F%E7%94%A8%E7%94%B3%E8%AB%8B%E8%A1%A8.pdf">實驗劇場-劇場借用申請表.pdf</a></p>

<p><a href="/storage/app/media/%E5%AF%A6%E9%A9%97%E5%8A%87%E5%A0%B4%E5%80%9F%E7%94%A8%E8%BE%A6%E6%B3%95.pdf">實驗劇場借用辦法.pdf</a></p>

<p><a href="https://www.tf.tku.edu.tw/storage/app/media/10161909-20.pdf">實驗劇場-道具戲服借用表.pdf</a></p>

<p><a href="https://www.tf.tku.edu.tw/storage/app/media/1016108-3.pdf">108上劇場工讀生辦公室排班表.pdf</a></p>