<p style="text-align: center;"><img src="https://www.tf.tku.edu.tw/storage/app/media/uploaded-files/013006.jpg" style="width: 721.989px; height: 479.118px;" class="fr-fic fr-dib" data-result="success"></p>

<p>謝肉節（Масленица)，又稱送冬節，象徵送走冬天，迎來春天，是俄羅斯民間傳統節慶，在每年東正教大齋戒前一個禮拜舉行。</p>

<p>&nbsp; &nbsp; 謝肉節為期七天，俄國各地都會舉辦盛大的慶祝活動，演唱民俗歌謠、擺攤或進行傳統遊戲如搏擊、拔河、擊劍等等。家家戶戶都會烹製象徵太陽的布林餅，圓圓薄薄，意味著春天的來臨和越來越長的白晝。布林餅做得越薄，代表廚藝越好。節日的最後一天，俄羅斯民眾會點燃象徵斯拉夫神話中的女神的稻草人，送冬迎春。節日過後，進入為期四十天的大齋節，期間不得吃肉、娛樂，所以這一星期便成為人們向肉類告別的日子，也因此稱為謝肉節。俄文系每年3月舉辦該項活動。</p>