<p style="text-align: center;"><img src="https://www.tf.tku.edu.tw/storage/app/media/uploaded-files/013002.jpg" style="width: 454px; height: 254.94px;" class="fr-fic fr-dib" data-result="success"></p>

<p>「吞葡萄」是西班牙過新年的跨年活動。每年12月31日午夜歲末倒數時分，大小城鎮的廣場都擠滿了歡樂的群眾，準備吞葡萄祈願，最著名的是馬德里太陽門廣場。廣場上人手12顆葡萄代表來年的12個月份，人們等待午夜12點敲鐘，鐘響一聲吞下一顆，連吞12顆葡萄象徵未來的一年充滿好運。</p>

<p>吞完葡萄，人們與身旁的夥伴熱情擁抱，喝酒歡慶新年，互道：「¡Feliz Año Nuevo!」，嶄新的一年就此展開。</p>

<p>西語系每年歲末舉辦吞葡萄跨年祈願活動，歡迎師生一起來吞葡萄，迎接新的一年。</p>