<p style="text-align: center;"><img src="https://www.tf.tku.edu.tw/storage/app/media/uploaded-files/013003.jpg" style="width: 478px; height: 268.918px;" class="fr-fic fr-dib" data-result="success"></p>

<p>每年11月的第三個星期四是薄酒萊新酒節，薄酒萊新酒節舉辦的目的在於能夠搶鮮品嘗該年葡萄的風味，做為採購該年葡萄酒的一個指標。薄酒萊的酒採用「二氧化碳浸皮法」來釀造，簡單地說就是快速發酵。薄酒萊適飲的溫度較一般葡萄酒更低，約莫10～12度左右。果香味濃厚是它的主要特徵。</p>

<p>&nbsp; &nbsp; 薄酒萊新酒節在法國博若萊地區最為盛行，每年約舉辦120場有關的活動。活動的進行方式大致是 : 主辦方先把葡萄酒收起來，儲存六個星期，之後將葡萄酒送到品酒專家處試飲，專家們在最短時間中挑選出最好的新酒。</p>

<p>&nbsp; &nbsp; 星期三傍晚揭開薄酒萊新酒節的活動序幕，隔天展開為期五天的節日特色品酒會(Les Sarmentelles)，每年往往都會搭配舉辦各式各樣的活動。法文系每年11月舉辦薄酒萊新酒節，歡迎師生一起來品嘗法國葡萄酒的別緻風味。</p>