<p style="text-align: center;">
	<br>
</p>

<p style="text-align: center;">
	<br>
</p>

<p style="text-align: center;"><span style="font-size: 30px;"><span style="color: rgb(44, 130, 201);"><span style="font-family: Georgia,serif;"><strong>&lt;旅遊&amp;旅行文學&gt;，歡迎點選左列選單!</strong></span>&nbsp;</span>
	</span>
</p>

<p style="text-align: center;"><span style="color: rgb(44, 130, 201);"><span style="font-family: Georgia,serif;"><span style="font-size: 30px;"><strong><img src="/storage/app/media/good-books-to-read-while-traveling-735x400.jpg" style="width: 545px; height: 296.771px;" class="fr-fic fr-dib"></strong></span></span>&nbsp;</span>
	<br>
</p>