<p><strong>１９６３年一月<br><span>夜間部法國語文學系成立，招收４４名學生<br></span></strong><strong><br>１９６４年六月<br><span>日間部西洋語文學系－法國語文組成立，招收２５名學生<br></span><br>１９７３年<br>日間部西洋文學系－法國語文組開始招收兩班新生<br><br>１９７５年<br><span>日間部法國語文組經教育部核准改為法國語文學系<br></span></strong><strong><br></strong><span><strong>１９８０年<br>淡江文理學院升格為淡江大學<br>１９８３年<br><span>教育部評定為歐語優良系</span>
	<br>
	<br>１９８６年
	<br>開辦第一屆暑假法國遊學團
	<br>
	<br>１９８９年
	<br><span>與法國弗朗士─孔泰大學締結姐妹校</span>
	<br>
	</strong>
	</span><strong><br><span>１９９４年<br>每年派遣２０名大三出國留學生赴弗朗士─孔泰大學進修<br><br>１９９７年<br><span>夜間部停招、日間部增為３班<br></span><br>２０００年<br>逐年將法文系夜間部改制為日間部<br></span><span><br></span>２００１年<br><span>本系與法國里昂三大開始實施雙向學生交流，２名法文系大學部學生至該校進修<br></span><br>２００２年<br>大一會話課採本系教室與外籍實習老師合作之雙師授課制<br>法國語文系碩士班成立，大學部縮減成２班<br><span><br></span>２００４年<br><span>法國語文學系碩士班，首次派遣研究生至法國里昂第三大學進修<br></span><br>２００５年<br>研究所學生－鄧家均獲得淡江－里昂三大雙學位文憑，為本系第一位碩士畢業生<br><br><span>２００７年<br></span><strong><span>首度遴選學生赴尼斯大學任留學生</span></strong><strong><br><span>再度獲得教育部「學海築夢<span>─海外專業實習先導型計畫」</span></span><span>經費，選派碩士班二年級４位學生參加法國「外亞維農藝術節藝術行銷實習計畫</span><span>」<br><br></span></strong></strong><strong>２００8年<br><span>開始每年派遣2名學生去「亞維儂藝術節」</span></strong></p>

<p>&nbsp;</p>

<p><strong>２０1 5年</strong></p>

<p><strong><span>首批交換生赴巴黎第七大學</span></strong></p>