<p>&nbsp;本系生除選擇於大三時，利用大三出國辦法赴姐妹校留學一年 – 例如法國東部的弗朗士─孔泰大學，法國南部的尼斯大學，或法國西部的普瓦捷大學，如條件符合(例如學業成績必須平均75分以上)，亦可透過本校國際交流處安排，赴本校其他的姐妹校，例如：里昂第三大學、巴黎第四大學、巴黎第七大學、比利時新魯汶大學、以及比利時達文西學院。相關訊息，請參照<a href="http://www.oieie.tku.edu.tw/zh_tw/news/OverseasStudents">國際處首頁&gt;交換生計畫(連結)</a> ，或逕洽國際處(分機2002、2003)</p>

<p>
	<br>
</p>