<p><span><strong>本系特色<br></strong></span>
	<br><strong>　大學部－先留學再畢業</strong>
	<br><span><br></span>為使學生<span>實地了解法國文化與現況，本系自８３學年度起，每年舉辦「大三學生赴法出國選修課程」，遴選2５至3０名三年級學生送至姊妹校：法國弗朗士孔泰大學，進修一年，所修習之學分可抵免本系之相關課程學分，９７學年度起再增加一所姊妹校：法國尼斯大學。此外比利時、法國里昂第三大學及法國巴黎第四大學也提供本系交換學生的名額，103學年度共計28名大三學生在Besançon 和Lyon留學一年。<br><br><strong>　碩士班－雙碩／求學＋在當地大學任教</strong><br><br>本著國際化政策的治學目標，淡江大學與法國里昂第三大學於９１學年度簽訂國際雙邊協議。翌年起，本系每年均經甄選程序，派遣碩士班二年級的研究生學生赴里昂第三大學進修一年，以提升學生的法語能力和專業素養。出國進修期間，本系研究生除了在當地研究所修課、撰寫論文外，每週還可在里昂大學部教授中文課程。這份極具挑戰性的教學工作可以落實本系「活用語言」與「學以致用」的培訓理念。此外在教學相長的同時，同學不但有機會接觸法國當地的學生，還可以獲得一筆豐渥的授課鐘點費。此外，本系研究生亦可申請赴法國里昂第三大學、巴黎第四大學</span><span>、巴黎第七大學</span>與比利時新魯汶大學的翻譯學院任交換生。
	<br>
	<br>與本系進行教學交換的學校目前計有七所：
	<br>法國─巴黎第四大學、<span>巴黎第七大學、</span>里昂第三大學、伯桑松大學和尼斯大學
	<br>比利時─新魯汶大學和達文西高等學院的翻譯學院
	<br>
	<br><span><strong>　以學習者為中心的外語學習理念</strong></span><strong><span><br><br></span></strong>１、法式生活體驗
	<br>
	<br><span>２、在學習中生活，在生活中學習<br><br><strong>　教材教學、分級檢定課程<br></strong><span><br>本系的教學目標期以「學習領域」為中心，統合大一、大二的課程規劃及教材，以奠定基礎語文能力為目標，大三、大四朝應用課程安排，期能將一、二年級奠定的語文程度加以運用，發揮法語能力以學習與法國相關事物。同時鼓勵本系學生修輔系或雙學位，使其在法語之外有第二專長，再加上原有的英語能力，必能獲得外界對本系畢業生的肯定。同時未來本系所規劃之課程將期使縱的方面具有一致性、連貫性及實用性；橫的方面能達到統合性的目標。<br><br>加強實用性的法文教學：教學題材融入法國教育部設立之法語程度鑑定ＤＥＬＦ、ＤＡＬＦ考試之內容及方向，以奠定及加強學生的語言基礎。由於法文在國內屬於第二外國語言，目前多數學生是進入大學後才開始學習法語，因此在大學的語言課程教學上，仍較偏重基礎的語言教學，在奠定學生紮實的語言能力後，方能作更進一步的人文、經濟、政治…等各方面的研究。<br><br><strong>　ｅ化外語學習</strong><br><br>逐年實施課程改革，以期改善目前教學發展與社會需要之失衡情形。為配合本校資訊化政策，鼓勵本系教師教學電腦化，合作開發電腦教學軟體及遠距教學。<br><br>１、善用電腦資源：本系整合網路虛擬教室與法語人文教學，讓學習超越時空限制，並透過網路直接與外國的同學和老師溝通。教師們亦設計教材置於網站平台，以便學習者隨時取得教材。<br><br>２、遠距教學平台（網路虛擬教室、Moodle教學平台）：配合學校近年來發展的遠距教學，本系已有教師使用虛擬教室，讓欲加強法文或對法文有興趣的學生隨時隨地都可透過電腦上網自我學習，藉此讓學生在生活中學習法文，不再僅侷限於課堂中，能實質提昇學生讀書風氣。</span></span>&nbsp;</p>