<p>話說淡水線上教學影片(法文版影音)：</p>

<p>CH1. 歷史上的淡水</p>

<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/cWJWxPtZKCE" frameborder="0" allowfullscreen=""></iframe></span></p>

<p>CH2.渡船頭</p>

<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/FF3cAEUKW00" frameborder="0" allowfullscreen=""></iframe></span>
	<br>
</p>

<p>CH3.紅毛城</p>

<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/MROp3OF8NtI" frameborder="0" allowfullscreen=""></iframe></span>
	<br>
</p>

<p>CH4.馬偕、教會</p>

<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/qSbU13y7070" frameborder="0" allowfullscreen=""></iframe></span>
	<br>
</p>

<p>CH5.觀音山</p>

<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/_rkfmQzDASA" frameborder="0" allowfullscreen=""></iframe></span>
	<br>
</p>

<p>CH6.淡水河岸</p>

<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/CGLDWrsuIDQ" frameborder="0" allowfullscreen=""></iframe></span>
	<br>
</p>

<p>CH7.淡水老街</p>

<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/9qJih0w02WI" frameborder="0" allowfullscreen=""></iframe></span>
	<br>
</p>

<p>CH8.殼牌倉庫</p>

<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/9pcWucU1jSo" frameborder="0" allowfullscreen=""></iframe></span>
	<br>
</p>

<p>CH9.滬尾砲台</p>

<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/N-vLm7sLMWE" frameborder="0" allowfullscreen=""></iframe></span>
	<br>
</p>

<p>CH10.漁人碼頭</p>

<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/S4R2rvd9rAA" frameborder="0" allowfullscreen=""></iframe></span>
	<br>
</p>

<p>CH11.紅樹林</p>

<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/SP-bqBPuLfE" frameborder="0" allowfullscreen=""></iframe></span>
	<br>
</p>

<p>CH12.淡水小吃</p>

<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/k5E_HM8t2D8" frameborder="0" allowfullscreen=""></iframe></span>
	<br>
</p>

<p>CH13.淡水文藝</p>

<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/71HOESwoeOU" frameborder="0" allowfullscreen=""></iframe></span>
	<br>
</p>

<p>CH14.淡江大學</p>

<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/wZOpzlVY_1U" frameborder="0" allowfullscreen=""></iframe></span>
	<br>
</p>

<p>CH15.河岸自行車道</p>

<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/JfYqS1CberE" frameborder="0" allowfullscreen=""></iframe></span>
	<br>
</p>