<p>105年度「大學學習生態系統創新（B類）計畫<span><br>人文與科普教育在新北─讓國際看見</span></p>

<p>外國語文學院「六語國際傳播團隊」子計畫</p>

<p><span>計畫主持人:陳小雀<br></span>以「活用外語課程，開啟關懷在地人文」為目標，透過「外語傳譯在地文化學分學程」，「六語國際傳播團隊」子計畫將有下列預期成果：</p>

<p><span>1.豐富外語教學</span></p>

<p><span>2.增進文學素養</span></p>

<p><span>3.探索在地文化</span></p>

<p><span>4.落實多元學習<br></span></p>

<p>5.深入在地社區</p>

<p>6.履行公民義務</p>

<p>7.多語傳播新北</p>