<p><span style="font-size:22px"><strong>1962年&nbsp;西班牙語系成立<br />
1984年&nbsp;和哥斯大黎加大學締結姊妹校<br />
1988年&nbsp;和拿瓦拉大學締結姊妹校<br />
1992年&nbsp;和墨西哥州自治大學締結姊妹校<br />
1994年&nbsp;首屆大三出國留學生<br />
1999年&nbsp;和智利大學締結姊妹校<br />
2006年&nbsp;西語系碩士班成立 &nbsp;國立巴拿馬大學<br />
2009年6月&nbsp;成立中華民國淡江大學西班牙語文學系同學會</strong></span></p>