<p><a class="fr-file" href="/storage/app/media/uploaded-files/1060508.pdf">金象獎學金頒發辦法（1060508修正）.pdf</a></p>

<p><a class="fr-file" href="/storage/app/media/uploaded-files/tfsx-p17-105-1.pdf">金象獎學金申請表TFSX-P17-105-1.pdf</a></p>