<p><strong><span style="font-size:14px">一、本系西語能力畢業門檻：</span></strong><br />
　　●大學部：須通過西語測驗等同CEFR B1等級，採計二種測驗類別（DELE；FLPT)；104學年度前入學生須通過DELE語言能力檢定考試A2。<br />
　　●碩士班：通過DELE語言能力檢定考試B1或財團法人語言訓練測驗中心LTTC之外語能力測驗FLPT (西班牙語) 130分；口試S-2。</p>

<p><strong><span style="font-size:14px">二、</span></strong><strong><span style="font-size:14px">本校英語能力畢業門檻：</span></strong><br />
<img src="/storage/app/media/Spanish/Image 6.png" /></p>