<table align="center" class="table table-bordered" style="width:100%">
	<tbody>
		<tr>
			<td style="width:50.0000%"><span style="font-size:30px"><strong>教務處招生組網頁說明</strong></span></td>
			<td style="width:50.0000%"><span style="font-size:30px"><strong>網址</strong></span></td>
		</tr>
		<tr>
			<td style="width:50.0000%">
			<h1><span style="font-size:14px">107學年度「大學個人申請入學」_審查資料上傳作業操作說明</span></h1>
			</td>
			<td style="width:50.0000%"><a href="http://www.acad.tku.edu.tw/news/news.php?Sn=1563">http://www.acad.tku.edu.tw/news/news.php?Sn=1563</a></td>
		</tr>
		<tr>
			<td style="width:50.0000%">
			<h1><span style="font-size:14px">107學年度大學「個人申請入學」_第二階段指定項目甄試彈性措施</span></h1>
			</td>
			<td style="width:50.0000%"><a href="http://www.acad.tku.edu.tw/news/news.php?Sn=1558">http://www.acad.tku.edu.tw/news/news.php?Sn=1558</a></td>
		</tr>
		<tr>
			<td style="width:50.0000%">
			<h1><span style="font-size:14px">107學年度大學「個人申請入學」_扶弱助學措施</span></h1>
			</td>
			<td style="width:50.0000%"><a href="http://www.acad.tku.edu.tw/news/news.php?Sn=1512">http://www.acad.tku.edu.tw/news/news.php?Sn=1512</a></td>
		</tr>
		<tr>
			<td style="width:50.0000%"><br />
			<span style="font-size:14px">107學年度「大學個人申請入學」_招生簡章校系分則查詢及106學年度篩選標準一覽表</span></td>
			<td style="width:50.0000%"><a href="http://www.acad.tku.edu.tw/news/news.php?Sn=1503">http://www.acad.tku.edu.tw/news/news.php?Sn=1503</a></td>
		</tr>
	</tbody>
</table>