<table align="left" border="1" cellpadding="0" cellspacing="0" style="height:100px; width:450px">
	<tbody>
		<tr>
			<td>
			<h3><strong>學生核心能力指標</strong></h3>
			</td>
		</tr>
		<tr>
			<td>
			<p>一、具備西語聽力、口說B1（歐語能力評量共同參考標準）的能力<br />
			二、具備西語閱讀與寫作B1（歐語能力評量共同參考標準）的能力<br />
			三、具備西語語法能力<br />
			四、具備西語翻譯能力<br />
			五、具備商務西文知識<br />
			六、具備西語觀光導遊知識<br />
			七、具備西語華語教學知識<br />
			八、具備西語國家文化知識</p>
			</td>
		</tr>
	</tbody>
</table>