<table border="0" cellpadding="10" cellspacing="10" style="width:500px">
	<tbody>
		<tr>
			<td style="text-align:center"><img class="fr-dib fr-fic" src="/storage/app/media/uploaded-files/89a56faffa.jpg" style="float:left; width:300px" /></td>
			<td>
			<h3><strong>使命</strong><strong> (Mission)</strong></h3>

			<p>培育多元發展之西班牙語菁英</p>

			<h3><strong>願景</strong><strong> (Vision)</strong></h3>

			<p>提供國家西班牙文語專才</p>

			<p>強化學生就業及競爭能力</p>

			<h3><strong>價值</strong><strong> (Values)</strong></h3>

			<p>剛毅樸實</p>

			<p>才智兼備</p>

			<h3><strong>策略</strong><strong> (Strategies)</strong></h3>

			<p>增進專業學術交流</p>

			<p>規劃多元E化課程<br />
			推動卓越教學</p>

			<p>迎造優質學習</p>

			<h3><strong>治理</strong><strong> (Governance)</strong></h3>

			<p>協調第一</p>

			<p>休戚與共</p>

			<p>效率優先</p>

			<p>全面品質管理</p>
			</td>
		</tr>
	</tbody>
</table>