<h1><strong><span style="font-size:14px">大學部畢業學分</span></strong></h1>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td style="text-align: center;">入學年度</td>
			<td style="text-align: center;">必修學分</td>
			<td style="text-align: center;">系定選修學分</td>
			<td style="text-align: center;">其他選修學分</td>
			<td style="text-align: center;">總畢業學分數</td>
		</tr>
		<tr>
			<td style="text-align: center;">95~97</td>
			<td style="text-align: center;">119</td>
			<td style="text-align: center;">16</td>
			<td style="text-align: center;">5</td>
			<td style="text-align: center;">140</td>
		</tr>
		<tr>
			<td style="text-align: center;">98~106</td>
			<td style="text-align: center;">103</td>
			<td style="text-align: center;">21</td>
			<td style="text-align: center;">16</td>
			<td style="text-align: center;">140</td>
		</tr>
		<tr>
			<td style="text-align: center;">107</td>
			<td style="text-align: center;">94</td>
			<td style="text-align: center;">18</td>
			<td style="text-align: center;">16</td>
			<td style="text-align: center;">128</td>
		</tr>
	</tbody>
</table>

<h2 style="text-align: center;">&nbsp;</h2>

<h2><span style="font-size:14px"><strong>大學部先修科目表（105學年度第1學期起實施）</strong></span></h2>

<p>一、本系中級西班牙文文法、西班牙語會話（二）設有先修科目，表列如下。<br />
&nbsp; &nbsp; &nbsp; &nbsp;惟本系三年級（含大三轉學生）、四年級（含延修生）學生（含輔系、雙主修生）不受本表限制。</p>

<p>二、本案業經105學年度第1學期教務會議通過，即起實施。</p>

<p>&nbsp;</p>