<p>本系成立於民國51年，每年招收120名大學部學生，學系特色如下：</p>

<ul>
	<li>
		<!--[if !supportLists]-->師資陣容堅強:</li>
	<li>為國內歷史最悠久的西班牙語文學系，師資陣容堅強，教學多元活潑，為國內唯一全部專任教師擁有博士學位之學系。</li>
	<li>
		<!--[if !supportLists]-->大三出國留學：</li>
	<li>每年甄選大三學生赴西班牙留學一年，身歷其境深造西文，擴展國際視野。</li>
	<li>
		<!--[if !supportLists]-->國際移動學習：</li>
	<li>安排學生暑假短期至西班牙姐妹校遊學，培養國際移動力，增進西語能力。學期間亦與姐妹校交換學生，創造與異國學子互動機會。</li>
	<li>
		<!--[if !supportLists]-->專業翻譯訓練：</li>
	<li>設有專業口譯設備，進行西文同步實境翻譯演練，並強化學生西語翻譯應變能力。</li>
</ul>