<h1><strong><span style="font-family:Arial,Helvetica,sans-serif">107 學年度大學繁星推薦入學招生校系分則</span></strong></h1>

<h2 style="font-style:italic"><img src="/storage/app/media/Spanish/Image 2.png" /></h2>

<p><strong><span style="font-size:14px">本校教務處招生組網頁說明</span></strong><br />
<a href="http://http://www.acad.tku.edu.tw/news/news.php?Sn=1504"><span style="font-size:14px">107學年度「大學繁星推薦入學」_招生簡章校系分則查詢及106學年度錄取標準一覽表</span></a></p>

<h2 style="font-style:italic">&nbsp;</h2>

<h1>&nbsp;</h1>

<p>&nbsp;</p>