<p><strong>一、大學部應修學分</strong></p>

<p>　　畢業學分128學分；包含必修學分94學分（含校共同必26學分，系定必修68學分）及選修學分34學分（含系定選修18學分，其他選修16學分）。<br />
　　畢業前須通過西語檢定考試等同CEFR B1等級，始授予學士學位。</p>

<p><strong>二、課程規劃</strong></p>

<ol>
	<li>基礎西語課程：大一、大二開設有文法、會話、閱讀與習作，及造句課程，穩固基礎西語能力。</li>
	<li>進階西語課程：大三、大四除原有之文法與會話課程外，亦增加作文與翻譯，強化寫作與翻譯能力。</li>
	<li>多元選修課程：除了語言文化課程，亦開設多門實務選修課程如：商務西文、西語經貿實務、西語華語教學、觀光西語、西語淡水導覽&hellip;&hellip;等，依個人興趣選修。</li>
	<li>搭配學程進行職涯規劃：以職涯地圖概念，搭配學程規劃與未來職場連結之修課方向，計有翻譯、商務、旅遊、華語教學、文化等五大類</li>
</ol>

<p><strong>三、課程地圖</strong></p>

<p><img class="fr-dib fr-fic" src="/storage/app/media/uploaded-files/107.jpg" style="width:900px" /></p>