<p><a class="fr-file" href="/storage/app/media/uploaded-files/106.pdf">106學年度新生手冊.pdf</a></p>

<p><a class="fr-file" href="/storage/app/media/uploaded-files/105.pdf">105學年度新生手冊.pdf</a></p>

<p><a class="fr-file" href="/storage/app/media/uploaded-files/104.pdf">104學年度新生手冊.pdf</a></p>