<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>
			<h3><strong>大學部學系 教育目標</strong></h3>
			</td>
		</tr>
		<tr>
			<td>
			<p>一、奠定西語基本能力。<br />
			二、培養具國際觀全方位的西語溝通人才。<br />
			三、培育學生自主學習西語能力及健全文化素養。<br />
			四、建立未來職場西語專業領域</p>
			</td>
		</tr>
		<tr>
			<td>
			<h3><strong>碩士班&nbsp;教育目標</strong></h3>
			</td>
		</tr>
		<tr>
			<td>一、培育西語專業學術人才。<br />
			&nbsp; &nbsp; &nbsp; &nbsp;Creating specialists in Spanish.<br />
			二、培育西語教學專業能力。<br />
			&nbsp; &nbsp; &nbsp; &nbsp;Cultivating students&rsquo; ability to teach Spanish.<br />
			三、培育西語翻譯專業人才。<br />
			&nbsp; &nbsp; &nbsp; &nbsp;Developing students&rsquo; ability in translation.</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>