<p><a href="" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/DYqKGR0hw2A">"&gt;<iframe width="560" height="315" src="https://www.youtube.com/embed/DYqKGR0hw2A" frameborder="0" allowfullscreen=""></iframe></a></p>

<p>
	<br>
</p>

<p><span style="font-size: 24px;"><strong>Vocabulario:</strong></span></p>

<p><strong><span style="font-size: 14px;">1. 重建 reconstrucción / restauraci<span style="font-size: 14px;">ó</span></span>n</strong></p>

<p><strong>2. 整修 reparar / remodelar</strong></p>

<p><strong>3. 防禦要塞 sitio estratégico para la defensa</strong></p>

<p><strong>4. 領事館 consulado / oficinas consulares</strong></p>

<p><strong>5. 斷交 romper las relaciones diplomáticas</strong></p>

<p><strong>6. 托管 traspaso de derechos / traspaso de poderes (de propiedad)</strong></p>

<p><strong>7. 產權 derechos de propiedad</strong></p>

<p><strong>8. 一級古蹟 reliquia arquitect<span style="font-size: 14px;"><span style="font-size: 14px;">ónica de primera categoría (según el sistema de clasificación vigente en Taiwán)</span></span></strong></p>

<p><strong><span style="font-size: 14px;"><span style="font-size: 14px;">9. 淡水古蹟博物 Museo del Área Histórica de Tamsui</span></span></strong></p>

<p><strong><span style="font-size: 14px;"><span style="font-size: 14px;">10. 殖民地式建築 construcción de estilo colonial (estilo que usaron los colonizadores europeos en la <span style="font-size: 14px;"><span style="font-size: 14px;">construcción de las edificaciones en sus nuevas colonias)</span></span></span></span>&nbsp;</strong></p>

<p><strong>11. 樟腦 alcanfor</strong></p>

<p><strong>12. 索回 reclamar el reintegro de derechos</strong></p>

<p><strong>13. 舉人 candidato a los exámenes provinciales del imperio</strong></p>

<p><strong>14. 經史子集 recopilación de las obras clásicas de China</strong></p>

<p><strong>15. 撤軍 retirada / repliegue (de tropas militares)</strong></p>

<p><strong>16. 駐軍 guarnición militar / puesto militar</strong></p>

<p><strong>17. 石灰 piedra de lima</strong></p>

<p><strong>18. 磚頭 ladrillo / adobe</strong></p>

<p><strong>19. 地基 fundación / base (de una construcción)</strong></p>

<p><strong>20. 驅逐 expulsar / desalojar habitación de&nbsp;los servidores</strong></p>

<p><strong>21. 迴廊 pasillo / corredor</strong></p>

<p>
	<br>
</p>