<p><strong><span>專業口筆譯教室：T502</span></strong></p>

<p>設備：專業口譯小間、多媒體電腦、多系統錄放影機、DVD、電視機。
	<br><span>功用：口譯、會話課使用。</span>
	<br>特色：可收看西班牙衞星電視節目。<span><br><br><span><strong>西語特區：FL103</strong></span>&nbsp;
	<br><span>設備：錄放影機、DVD、液晶電視。</span></span>
	<br>功用：供學生自由觀看西班牙衛星電視節目及西語影片。
	<br>特色：由本系教師輪流值班，駐點回應學生問題。</p>