<p><a href="">&quot;&gt;<iframe frameborder="0" height="315" src="https://www.youtube.com/embed/dEfVtrqQgVI" width="560"></iframe></a></p>

<p>&nbsp;</p>

<p><span style="font-size:24px"><strong>Vocabulario:</strong></span></p>

<p><strong><span style="font-size:14px">1. 堆積 acumulaci&oacute;n</span></strong></p>

<p><strong><span style="font-size:14px">2. 沙洲 banco de arena</span></strong></p>

<p><strong><span style="font-size:14px">3. 沼澤區 pantano</span></strong></p>

<p><strong><span style="font-size:14px">4. 河口 estuario</span></strong></p>

<p><strong><span style="font-size:14px">5. 緯度 latitud</span></strong></p>

<p><strong><span style="font-size:14px">6. 水生植物 planta acu&aacute;tica</span></strong></p>

<p><strong><span style="font-size:14px">7. 生態系統 ecosistema</span></strong></p>

<p><strong><span style="font-size:14px">8. 堤岸 terrapl&eacute;n</span></strong></p>

<p><strong><span style="font-size:14px">9. 魚苗 alev&iacute;n / peque&ntilde;o criadero de peces</span></strong></p>

<p><strong><span style="font-size:14px">10. 野生物 vida silvestre</span></strong></p>

<p><strong><span style="font-size:14px">11. 繁殖 reproducci&oacute;n</span></strong></p>

<p><strong><span style="font-size:14px">12. 棲息 h&aacute;bitat</span></strong></p>

<p><strong><span style="font-size:14px">13. 薪材 le&ntilde;a</span></strong></p>

<p><strong><span style="font-size:14px">14. 候鳥 ave migratoria</span></strong></p>

<p><strong><span style="font-size:14px">15. 白鷺鷥 garceta com&uacute;n (Egretta garzetta)</span></strong></p>

<p><strong><span style="font-size:14px">16. 觀鳥小屋 puesto para la observaci&oacute;n de aves</span></strong></p>

<p><strong><span style="font-size:14px">17. 低度開發區 zona de bajo desarrollo</span></strong></p>

<p><strong><span style="font-size:14px">18. 海平面 nivel del mar</span></strong></p>

<p><strong><span style="font-size:14px">19. 水災 inundaci&oacute;n</span></strong></p>

<p><strong><span style="font-size:14px">20. 留鳥 ave residente</span></strong></p>

<p><strong><span style="font-size:14px">21. 蛙類 rana</span></strong></p>

<p><strong><span style="font-size:14px">22. 群體居住 vivir en colonias</span></strong></p>

<p><strong><span style="font-size:14px">23. 水筆仔 kandelia obovata</span></strong></p>

<p><strong><span style="font-size:14px">24. 胎生幼苗 germen / pl&aacute;ntula viv&iacute;para</span></strong></p>

<p><strong><span style="font-size:14px">25. 發芽 germinar</span></strong></p>

<p><strong><span style="font-size:14px">26. 樹枝 ramas del &aacute;rbol</span></strong></p>

<p><strong><span style="font-size:14px">27. 母樹 planta madre</span></strong></p>

<p><strong><span style="font-size:14px">28. 胚 embri&oacute;n</span></strong></p>

<p><strong><span style="font-size:14px">29. 種子 semilla</span></strong></p>

<p><strong><span style="font-size:14px">30. 胎生苗 prop&aacute;gulo</span></strong></p>

<p><strong><span style="font-size:14px">31. 根ra&iacute;z</span></strong></p>

<p><strong><span style="font-size:14px">32. 氯 cloro</span></strong></p>

<p><strong><span style="font-size:14px">33. 招潮蟹 cangrejo violinista (Uca)</span></strong></p>

<p><strong><span style="font-size:14px">34. 湖間帶生物 fauna intermareal</span></strong></p>