<p><strong>Erasmus+ 獎學金交換計劃：</strong>本系與西班牙穆爾西亞大學自105學年度起開始實施交換學生計劃，學習時間1學期到1年，經過甄選學生能安排西語或文化相關課程，並隨班附讀，和西班牙或其他國際學生交流，自主並深入地學習。當學期如有實施會在最新消息中公告，請再依照公告辦法申請。</p>

<p>&nbsp;</p>

<p><strong>本系出國計畫：</strong></p>

<p>大三出國：本系大二下同學可以參加報名，課程為2個學期，至馬德里的阿爾卡拉大學或昆卡的卡斯提亞拉曼查大學學習，出國修習學分可以抵免大三系內必修課程與部分選修，詳細內容說明將提供參考資料。唯須繳交淡江大學1/4學費2學期與留學學校1年課程費用、住宿、機票等費用。</p>

<p>暑期遊學團：本系大一到大三的同學都可以申請暑期遊學團，課程為1個月，至馬德里的阿爾卡拉大學或昆卡的卡斯提亞拉曼查大學學習，厚實西語能力，開拓新「視」界。課程費用請參加說明會。</p>

<p>每學年1-2月份會舉辦大三出國暨暑期遊學團說明會，歡迎西語系本系生及家長參與，詳細時間地點請看最新消息。</p>

<p>&nbsp;</p>