<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>

<table width="578" cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr>
			<td>輔修本系之規定
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<table width="578" cellspacing="20" cellpadding="0" border="0">
					<tbody>
						<tr>
							<td>

								<blockquote>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

									<p>　　需修滿下列學分方可取得俄文系輔系：</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

									<p>大一俄語<span lang="EN-US">(4/4)</span>、俄語會話<span lang="EN-US">(</span>一<span lang="EN-US">)(2/2)</span>
										<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 大二俄語<span lang="EN-US">(4/4)</span>、俄語會話<span lang="EN-US">(</span>二<span lang="EN-US">)(2/2)</span><span lang="EN-US">&nbsp;</span>
										<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 合計：<span lang="EN-US">24&nbsp;</span>學分</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</blockquote>
							</td>
						</tr>
					</tbody>
				</table>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;雙主修本系之規定
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

				<table width="578" cellspacing="20" cellpadding="0" border="0">
					<tbody>
						<tr>
							<td>

								<blockquote>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

									<p>　　依「淡江大學各學系學生修讀雙主修辦法」第八條規定「修讀雙主修學生，除修滿本學系應修科目學分及加修學系所訂科目40學分以上外，並應修滿加修系全部專業<span lang="EN-US">(</span>門<span lang="EN-US">)</span>必修科目與學分始可取得雙主修資格。」97學年度以後入學之學生，須通過俄語檢定(TORFL)一級(B1)後，始得畢業。</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</blockquote>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>