<p>為配合本校（淡江大學）教育宗旨：「培育心靈卓越人才、宏揚私人興學的教育理念、創造精緻卓越的學術王國」及本院（外國語文學院）發展目標：「全球化時代全人教育的入門及深度國際化的起跑點為願景，培育能掌握多元互異民族性的真髓，體認『多元統一』（Unity in diversity）的全球公民」，本系設立宗旨與教育目標為：培養具人文素養之專業俄語人才，著重學生具有正確價值觀、獨立分析之能力，鼓勵學生在專業領域訓練之外，注重多元發展，並洞悉社會動向，提升國際交流之溝通能力。本系課程語言訓練與實務並重，除培養學生具備聽、說、讀、寫、譯等5項基礎語言技能之外，並傳授俄羅斯人文、歷史與國情相關知識，以因應國家多元發展之需求。 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>

<p>基於上述之設立宗旨、教育目標及專業趨勢，本系之教育策略如下：</p>

<p>1.開設翻譯及商用俄語等實用課程，以貼近就業市場需求，並培養學生掌握商業俄語和商業會話，增加學生的就業競爭力。建立畢業門檻，規定學生參加並通過俄語能力檢定（TORFL）一級考試，提高學生就業競爭力。</p>

<p>2.建置「多語莫敵網路學習站」，推廣網路與遠距教學，敦促教師使用教學支援平台，將教學資料數位化、資訊化，提供無遠弗屆的俄語學習環境。</p>

<p>3.實施擋修制度，嚴格控管學生學習。</p>

<p>4.實施會話課能力分班制度，因材施教，得到最佳學習效果。</p>

<p>5.持續推動大三出國 &nbsp;the Junior Year Study Abroad Program留學計畫，強化學生俄語能力，培養跨文化與國際交流之溝通能力。</p>

<p>6.施行課後補救教學，彌補上課時數不足及大班上課的缺點。</p>

<p>7.持續開設文學與文化課程，增加學生對俄國文學和文化的了解，開拓國際觀，豐富人文素養。</p>

<p>8.加強導師功能，於導師或&nbsp;office hours&nbsp;時間分享人生經驗，加強學生學習能力，培養正確價值觀和獨立思考能力。
	<br>
</p>

<p><strong><br>◆&nbsp;本校校務發展目標</strong></p>

<p>◎使命</p>

<p>承先啟後，塑造社會新文化，培育據心靈卓越的人才</p>

<p>
	<br>◎願景</p>

<p>1.宏揚私人興學的教育理念</p>

<p>2.創造精緻卓越的學術王國</p>

<p>
	<br>◎價值</p>

<p>1.樸實剛毅</p>

<p>2.五育兼備</p>

<p>3.學術自由</p>

<p>4.學校自治</p>

<p>
	<br>◎策略</p>

<p>1.實施波段建設，營造四個校園</p>

<p>2.實踐三環五育，培育卓越人才</p>

<p>3.建立S形曲線，活化第二曲線</p>

<p>4.發揮馬太效應，爭取社會資源</p>

<p>5.善用藍海策略，創造競爭優勢</p>

<p>&nbsp;</p>

<p>◎治理</p>

<p>1.領導系統</p>

<p>2.四個管理模式</p>

<p>3.全面品質管理</p>

<p>4.組織活化 &nbsp; &nbsp; &nbsp;&nbsp;</p>

<p>&nbsp;</p>

<p>◆&nbsp;本院院務發展目標</p>

<p>◎使命</p>

<p>培養語言、文學及文化研究的專才</p>

<p>
	<br>◎願景</p>

<p>1.深度國際化的起跑點</p>

<p>2.全球化時代全人教育的入門 &nbsp; &nbsp;</p>

<p>&nbsp;</p>

<p>◎價值</p>

<p>1.三化學習</p>

<p>2.一人多語</p>

<p>3.文學與文化研究</p>

<p>&nbsp;</p>

<p>◎策略</p>

<p>1.實施語言密集訓練，培育聽說讀寫譯五技兼備的學生</p>

<p>2.建置「多語莫敵網路學習站」，提供多元的外語學習情境</p>

<p>3.加強特殊目的外語教學</p>

<p>4.提升大三出國 &nbsp;the Junior Year Study Abroad Program留學計畫的質與量</p>

<p>5.推動外語檢測，提高學生就業競爭力</p>